<form novalidate [formGroup]="form">
  <div class="m-grid__item m-grid__item--fluid m-wrapper ">
    <div class="m-content">
      <div class="m-portlet m-portlet--bordered-semi m-portlet--unair">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <h3 class="m-portlet__head-text">
                <a style="color:blue;" routerLink="/app/pentadbiran/data-induk/seksyen-kesalahan-list">Senarai Seksyen Kesalahan</a>
                <i class="fa fa-chevron-right mr-2 ml-2" aria-hidden="true"></i> {{FormTitle}} Seksyen Kesalahan
              </h3>
            </div>
          </div>
          <div class="m-portlet__head-tools">

          </div>
        </div>
        <div class="m-portlet__body">
          <div class="row">
            <div class="col-sm-12">
              <div class="card mb-3">
                <div class="card-header"><strong>Maklumat Seksyen/Kesalahan</strong></div>
                <div class="card-body">
                  <div class="form-group">
                    <div class="form-item row">
                      <div class="col-sm-6">
                        <label class="col-form-label">Peruntukan Undang-Undang <span class="strik m--font-danger"
                                *ngIf="FormType == 'add' || FormType == 'edit'">*</span></label>
                        <select class="form-control" [(ngModel)]="peruntukanUndangId" formControlName="peruntukanUndangId" name="peruntukanUndangId"
                                [attr.disabled]="FormType == 'view' ? true : null" required>
                          <option value="0">{{ '--Pilih Peruntukan Undang-Undang--'}}</option>
                          <option *ngFor="let item of peruntukanUndangListRef" value="{{item.peruntukanUndangId}}">{{ item.namaPeruntukanUndang }}
                          </option>
                        </select>
                        <small class="strik m--font-danger"
                               *ngIf="(FormType == 'add' || FormType == 'edit') && (submitted || f.peruntukanUndangId.touched) && f.peruntukanUndangId.errors && (f.peruntukanUndangId.errors.required || f.peruntukanUndangId.errors.min)">
                          Maklumat Peruntukan Undang-Undang adalah wajib!
                        </small>
                      </div>
                      <div class="col-sm-6">
                        <label class="col-form-label">No Seksyen<span class="strik m--font-danger"
                               *ngIf="FormType == 'add' || FormType == 'edit'">*</span></label>
                        <input class="form-control" formControlName="noSeksyen" name="noSeksyen" type="text" placeholder="Masukkan no. Seksyen"
                               [attr.disabled]="FormType == 'view' ? true : null">
                        <small class="strik m--font-danger"
                               *ngIf="(FormType == 'add' || FormType == 'edit') && (submitted || f.noSeksyen.touched) && f.noSeksyen.errors && f.noSeksyen.errors.required">
                          Maklumat No. Seksyen adalah wajib!
                        </small>
                      </div>
                    </div>
                    <div class="form-item row">
                      <div class="col-sm-6">
                        <label class="col-form-label">No Subseksyen</label>
                        <input class="form-control" formControlName="noSubseksyen" name="noSubseksyen" type="text" placeholder="Masukkan no. ubseksyen"
                               [attr.disabled]="FormType == 'view' ? true : null">
                      </div>
                      <div class="col-sm-6">
                        <label class="col-form-label">Butiran Kesalaha<span class="strik m--font-danger"
                               *ngIf="FormType == 'add' || FormType == 'edit'">*</span></label>
                        <input class="form-control" formControlName="butiranKesalahan" name="butiranKesalahan" type="text" placeholder="Masukkan butiran Kesalahan"
                               [attr.disabled]="FormType == 'view' ? true : null">
                        <small class="strik m--font-danger"
                               *ngIf="(FormType == 'add' || FormType == 'edit') && (submitted || f.butiranKesalahan.touched) && f.butiranKesalahan.errors && f.butiranKesalahan.errors.required">
                          Maklumat Butiran Kesalahan adalah wajib!
                        </small>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header"><strong>Kadar</strong></div>
                <div class="card-body">
                  <div class="form-group">
                    <div class="form-item row">
                      <div class="col-sm-4">
                        <label class="col-form-label">Kadar Kompaun (RM)<span class="strik m--font-danger"
                               *ngIf="FormType == 'add' || FormType == 'edit'">*</span></label>
                        <input class="form-control" formControlName="kadarKompaun" name="kadarKompaun" type="text" placeholder="Masukkan kadar Kompaun"
                               [attr.disabled]="FormType == 'view' ? true : null">
                        <small class="strik m--font-danger"
                               *ngIf="(FormType == 'add' || FormType == 'edit') && (submitted || f.kadarKompaun.touched) && f.kadarKompaun.errors && f.kadarKompaun.errors.required">
                          Maklumat Kadar Kompaun adalah wajib!
                        </small>
                      </div>
                      <div class="col-sm-4">
                        <label class="col-form-label">Caj Maksimum (RM)</label>
                        <input class="form-control" formControlName="cajMaksimum" name="cajMaksimum" type="text" placeholder="Masukkan caj maksimum"
                               [attr.disabled]="FormType == 'view' ? true : null">
                      </div>
                      <div class="col-sm-4">
                        <label class="col-form-label">Status <span class="strik m--font-danger"
                                *ngIf="FormType == 'add' || FormType == 'edit'">*</span></label>
                        <select class="form-control" [(ngModel)]="statusId" formControlName="statusId" name="statusId"
                                [attr.disabled]="FormType == 'view' ? true : null" required>
                          <option value="0">{{ '--Pilih Status--'}}</option>
                          <option *ngFor="let item of statusList" value="{{item.id}}">{{ item.name }}
                          </option>
                        </select>
                        <small class="strik m--font-danger"
                               *ngIf="(FormType == 'add' || FormType == 'edit') && (submitted || f.statusId.touched) && f.statusId.errors && (f.statusId.errors.required || f.statusId.errors.min)">
                          Status adalah wajib!
                        </small>
                      </div>
                    </div>
                    <div class="form-item row">
                      <div class="col-sm-4">
                        <label class="col-form-label">Zon 0</label>
                        <input class="form-control" formControlName="zon0" name="zon0" type="text" placeholder="Masukkan zon 0"
                               [attr.disabled]="FormType == 'view' ? true : null">
                      </div>
                      <div class="col-sm-4">
                        <label class="col-form-label">Kadar 0</label>
                        <input class="form-control" formControlName="kadar0" name="kadar0" type="text" placeholder="Masukkan kadar 0"
                               [attr.disabled]="FormType == 'view' ? true : null">
                      </div>
                      <div class="col-sm-4">
                        <label class="col-form-label">Keterangan Kadar 0</label>
                        <input class="form-control" formControlName="keterangan0" name="keterangan0" type="text" placeholder="Masukkan keterangan 0"
                               [attr.disabled]="FormType == 'view' ? true : null">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="text-right mt-4">
                <button mat-raised-button class="red-button mr-2" (click)="resetForm()" *ngIf="FormType != 'view'"><i class="fa fa-retweet"></i> {{'Reset'}} </button>
                <button mat-raised-button class="green-button" (click)="onSave()" *ngIf="FormType != 'view'"><i class="fas fa-save"></i> Simpan </button>&nbsp;
                <button mat-raised-button class="blue-button mr-2" cdkFocusInitial
                        routerLink="/app/pentadbiran/data-induk/seksyen-kesalahan-list"><i class="fas fa-angle-double-left"></i> Kembali
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
