<div class="m-grid__item m-grid__item--fluid m-wrapper ">
  <div class="m-content">
    <div class="m-portlet m-portlet--bordered-semi m-portlet--unair">
          <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
              <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">
                  All Categories
                </h3>
              </div>
            </div>
            <div class="m-portlet__head-tools">
              <button mat-raised-button class="green-button" (click)="categoryDetails(0)">
                <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
                Add New Category
              </button>
            </div>
          </div>
      <div class="m-portlet__body">
        <div class="m-grid__item m-grid__item--fluid m-wrapper ">

            <!-- <div class="m-portlet m-portlet--bordered-semi m-portlet--unair"> -->
            <!-- <div class="m-portlet__body"> -->
            <div class="primeng-datatable-container">
              <p-table class="single-line-cells" #dataTable (onLazyLoad)="getCategoryList($event); "
                       [value]="primengTableHelper.records" rows="{{primengTableHelper.defaultRecordsCountPerPage}}"
                       [paginator]="false" [lazy]="true" [scrollable]="true" ScrollWidth="100%"
                       selectionMode="single" [responsive]="primengTableHelper.isResponsive"
                       [resizableColumns]="primengTableHelper.resizableColumns">
                <ng-template pTemplate="header">
                  <tr>
                    <th style="width: 40px " class="text-center">
                      {{'#'}}
                    </th>
                    <th style="width: 400px " pSortableColumn="ProductName">
                      {{'Product Name #'}}
                      <p-sortIcon field="ProductName"></p-sortIcon>
                    </th>
                    <th pSortableColumn="Categories">
                      {{'Categories'}}
                      <p-sortIcon field="OrderDateTime"></p-sortIcon>
                    </th>
                    <th pSortableColumn="SKU No">
                      {{'SKU No'}}
                      <p-sortIcon field="SKU No"></p-sortIcon>
                    </th>
                    <th pSortableColumn="Variation" class="text-right">
                      {{'Variation  '}}
                      <p-sortIcon field="Variation"></p-sortIcon>
                    </th>
                    <th pSortableColumn="Price" class="text-right">
                      {{'Price  '}}
                      <p-sortIcon field="Price"></p-sortIcon>
                    </th>
                    <th pSortableColumn="Stock" class="text-right">
                      {{'Stock  '}}
                      <p-sortIcon field="Stock"></p-sortIcon>
                    </th>
                    <th pSortableColumn="Listing" class="text-right">
                      {{'Listing  '}}
                      <p-sortIcon field="Listing"></p-sortIcon>
                    </th>
                  </tr>
                  <tr>
                    <th class="text-center">
                    </th>
                    <th>
                      <input pInputText type="text" style="width: 100%;" class="form-control"
                             (input)="dataTable.filter($event.target.value,' customerOrder  ', 'contains');"
                             placeholder="Search Product...">
                    </th>
                    <th><input pInputText type="text" style="width: 100%;" class="form-control"
                               (input)="dataTable.filter($event.target.value,' orderDateTime ', 'contains');"
                               placeholder="Search Categories...">
                    </th>
                    <th>
                      <input pInputText type="text" style="width: 100%;" class="form-control"
                             (input)="dataTable.filter($event.target.value,' orderDateTime ', 'contains');"
                             placeholder="Search SKU NO...">
                    </th>
                    <th>
                    </th>
                    <th>
                      <input pInputText type="text" style="width: 100%;" class="form-control"
                             (input)="dataTable.filter($event.target.value,' customerOrder  ', 'contains');"
                             placeholder="Search Price...">
                    </th>
                    <th>
                    </th>
                    <th>
                    </th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-record="$implicit" let-rowIndex="rowIndex" let-columns="columns">
                  <tr [pSelectableRow]="record">
                    <td style="width: 40px " class="text-center">
                      {{rowIndex+1}}
                    </td>
                    <td style="width: 400px ">
                      <span class="ui-column-title"></span>
                      <a style="color:blue;" (click)="categoryDetails(record.productId)"> {{record.productName}}</a>
                    </td>
                    <td>
                      <span class="ui-column-title"></span>
                      {{record.categories}}
                    </td>
                    <td>
                      <span class="ui-column-title"></span>
                      {{record.skuNo}}
                    </td>
                    <td class="text-right">
                      <span class="ui-column-title"></span>
                      {{record.variation}}
                    </td>
                    <td class="text-right">
                      <span class="ui-column-title"></span>
                      {{record.price}}
                    </td>
                    <td class="text-right">
                      <span class="ui-column-title"></span>
                      {{record.stock}}
                    </td>
                    <td class="text-right">
                      <span class="ui-column-title"></span>
                    </td>

                  </tr>
                </ng-template>
              </p-table>
              <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                {{'NoData'}}
              </div>
              <div class="primeng-paging-container" style="position: relative;">
                <p-paginator rows="{{primengTableHelper.defaultRecordsCountPerPage}}" #paginator
                             (onPageChange)="getCategoryList($event)" [totalRecords]="primengTableHelper.totalRecordsCount"
                             [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                </p-paginator>
                <span style="position: absolute; top:3px; right:5px; margin: 5px;">Total records :
                  {{primengTableHelper.totalRecordsCount}}</span>
              </div>
            </div>
            <!-- </div> -->
            <!-- </div> -->

        </div>


      </div>
    </div>
  </div>
</div>
