<app-mat-spinner-overlay overlay="true" *ngIf="showSpinner"></app-mat-spinner-overlay>
<div class="m-grid__item m-grid__item--fluid m-wrapper ">
  <div class="m-content">
    <div class="m-portlet m-portlet--bordered-semi m-portlet--unair">
      <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
          <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">
              Carian Rayuan
            </h3>
          </div>
        </div>
      </div>
      <div class="m-portlet__body">
        <form novalidate [formGroup]="form">
          <div class="card">
            <div class="card-header2" id="headingCarianRayuan">
              <h6 class="mb-0">
                <button class="btn btn-link {{reVisit ? '' : 'collapsed'}} " data-toggle="collapse"
                  data-target="#collapseCarianRayuan" aria-expanded=" {{reVisit ? 'true' : 'false'}} "
                  aria-controls="collapseCarianRayuan">
                  <i class="fa" aria-hidden="true"></i>
                  Carian
                </button>
              </h6>
            </div>
            <div id="collapseCarianRayuan" class="collapse {{reVisit ? 'show' : ''}}"
              aria-labelledby="headingCarianRayuan" data-parent="#accordion">
              <div class="card-body card-body-padding-top">
                <div class="col-form-label">
                  <div class="form-group">
                    <div class="form-item row">
                      <div class="col-sm-4">
                        <label class="col-form-label">No. Notis</label>
                        <input class="form-control" formControlName="NoNotis" name="NoNotis" type="text"
                          placeholder="No. Notis">
                      </div>
                      <div class="col-sm-4">
                        <label class="col-form-label">Nama Pemohon</label>
                        <input class="form-control" formControlName="NamaPemohon" name="NamaPemohon" type="text"
                          placeholder="Nama Pemohon">
                      </div>
                      <div class="col-sm-4">
                        <label class="col-form-label">No. KP / Syarikat Pemohon</label>
                        <input class="form-control" formControlName="NoPemohon" name="NoPemohon" type="text"
                          placeholder="No. KP / Syarikat Pemohon">
                      </div>
                      <div class="col-sm-4">
                        <label class="col-form-label">Status Rayuan</label>
                        <select class="form-control" [(ngModel)]="StatusRayuan" formControlName="StatusRayuan"
                          name="StatusRayuan">
                          <option value="0">{{ '--Pilih Status--'}}</option>
                          <option *ngFor="let item of statusRayuanList" value="{{item.id}}">{{ item.name }}
                          </option>
                        </select>
                      </div>
                      <div class="col-sm-4">
                        <label class="col-form-label">Tarikh Permohonan<span class="help">(Contoh:
                            31/12/2020)</span></label>
                        <div class="input-group">
                          <input formControlName="TarikhMohon" spellcheck="false" class="form-control" maxlength="10"
                            [matDatepicker]="pickerTarikhMohon" [(ngModel)]="TarikhMohon"
                            placeholder="Tarikh Mohon">
                          <mat-datepicker-toggle matSuffix [for]="pickerTarikhMohon"></mat-datepicker-toggle>
                          <mat-datepicker #pickerTarikhMohon></mat-datepicker>
                        </div>                       
                      </div>
                    </div>
                    <div class="form-item row">
                      <div class="col-sm-4">
                        <label class="col-form-label">Tarikh Mula Notis<span class="help">(Contoh:
                            31/12/2020)</span></label>
                        <div class="input-group">
                          <input formControlName="TarikhMula" spellcheck="false" class="form-control" maxlength="10"
                            [matDatepicker]="pickerTarikhMula" [(ngModel)]="TarikhMula"
                            placeholder="Tarikh Mula Notis">
                          <mat-datepicker-toggle matSuffix [for]="pickerTarikhMula"></mat-datepicker-toggle>
                          <mat-datepicker #pickerTarikhMula></mat-datepicker>
                        </div>
                        <small class="strik m--font-danger"
                          *ngIf="(submitted || f.TarikhMula.touched) && f.TarikhMula.errors && f.TarikhMula.errors.exceed">
                          Tarikh Akhir tidak melebihi Tarikh Mula
                        </small>
                      </div>
                      <div class="col-sm-4">
                        <label class="col-form-label">Tarikh Akhir Notis<span class="help">(Contoh:
                            31/12/2020)</span></label>
                        <div class="input-group">
                          <input formControlName="TarikhAkhir" spellcheck="false" class="form-control" maxlength="10"
                            [matDatepicker]="pickerTarikhAkhir" [(ngModel)]="TarikhAkhir"
                            placeholder="Tarikh Akhir Notis">
                          <mat-datepicker-toggle matSuffix [for]="pickerTarikhAkhir"></mat-datepicker-toggle>
                          <mat-datepicker #pickerTarikhAkhir></mat-datepicker>
                        </div>
                        <small class="strik m--font-danger"
                          *ngIf="(submitted || f.TarikhAkhir.touched) && f.TarikhAkhir.errors && f.TarikhAkhir.errors.exceed">
                          Tarikh Akhir tidak melebihi Tarikh Mula
                        </small>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="text-right mt-4">
                  <button mat-raised-button class="red-button mr-2" (click)="reset()"><i class="fa fa-retweet"></i>
                    {{'Reset'}} </button>
                  <button mat-raised-button class="blue-button" (click)="search()"><i class="fa fa-search"></i>
                    {{'Cari'}} </button>
                </div>
              </div>
            </div>
          </div>
        </form>     
        <div class="m-grid__item m-grid__item--fluid m-wrapper mt-3">
          <div class="primeng-datatable-container">
            <p-table class="" id="dataTable1" #dataTable (onLazyLoad)="getRayuanList($event); "
              (selectionChange)="onSelectionChange($event)" [value]="primengTableHelper.records"
              rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true"
              [scrollable]="true" ScrollWidth="100%" [responsive]="primengTableHelper.isResponsive"
              [resizableColumns]="primengTableHelper.resizableColumns" 
              selectionMode="multiple" (onRowSelect)="onRowSelect($event)" >
              <ng-template pTemplate="caption">
                <div class="ui-helper-clearfix" style="text-align: right">
                  <button mat-raised-button class="green-button" (click)="rayuanDetails(0,'add')">
                    <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
                    Tambah Rayuan
                  </button>
                </div>
              </ng-template>
              <ng-template pTemplate="header">
                <tr>
                  <th style="width: 35px " class="text-center stickColumnLeft">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                  </th>
                  <th style="width: 35px " class="text-center">
                    {{'#'}}
                  </th>
                  <th style="width: 100px " pSortableColumn="NoNotis">
                    {{'No. Notis'}}
                    <p-sortIcon field="NoNotis"></p-sortIcon>
                  </th>
                  <th style="width: 100px" pSortableColumn="NamaPemohon">
                    {{'Nama Pemohon'}}
                    <p-sortIcon field="NamaPemohon"></p-sortIcon>
                  </th>
                  <th style="width: 150px" pSortableColumn="NoPemohon">
                    {{'No. KP / Syarikat Pemohon'}}
                    <p-sortIcon field="NoPemohon"></p-sortIcon>
                  </th>
                  <th style="width: 150px" pSortableColumn="TarikhMohon" class="text-center">
                    {{'Tarikh Permohonan'}}
                    <p-sortIcon field="TarikhMohon"></p-sortIcon>
                  </th>
                  <th style="width: 130px" pSortableColumn="TarikhNotis" class="text-center">
                    {{'Tarikh Notis'}}
                    <p-sortIcon field="TarikhNotis"></p-sortIcon>
                  </th>
                  <th style="width: 150px" pSortableColumn="Status">
                    {{'Status'}}
                    <p-sortIcon field="Status"></p-sortIcon>
                  </th>
                  <th style="width: 100px"  class="text-center stickColumnRight">
                    {{'Tindakan'}}
                  </th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-record="$implicit" let-rowIndex="rowIndex" let-columns="columns">
                <tr [pSelectableRow]="record" [pSelectableRowDisabled]="">
                  <td style="width: 35px" class="text-center stickColumnLeft">
                    <p-tableCheckbox [value]="record"></p-tableCheckbox>
                  </td>
                  <td style="width: 35px " class="text-center">
                    {{(paginator.getPage() * paginator.rows) + (rowIndex+1)}}
                  </td>
                  <td style="width: 100px ">
                    <span class="ui-column-title"></span>
                    {{record.NoNotis}}
                  </td>
                  <td style="width: 100px ">
                    <span class="ui-column-title"></span>
                    {{record.NamaPemohon}}
                  </td>
                  <td style="width: 150px ">
                    <span class="ui-column-title"></span>
                    {{record.NoPemohon}}
                  </td>
                  <td style="width: 150px " class="text-center">
                    <span class="ui-column-title"></span>
                    {{record.TarikhMohon}}
                  </td>
                  <td style="width: 130px " class="text-center"> 
                    <span class="ui-column-title"></span>
                    {{record.TarikhNotis}}
                  </td>
                  <td style="width: 150px ">
                    <span class="ui-column-title"></span>
                    {{record.Status}}
                  </td>
                  <td style="width: 100px " class="text-center stickColumnRight">
                    <i class="fa fa-eye ml-2" aria-hidden="true" style="cursor: pointer;" title="Papar Maklumat"
                      (click)="rayuanDetails(record.Id,'view')"></i>
                    <i class="flaticon-edit ml-2" aria-hidden="true" style="cursor: pointer;" title="Semakan"
                      (click)="rayuanDetails(record.Id,'edit')"  *ngIf="record.StatusId == '1'" ></i>   
                      <i class="flaticon-edit ml-2" aria-hidden="true" style="cursor: pointer;" title="Keputusan"
                      (click)="keputusanDetails(record.Id,'view')"  *ngIf="record.StatusId == '2'" ></i>   
                    <!-- <i class="fa fa-ban ml-2" aria-hidden="true" style="cursor: pointer;" title="Batal"
                      (click)="batalDetails(record.Id,'view')"></i>                -->
                  </td>
                </tr>
              </ng-template>
            </p-table>
            <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
              {{'NoData'}}
            </div>
            <div class="primeng-paging-container" style="position: relative;">
              <p-paginator rows="{{primengTableHelper.defaultRecordsCountPerPage}}" #paginator
                (onPageChange)="getRayuanList($event)" [totalRecords]="primengTableHelper.totalRecordsCount"
                [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
              </p-paginator>
            </div>
            <div class="text-right">
              <span style=" top:3px; right:5px; margin: 5px;">Total records :
                {{primengTableHelper.totalRecordsCount}}</span>
            </div>
            <div *ngIf="primengTableHelper.totalRecordsCount > 0">
              <button class="red-button mr-2" mat-raised-button (click)="delete()"
                [disabled]="this.selection.isEmpty()">
                <mat-icon aria-label="Example icon-button with a heart icon">delete</mat-icon>
                Batal Pilihan
              </button>
              <div class="btn-group" dropdown>
                <button mat-raised-button id="button-print" dropdownToggle class="purple-button mr-2"
                  aria-controls="dropdown-print">
                  <mat-icon aria-label="Example icon-button with a heart icon">print</mat-icon>
                  Cetak
                </button>               
                <ul id="dropdown-print" *dropdownMenu class="dropdown-menu mt-1 ml-2" role="menu"
                  aria-labelledby="button-print" style="cursor: pointer;">   
                  <!-- <li role="menuitem"><a class="dropdown-item" (click)="selectionPrint('All_A4')">Cetak Semua A4</a></li>
                  <li role="menuitem"><a class="dropdown-item" (click)="selectionPrint('All_4')">Cetak Semua 4"</a></li>
                  <li role="menuitem" ><a class="{{this.selection.isEmpty() ? 'dropdown-item-disable not-active' : 'dropdown-item'}}" (click)="selectionPrint('Select_A4')" >Cetak Pilihan A4</a></li>
                  <li role="menuitem" ><a class="{{this.selection.isEmpty() ? 'dropdown-item-disable not-active' : 'dropdown-item'}}" (click)="selectionPrint('Select_4')" >Cetak Pilihan 4"</a></li> -->
                  <li role="menuitem"><a class="dropdown-item" (click)="printTablePdf()">Cetak Senarai</a></li>
                  <li role="menuitem"><a class="dropdown-item" (click)="printTableExcel()">Eksport Ke Excel</a></li>      
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>