::ng-deep {
  .mat-checkbox-inner-container {
    margin-right: 5px;
  }
  .mat-checkbox-label {
    font-size: 12px;
  }
}

:host {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
}


.list-item {
  width: 150px;
  height: 150px;
  margin: 0 5px;
  // border: 1px solid gainsboro;
  box-shadow: 0 4px 8px 0 rgba(27, 2, 218, 0.2), 0 6px 10px 0 rgba(46, 25, 204, 0.19);
  display: flex;
  flex-direction: column;

  &.blank {
    width: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 150px;
    // height: 100%;
    &.hidden {
      display: none;
    }
  }

  .preview {
    height: calc(100% - 22px);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    cursor: pointer;
    .image {
      height: 100%;
      width: 150px;
    }
  }

  .previewNonEditable {
    height: calc(100% - 0px);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    cursor: pointer;
    .image {
      height: 100%;
      width: 150px;
    }
  }

  .previewX {
    //display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 999; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

  .footer-bar {
    left: 0;
    right: 0;
    bottom: 2px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .check-box-override {
      margin: 3px 0 0 3px;
    }
    // button {
    //   margin-right: 1px;
    // }
  }
}

.indicator {
  position: absolute;
  top: 0;
  right: 0;
  background: #ffffffcc;
  border-radius: 3px;
  padding: 0 2px;
}
