<div *ngFor="let item of imageList.controls; let i = index" [formGroup]="item" class="list-item">
  <div imagePreview class="{{editable ? 'preview' : 'previewNonEditable'}}">
    <!-- {{item.value.imageURL}} -->
    <input formControlName="imageURL" hidden>
    <img #previewContent [src]="item.value.imageURL" class="image">
  </div>

  <div class="footer-bar " *ngIf="editable">
    <!-- <mat-checkbox formControlName="isDefault" (change)="onSelectDefault(i)" class="check-box-override">Default</mat-checkbox> -->
    <button mat-icon-button (click)="removeImageAt(i)">
      <mat-icon>delete</mat-icon>Hapus
    </button>
  </div>
</div>

<div [class.hidden]="imageList.controls.length >= imageThreshold" class="list-item blank" *ngIf="editable">
  <app-image-uploader (select)="onUploadImageDialog($event)">
    <mat-icon>add</mat-icon>
  </app-image-uploader>
  Tambah
</div>

<div class="indicator">{{ imageList.controls.length }} / {{ imageThreshold }}</div>