<form novalidate [formGroup]="form">
  <div class="m-grid__item m-grid__item--fluid m-wrapper ">
    <div class="m-content">
      <div class="m-portlet m-portlet--bordered-semi m-portlet--unair">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <h3 class="m-portlet__head-text">
                <a style="color:blue;" routerLink="/app/catalogue/products-list">All Products</a>
                <i class="fa fa-chevron-right mr-2 ml-2" aria-hidden="true"></i> Edit Product
              </h3>
            </div>
          </div>
          <div class="m-portlet__head-tools">

          </div>
        </div>
        <div class="m-portlet__body">
          <div class="row">
            <div class="col-sm-8">
              <!--<div class="p-scrollbar-container">
                <perfect-scrollbar class="scroll-container" fxFlex="auto" [config]="config" [scrollIndicators]="true" (psXReachEnd)="onScrollEvent($event)" (psYReachEnd)="onScrollEvent($event)" (psXReachStart)="onScrollEvent($event)" (psYReachStart)="onScrollEvent($event)">
                  <div class="scrollable-content">-->
                    <div class="card mb-3">
                      <div class="card-header"><strong>Product Image</strong></div>
                      <div class="card-body">
                        <div class="form-group">
                          <div class="form-item row">
                            <div class="col-sm-12">

                              <div class="product-image-container">
                                <div class="form-group">
                                  <app-image-slider  name="imageList" [imageList]="form.get('imageList')" (select)="onUploadImageDialog($event)"
                                                     (delete)="deleteProductImage($event)">
                                  </app-image-slider>
                                </div>
                              </div>
                              <div class="form-item row">
                                <small class="strik m--font-danger ml-4 mb-4"
                                       *ngIf="isValidImageDefaultImaged()">
                                  Please make sure the product is uploaded and tick as default image
                                </small>
                              </div>

                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="card mb-3">
                      <div class="card-header"><strong>Basic Info</strong></div>
                      <div class="card-body">
                        <div class="form-group">
                          <div class="form-item row">
                            <div class="col-sm-12">
                              <label class="col-form-label">Product Name</label>
                              <input class="form-control" formControlName="Name" name="Name" type="text" placeholder="Enter your product name">
                            </div>
                          </div>
                          <div class="form-item row">
                            <div class="col-sm-12">
                              <label class="col-form-label">Description</label>
                              <input class="form-control" formControlName="Description" name="Description" type="text" placeholder="Enter your product description">
                            </div>
                          </div>
                          <div class="form-item row">
                            <div class="col-sm-12">
                              <label class="col-form-label">SKU</label>
                              <input class="form-control" formControlName="Sku" name="Sku" type="text" placeholder="Enter sku">
                            </div>
                          </div>
                          <div class="form-item row">
                            <div class="col-sm-8">
                               <label class="col-form-label">Brand</label>
                               <input class="form-control" formControlName="Brand" name="Brand" type="text" placeholder="Enter your brand name">
                            </div>
                            <div class="col-sm-4">
                               <label class="col-form-label">Material</label>
                               <input class="form-control" formControlName="Material" name="Material" type="text" placeholder="Material">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="card mb-3">
                      <div class="card-header"><strong>Sales</strong></div>
                      <div class="card-body">
                        <div class="form-group">
                          <div class="form-item row">
                            <div class="col-sm-12">
                              <label class="col-form-label">Price</label>
                              <input appTwoDigitDecimaNumber class="form-control" formControlName="Price" name="Price" type="text" placeholder="Enter your price">

                              <label class="col-form-label">Stock</label>
                              <input numberOnly class="form-control" formControlName="Stock" name="Stock" type="text" placeholder="Enter your Stock">
                            </div>
                          </div>
                        </div>
                        <div class="form-group">
                            <div class="form-item row">
                              <div class="col-sm-4">
                                <label class="col-form-label">Variation List</label>
                              </div>
                              <div class="col-sm-8 text-right">
                                <button mat-raised-button class="blue-button mt-3" (click)="addVariation1(productId)" cdkFocusInitial>
                                  <i class="fa fa-plus-square"></i> Add/Edit Variation One </button>
                                &nbsp;
                                <button mat-raised-button class="blue-button mt-3" (click)="addVariation2(productId)" cdkFocusInitial>
                                  <i class="fa fa-plus-square"></i> Add/Edit Variation Two </button>
                              </div>
                            </div>
                        </div>
                        <table class="table table-bordered table-responsive-md text-center">
                          <tr>
                            <th class="text-center th-inner-grid">{{variantColumn1}}</th>
                            <th class="text-center th-inner-grid">{{variantColumn2}}</th>
                            <th class="text-center th-inner-grid">Price</th>
                            <th class="text-center th-inner-grid">Stock</th>
                            <th class="text-center th-inner-grid">Sku</th>
                            <!--<th class="text-center">Remove</th>-->
                          </tr>
                          <ng-container *ngIf="variationsList.length > 0">
                            <tr *ngFor="let variation of variationsList; let id = index">
                              <td class="td-grid" [attr.rowspan]="variation.rowSpan" *ngIf="!variation.offTd" >
                                <span contenteditable="false" (keyup)="changeValue(id, 'size', $event)">{{variation.variation1Value}}</span>
                              </td>
                              <td class="td-grid">
                                <span contenteditable="false" (keyup)="changeValue(id, 'color', $event)">{{variation.variation2Value}}</span>
                              </td>
                              <td class="td-grid">
                                <input appTwoDigitDecimaNumber class="form-controlsx input-grid" id="price" name="price" (keyup)="changeValue(id, 'price', $event)" (blur)="updateList(id, 'price', $event)" type="text" value="{{variation.price}}">
                                <!--<span class="grid-inner" contenteditable="true" (keyup)="changeValue(id, 'price', $event)">{{variation.price}}</span>-->
                              </td>
                              <td class="td-grid">
                                <input numberOnly class="form-controlsx input-grid" id="stock" name="stock" (keyup)="changeValue(id, 'stock', $event)" (blur)="updateList(id, 'stock', $event)" type="text" value="{{variation.stock}}">
                                <!--<span class="grid-inner" contenteditable="true" (keyup)="changeValue(id, 'stock', $event)">{{variation.stock}}</span>-->
                              </td>
                              <td class="td-grid">
                                <input numberOnly class="form-controlsx input-grid" id="sku" name="sku" (keyup)="changeValue(id, 'sku', $event)" (blur)="updateList(id, 'sku', $event)" type="text" value="{{variation.sku}}">
                                <!--<span class="grid-inner" contenteditable="true" (keyup)="changeValue(id, 'sku', $event)">{{variation.sku}}</span>-->
                              </td>
                              <!--<td>
                                <span class="table-remove">
                                 <button type="button"  size="sm" class="my-0" (click)="remove(id)">Remove</button>
                                </span>
                              </td>-->
                            </tr>
                          </ng-container>
                        </table>


                      </div>
                    </div>

                    <div class="card mb-3">
                      <div class="card-header"><strong>Shipping</strong></div>
                      <div class="card-body">
                        <div class="form-group">
                          <div class="form-item row">
                            <div class="col-sm-12">
                              <label>Weight (kg)</label>
                              <input appTwoDigitDecimaNumber class="form-control" formControlName="Weight" name="Weight" type="text" placeholder="Enter your weight">
                            </div>
                          </div>
                          <div class="form-item row">
                            <div class="col-sm-3">
                              <label class="col-form-label">Dimension</label>
                              <div class="input-group">
                                <input appTwoDigitDecimaNumber type="number" formControlName="Width" name="Width" class="form-control" placeholder="width">
                                <div class="input-group-append">
                                  <span class="input-group-text"><i class="fa fa-envelope-o"></i>cm</span>
                                </div>
                              </div>
                            </div>
                            <div class="col-sm-3">
                              <label class="col-form-label"><span style="color:white">.</span></label>
                              <div class="input-group">
                                <input appTwoDigitDecimaNumber type="number" formControlName="Length" name="Length" class="form-control" placeholder="length">
                                <div class="input-group-append">
                                  <span class="input-group-text"><i class="fa fa-envelope-o"></i>cm</span>
                                </div>
                              </div>
                            </div>
                            <div class="col-sm-3">
                              <label class="col-form-label"><span style="color:white">.</span></label>
                              <div class="input-group">
                                <input appTwoDigitDecimaNumber type="number" formControlName="Depth" name="Depth" class="form-control" placeholder="depth">
                                <div class="input-group-append">
                                  <span class="input-group-text"><i class="fa fa-envelope-o"></i>cm</span>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="form-item row">
                            <div class="form-group col-sm-12">
                              <label class="col-form-label">Courier Options</label>
                              <div class="input-group">
                                <mat-checkbox class="mr-4" name="Poslaju">Poslaju</mat-checkbox>
                                <mat-checkbox class="mr-4" name="Jnt">J&T Express</mat-checkbox>
                                <mat-checkbox class="mr-4" name="Dhl">DHL</mat-checkbox>
                                <!--<mat-radio-group [(ngModel)]="CourierId">
                                  <mat-radio-button [value]="1" class="mr-3">Poslaju</mat-radio-button>
                                  <mat-radio-button [value]="2" class="mr-3">J&T Express
                                  </mat-radio-button>
                                  <mat-radio-button [value]="3" class="mr-3">DHL</mat-radio-button>
                                </mat-radio-group>-->
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  <!--</div>
                </perfect-scrollbar>
              </div>-->
            </div>

            <div class="col-sm-4">
              <!--<div class="p-scrollbar-container">
                <perfect-scrollbar class="scroll-container" fxFlex="auto" [config]="config" [scrollIndicators]="true" (psXReachEnd)="onScrollEvent($event)" (psYReachEnd)="onScrollEvent($event)" (psXReachStart)="onScrollEvent($event)" (psYReachStart)="onScrollEvent($event)">
                  <div class="scrollable-content">-->
                    <div class="fixedScollCard">
                      <div class="card mb-3 ">
                        <div class="card-header"><strong>Action</strong></div>
                        <div class="card-body">
                          <div class="form-group">
                            <div class="form-item row">
                              <div class="col-sm-12">
                                <label for="StatusId">Status</label>
                                <select class="form-control" [(ngModel)]="StatusId" formControlName="StatusId" name="StatusId">
                                  <option value="0">{{ '--Select Status--'}}</option>
                                  <option *ngFor="let item of statusList" value="{{item.id}}">{{ item.name }}
                                  </option>
                                </select>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="card-footer text-right">
                          <button mat-raised-button class="green-button" (click)="onSave()" cdkFocusInitial><i
                            class="fas fa-save"></i> Save </button>
                        </div>
                      </div>
                    </div>
                      <div class="card mb-3">
                        <div class="card-header"><strong>Categories</strong></div>
                          <div class="card-body">
                            <div class="form-group">
                              <div class="form-item row">
                                <div class="col-sm-12">
                                  <div class="col-md-4 col-form-label">
                                    <div *ngFor="let item of Category; let i = index">
                                      <mat-checkbox formControlName="Category" name="Category" value="{{Category[i].id}}">{{ Category[i].name }}</mat-checkbox>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

                  <!--</div>
                </perfect-scrollbar>
              </div>-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
