@import '../../../shared/common-form';

.mat-dialog-content {
  max-height: initial;
}

.right-corner {
    display: flex;
    align-content: center;
    justify-content: flex-end;
  }

  .mat-dialog-container {
    display: block !important;
    padding: 24px !important;
    border-radius: 4px !important;
    box-sizing: border-box !important;
    overflow: auto !important;
    outline: 0 !important;
    width: 100% !important;
    height: auto !important;
    min-height: inherit !important;
    max-height: inherit !important;
  }