<div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">
  <div class="m-grid__item m-grid__item--fluid">
    <!-- begin:: Page -->

    <div class="m-content">
      <h1 class="text-center  m--margin-top-40" id="DashboardTitle">Welcome to Struct
        Centre</h1>
      <h5 class="text-center  " id="dashboardBelowTitle">Build your connection, collaborate and elevate your Business
        here.</h5>
      <div class="m-grid-responsive-md">
        <div class="m-nav-grid ui-g m--margin-top-30">
          <!-- First Row  -->
          <!-- <div class="row m--margin-top-30"> -->
          <div class="ui-g-3 m--margin-bottom-30"
            *ngIf="allowedAccess('My Profile') || allowedAccess('Company Profile')">
            <div class="m-widget29">
              <div class="m-widget_content " routerLink="/app/user/my-profile">
                <a href="#" class="m-nav-grid__item"
                  *ngIf="allowedAccess('My Profile') || allowedAccess('Company Profile')"
                  routerLink="/app/user/my-profile">
                  <i class="m-nav-grid__icon flaticon-profile-1 m--margin-right-20 m--font-success"></i> <span
                    class="m-widget_content-title text-center">Company Profile</span> </a>
              </div>
            </div>
          </div>
          <div class="ui-g-3 m--margin-bottom-30" *ngIf="allowedAccess('My Products')" routerLink="/app/my/products">
            <div class="m-widget29">
              <div class="m-widget_content">
                <a href="#" class="m-nav-grid__item" *ngIf="allowedAccess('My Products')" routerLink="/app/my/products">
                  <i class="m-nav-grid__icon flaticon-open-box m--margin-right-20"></i> <span
                    class="m-widget_content-title text-center">My Products</span>
                </a>
              </div>
            </div>
          </div>
          <div class="ui-g-3 m--margin-bottom-30" *ngIf="allowedAccess('My Services')" routerLink="/app/my/services">
            <div class="m-widget29">
              <div class="m-widget_content">
                <a href="#" class="m-nav-grid__item" *ngIf="allowedAccess('My Services')" routerLink="/app/my/services">
                  <i class="m-nav-grid__icon flaticon-time m--margin-right-20"></i> <span
                    class="m-widget_content-title text-center">My Services</span> </a>
              </div>
            </div>
          </div>
          <div class="ui-g-3 m--margin-bottom-30" *ngIf="allowedAccess('My Sales')" routerLink="/app/sales">
            <div class="m-widget29">
              <div class="m-widget_content">
                <a href="#" class="m-nav-grid__item" *ngIf="allowedAccess('My Sales')" routerLink="/app/sales"> <i
                    class="m-nav-grid__icon flaticon-bag m--margin-right-20"></i> <span
                    class="m-widget_content-title text-center">My
                    Sales</span> </a>
              </div>
            </div>
          </div>
          <!--
            <div class="ui-g-3 m--margin-bottom-30">
              <div class="m-widget29">
                <div class="m-widget_content" routerLink="/app/sales/my">
                  <a href="#" class="m-nav-grid__item" routerLink="/app/sales/my"> <i
                      class="m-nav-grid__icon flaticon-bag m--margin-right-20"></i> <span
                      class="m-widget_content-title text-center">My
                      Sales</span> </a>
                </div>
              </div>
            </div>
            -->
          <div class="ui-g-3 m--margin-bottom-30" *ngIf="allowedAccess('Quote Me')" routerLink="/app/quote">
            <div class="m-widget29">
              <div class="m-widget_content">
                <a href="#" class="m-nav-grid__item" *ngIf="allowedAccess('Quote Me')" routerLink="/app/quote"> <i
                    class="m-nav-grid__icon flaticon-user m--margin-right-20"></i> <span
                    class="m-widget_content-title text-center">Quote Me</span> </a>
              </div>
            </div>
          </div>
          <div class="ui-g-3 m--margin-bottom-30" *ngIf="allowedAccess('My Settings')"
            routerLink="/app/settings/my-settings">
            <div class="m-widget29">
              <div class="m-widget_content">
                <a href="#" class="m-nav-grid__item" *ngIf="allowedAccess('My Settings')"
                  routerLink="/app/settings"> <i
                    class="m-nav-grid__icon flaticon-cogwheel m--margin-right-20"></i>
                  <span class="m-widget_content-title text-center">My
                    Settings</span> </a>
              </div>
            </div>
          </div>
          <div class="ui-g-3 m--margin-bottom-30" *ngIf="allowedAccess('Project Management')"
            routerLink="/app/project-management/list">
            <div class="m-widget29">
              <div class="m-widget_content">
                <a href="#" class="m-nav-grid__item" *ngIf="allowedAccess('Project Management')"
                  routerLink="/app/project-management/list"> <i
                    class="m-nav-grid__icon flaticon-calendar m--margin-right-20"></i> <span
                    class="m-widget_content-title text-center">Project
                    Management</span> </a>
              </div>
            </div>
          </div>
          <div class="ui-g-3 m--margin-bottom-30" *ngIf="allowedAccess('Human Resources')"
            routerLink="/app/human-resource/dashboard">
            <div class="m-widget29">
              <div class="m-widget_content">
                <a href="#" class="m-nav-grid__item" *ngIf="allowedAccess('Human Resources')"
                  routerLink="/app/human-resource/dashboard"> <i
                    class="m-nav-grid__icon flaticon-profile-1 m--margin-right-20"></i> <span
                    class="m-widget_content-title text-center">Human Resource
                  </span> </a>
              </div>
            </div>
          </div>
          <div class="ui-g-3 m--margin-bottom-30" *ngIf="allowedAccess('Finance')"
            routerLink="/app/finance/quotation-list">
            <div class="m-widget29">
              <div class="m-widget_content">
                <a href="#" class="m-nav-grid__item" *ngIf="allowedAccess('Finance')"
                  routerLink="/app/finance/quotation-list"> <i
                    class="m-nav-grid__icon flaticon-calendar m--margin-right-20"></i> <span
                    class="m-widget_content-title text-center">Finance
                  </span> </a>
              </div>
            </div>
          </div>
          <div class="ui-g-3 m--margin-bottom-30" *ngIf="allowedAccess('Tenant Mgmt')"
            routerLink="/app/tenant-management/my-settings">
            <div class="m-widget29">
              <div class="m-widget_content">
                <a href="#" class="m-nav-grid__item" *ngIf="allowedAccess('Tenant Mgmt')"
                  routerLink="/app/tenant-management/tenant-list"> <i
                    class="m-nav-grid__icon flaticon-cogwheel m--margin-right-20"></i>
                  <span class="m-widget_content-title text-center">Tenant Management</span></a>
              </div>
            </div>
          </div>
          <!-- </div> -->

          <!-- Second ROW  -->
          <div class="row " id="SecondRow">
            <!-- <div class="ui-g-3 m--margin-bottom-30">
            <div class="m-widget29">
              <div class="m-widget_content">
                <a href="#" class="m-nav-grid__item" *ngIf="allowedAccess('Tenant Management')"
                  routerLink="/app/tenant/management"><i class="m-nav-grid__icon flaticon-folder-1 m--margin-right-40"></i>
                  <span class="m-widget_content-title text-center">Tenant Management</span> </a>
              </div>
            </div>
          </div>
          <div class="ui-g-3 m--margin-bottom-30">
            <div class="m-widget29">
              <div class="m-widget_content">
                <a href="#" class="m-nav-grid__item" *ngIf="allowedAccess('System Settings')"
                  routerLink="/app/settings/system-settings"> <i class="m-nav-grid__icon flaticon-interface-2 m--margin-right-40" ></i> <span
                    class="m-widget_content-title text-center">System Settings</span> </a>
              </div>
            </div>
          </div> -->
          </div>
          <!-- <div class="row m--margin-top-20">
          <div class="ui-g-3 m--margin-bottom-30">
            <div class="m-widget29">
              <div class="m-widget_content">
                <a href="#" class="m-nav-grid__item" *ngIf="allowedAccess('References')"
                  routerLink="/app/admin/references"> <i class="m-nav-grid__icon flaticon-network m--margin-right-40"></i> <span
                    class="m-widget_content-title text-center">References</span> </a>
              </div>
            </div>
          </div>
          <div class="ui-g-3 m--margin-bottom-30">
            <div class="m-widget29">
              <div class="m-widget_content">
                <a href="#" class="m-nav-grid__item" *ngIf="allowedAccess('Publishing')" routerLink="/app/misc/publish">
                  <i class="m-nav-grid__icon flaticon-multimedia-2 m--margin-right-40"></i> <span
                    class="m-widget_content-title text-center">Publishing</span>
                </a>
              </div>
            </div>
          </div>
        </div> -->
        </div>
      </div>
    </div>
    <!-- end:: Page -->



    <div class="m-content">
      <h1 class="text-center m--margin-bottom-20" id="DashboardTitle">Coming Soon!!</h1>
      <!-- <h5 class="text-center  " id="dashboardBelowTitle">Comming Soon!</h5> -->
      <div class="m-grid-responsive-md">
        <div class="m-nav-grid m--margin-top-30">
          <!-- First Row  -->
          <!-- <div class="row m--margin-top-30"> -->
          <div class="ui-g-3 m--margin-bottom-30">
            <div class="m-widget29">
              <div class="m-widget_content" routerLink="/app/tendering/dashboard">
                <a href="#" class="m-nav-grid__item" routerLink="/app/tendering/dashboard">
                  <i class="m-nav-grid__icon flaticon-confetti m--margin-right-20"></i>
                  <span class="m-widget_content-title text-center">Tendering
                  </span>
                </a>
              </div>
            </div>
          </div>
          <div class="ui-g-3 m--margin-bottom-30">
            <div class="m-widget29">
              <div class="m-widget_content">
                <a href="#" class="m-nav-grid__item" routerLink="/app/outsourcing/dashboard">
                  <i class="m-nav-grid__icon flaticon-confetti m--margin-right-20"></i>
                  <span class="m-widget_content-title text-center">Outsourcing
                  </span>
                </a>
              </div>
            </div>
          </div>
          <div class="ui-g-3 m--margin-bottom-30">
            <div class="m-widget29">
              <div class="m-widget_content">
                <a href="#" class="m-nav-grid__item" routerLink="/app/logistik/dashboard">
                  <i class="m-nav-grid__icon flaticon-confetti m--margin-right-20"></i>
                  <span class="m-widget_content-title text-center">Logistics
                  </span>
                </a>
              </div>
            </div>
          </div>
          <div class="ui-g-3 m--margin-bottom-30">
            <div class="m-widget29">
              <div class="m-widget_content">
                <a href="#" class="m-nav-grid__item" routerLink="/app/manpower/dashboard">
                  <i class="m-nav-grid__icon flaticon-confetti m--margin-right-20"></i>
                  <span class="m-widget_content-title text-center">Manpower Management
                  </span>
                </a>
              </div>
            </div>
          </div>
          <div class="ui-g-3 m--margin-bottom-30">
            <div class="m-widget29">
              <div class="m-widget_content">
                <a href="#" class="m-nav-grid__item" routerLink="/app/event/dashboard">
                  <i class="m-nav-grid__icon flaticon-confetti m--margin-right-20"></i>
                  <span class="m-widget_content-title text-center">Event Management
                  </span>
                </a>
              </div>
            </div>
          </div>
          <!-- </div> -->
        </div>
      </div>
    </div>
  </div>
</div>



<div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">
  <div class="m-grid__item m-grid__item--fluid">
    <!-- begin:: Page -->
    <div class="m-content">
    </div>
  </div>
</div>