/* .mr-auto{
    text-align: center;
} */
/* #HeaderTitle{
    font-size: 2.5em;
    color: brown;
} */
.m-body{
    padding-left: 0;
}
.m-nav-grid__icon.flaticon-profile-1{
    background-color:#d1f3e0;
    color: #56bf85;
    font-size: 40px;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 7px;
    padding-top: 7px;
    border-radius: 50%;
}
.m-nav-grid__icon.flaticon-confetti{
    background-color:#c5efff;
    color: #24dd0b;
    font-size: 40px;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 7px;
    padding-top: 7px;
    border-radius: 50%;
}
.m-nav-grid__icon.flaticon-confetti-2{
    background-color:#c5efff;
    color: #b619ca;
    font-size: 40px;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 7px;
    padding-top: 7px;
    border-radius: 50%;
}
.m-nav-grid__icon.flaticon-confetti-3{
    background-color:#c5efff;
    color: #d2e00f;
    font-size: 40px;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 7px;
    padding-top: 7px;
    border-radius: 50%;
}
.m-nav-grid__icon.flaticon-open-box{
    background-color:#f3e4d1;
    color:#c3995b;
    font-size: 40px;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 7px;
    padding-top: 7px;
    border-radius: 50%;
}
.m-nav-grid__icon.flaticon-time{
    background-color:#d1f2f3;

    color: #36afb6;
    font-size: 40px;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 7px;
    padding-top: 7px;
    border-radius: 50%;
}
.m-nav-grid__icon.flaticon-bag{
    background-color:#d1d5f3;

    color: #424bba;
    font-size: 40px;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 7px;
    padding-top: 7px;
    border-radius: 50%;
}
.m-nav-grid__icon.flaticon-user{
    background-color:#f3d1e3;

    color: #ae306a;
    font-size: 40px;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 7px;
    padding-top: 7px;
    border-radius: 50%;
}
.m-nav-grid__icon.flaticon-cogwheel{
    background-color:#ecf3d1;

    color: #94b433;
    font-size: 40px;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 7px;
    padding-top: 7px;
    border-radius: 50%;
}
.m-nav-grid__icon.flaticon-calendar{
    background-color:#ecf3d1;

    color: #94b433;
    font-size: 40px;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 7px;
    padding-top: 7px;
    border-radius: 50%;
}
#DashboardTitle{
    color:#bc0708;
    font-size: 3em;
    
}
#dashboardBelowTitle{
    color: gray;
    font-size: 1.5em;
}
@media only screen and (max-width: 600px) {
    .m-widget29 .m-widget_content .m-widget_content-title {
        font-size: 1.7rem;
        font-weight: 400;
    }
  }
  /* .m-widget_content.m-widget_content-title{
      position: absolute;
      line-height: 62px;
  } */
  .m-widget29 .m-widget_content .m-widget_content-title{
    position: absolute;
    line-height: 62px;
  }

