<div class="m-grid__item m-grid__item--fluid m-wrapper ">
  <div class="m-content">
    <div class="m-portlet m-portlet--bordered-semi m-portlet--unair">
      <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
          <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">
              All Coupons
            </h3>
          </div>
        </div>
        <div class="m-portlet__head-tools">
          <button mat-raised-button class="green-button" (click)="couponDetails(0)">
            <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
            Add New Coupon
          </button>
        </div>
      </div>
      <div class="m-portlet__body ">
        <div class="primeng-datatable-container">
          <p-table class="single-line-cells" #dataTable (onLazyLoad)="getCouponList($event); "
            (selectionChange)="onSelectionChange($event)" [value]="primengTableHelper.records"
            rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true"
            [scrollable]="true" ScrollWidth="100%" [responsive]="primengTableHelper.isResponsive"
            [resizableColumns]="primengTableHelper.resizableColumns">
            <ng-template pTemplate="header">
              <tr>
                <th style="width: 40px " class="text-center">
                  <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th style="width: 40px " class="text-center">
                  {{'#'}}
                </th>
                <th style="width: 200px " pSortableColumn="CouponCode">
                  {{'Code'}}
                  <p-sortIcon field="CouponCode"></p-sortIcon>
                </th>
                <th style="width: 100px">
                  {{'Type'}}
                </th>
                <th style="width: 100px" pSortableColumn="Discount" class="text-right">
                  {{'Discount'}}
                  <p-sortIcon field="Discount"></p-sortIcon>
                </th>
                <th style="width: 80px" class="text-center">
                  {{'Quantity'}}
                </th>
                <th style="width: 80px" class="text-center">
                  {{'Used'}}
                </th>
                <th style="width: 140px" class="text-center">
                  {{'Validity'}}
                </th>
              </tr>
              <tr>
                <th class="text-center">
                </th>
                <th class="text-center">
                </th>
                <th>
                  <input pInputText type="text" style="width: 100%;" class="form-control"
                    (input)="dataTable.filter($event.target.value,' CouponCode  ', 'contains');"
                    placeholder="Search Code...">
                </th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-record="$implicit" let-rowIndex="rowIndex" let-columns="columns">
              <tr [pSelectableRow]="record" [pSelectableRowDisabled]="">
                <td style="width: 40px" class="text-center">
                  <p-tableCheckbox [value]="record"></p-tableCheckbox>
                </td>
                <td style="width: 40px " class="text-center">
                  {{rowIndex+1}}
                </td>
                <td style="width: 200px ">
                  <span class="ui-column-title"></span>
                  <a style="color:blue; cursor: pointer;" (click)="couponDetails(record.CouponId);">
                    <span
                      (mouseover)="pageSetting.isEllipsisTitle($event,record.CouponCode)"><span>{{record.CouponCode}}</span></span>
                  </a>
                </td>
                <td style="width: 100px ">
                  <span class="ui-column-title"></span>
                  <span
                    (mouseover)="pageSetting.isEllipsisTitle($event,record.CouponType)"><span>{{record.CouponType}}</span></span>
                </td>
                <td style="width: 100px " class="text-right">
                  <span class="ui-column-title "></span>
                  {{record.Discount | currency:'RM '}}
                </td>
                <td style="width: 80px" class="text-center">
                  <span class="ui-column-title"></span>
                  {{record.Quantity}}
                </td>
                <td style="width: 80px" class="text-center">
                  <span class="ui-column-title"></span>
                  {{record.Used}}
                </td>
                <td style="width: 140px" class="text-center">
                  <span class="ui-column-title"></span>
                  <span
                    (mouseover)="pageSetting.isEllipsisTitle($event,record.DateStart + ' - ' + record.DateEnd)"><span>{{record.DateStart + ' - ' + record.DateEnd}}</span></span>
                  <!-- {{record.DateStart + ' - ' + record.DateEnd}} -->
                </td>
              </tr>
            </ng-template>
          </p-table>
          <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
            {{'NoData'}}
          </div>
          <div class="primeng-paging-container" style="position: relative;">
            <p-paginator rows="{{primengTableHelper.defaultRecordsCountPerPage}}" #paginator
              (onPageChange)="getCouponList($event)" [totalRecords]="primengTableHelper.totalRecordsCount"
              [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
            </p-paginator>
            <span style="position: absolute; top:3px; right:5px; margin: 5px;">Total records :
              {{primengTableHelper.totalRecordsCount}}</span>
          </div>
          <div>
            <button style="margin-top: 10px; margin-bottom: 10px;" class="red-button" mat-raised-button
              (click)="delete()" [disabled]="this.selection.isEmpty()">
              <mat-icon aria-label="Example icon-button with a heart icon">delete</mat-icon>
              Delete Selected
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>