<app-mat-spinner-overlay overlay="true" *ngIf="showSpinner"></app-mat-spinner-overlay>
<div class="m-grid__item m-grid__item--fluid m-wrapper ">
  <div class="m-content">
    <div class="m-portlet m-portlet--bordered-semi m-portlet--unair">
      <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
          <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">
              Laporan Saman Tanpa Alamat
            </h3>
          </div>
        </div>
      </div>
      <div class="m-portlet__body">
        <form novalidate [formGroup]="form">
          <div class="card">
            <div class="card-header"><strong>Carian</strong></div>
            <div id="collapseCarianLaporanSamanTanpaAlamat" class="collapse show" aria-labelledby="headingCarianLaporanSamanTanpaAlamat"
              data-parent="#accordion">
              <div class="card-body card-body-padding-top">
                <div class="col-form-label">
                  <div class="form-group">
                    <div class="form-item row">
                      <!-- <div class="col-sm-4">
                        <label class="col-form-label">Jenis Notis <span class="strik m--font-danger">*</span></label>
                        <select class="form-control" [(ngModel)]="JenisNotis" formControlName="JenisNotis"
                          name="JenisNotis" >
                          <option value="0">{{ '--Pilih Jenis Notis--'}}</option>
                          <option *ngFor="let item of JenisNotisList" value="{{item.id}}">{{ item.name }}
                          </option>
                        </select>
                        <small class="strik m--font-danger"
                          *ngIf="(submitted || f.JenisNotis.touched) && f.JenisNotis.errors && (f.JenisNotis.errors.required || f.JenisNotis.errors.min)">
                          Jenis Notis adalah wajib!
                        </small>
                      </div>                       -->
                      <div class="col-sm-4" >
                        <label class="col-form-label">Tarikh Mula <span class="strik m--font-danger">*</span><span
                            class="help">(Example :
                            31/12/2020)</span></label>
                        <div class="input-group">
                          <input formControlName="TarikhMula" spellcheck="false" class="form-control"
                            maxlength="10" [matDatepicker]="pickerTarikhMula" [(ngModel)]="TarikhMula"
                            placeholder="Masukkan Tarikh Mula">
                          <mat-datepicker-toggle matSuffix [for]="pickerTarikhMula"></mat-datepicker-toggle>
                          <mat-datepicker #pickerTarikhMula></mat-datepicker>
                        </div>
                        <small class="strik m--font-danger"
                          *ngIf="(submitted || f.TarikhMula.touched) && f.TarikhMula.errors && f.TarikhMula.errors.required">
                          Tarikh Mula adalah wajib!
                        </small>
                        <small class="strik m--font-danger"
                          *ngIf="(submitted || f.TarikhMula.touched) && f.TarikhMula.errors && f.TarikhMula.errors.exceed">
                          Tarikh Akhir tidak melebihi Tarikh Mula
                        </small>
                      </div>
                      <div class="col-sm-4" >
                        <label class="col-form-label">Tarikh Akhir <span class="strik m--font-danger">*</span><span
                            class="help">(Example :
                            31/12/2020)</span></label>
                        <div class="input-group">
                          <input formControlName="TarikhAkhir" spellcheck="false" class="form-control"
                            maxlength="10" [matDatepicker]="pickerTarikhAkhir" [(ngModel)]="TarikhAkhir"
                            placeholder="Masukkan Tarikh Akhir">
                          <mat-datepicker-toggle matSuffix [for]="pickerTarikhAkhir"></mat-datepicker-toggle>
                          <mat-datepicker #pickerTarikhAkhir></mat-datepicker>
                        </div>
                        <small class="strik m--font-danger"
                          *ngIf="(submitted || f.TarikhAkhir.touched) && f.TarikhAkhir.errors && f.TarikhAkhir.errors.required">
                          Tarikh Akhir adalah wajib!
                        </small>
                        <small class="strik m--font-danger"
                          *ngIf="(submitted || f.TarikhAkhir.touched) && f.TarikhAkhir.errors && f.TarikhAkhir.errors.exceed">
                          Tarikh Akhir tidak melebihi Tarikh Mula
                        </small>
                      </div>
                      <!-- <div class="col-sm-4">
                        <label class="col-form-label">Jenis Dokumen <span class="strik m--font-danger">*</span></label>
                        <select class="form-control" [(ngModel)]="JenisDokumen" formControlName="JenisDokumen"
                          name="JenisDokumen" >
                          <option value="0">{{ '--Pilih Jenis Dokumen--'}}</option>
                          <option *ngFor="let item of JenisDokumenList" value="{{item.id}}">{{ item.name }}
                          </option>
                        </select>
                        <small class="strik m--font-danger"
                          *ngIf="(submitted || f.JenisDokumen.touched) && f.JenisDokumen.errors && (f.JenisDokumen.errors.required || f.JenisDokumen.errors.min)">
                          Jenis Dokumen adalah wajib!
                        </small>
                      </div>   -->
                      <div class="col-sm-4">
                        <label class="col-form-label">Hari Konfigurasi <span class="strik m--font-danger">*</span></label>
                        <input class="form-control" formControlName="Hari" name="Hari"
                          numberOnly type="text" placeholder="Hari" maxlength="5">
                        <small class="strik m--font-danger"
                          *ngIf="(submitted || f.Hari.touched) && f.Hari.errors && f.Hari.errors.required">
                          Maklumat Hari Konfigurasi  adalah wajib!
                        </small>                       
                      </div> 
                      <!-- <div class="col-sm-4">
                        <label class="col-form-label">Status Notis <span class="strik m--font-danger">*</span></label>
                        <select class="form-control" [(ngModel)]="StatusNotis" formControlName="StatusNotis"
                          name="StatusNotis" >
                          <option value="0">{{ '--Pilih Status Notis--'}}</option>
                          <option *ngFor="let item of StatusNotisList" value="{{item.id}}">{{ item.name }}
                          </option>
                        </select>
                        <small class="strik m--font-danger"
                          *ngIf="(submitted || f.StatusNotis.touched) && f.StatusNotis.errors && (f.StatusNotis.errors.required || f.StatusNotis.errors.min)">
                          Status Notis adalah wajib!
                        </small>
                      </div>        -->
                    </div>
                  </div>
                </div>
                <div class="text-right mt-4">
                  <button mat-raised-button class="red-button mr-2" (click)="reset()"><i class="fa fa-retweet"></i>
                    {{'Reset'}} </button>
                  <button mat-raised-button class="blue-button" (click)="search()"><i class="fa fa-search"></i>
                    {{'Cari'}} </button>
                </div>
              </div>
            </div>
          </div>
        </form>     
        <div class="m-grid__item m-grid__item--fluid m-wrapper mt-3 {{showList ? '' : 'hide-list'}}" >
          <div class="primeng-datatable-container">
            <p-table class="" id="dataTable1" #dataTable (onLazyLoad)="getLaporanSamanTanpaAlamatList($event); "
              (selectionChange)="onSelectionChange($event)" [value]="primengTableHelper.records"
              rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true"
              [scrollable]="true" ScrollWidth="100%" [responsive]="primengTableHelper.isResponsive"
              [resizableColumns]="primengTableHelper.resizableColumns">             
              <ng-template pTemplate="header">
                <tr >
                  <th style="width: 40px " class="text-center">
                    {{'No.'}}
                  </th>
                  <th style="width: 50px ">
                    {{'No. Notis'}}
                  </th>
                  <th style="width: 100px ">
                    {{'Tarikh Kesalahan'}}
                  </th>
                  <th style="width: 100px ">
                    {{'Nama Kesalahan'}}
                  </th>
                  <th style="width: 50px ">
                    {{'Seksyen'}}
                  </th>
                  <th style="width: 100px ">
                    {{'Nama Pesalah'}}
                  </th>
                  <th style="width: 100px ">
                    {{'No. KP'}}
                  </th>
                  <th style="width: 70px ">
                    {{'No. Kenderaan'}}
                  </th>
                  <th style="width: 100px" class="text-right">
                    {{'Kadar Kompaun (RM)'}}
                  </th>
                </tr>                
              </ng-template>
              <ng-template pTemplate="body" let-record="$implicit" let-rowIndex="rowIndex" let-columns="columns">
                <tr [pSelectableRow]="record" >
                  <td style="width: 40px " class="text-center">
                    {{(paginator.getPage() * paginator.rows) + (rowIndex+1)}}
                  </td>
                  <td style="width: 50px ">
                    <span class="ui-column-title"></span>
                    {{record.NoNotis}}
                  </td>
                  <td style="width: 100px ">
                    <span class="ui-column-title"></span>
                    {{record.TarikhKesalahan}}
                  </td>
                  <td style="width: 100px ">
                    <span class="ui-column-title"></span>
                    {{record.NamaKesalahan}}
                  </td>
                  <td style="width: 50px ">
                    <span class="ui-column-title"></span>
                    {{record.Seksyen}}
                  </td>
                  <td style="width: 100px ">
                    <span class="ui-column-title"></span>
                    {{record.NamaPesalah}}
                  </td>
                  <td style="width: 100px ">
                    <span class="ui-column-title"></span>
                    {{record.NoPesalah}}
                  </td>
                  <td style="width: 70px ">
                    <span class="ui-column-title"></span>
                    {{record.NoKenderaan}}
                  </td>
                  <td style="width: 100px " class="text-right">
                    <span class="ui-column-title"></span>
                    {{record.Kompaun}}
                  </td>                               
                </tr>
              </ng-template>
            </p-table>
            <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0 && LaporanSamanTanpaAlamatType != 0">
              {{'Tiada Rekod'}}
            </div>
            <div class="primeng-paging-container {{primengTableHelper.totalRecordsCount == 0 ? 'hide-list' : ''}}"
              style="position: relative;">
              <p-paginator rows="{{primengTableHelper.defaultRecordsCountPerPage}}" #paginator
                (onPageChange)="getLaporanSamanTanpaAlamatList($event)" [totalRecords]="primengTableHelper.totalRecordsCount"
                [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
              </p-paginator>
            </div>
            <div class="text-right" *ngIf="LaporanSamanTanpaAlamatType != 0">
              <span style=" top:3px; right:5px; margin: 5px;">Jumlah Rekod :
                {{primengTableHelper.totalRecordsCount}}</span>
            </div>
            <div class="btn-group" dropdown *ngIf="LaporanSamanTanpaAlamatType != 0">
              <button mat-raised-button id="button-print" dropdownToggle class="purple-button mr-2"
                aria-controls="dropdown-print">
                <mat-icon aria-label="Example icon-button with a heart icon">print</mat-icon>
                Cetak
              </button>
              <ul id="dropdown-print" *dropdownMenu class="dropdown-menu mt-1 ml-2" role="menu"
                aria-labelledby="button-print" style="cursor: pointer;">
                <li role="menuitem"><a class="dropdown-item" (click)="printTablePdf()">Cetak Laporan</a></li>
                <li role="menuitem"><a class="dropdown-item" (click)="printTableExcel()">Eksport Ke Excel</a></li>
              </ul>
            </div>           
          </div>
        </div>
      </div>
    </div>
  </div>
</div>