.card-body-padding-top {
  padding-top: 1px;
}


[data-toggle="collapse"] .fa:before {  
  content: "\f139";
}

[data-toggle="collapse"].collapsed .fa:before {
  content: "\f13a";
}

.ng-star-inserted >th {
  font-size: small !important;
}

.ng-star-inserted >td {
  font-size:  small !important;
}


.card-header2 {
  padding: 0rem 1.25rem;
  margin-bottom: 0;
  background-color: rgba(0,0,0,.03);
  border-bottom: 1px solid rgba(0,0,0,.125);
}

.hipembatalan-notisn-date-input {
  width: 0;
  border: none;
  padding: 0;
}
