<app-mat-spinner-overlay overlay="true" *ngIf="showSpinner"></app-mat-spinner-overlay>
<div class="m-grid__item m-grid__item--fluid m-wrapper ">
  <div class="m-content">
    <div class="m-portlet m-portlet--bordered-semi m-portlet--unair">
      <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
          <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">
              Laporan Pembatalan Notis
            </h3>
          </div>
        </div>
      </div>
      <div class="m-portlet__body">
        <form novalidate [formGroup]="form">
          <div class="card">
            <div class="card-header"><strong>Carian</strong></div>
            <div id="collapseCarianLaporanPembatalanNotis" class="collapse show" aria-labelledby="headingCarianLaporanPembatalanNotis"
              data-parent="#accordion">
              <div class="card-body card-body-padding-top">
                <div class="col-form-label">
                  <div class="form-group">
                    <div class="form-item row">
                      <div class="col-sm-4">
                        <label class="col-form-label">Jenis Laporan <span class="strik m--font-danger">*</span></label>
                        <select class="form-control" [(ngModel)]="LaporanPembatalanNotisType" formControlName="LaporanPembatalanNotisType"
                          name="LaporanPembatalanNotisType" (change)="onChangeType()">
                          <option value="0">{{ '--Pilih Jenis--'}}</option>
                          <option *ngFor="let item of laporanPembatalanNotisTypeList" value="{{item.id}}">{{ item.name }}
                          </option>
                        </select>
                        <small class="strik m--font-danger"
                          *ngIf="(submitted || f.LaporanPembatalanNotisType.touched) && f.LaporanPembatalanNotisType.errors && (f.LaporanPembatalanNotisType.errors.required || f.LaporanPembatalanNotisType.errors.min)">
                          Jenis Laporan adalah wajib!
                        </small>
                      </div>                      
                      <div class="col-sm-4" >
                        <label class="col-form-label">Tarikh Mula <span class="strik m--font-danger">*</span><span
                            class="help">(Example :
                            31/12/2020)</span></label>
                        <div class="input-group">
                          <input formControlName="TarikhMula" spellcheck="false" class="form-control"
                            maxlength="10" [matDatepicker]="pickerTarikhMula" [(ngModel)]="TarikhMula"
                            placeholder="Masukkan Tarikh Mula">
                          <mat-datepicker-toggle matSuffix [for]="pickerTarikhMula"></mat-datepicker-toggle>
                          <mat-datepicker #pickerTarikhMula></mat-datepicker>
                        </div>
                        <small class="strik m--font-danger"
                          *ngIf="(submitted || f.TarikhMula.touched) && f.TarikhMula.errors && f.TarikhMula.errors.required">
                          Tarikh Mula adalah wajib!
                        </small>
                        <small class="strik m--font-danger"
                          *ngIf="(submitted || f.TarikhMula.touched) && f.TarikhMula.errors && f.TarikhMula.errors.exceed">
                          Tarikh Akhir tidak melebihi Tarikh Mula
                        </small>
                      </div>
                      <div class="col-sm-4" >
                        <label class="col-form-label">Tarikh Akhir <span class="strik m--font-danger">*</span><span
                            class="help">(Example :
                            31/12/2020)</span></label>
                        <div class="input-group">
                          <input formControlName="TarikhAkhir" spellcheck="false" class="form-control"
                            maxlength="10" [matDatepicker]="pickerTarikhAkhir" [(ngModel)]="TarikhAkhir"
                            placeholder="Masukkan Tarikh Akhir">
                          <mat-datepicker-toggle matSuffix [for]="pickerTarikhAkhir"></mat-datepicker-toggle>
                          <mat-datepicker #pickerTarikhAkhir></mat-datepicker>
                        </div>
                        <small class="strik m--font-danger"
                          *ngIf="(submitted || f.TarikhAkhir.touched) && f.TarikhAkhir.errors && f.TarikhAkhir.errors.required">
                          Tarikh Akhir adalah wajib!
                        </small>
                        <small class="strik m--font-danger"
                          *ngIf="(submitted || f.TarikhAkhir.touched) && f.TarikhAkhir.errors && f.TarikhAkhir.errors.exceed">
                          Tarikh Akhir tidak melebihi Tarikh Mula
                        </small>
                      </div>
                      <div class="col-sm-4" *ngIf="LaporanPembatalanNotisType == 1">
                        <label class="col-form-label">Kumpulan Pengguna 
                          <!-- <span class="strik m--font-danger">*</span> -->
                        </label>
                        <select class="form-control" [(ngModel)]="KumpulanPengguna" formControlName="KumpulanPengguna"
                          name="KumpulanPengguna" >
                          <option value="0">{{ '--Pilih Kumpulan Pengguna--'}}</option>
                          <option *ngFor="let item of kumpulanPenggunaList" value="{{item.id}}">{{ item.name }}
                          </option>
                        </select>
                        <!-- <small class="strik m--font-danger"
                          *ngIf="(submitted || f.KumpulanPengguna.touched) && f.KumpulanPengguna.errors && (f.KumpulanPengguna.errors.required || f.KumpulanPengguna.errors.min)">
                          Kumpulan Pengguna adalah wajib!
                        </small> -->
                      </div>     
                      <div class="col-sm-4" *ngIf="LaporanPembatalanNotisType == 2">
                        <label class="col-form-label">No. Gaji 
                          <!-- <span class="strik m--font-danger">*</span> -->
                        </label>
                        <input class="form-control" formControlName="NoGaji" name="NoGaji" type="text"
                          placeholder="No. Gaji">
                        <!-- <small class="strik m--font-danger"
                          *ngIf="(submitted || f.NoGaji.touched) && f.NoGaji.errors && f.NoGaji.errors.required">
                          No. Gaji adalah wajib!
                        </small> -->
                      </div>
                      <div class="col-sm-4" *ngIf="LaporanPembatalanNotisType == 3">
                        <label class="col-form-label">Kumpulan 
                          <!-- <span class="strik m--font-danger">*</span> -->
                        </label>
                        <select class="form-control" [(ngModel)]="Kumpulan" formControlName="Kumpulan"
                          name="Kumpulan" >
                          <option value="0">{{ '--Pilih Kumpulan--'}}</option>
                          <option *ngFor="let item of kumpulanList" value="{{item.id}}">{{ item.name }}
                          </option>
                        </select>
                        <!-- <small class="strik m--font-danger"
                          *ngIf="(submitted || f.Kumpulan.touched) && f.Kumpulan.errors && (f.Kumpulan.errors.required || f.Kumpulan.errors.min)">
                          Kumpulan adalah wajib!
                        </small> -->
                      </div>     
                    </div>
                  </div>
                </div>
                <div class="text-right mt-4">
                  <button mat-raised-button class="red-button mr-2" (click)="reset()"><i class="fa fa-retweet"></i>
                    {{'Reset'}} </button>
                  <button mat-raised-button class="blue-button" (click)="search()"><i class="fa fa-search"></i>
                    {{'Cari'}} </button>
                </div>
              </div>
            </div>
          </div>
        </form>     
        <div class="m-grid__item m-grid__item--fluid m-wrapper mt-3 {{showList ? '' : 'hide-list'}}" >
          <div class="primeng-datatable-container">
            <p-table class="" id="dataTable1" #dataTable (onLazyLoad)="getHandheldOfficerList($event); "
              (selectionChange)="onSelectionChange($event)" [value]="primengTableHelper.records"
              rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true"
              [scrollable]="true" ScrollWidth="100%" [responsive]="primengTableHelper.isResponsive"
              [resizableColumns]="primengTableHelper.resizableColumns">             
              <ng-template pTemplate="header">
                <tr *ngIf="LaporanPembatalanNotisType == 1">
                  <th style="width: 40px " class="text-center">
                    {{'No.'}}
                  </th>
                  <th style="width: 100px ">
                    {{'Kumpulan Pengguna'}}
                  </th>
                  <th style="width: 100px" class="text-right">
                    {{'Jumlah'}}
                  </th>
                </tr>
                <tr *ngIf="LaporanPembatalanNotisType == 2">
                  <th style="width: 40px " class="text-center">
                    {{'No.'}}
                  </th>
                  <th style="width: 100px ">
                    {{'No. Gaji'}}
                  </th>
                  <th style="width: 100px">
                    {{'Nama'}}
                  </th>
                  <th style="width: 100px" class="text-right">
                    {{'Jumlah'}}
                  </th>
                </tr>
                <tr *ngIf="LaporanPembatalanNotisType == 3">
                  <th style="width: 40px " class="text-center">
                    {{'No.'}}
                  </th>
                  <th style="width: 100px ">
                    {{'Sebab / Alasan / Justifikasi'}}
                  </th>
                  <th style="width: 100px" class="text-right">
                    {{'Jumlah'}}
                  </th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-record="$implicit" let-rowIndex="rowIndex" let-columns="columns">
                <tr [pSelectableRow]="record" *ngIf="LaporanPembatalanNotisType == 1">
                  <td style="width: 40px " class="text-center">
                    {{(paginator.getPage() * paginator.rows) + (rowIndex+1)}}
                  </td>
                  <td style="width: 100px ">
                    <span class="ui-column-title"></span>
                    {{record.KumpulanPengguna}}
                  </td>
                  <td style="width: 100px " class="text-right" >
                    <span class="ui-column-title"></span>
                    {{record.Jumlah}}
                  </td>
                </tr>
                <tr [pSelectableRow]="record" *ngIf="LaporanPembatalanNotisType == 2">
                  <td style="width: 40px " class="text-center">
                    {{(paginator.getPage() * paginator.rows) + (rowIndex+1)}}
                  </td>
                  <td style="width: 100px ">
                    <span class="ui-column-title"></span>
                    {{record.NoGaji}}
                  </td>
                  <td style="width: 100px ">
                    <span class="ui-column-title"></span>
                    {{record.Nama}}
                  </td>
                  <td style="width: 100px " class="text-right" >
                    <span class="ui-column-title"></span>
                    {{record.Jumlah}}
                  </td>
                </tr>
                <tr [pSelectableRow]="record" *ngIf="LaporanPembatalanNotisType == 3">
                  <td style="width: 40px " class="text-center">
                    {{(paginator.getPage() * paginator.rows) + (rowIndex+1)}}
                  </td>
                  <td style="width: 100px ">
                    <span class="ui-column-title"></span>
                    {{record.Sebab}}
                  </td>
                  <td style="width: 100px " class="text-right">
                    <span class="ui-column-title"></span>
                    {{record.Jumlah}}
                  </td>
                </tr>
              </ng-template>
            </p-table>
            <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0 && LaporanPembatalanNotisType != 0">
              {{'Tiada Rekod'}}
            </div>
            <div class="primeng-paging-container {{primengTableHelper.totalRecordsCount == 0 ? 'hide-list' : ''}}"
              style="position: relative;">
              <p-paginator rows="{{primengTableHelper.defaultRecordsCountPerPage}}" #paginator
                (onPageChange)="getHandheldOfficerList($event)" [totalRecords]="primengTableHelper.totalRecordsCount"
                [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
              </p-paginator>
            </div>
            <div class="text-right" *ngIf="LaporanPembatalanNotisType != 0">
              <span style=" top:3px; right:5px; margin: 5px;">Jumlah Rekod :
                {{primengTableHelper.totalRecordsCount}}</span>
            </div>
            <div class="btn-group" dropdown *ngIf="LaporanPembatalanNotisType != 0">
              <button mat-raised-button id="button-print" dropdownToggle class="purple-button mr-2"
                aria-controls="dropdown-print">
                <mat-icon aria-label="Example icon-button with a heart icon">print</mat-icon>
                Cetak
              </button>
              <ul id="dropdown-print" *dropdownMenu class="dropdown-menu mt-1 ml-2" role="menu"
                aria-labelledby="button-print" style="cursor: pointer;">
                <li role="menuitem"><a class="dropdown-item" (click)="printTablePdf()">Cetak Laporan</a></li>
                <li role="menuitem"><a class="dropdown-item" (click)="printTableExcel()">Eksport Ke Excel</a></li>
              </ul>
            </div>           
          </div>
        </div>
      </div>
    </div>
  </div>
</div>