<!-- <app-mat-spinner-overlay overlay="true" *ngIf="showSpinner"></app-mat-spinner-overlay> -->
<!-- <div class="m-content">
  <div class="m-portlet m-portlet--bordered-semi m-portlet--unair">
    <div class="m-portlet__head">
      <div class="m-portlet__head-caption">
        <div class="m-portlet__head-title">
          <h3 class="m-portlet__head-text">
            TAJUK
          </h3>
        </div>
      </div>
    </div> -->
    
         
    <div mat-dialog-content >
      <app-sales-customer-address-details [addressId]="addressId" [isModal]="isModal" *ngIf="type == 'address'"   #customerAddressDetailsComponent #tab></app-sales-customer-address-details>
      <app-sales-order-details [orderId]="orderId" [isModal]="isModal" *ngIf="type == 'purchase'"   #orderDetailsComponent #tab></app-sales-order-details>
    </div>

<!-- </div> -->
<!-- </mat-tab>
  </mat-tab-group>  -->
<div class=" row">
  <!-- <div class="col-sm-6 text-left">
    <button class="green-button" mat-raised-button (click)="add()" [disabled]="this.selection.isEmpty()">
      <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
      Add To Coupon
    </button>
  </div> -->
  <div class="col-sm-12 text-right mt-2">
    <button mat-raised-button class="green-button mr-2" (click)="onSave()" cdkFocusInitial><i
      class="fas fa-save"></i> Save </button>
    <button mat-raised-button class="red-button" (click)="onNoClick()"><i class="far fa-times-circle"></i>Close</button>
  </div>
</div>

