<div class="m-grid__item m-grid__item--fluid m-wrapper ">
  <div class="m-content">
    <div class="m-portlet m-portlet--bordered-semi m-portlet--unair">
      <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
          <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">
              Senarai Tuntutan/Pengeluaran Barang
            </h3>
          </div>
        </div>
        <!--<div class="m-portlet__head-tools btn-group" dropdown>
          <button mat-raised-button id="button-diskaun" dropdownToggle class="green-button" aria-controls="dropdown-diskaun">
            <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
            Tambah Diskaun
          </button>
          <ul id="dropdown-diskaun" *dropdownMenu class="dropdown-menu dropdown-menu-right btn-dropdown-margin" role="menu" aria-labelledby="button-diskaun" style="cursor: pointer;">
            <li role="menuitem"><a class="dropdown-item" (click)="diskaunDetails(0, 'add', 'Kenderaan')">Jenis Kenderaan</a></li>
            <li role="menuitem"><a class="dropdown-item" (click)="diskaunDetails(0, 'add', 'General')">Umum</a></li>
            <li role="menuitem"><a class="dropdown-item" (click)="diskaunDetails(0, 'add', 'EarlyPayment')">Bayaran Awal</a></li>
          </ul>
        </div>-->
      </div>
      <div class="m-portlet__body">
        <form novalidate [formGroup]="form">
          <div class="card">
            <div class="card-header2" id="headingKompaunDiskaun" style=" cursor: pointer;" data-toggle="collapse" data-target="#collapseKompaunDiskaun"
                 aria-controls="collapseKompaunDiskaun" aria-expanded=" {{reVisit ? 'true' : 'false'}} ">
              <h6 class="mb-0">
                <button class="btn btn-link {{reVisit ? '' : 'collapsed'}} " data-toggle="collapse" data-target="#collapseKompaunDiskaun"
                        aria-expanded=" {{reVisit ? 'true' : 'false'}} " aria-controls="collapseKompaunDiskaun">
                  <i class="fa" aria-hidden="true"></i>
                  Carian
                </button>
              </h6>
            </div>
            <div id="collapseKompaunDiskaun" class="collapse {{reVisit ? 'show' : ''}}" aria-labelledby="headingKompaunDiskaun" data-parent="#accordion">
              <div class="card-body card-body-padding-top">
                <div class="col-form-label">
                  <div class="form-group">
                    <div class="form-item row">
                      <div class="col-sm-4">
                        <label class="col-form-label">No. SD</label>
                        <input class="form-control" formControlName="namaDiskaun" name="namaDiskaun" type="text" placeholder="No. SD">
                      </div>
                      <div class="col-sm-4">
                        <label class="col-form-label">Nama Pemilik</label>
                        <input class="form-control" formControlName="namaDiskaun" name="namaDiskaun" type="text" placeholder="Nama Pemilik">
                      </div>
                      <div class="col-sm-4">
                        <label class="col-form-label">No. Badan</label>
                        <input class="form-control" formControlName="namaDiskaun" name="namaDiskaun" type="text" placeholder="No. Badan">
                      </div>
                      <div class="col-sm-4">
                        <label class="col-form-label">No. KP / Syarikat Pemilik</label>
                        <input class="form-control" formControlName="namaDiskaun" name="namaDiskaun" type="text" placeholder="No. KP / Syarikat Pemilik">
                      </div>
                      <!--<div class="col-sm-4">
                        <label class="col-form-label">Jenis Diskaun</label>
                        <select class="form-control" [(ngModel)]="jenisDiskaunId" formControlName="jenisDiskaunId" name="jenisDiskaunId">
                          <option value="0">{{ '&#45;&#45;Pilih Jenis Diskaun&#45;&#45;'}}</option>
                          <option *ngFor="let item of jenisDiskaunIdListRef" value="{{item.id}}">{{ item.jenis }}
                          </option>
                        </select>
                      </div>-->
                      <div class="col-sm-4">
                        <label class="col-form-label">Tarikh Sitaan Mula<span class="help">(Example : 31/12/2020)</span></label>
                        <div class="input-group">
                          <input formControlName="dateStart" spellcheck="false" class="form-control" maxlength="10"
                                 [matDatepicker]="pickerStartDate" [(ngModel)]="dateStart" placeholder="Masukkan tarikh dari">
                          <mat-datepicker-toggle matSuffix [for]="pickerStartDate"></mat-datepicker-toggle>
                          <mat-datepicker #pickerStartDate></mat-datepicker>
                        </div>
                        <small class="strik m--font-danger"
                               *ngIf="(submitted || f.dateStart.touched) && (f.dateStart.errors && f.dateStart.errors.required)">
                          Start Date is required
                        </small>
                        <small class="strik m--font-danger"
                               *ngIf="(submitted || f.dateStart.touched) && f.dateStart.errors && f.dateStart.errors.exceed">
                          End Date cant be greater than Start Date
                        </small>
                      </div>
                      <div class="col-sm-4">
                        <label class="col-form-label">Tarikh Sitaan Hingga<span class="help">(Example : 31/12/2020)</span></label>
                        <div class="input-group">
                          <input formControlName="dateEnd" spellcheck="false" class="form-control" maxlength="10"
                                 [matDatepicker]="pickerEndDate" [(ngModel)]="dateEnd" placeholder="Masukkan tarikh hingga">
                          <mat-datepicker-toggle matSuffix [for]="pickerEndDate"></mat-datepicker-toggle>
                          <mat-datepicker #pickerEndDate></mat-datepicker>
                        </div>
                        <small class="strik m--font-danger"
                               *ngIf="(submitted || f.dateEnd.touched) && (f.dateEnd.errors && f.dateEnd.errors.required)">
                          End Date is required
                        </small>
                        <small class="strik m--font-danger"
                               *ngIf="(submitted || f.dateEnd.touched) && f.dateEnd.errors && f.dateEnd.errors.exceed">
                          End Date cant be greater than Start Date
                        </small>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="text-right mt-4">
                  <button mat-raised-button class="red-button mr-2" (click)="reset()" ><i
                          class="fa fa-retweet"></i> {{'Reset'}} </button>
                  <button mat-raised-button class="blue-button" (click)="search()" ><i
                          class="fa fa-search"></i> {{'Cari'}} </button>
                </div>
              </div>
            </div>
          </div>
        </form>
        <br>
        <div class="m-grid__item m-grid__item--fluid m-wrapper ">
            <div class="primeng-datatable-container">
              <p-table class="" id="dataTable1" #dataTable (onLazyLoad)="getTuntutanBarangList($event); "
                       (selectionChange)="onSelectionChange($event)" [value]="primengTableHelper.records"
                       rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true"
                       [scrollable]="true" ScrollWidth="100%" [responsive]="primengTableHelper.isResponsive"
                       [resizableColumns]="primengTableHelper.resizableColumns"
                       selectionMode="multiple" (onRowSelect)="onRowSelect($event)">
                <!--<ng-template pTemplate="caption">
                  <div class="ui-helper-clearfix" style="text-align: right">
                    <div class="btn-group" dropdown>
                      <button mat-raised-button class="green-button" (click)="tuntutanDetails(0, 'add')">
                        <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
                        Tambah
                      </button>
                    </div>
                  </div>
                </ng-template>-->
                <ng-template pTemplate="header">
                  <tr>
                    <th style="width: 40px " class="text-center stickColumnLeft">
                      <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                    </th>
                    <th style="width: 40px " class="text-center">
                      {{'#'}}
                    </th>
                    <th style="width: 80px " pSortableColumn="ProductName">
                      {{'No. SD'}}
                      <p-sortIcon field="ProductName"></p-sortIcon>
                    </th>
                    <th style="width: 80px "pSortableColumn="Categories">
                      {{'No. Siri'}}
                      <p-sortIcon field="OrderDateTime"></p-sortIcon>
                    </th>
                    <th style="width: 150px "pSortableColumn="Categories">
                      {{'Nama Pegawai'}}
                      <p-sortIcon field="OrderDateTime"></p-sortIcon>
                    </th>
                    <th pSortableColumn="SKU No">
                      {{'No. Badan'}}
                      <p-sortIcon field="SKU No"></p-sortIcon>
                    </th>
                    <th pSortableColumn="Variation" class="text-right">
                      {{'Nama Pemilik'}}
                      <p-sortIcon field="Variation"></p-sortIcon>
                    </th>
                    <th pSortableColumn="Price" class="text-right">
                      {{'No KP / Syarikat'}}
                      <p-sortIcon field="Price"></p-sortIcon>
                    </th>
                    <th pSortableColumn="Stock" class="text-right">
                      {{'Tarikh Sitaan'}}
                      <p-sortIcon field="Stock"></p-sortIcon>
                    </th>
                    <th pSortableColumn="Stock" class="text-right">
                      {{'Tarikh Daftar Tuntutan'}}
                      <p-sortIcon field="Stock"></p-sortIcon>
                    </th>
                    <th pSortableColumn="Stock" class="text-right">
                      {{'Status'}}
                      <p-sortIcon field="Stock"></p-sortIcon>
                    </th>
                    <th pSortableColumn="Stock" class="text-center stickColumnRight">
                      {{'Tindakan'}}
                      <p-sortIcon field="Stock"></p-sortIcon>
                    </th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-record="$implicit" let-rowIndex="rowIndex" let-columns="columns">
                  <tr [pSelectableRow]="record">
                    <td style="width: 40px" class="text-center stickColumnLeft">
                      <p-tableCheckbox [value]="record"></p-tableCheckbox>
                    </td>
                    <td style="width: 40px " class="text-center">
                      {{(paginator.getPage() * paginator.rows) + (rowIndex+1)}}
                    </td>
                    <td style="width: 80px ">
                      <span class="ui-column-title"></span>
                      {{record.noSd}}
                    </td>
                    <td style="width: 80px ">
                      <span class="ui-column-title"></span>
                      {{record.noSiri}}
                    </td>
                    <td style="width: 150px ">
                      <span class="ui-column-title"></span>
                      {{record.namaPegawawi}}
                    </td>
                    <td>
                      <span class="ui-column-title"></span>
                      {{record.noBadan}}
                    </td>
                    <td class="text-right">
                      <span class="ui-column-title"></span>
                      {{record.namaPemilik}}
                    </td>
                    <td class="text-right">
                      <span class="ui-column-title"></span>
                      {{record.noKpSyarikat}}
                    </td>
                    <td class="text-right">
                      <span class="ui-column-title"></span>
                      {{record.tarikhSitaan}}
                    </td>
                    <td class="text-right">
                      <span class="ui-column-title"></span>
                      {{record.tarikhDaftarTuntutan}}
                    </td>
                    <td class="text-right">
                      <span class="ui-column-title"></span>
                      {{record.status}}
                    </td>
                    <td class="text-center stickColumnRight">
                      <span class="ui-column-title"></span>
                      <i class="fa fa-plus ml-2" aria-hidden="true" style="cursor: pointer;" title="Daftar Tuntutan " (click)="tuntutanDetails(record.id, 'add', record.status)" *ngIf="record.status == 'Penerimaan'"></i>
                      <i class="flaticon-edit ml-2" aria-hidden="true" style="cursor: pointer;" title="Kemaskini Tuntutan" (click)="tuntutanDetails(record.id, 'edit', record.status)" *ngIf="record.status == 'Tuntutan'"></i>
                      <i class="flaticon-edit ml-2" aria-hidden="true" style="cursor: pointer;" title="Buat Keputusan" (click)="tuntutanDetails(record.id, 'add', record.status)" *ngIf="record.status == 'Menunggu Keputusan'"></i>
                      <i class="flaticon-edit ml-2" aria-hidden="true" style="cursor: pointer;" title="Kemaskini Pengeluaran" (click)="tuntutanDetails(record.id, 'add', record.status)" *ngIf="record.status == 'Diluluskan'"></i>
                      <i class="flaticon-eye ml-2" aria-hidden="true" style="cursor: pointer;" title="Papar" (click)="tuntutanDetails(record.id, 'view', record.status)" *ngIf="record.status == 'Selesai Pengeluaran'"></i>
                      <i class="flaticon-eye ml-2" aria-hidden="true" style="cursor: pointer;" title="Papar" (click)="tuntutanDetails(record.id, 'view', record.status)" *ngIf="record.status == 'Ditolak'"></i>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
              <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                {{'NoData'}}
              </div>
              <div class="primeng-paging-container" style="position: relative;">
                <p-paginator rows="{{primengTableHelper.defaultRecordsCountPerPage}}" #paginator
                             (onPageChange)="getTuntutanBarangList($event)" [totalRecords]="primengTableHelper.totalRecordsCount"
                             [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                </p-paginator>
              </div>
              <div class="text-right">
                <span style=" top:3px; right:5px; margin: 5px;">Total records :{{primengTableHelper.totalRecordsCount}}</span>
              </div>
              <div *ngIf="primengTableHelper.totalRecordsCount > 0">
                <button  class="red-button mr-2" mat-raised-button
                         (click)="delete()" [disabled]="this.selection.isEmpty()">
                  <mat-icon aria-label="Example icon-button with a heart icon">delete</mat-icon>
                  Batal Pilihan
                </button>
                <div class="btn-group" dropdown>
                  <button mat-raised-button id="button-print" dropdownToggle class="purple-button mr-2"
                          aria-controls="dropdown-print">
                    <mat-icon aria-label="Example icon-button with a heart icon">print</mat-icon>
                    Cetak
                  </button>
                  <ul id="dropdown-print" *dropdownMenu class="dropdown-menu mt-1 ml-2" role="menu"
                      aria-labelledby="button-print" style="cursor: pointer;">
                    <li role="menuitem"><a class="dropdown-item" (click)="printTablePdf()">Cetak Senarai</a></li>
                    <li role="menuitem"><a class="dropdown-item" (click)="printTableExcel()">Eksport Ke Excel</a></li>
                  </ul>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
