<app-mat-spinner-overlay overlay="true" *ngIf="showSpinner"></app-mat-spinner-overlay>
<div class="m-grid__item m-grid__item--fluid m-wrapper ">
  <div class="m-content">
    <div class="m-portlet m-portlet--bordered-semi m-portlet--unair">
      <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
          <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">
              Laporan Jenis Kenderaan
            </h3>
          </div>
        </div>
      </div>
      <div class="m-portlet__body">
        <form novalidate [formGroup]="form">
          <div class="card">
            <div class="card-header"><strong>Carian</strong></div>
            <div id="collapseCarianLaporanJenisKenderaan" class="collapse show" aria-labelledby="headingCarianLaporanJenisKenderaan"
              data-parent="#accordion">
              <div class="card-body card-body-padding-top">
                <div class="col-form-label">
                  <div class="form-group">
                    <div class="form-item row">
                      <div class="col-sm-4">
                        <label class="col-form-label">Jenis <span class="strik m--font-danger">*</span></label>
                        <select class="form-control" [(ngModel)]="Jenis" formControlName="Jenis"
                          name="Jenis" >
                          <option value="0">{{ '--Pilih Jenis--'}}</option>
                          <option *ngFor="let item of JenisList" value="{{item.id}}">{{ item.name }}
                          </option>
                        </select>
                        <small class="strik m--font-danger"
                          *ngIf="(submitted || f.Jenis.touched) && f.Jenis.errors && (f.Jenis.errors.required || f.Jenis.errors.min)">
                          Jenis adalah wajib!
                        </small>
                      </div>
                      <div class="col-sm-4">
                        <label class="col-form-label">Jenis Badan <span class="strik m--font-danger">*</span></label>
                        <select class="form-control" [(ngModel)]="JenisBadan" formControlName="JenisBadan"
                          name="JenisBadan" >
                          <option value="0">{{ '--Pilih Jenis Badan--'}}</option>
                          <option *ngFor="let item of JenisBadanList" value="{{item.id}}">{{ item.name }}
                          </option>
                        </select>
                        <small class="strik m--font-danger"
                          *ngIf="(submitted || f.JenisBadan.touched) && f.JenisBadan.errors && (f.JenisBadan.errors.required || f.JenisBadan.errors.min)">
                          Jenis Badan adalah wajib!
                        </small>
                      </div>
                      <!-- <div class="col-sm-4">
                        <label class="col-form-label">Jenis Laporan -{{JenisLaporan}}- <span class="strik m--font-danger">*</span></label>
                        <select class="form-control" [(ngModel)]="JenisLaporan" formControlName="JenisLaporan"
                          name="JenisLaporan" (change)="onChangeType()">
                          <option value="0">{{ '--Pilih Jenis Laporan--'}}</option>
                          <option *ngFor="let item of JenisLaporanList" value="{{item.id}}">{{ item.name }}
                          </option>
                        </select>
                        <small class="strik m--font-danger"
                          *ngIf="(submitted || f.JenisLaporan.touched) && f.JenisLaporan.errors && (f.JenisLaporan.errors.required || f.JenisLaporan.errors.min)">
                          Jenis Laporan adalah wajib!
                        </small>
                      </div> -->
                      <!-- <div class="col-sm-4">
                        <label class="col-form-label">Bulan / Tahun <span class="strik m--font-danger">*</span><span
                            class="help">(Example :
                            12/2020)</span></label>
                        <div class="input-group">
                          <input #dateInputBulanTahun class="hidden-date-input" [matDatepicker]="datepickerBulanTahun"
                            formControlName="BulanTahun" readonly>
                          <input placeholder="Masukkan Bulan & Tahun" class="form-control"
                            (click)="datepickerBulanTahun.open()" [readonly]="true"
                            [ngModelOptions]="{standalone: true}" [(ngModel)]="DisplayMonthYear">
                          <mat-datepicker-toggle matSuffix [for]="datepickerBulanTahun"></mat-datepicker-toggle>
                          <mat-datepicker #datepickerBulanTahun disabled="false" (closed)="dateInputBulanTahun.blur()"
                            startView="multi-year" (yearSelected)="chosenYearHandler($event)"
                            (monthSelected)="chosenMonthHandler($event, datepickerBulanTahun)"></mat-datepicker>
                        </div>
                        <small class="strik m--font-danger"
                          *ngIf="(submitted || f.BulanTahun.touched) && f.BulanTahun.errors && f.BulanTahun.errors.required">
                          Bulan & Tahun adalah wajib!
                        </small>
                      </div>
                      <div class="col-sm-4">
                        <label class="col-form-label">Tahun <span class="strik m--font-danger">*</span><span
                            class="help">(Example :
                            2020)</span></label>
                        <div class="input-group">
                          <input #dateInputTahun class="hidden-date-input" [matDatepicker]="datepickerTahun"
                            formControlName="Tahun" readonly>
                          <input placeholder="Masukkan Tahun" class="form-control" (click)="datepickerTahun.open()"
                            [readonly]="true" [ngModelOptions]="{standalone: true}" [(ngModel)]="DisplayYear">
                          <mat-datepicker-toggle matSuffix [for]="datepickerTahun"></mat-datepicker-toggle>
                          <mat-datepicker #datepickerTahun disabled="false" (closed)="dateInputTahun.blur()"
                            startView="multi-year" (yearSelected)="chosenYearHandler($event)"
                            (yearSelected)="chosenYearHandlerOnly($event, datepickerTahun)"></mat-datepicker>
                        </div>
                        <small class="strik m--font-danger"
                          *ngIf="(submitted || f.Tahun.touched) && f.Tahun.errors && f.Tahun.errors.required">
                          Tahun adalah wajib!
                        </small>
                      </div> -->
                      <div class="col-sm-4">
                        <label class="col-form-label">Tarikh Mula <span class="strik m--font-danger">*</span><span
                            class="help">(Example :
                            31/12/2020)</span></label>
                        <div class="input-group">
                          <input formControlName="TarikhMulaLaporan" spellcheck="false" class="form-control"
                            maxlength="10" [matDatepicker]="pickerTarikhMulaLaporan" [(ngModel)]="TarikhMulaLaporan"
                            placeholder="Masukkan Tarikh Mula">
                          <mat-datepicker-toggle matSuffix [for]="pickerTarikhMulaLaporan"></mat-datepicker-toggle>
                          <mat-datepicker #pickerTarikhMulaLaporan></mat-datepicker>
                        </div>
                        <small class="strik m--font-danger"
                          *ngIf="(submitted || f.TarikhMulaLaporan.touched) && f.TarikhMulaLaporan.errors && f.TarikhMulaLaporan.errors.required">
                          Tarikh Mula adalah wajib!
                        </small>
                        <small class="strik m--font-danger"
                          *ngIf="(submitted || f.TarikhMulaLaporan.touched) && f.TarikhMulaLaporan.errors && f.TarikhMulaLaporan.errors.exceed">
                          Tarikh Akhir tidak melebihi Tarikh Mula
                        </small>
                      </div>
                      <div class="col-sm-4" >
                        <label class="col-form-label">Tarikh Akhir <span class="strik m--font-danger">*</span><span
                            class="help">(Example :
                            31/12/2020)</span></label>
                        <div class="input-group">
                          <input formControlName="TarikhAkhirLaporan" spellcheck="false" class="form-control"
                            maxlength="10" [matDatepicker]="pickerTarikhAkhirLaporan" [(ngModel)]="TarikhAkhirLaporan"
                            placeholder="Masukkan Tarikh Akhir">
                          <mat-datepicker-toggle matSuffix [for]="pickerTarikhAkhirLaporan"></mat-datepicker-toggle>
                          <mat-datepicker #pickerTarikhAkhirLaporan></mat-datepicker>
                        </div>
                        <small class="strik m--font-danger"
                          *ngIf="(submitted || f.TarikhAkhirLaporan.touched) && f.TarikhAkhirLaporan.errors && f.TarikhAkhirLaporan.errors.required">
                          Tarikh Akhir adalah wajib!
                        </small>
                        <small class="strik m--font-danger"
                          *ngIf="(submitted || f.TarikhAkhirLaporan.touched) && f.TarikhAkhirLaporan.errors && f.TarikhAkhirLaporan.errors.exceed">
                          Tarikh Akhir tidak melebihi Tarikh Mula
                        </small>
                      </div>
                      <!-- <div class="col-sm-4" *ngIf="JenisLaporan == 3">
                        <label class="col-form-label">No. Gaji <span class="strik m--font-danger">*</span></label>
                        <input class="form-control" formControlName="NoGaji" name="NoGaji" type="text"
                          placeholder="No. Gaji">
                        <small class="strik m--font-danger"
                          *ngIf="(submitted || f.NoGaji.touched) && f.NoGaji.errors && f.NoGaji.errors.required">
                          No. Gaji adalah wajib!
                        </small>
                      </div> -->
                    </div>
                  </div>
                </div>
                <div class="text-right mt-4">
                  <button mat-raised-button class="red-button mr-2" (click)="reset()"><i class="fa fa-retweet"></i>
                    {{'Reset'}} </button>
                  <button mat-raised-button class="blue-button" (click)="search()"><i class="fa fa-search"></i>
                    {{'Cari'}} </button>
                </div>
              </div>
            </div>
          </div>
        </form>     
        <div class="m-grid__item m-grid__item--fluid m-wrapper mt-3 {{showList ? '' : 'hide-list'}}" >
          <div class="primeng-datatable-container">
            <p-table class="" id="dataTable1" #dataTable (onLazyLoad)="getLaporanJenisKenderaanList($event); "
              (selectionChange)="onSelectionChange($event)" [value]="primengTableHelper.records"
              rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true"
              [scrollable]="true" ScrollWidth="100%" [responsive]="primengTableHelper.isResponsive"
              [resizableColumns]="primengTableHelper.resizableColumns">
              <!-- <ng-template pTemplate="caption">
                <div class="ui-helper-clearfix" style="text-align: right" >
                  <button mat-raised-button class="purple-button mr-2" (click)="printTablePdf()">
                    <mat-icon aria-label="Example icon-button with a heart icon">print</mat-icon>
                    Pdf
                  </button>
                  <button mat-raised-button class="purple-button" (click)="printTableExcel()">
                    <mat-icon aria-label="Example icon-button with a heart icon">print</mat-icon>
                    Excel
                  </button>
                </div>
              </ng-template> -->
              <ng-template pTemplate="header">               
                <tr >
                  <th style="width: 40px " class="text-center">
                    {{'No.'}}
                  </th>
                  <th style="width: 60px;">
                    {{'No. Notis'}}
                  </th>
                  <th style="width: 100px">
                    {{'Nama'}}
                  </th>
                  <th style="width: 100px">
                    {{'Nama Pemandu'}}
                  </th>
                  <th style="width: 100px">
                    {{'No. KP Pemandu'}}
                  </th>
                  <th style="width: 100px " class="text-right">
                    {{'Jumlah Kompaun (RM)'}}
                  </th>
                  <th style="width: 60px">
                    {{'Tarikh Kesalahan'}}
                  </th>
                  <th style="width: 60px">
                    {{'No. Kenderaan'}}
                  </th>
                  <th style="width: 60px">
                    {{'No. Resit'}}
                  </th>
                  <th style="width: 60px">
                    {{'Tarikh Bayaran'}}
                  </th>
                  <th style="width: 100px">
                    {{'Lokasi'}}
                  </th>
                  <th style="width: 100px " class="text-right">
                    {{'Jumlah Bayaran (RM)'}}
                  </th>
                  <th style="width: 100px">
                    {{'Jenis Kenderaan'}}
                  </th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-record="$implicit" let-rowIndex="rowIndex" let-columns="columns">                
                <tr [pSelectableRow]="record" >
                  <td style="width: 40px " class="text-center">
                    {{(paginator.getPage() * paginator.rows) + (rowIndex+1)}}
                  </td>
                  <td style="width: 60px ">
                    <span class="ui-column-title"></span>
                    {{record.NoNotis}}
                  </td>
                  <td style="width: 100px ">
                    <span class="ui-column-title"></span>
                    {{record.NamaPesalah}}
                  </td>
                  <td style="width: 100px ">
                    <span class="ui-column-title"></span>
                    {{record.NamaPemandu}}
                  </td>
                  <td style="width: 100px ">
                    <span class="ui-column-title"></span>
                    {{record.KpPemandu}}
                  </td>
                  <td style="width: 100px " class="text-right">
                    <span class="ui-column-title"></span>
                    {{record.Kompaun}}
                  </td>
                  <td style="width: 60px ">
                    <span class="ui-column-title"></span>
                    {{record.TarikhKesalahan}}
                  </td>
                  <td style="width: 60px ">
                    <span class="ui-column-title"></span>
                    {{record.NoKenderaan}}
                  </td>
                  <td style="width: 60px ">
                    <span class="ui-column-title"></span>
                    {{record.NoResit}}
                  </td>
                  <td style="width: 60px ">
                    <span class="ui-column-title"></span>
                    {{record.TarikhBayaran}}
                  </td>
                  <td style="width: 100px ">
                    <span class="ui-column-title"></span>
                    {{record.Lokasi}}
                  </td>
                  <td style="width: 100px " class="text-right">
                    <span class="ui-column-title"></span>
                    {{record.Bayaran}}
                  </td>
                  <td style="width: 100px ">
                    <span class="ui-column-title"></span>
                    {{record.JenisKenderaan}}
                  </td>
                </tr>
              </ng-template>
            </p-table>
            <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0 && JenisLaporan != 0">
              {{'Tiada Rekod'}}
            </div>
            <div class="primeng-paging-container {{primengTableHelper.totalRecordsCount == 0 ? 'hide-list' : ''}}"
              style="position: relative;">
              <p-paginator rows="{{primengTableHelper.defaultRecordsCountPerPage}}" #paginator
                (onPageChange)="getLaporanJenisKenderaanList($event)" [totalRecords]="primengTableHelper.totalRecordsCount"
                [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
              </p-paginator>
            </div>
            <div class="text-right" *ngIf="JenisLaporan != 0">
              <span style=" top:3px; right:5px; margin: 5px;">Jumlah Rekod :
                {{primengTableHelper.totalRecordsCount}}</span>
            </div>
            <div class="btn-group" dropdown *ngIf="JenisLaporan != 0">
              <button mat-raised-button id="button-print" dropdownToggle class="purple-button mr-2"
                aria-controls="dropdown-print">
                <mat-icon aria-label="Example icon-button with a heart icon">print</mat-icon>
                Cetak
              </button>
              <ul id="dropdown-print" *dropdownMenu class="dropdown-menu mt-1 ml-2" role="menu"
                aria-labelledby="button-print" style="cursor: pointer;">
                <li role="menuitem"><a class="dropdown-item" (click)="printTablePdf()">Cetak Laporan</a></li>
                <li role="menuitem"><a class="dropdown-item" (click)="printTableExcel()">Eksport Ke Excel</a></li>
              </ul>
            </div>           
          </div>
        </div>
      </div>
    </div>
  </div>
</div>