<app-mat-spinner-overlay overlay="true" *ngIf="showSpinner"></app-mat-spinner-overlay>
<form novalidate [formGroup]="form">
  <div class="m-grid__item m-grid__item--fluid m-wrapper ">
    <div class="m-content">
      <div class="m-portlet m-portlet--bordered-semi m-portlet--unair">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <h3 class="m-portlet__head-text">
                <a style="color:blue;" routerLink="/app/rayuan/senarai-rayuan/{{FromMenu}}"
                  *ngIf="FromMenu != 'kemasukan'">Carian
                  Rayuan</a>
                <i class="fa fa-chevron-right mr-2 ml-2" aria-hidden="true" *ngIf="FromMenu != 'kemasukan'"></i>
                {{FormTitle}}
                Rayuan
              </h3>
            </div>
          </div>
        </div>
        <div id="content">
          <div class="m-portlet__body">
            <div class="row">
              <div class="col-sm-12">
                <div class="card mb-3">
                  <div class="card-header"><strong>Maklumat Rayuan</strong></div>
                  <div class="card-body">
                    <div class="form-group">
                      <div class="form-item row">
                        <div class="col-sm-6 col-set">
                          <div class="col-sm-12">
                            <label class="col-form-label">No. Notis <span class="strik m--font-danger"
                                *ngIf="FormType == 'add' || FormType == 'edit'">*</span></label>
                            <input class="form-control" formControlName="NoNotis" name="NoNotis" type="text"
                              placeholder="No. Notis">
                            <small class="strik m--font-danger"
                              *ngIf="(FormType == 'add' || FormType == 'edit') && (submitted || f.NoNotis.touched) && f.NoNotis.errors && f.NoNotis.errors.required">
                              Maklumat No. Notis adalah wajib!
                            </small>
                          </div>
                          <div class="col-sm-12">
                            <label class="col-form-label">Status Pemilikan <span class="strik m--font-danger"
                                *ngIf="FormType != 'view'">*</span></label>
                            <div class="col-sm-12">
                              <mat-radio-group #rGroup layout="row" [(ngModel)]="StatusPemohon"
                                formControlName="StatusPemohon">
                                <mat-radio-button [value]="1" class="mr-3" radioGroup="rGroup">Pemilik
                                </mat-radio-button>
                                <mat-radio-button [value]="2" class="mr-3" radioGroup="rGroup">Bukan Pemilik
                                </mat-radio-button>
                              </mat-radio-group>
                            </div>
                            <small class="strik m--font-danger"
                              *ngIf="(FormType == 'add' || FormType == 'edit') && (submitted || f.StatusPemohon.touched) && f.StatusPemohon.errors && (f.StatusPemohon.errors.required || f.StatusPemohon.errors.min)">
                              Status pemilikan adalah wajib!
                            </small>
                          </div>
                          <div class="col-sm-12">
                            <label class="col-form-label">Nama Pemohon <span class="strik m--font-danger"
                                *ngIf="FormType == 'add' || FormType == 'edit'">*</span></label>
                            <input class="form-control" formControlName="NamaPemohon" name="NamaPemohon" type="text"
                              placeholder="Nama Pemohon">
                            <small class="strik m--font-danger"
                              *ngIf="(FormType == 'add' || FormType == 'edit') && (submitted || f.NamaPemohon.touched) && f.NamaPemohon.errors && f.NamaPemohon.errors.required">
                              Maklumat Nama Pemohon adalah wajib!
                            </small>
                          </div>
                          <div class="col-sm-12">
                            <label class="col-form-label">No. KP / Syarikat Pemohon <span class="strik m--font-danger"
                                *ngIf="FormType == 'add' || FormType == 'edit'">*</span></label>
                            <input class="form-control" formControlName="NoPemohon" name="NoPemohon" type="text"
                              placeholder="No. KP / Syarikat">
                            <small class="strik m--font-danger"
                              *ngIf="(FormType == 'add' || FormType == 'edit') && (submitted || f.NoPemohon.touched) && f.NoPemohon.errors && f.NoPemohon.errors.required">
                              Maklumat No. KP / Syarikat Pemohon adalah wajib!
                            </small>
                          </div>
                          <div class="col-sm-12">
                            <label class="col-form-label">No. Telefon <span class="strik m--font-danger"
                                *ngIf="FormType == 'add' || FormType == 'edit'">*</span><span class="help">(Contoh:
                                0129998888)</span></label>
                            <input class="form-control" numberOnly formControlName="NoTel" name="NoTel" type="text"
                              placeholder="No. Telefon" maxlength="15">
                            <small class="strik m--font-danger"
                              *ngIf="(FormType == 'add' || FormType == 'edit') && (submitted || f.NoTel.touched) && f.NoTel.errors && f.NoTel.errors.required">
                              Maklumat No. Telefon Pemohon adalah wajib!
                            </small>
                          </div>
                          <div class="col-sm-12">
                            <label class="col-form-label">Emel <span class="strik m--font-danger"
                                *ngIf="FormType == 'add' || FormType == 'edit'">*</span><span class="help">(Contoh:
                                nama@email.com)</span></label>
                            <input class="form-control" formControlName="Emel" name="Emel" type="text"
                              placeholder="Emel" maxlength="50">
                            <small class="strik m--font-danger"
                              *ngIf="(FormType == 'add' || FormType == 'edit') && (submitted || f.Emel.touched) && f.Emel.errors && f.Emel.errors.pattern">Masukkan
                              Format Emel yang sah!</small>
                            <small class="strik m--font-danger"
                              *ngIf="(FormType == 'add' || FormType == 'edit') && (submitted || f.Emel.touched) && f.Emel.errors && f.Emel.errors.required">
                              Maklumat Emel Pemohon adalah wajib!
                            </small>
                          </div>
                          <div class="col-sm-12">
                            <label class="col-form-label">Tarikh Permohonan <span class="strik m--font-danger"
                                *ngIf="FormType != 'view'">*</span><span class="help">(Contoh:
                                31/12/2020)</span></label>
                            <div class="input-group">
                              <input formControlName="TarikhMohon" spellcheck="false" class="form-control"
                                maxlength="10" [matDatepicker]="pickerTarikhMohon" [(ngModel)]="TarikhMohon"
                                placeholder="Tarikh Permohonan">
                              <mat-datepicker-toggle matSuffix [for]="pickerTarikhMohon"></mat-datepicker-toggle>
                              <mat-datepicker #pickerTarikhMohon></mat-datepicker>
                            </div>
                            <small class="strik m--font-danger"
                              *ngIf="(FormType != 'view') && (submitted || f.TarikhMohon.touched) && f.TarikhMohon.errors && f.TarikhMohon.errors.required">
                              Tarikh Permohonan adalah wajib!
                            </small>
                            <small class="strik m--font-danger"
                              *ngIf="(FormType != 'view') && (submitted || f.TarikhMohon.touched) && f.TarikhMohon.errors && f.TarikhMohon.errors.exceed">
                              Tarikh Permohonan tidak melebihi Tarikh Semasa!
                            </small>
                          </div>
                          <div class="col-sm-12">
                            <label class="col-form-label">Cara Maklumbalas Permohonan <span class="strik m--font-danger"
                                *ngIf="FormType != 'view'">*</span></label>
                            <div class="col-sm-12">
                              <mat-radio-group #rGroupCaraMaklumbalas layout="row" [(ngModel)]="CaraMaklumbalas"
                                formControlName="CaraMaklumbalas">
                                <mat-radio-button [value]="1" class="mr-3" radioGroup="rGroupCaraMaklumbalas">Surat
                                </mat-radio-button>
                                <mat-radio-button [value]="2" class="mr-3" radioGroup="rGroupCaraMaklumbalas">Emel
                                </mat-radio-button>
                              </mat-radio-group>
                            </div>
                            <small class="strik m--font-danger"
                              *ngIf="(FormType == 'add' || FormType == 'edit') && (submitted || f.CaraMaklumbalas.touched) && f.CaraMaklumbalas.errors && (f.CaraMaklumbalas.errors.required || f.CaraMaklumbalas.errors.min)">
                              Cara Maklumbalas Permohonan adalah wajib!
                            </small>
                          </div>
                        </div>
                        <div class="col-sm-6 col-set">
                          <div class="col-sm-12">
                            <label class="col-form-label">Alamat<span class="strik m--font-danger"
                                *ngIf="FormType == 'add' || FormType == 'edit'">*</span></label>
                            <input class="form-control" formControlName="AlamatPemohon1" name="AlamatPemohon1"
                              type="text" placeholder="Alamat">
                            <small class="strik m--font-danger"
                              *ngIf="(FormType == 'add' || FormType == 'edit') && (submitted || f.AlamatPemohon1.touched) && f.AlamatPemohon1.errors && f.AlamatPemohon1.errors.required">
                              Maklumat Alamat adalah wajib!
                            </small>
                            <input class="form-control mt-1" formControlName="AlamatPemohon2" name="AlamatPemohon2"
                              type="text" placeholder="Alamat">
                            <input class="form-control mt-1" formControlName="AlamatPemohon3" name="AlamatPemohon3"
                              type="text" placeholder="Alamat">
                          </div>
                          <div class="col-sm-12">
                            <div class="form-item row">
                              <div class="col-sm-4">
                                <label class="col-form-label">Poskod<span class="strik m--font-danger"
                                    *ngIf="FormType == 'add' || FormType == 'edit'">*</span></label>
                                <input class="form-control" formControlName="PoskodPemohon" name="PoskodPemohon"
                                  numberOnly type="text" placeholder="Poskod" maxlength="5">
                                <small class="strik m--font-danger"
                                  *ngIf="(FormType == 'add' || FormType == 'edit') && (submitted || f.PoskodPemohon.touched) && f.PoskodPemohon.errors && f.PoskodPemohon.errors.required">
                                  Maklumat Poskod adalah wajib!
                                </small>
                                <small class="strik m--font-danger"
                                  *ngIf="(FormType == 'add' || FormType == 'edit') && (submitted || f.PoskodPemohon.touched) && f.PoskodPemohon.errors && (f.PoskodPemohon.errors.minlength || f.PoskodPemohon.errors.minlength)">
                                  Poskod mestilah 5 aksara
                                </small>
                              </div>
                              <div class="col-sm-8">
                                <label class="col-form-label">Negeri <span class="strik m--font-danger"
                                    *ngIf="FormType == 'add' || FormType == 'edit'">*</span></label>
                                <select class="form-control" [(ngModel)]="NegeriPemohon" formControlName="NegeriPemohon"
                                  name="NegeriPemohon">
                                  <option value="0">{{ '--Pilih Negeri--'}}</option>
                                  <option *ngFor="let item of NegeriList" value="{{item.id}}">{{ item.name }}
                                  </option>
                                </select>
                                <small class="strik m--font-danger"
                                  *ngIf="(FormType == 'add' || FormType == 'edit') && (submitted || f.NegeriPemohon.touched) && f.NegeriPemohon.errors && (f.NegeriPemohon.errors.required || f.NegeriPemohon.errors.min)">
                                  Negeri adalah wajib!
                                </small>
                              </div>
                            </div>
                          </div>
                          <div class="col-sm-12">
                            <label class="col-form-label">Tarikh Kesalahan <span class="strik m--font-danger"
                                *ngIf="FormType != 'view'">*</span><span class="help">(Contoh:
                                31/12/2020)</span></label>
                            <div class="input-group">
                              <input formControlName="TarikhKesalahan" spellcheck="false" class="form-control"
                                maxlength="10" [matDatepicker]="pickerTarikhKesalahan" [(ngModel)]="TarikhKesalahan"
                                placeholder="Tarikh Kesalahan">
                              <mat-datepicker-toggle matSuffix [for]="pickerTarikhKesalahan"></mat-datepicker-toggle>
                              <mat-datepicker #pickerTarikhKesalahan></mat-datepicker>
                            </div>
                            <small class="strik m--font-danger"
                              *ngIf="(FormType != 'view') && (submitted || f.TarikhKesalahan.touched) && f.TarikhKesalahan.errors && f.TarikhKesalahan.errors.required">
                              Tarikh Kesalahan adalah wajib!
                            </small>
                            <small class="strik m--font-danger"
                              *ngIf="(FormType != 'view') && (submitted || f.TarikhKesalahan.touched) && f.TarikhKesalahan.errors && f.TarikhKesalahan.errors.exceed">
                              Tarikh Kesalahan tidak melebihi Tarikh Semasa!
                            </small>
                          </div>
                          <div class="col-sm-12">
                            <label class="col-form-label">Jenis Kesalahan <span class="strik m--font-danger"
                                *ngIf="FormType != 'view'">*</span></label>
                            <div class="col-sm-12">
                              <mat-radio-group #rGroupJenisKesalahan class="vartical-radio-group"
                                [(ngModel)]="JenisKesalahan" formControlName="JenisKesalahan">
                                <ng-container *ngFor="let item of JenisKesalahanList; let i = index">
                                  <mat-radio-button [value]="item.id" class="mr-3" radioGroup="rGroupJenisKesalahan">
                                    {{item.name}}
                                  </mat-radio-button>
                                </ng-container>
                              </mat-radio-group>
                            </div>
                            <small class="strik m--font-danger"
                              *ngIf="(FormType == 'add' || FormType == 'edit') && (submitted || f.JenisKesalahan.touched) && f.JenisKesalahan.errors && (f.JenisKesalahan.errors.required || f.JenisKesalahan.errors.min)">
                              Jenis Kesalahan adalah wajib!
                            </small>
                          </div>
                          <div class="col-sm-12" *ngIf="JenisKesalahan == 4">
                            <label class="col-form-label">Keterangan Lain - Lain Kesalahan<span
                                class="strik m--font-danger"
                                *ngIf="FormType == 'add' || FormType == 'edit'">*</span></label>
                            <textarea class="form-control" formControlName="LainKesalahan" name="LainKesalahan" rows="1"
                              placeholder="Keterangan Lain - Lain Kesalahan"></textarea>
                            <small class="strik m--font-danger"
                              *ngIf="(FormType == 'add' || FormType == 'edit') && (submitted || f.LainKesalahan.touched) && f.LainKesalahan.errors && f.LainKesalahan.errors.required">
                              Maklumat Keterangan Lain Kesalahan adalah wajib!
                            </small>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card mb-3" *ngIf="FromMenu != 'kemasukan'">
                  <div class="card-header"><strong>Alasan Rayuan <span class="strik m--font-danger"
                        *ngIf="FormType == 'add' || FormType == 'edit'">*</span></strong></div>
                  <div class="card-body">
                    <div class="form-group">
                      <div class="form-item row">
                        <div class="form-group col-sm-12">
                          <small class="strik m--font-danger"
                            *ngIf="(FormType == 'add' || FormType == 'edit') && (submitted || f.LainAlasan.touched) && f.LainAlasan.errors && f.LainAlasan.errors.required">
                            Sila Pilih Alasan Rayuan!
                          </small>
                        </div>
                      </div>
                      <div class="form-item row">
                        <div class="form-group col-sm-12">
                          <div class="input-group">
                            <div class="col-sm-6" *ngFor="let item of AlasanRayuanList; let i = index">
                              <mat-checkbox class="mr-4" [disabled]="item.disabled" [checked]="item.checked"
                                name="item.name" (change)="pilihAlasan($event,item.id)">{{item.name}}</mat-checkbox>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="form-item row">
                        <div class="col-sm-6">
                          <label class="col-form-label">Lain - Lain
                          </label>
                          <textarea class="form-control" formControlName="LainAlasan" name="LainAlasan" rows="5"
                            placeholder="Keterangan Lain - Lain Alasan"
                            [attr.disabled]="FormType == 'view' ? true : null"></textarea>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card mb-3">
                  <div class="card-header"><strong>Dokumen Sokongan</strong></div>
                  <div class="card-body">
                    <div class="form-group">
                      <small class="strik m--font-danger" *ngIf="Id == 0">
                        Pastikan maklumat rayuan disimpan terlebih dahulu untuk memuatnaik dokumen sokongan!
                      </small>
                      <div class="m-grid__item m-grid__item--fluid m-wrapper {{Id == 0 ? 'hide-list' : ''}}" >
                        <div class="primeng-datatable-container">
                          <p-table class="" id="dataTable1" #dataTable (onLazyLoad)="getDokumenSokonganList($event); "
                            (selectionChange)="onSelectionChange($event)" [value]="primengTableHelper.records"
                            rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true"
                            [scrollable]="true" ScrollWidth="100%" [responsive]="primengTableHelper.isResponsive"
                            [resizableColumns]="primengTableHelper.resizableColumns" selectionMode="multiple"
                            (onRowSelect)="onRowSelect($event)">
                            <ng-template pTemplate="caption" *ngIf="FormType != 'view'">
                              <div class="ui-helper-clearfix" style="text-align: right">
                                <button mat-raised-button class="green-button" (click)="uploadFile(0,'add')">
                                  <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
                                  Tambah Dokumen
                                </button>
                              </div>
                            </ng-template>
                            <ng-template pTemplate="header">
                              <tr>
                                <th style="width: 40px " class="text-center stickColumnLeft" *ngIf="FormType != 'view'">
                                  <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                                </th>
                                <th style="width: 40px " class="text-center">
                                  {{'#'}}
                                </th>
                                <th style="width: 200px " pSortableColumn="Nama">
                                  {{'Nama'}}
                                  <p-sortIcon field="Nama"></p-sortIcon>
                                </th>
                                <th style="width: 300px ">
                                  {{'Keterangan'}}
                                </th>
                                <th style="width: 200px"  class="text-center">
                                  {{'Dokumen'}}
                                </th>
                                <th style="width: 100px" class="text-center stickColumnRight" *ngIf="FormType != 'view'">
                                  {{'Tindakan'}}
                                </th>
                              </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-record="$implicit" let-rowIndex="rowIndex"
                              let-columns="columns">
                              <tr [pSelectableRow]="record" [pSelectableRowDisabled]="">
                                <td style="width: 40px" class="text-center stickColumnLeft" *ngIf="FormType != 'view'">
                                  <p-tableCheckbox [value]="record"></p-tableCheckbox>
                                </td>
                                <td style="width: 40px " class="text-center">
                                  {{(paginator.getPage() * paginator.rows) + (rowIndex+1)}}
                                </td>
                                <td style="width: 200px ">
                                  <span class="ui-column-title"></span>
                                  {{record.Nama}}
                                </td>
                                <td style="width: 300px ">
                                  <span class="ui-column-title"></span>
                                  {{record.Keterangan}}
                                </td>
                                <td style="width: 200px " class="text-center">
                                  <span class="ui-column-title"></span>
                                  <a class="fa fa-download mr-2" title="Muat Turun Dokumen" target="_blank"
                                    [href]="record.Pakej"> </a>
                                </td>
                                <td style="width: 100px " class="text-center stickColumnRight" *ngIf="FormType != 'view'">
                                  <i class="flaticon-edit ml-2" aria-hidden="true" style="cursor: pointer;"
                                    title="Kemaskini Maklumat" (click)="uploadFile(record.Id,'edit')"></i>
                                </td>
                              </tr>
                            </ng-template>
                          </p-table>
                          <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                            {{'NoData'}}
                          </div>
                          <div class="primeng-paging-container" style="position: relative;">
                            <p-paginator rows="{{primengTableHelper.defaultRecordsCountPerPage}}" #paginator
                              (onPageChange)="getDokumenSokonganList($event)"
                              [totalRecords]="primengTableHelper.totalRecordsCount"
                              [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                            </p-paginator>
                          </div>
                          <div class="text-right">
                            <span style=" top:3px; right:5px; margin: 5px;">Total records :
                              {{primengTableHelper.totalRecordsCount}}</span>
                          </div>
                          <div *ngIf="primengTableHelper.totalRecordsCount > 0 && FormType != 'view'" >
                            <button class="red-button mr-2" mat-raised-button (click)="delete()"
                              [disabled]="this.selection.isEmpty()">
                              <mat-icon aria-label="Example icon-button with a heart icon">delete</mat-icon>
                              Hapus Pilihan
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card mb-3">
                  <div class="card-header"><strong>Maklumat Pendaftar</strong></div>
                  <div class="card-body">
                    <div class="form-group">
                      <div class="form-item row">
                        <div class="col-sm-6">
                          <label class="col-form-label">ID Penguatkuasa <span class="strik m--font-danger"
                              *ngIf="FormType == 'add' || FormType == 'edit'">*</span></label>
                          <select class="form-control" [(ngModel)]="IdPenguatkuasaPendaftar"
                            formControlName="IdPenguatkuasaPendaftar" name="IdPenguatkuasaPendaftar">
                            <option value="0">{{ '--Pilih Penguatkuasa--'}}</option>
                            <option *ngFor="let item of PenguatkuasaList" value="{{item.id}}">{{ item.name }}
                            </option>
                          </select>
                          <small class="strik m--font-danger"
                            *ngIf="(FormType == 'add' || FormType == 'edit') && (submitted || f.IdPenguatkuasaPendaftar.touched) && f.IdPenguatkuasaPendaftar.errors && (f.IdPenguatkuasaPendaftar.errors.required || f.IdPenguatkuasaPendaftar.errors.min)">
                            ID Penguatkuasa adalah wajib!
                          </small>
                        </div>
                        <div class="col-sm-6">
                          <label class="col-form-label">No. Badan <span class="strik m--font-danger"
                              *ngIf="FormType == 'add' || FormType == 'edit'">*</span></label>
                          <input class="form-control" formControlName="NoBadanPendaftar" name="NoBadanPendaftar"
                            type="text" placeholder="No. Badan ">
                          <small class="strik m--font-danger"
                            *ngIf="(FormType == 'add' || FormType == 'edit') && (submitted || f.NoBadanPendaftar.touched) && f.NoBadanPendaftar.errors && f.NoBadanPendaftar.errors.required">
                            Maklumat No. Badan adalah wajib!
                          </small>
                        </div>
                        <div class="col-sm-6">
                          <label class="col-form-label">Waktu Terima<span class="strik m--font-danger"
                              *ngIf="FormType == 'add' || FormType == 'edit'">*</span><span class="help">(Contoh:
                              08:30 AM)</span></label>
                          <input type="time" [(ngModel)]="WaktuPendaftar" formControlName="WaktuPendaftar" maxlength="5"
                            name="WaktuPendaftar" class="form-control" placeholder="Waktu Terima"
                            [attr.disabled]="FormType == 'view' ? true : null" />
                          <small class="strik m--font-danger"
                            *ngIf="(FormType == 'add' || FormType == 'edit') && (submitted || f.WaktuPendaftar.touched) && f.WaktuPendaftar.errors && f.WaktuPendaftar.errors.required">
                            Waktu Terima adalah wajib!
                          </small>
                        </div>
                        <div class="col-sm-6">
                          <label class="col-form-label">Tarikh <span class="strik m--font-danger"
                              *ngIf="FormType != 'view'">*</span><span class="help">(Contoh:
                              31/12/2020)</span></label>
                          <div class="input-group">
                            <input formControlName="TarikhPendaftar" spellcheck="false" class="form-control"
                              maxlength="10" [matDatepicker]="pickerTarikhPendaftar" [(ngModel)]="TarikhPendaftar"
                              placeholder="Tarikh">
                            <mat-datepicker-toggle matSuffix [for]="pickerTarikhPendaftar"></mat-datepicker-toggle>
                            <mat-datepicker #pickerTarikhPendaftar></mat-datepicker>
                          </div>
                          <small class="strik m--font-danger"
                            *ngIf="(FormType != 'view') && (submitted || f.TarikhPendaftar.touched) && f.TarikhPendaftar.errors && f.TarikhPendaftar.errors.required">
                            Tarikh adalah wajib!
                          </small>
                          <small class="strik m--font-danger"
                            *ngIf="(FormType != 'view') && (submitted || f.TarikhPendaftar.touched) && f.TarikhPendaftar.errors && f.TarikhPendaftar.errors.exceed">
                            Tarikh tidak melebihi Tarikh Semasa!
                          </small>
                        </div>
                        <div class="col-sm-6">
                          <label class="col-form-label">Catatan<span class="strik m--font-danger"
                              *ngIf="FormType == 'add' || FormType == 'edit'">*</span></label>
                          <textarea class="form-control" formControlName="CatatanPendaftar" name="CatatanPendaftar"
                            rows="1" placeholder="Catatan"></textarea>
                          <small class="strik m--font-danger"
                            *ngIf="(FormType == 'add' || FormType == 'edit') && (submitted || f.CatatanPendaftar.touched) && f.CatatanPendaftar.errors && f.CatatanPendaftar.errors.required">
                            Catatan adalah wajib!
                          </small>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card mb-3" *ngIf="(FormType == 'view') || FromMenu == 'keputusan'">
                  <div class="card-header"><strong>Maklumat Kelulusan Rayuan</strong></div>
                  <div class="card-body">
                    <div class="form-group">
                      <div class="form-item row">
                        <div class="col-sm-6">
                          <label class="col-form-label">ID Penguatkuasa <span class="strik m--font-danger"
                              *ngIf="FormType == 'keputusan'">*</span></label>
                          <select class="form-control" [(ngModel)]="IdPenguatkuasaPelulus"
                            formControlName="IdPenguatkuasaPelulus" name="IdPenguatkuasaPelulus">
                            <option value="0">{{ '--Pilih Penguatkuasa--'}}</option>
                            <option *ngFor="let item of PenguatkuasaList" value="{{item.id}}">{{ item.name }}
                            </option>
                          </select>
                          <small class="strik m--font-danger"
                            *ngIf="(FormType == 'keputusan') && (submitted || f.IdPenguatkuasaPelulus.touched) && f.IdPenguatkuasaPelulus.errors && (f.IdPenguatkuasaPelulus.errors.required || f.IdPenguatkuasaPelulus.errors.min)">
                            ID Penguatkuasa adalah wajib!
                          </small>
                        </div>
                        <div class="col-sm-6">
                          <label class="col-form-label">No. Badan <span class="strik m--font-danger"
                              *ngIf="FormType == 'keputusan'">*</span></label>
                          <input class="form-control" formControlName="NoBadanPelulus" name="NoBadanPelulus" type="text"
                            placeholder="No. Badan ">
                          <small class="strik m--font-danger"
                            *ngIf="(FormType == 'keputusan') && (submitted || f.NoBadanPelulus.touched) && f.NoBadanPelulus.errors && f.NoBadanPelulus.errors.required">
                            Maklumat No. Badan adalah wajib!
                          </small>
                        </div>
                        <div class="col-sm-6">
                          <label class="col-form-label">Tarikh <span class="strik m--font-danger"
                              *ngIf="FormType == 'keputusan'">*</span><span class="help">(Contoh:
                              31/12/2020)</span></label>
                          <div class="input-group">
                            <input formControlName="TarikhPelulus" spellcheck="false" class="form-control"
                              maxlength="10" [matDatepicker]="pickerTarikhPelulus" [(ngModel)]="TarikhPelulus"
                              placeholder="Tarikh">
                            <mat-datepicker-toggle matSuffix [for]="pickerTarikhPelulus"></mat-datepicker-toggle>
                            <mat-datepicker #pickerTarikhPelulus></mat-datepicker>
                          </div>
                          <small class="strik m--font-danger"
                            *ngIf="(FormType == 'keputusan') && (submitted || f.TarikhPelulus.touched) && f.TarikhPelulus.errors && f.TarikhPelulus.errors.required">
                            Tarikh adalah wajib!
                          </small>
                          <small class="strik m--font-danger"
                            *ngIf="(FormType == 'keputusan') && (submitted || f.TarikhPelulus.touched) && f.TarikhPelulus.errors && f.TarikhPelulus.errors.exceed">
                            Tarikh tidak melebihi Tarikh Semasa!
                          </small>
                        </div>
                        <div class="col-sm-6">
                          <label class="col-form-label">Catatan<span class="strik m--font-danger"
                              *ngIf="FormType == 'keputusan'">*</span></label>
                          <textarea class="form-control" formControlName="CatatanPelulus" name="CatatanPelulus" rows="1"
                            placeholder="Catatan"></textarea>
                          <small class="strik m--font-danger"
                            *ngIf="(FormType == 'keputusan') && (submitted || f.CatatanPelulus.touched) && f.CatatanPelulus.errors && f.CatatanPelulus.errors.required">
                            Catatan adalah wajib!
                          </small>
                        </div>
                        <div class="col-sm-6 col-set">
                          <div class="col-sm-12">
                            <label class="col-form-label">Keputusan Rayuan <span class="strik m--font-danger"
                                *ngIf="FormType != 'view'">*</span></label>
                            <div class="col-sm-12">
                              <mat-radio-group #rGroupKeputusanRayuan class="vartical-radio-group"
                                [(ngModel)]="KeputusanRayuan" formControlName="KeputusanRayuan">
                                <ng-container *ngFor="let item of KeputusanRayuanList; let i = index">
                                  <mat-radio-button [value]="item.id" class="mr-3" radioGroup="rGroupKeputusanRayuan">
                                    {{item.name}}
                                  </mat-radio-button>
                                </ng-container>
                              </mat-radio-group>
                            </div>
                            <small class="strik m--font-danger"
                              *ngIf="(FormType == 'add' || FormType == 'edit') && (submitted || f.KeputusanRayuan.touched) && f.KeputusanRayuan.errors && (f.KeputusanRayuan.errors.required || f.KeputusanRayuan.errors.min)">
                              Keputusan Rayuan adalah wajib!
                            </small>
                          </div>
                          <div class="col-sm-12" *ngIf="KeputusanRayuan == 3">
                            <label class="col-form-label">Nilai Pengurangan (RM) <span class="strik m--font-danger"
                                *ngIf="FormType == 'add' || FormType == 'edit'">*</span></label>
                            <input class="form-control" formControlName="NilaiPengurangan" name="NilaiPengurangan"
                              appTwoDigitDecimaNumber placeholder="Nilai Pengurangan"
                              [attr.disabled]="FormType == 'view' ? true : null">
                            <small class="strik m--font-danger"
                              *ngIf="(FormType == 'add' || FormType == 'edit') && (submitted || f.NilaiPengurangan.touched) && f.NilaiPengurangan.errors && f.NilaiPengurangan.errors.required">
                              Nilai Pengurangan adalah wajib!
                            </small>
                            <small class="strik m--font-danger"
                              *ngIf="(FormType == 'add' || FormType == 'edit') && (submitted || f.NilaiPengurangan.touched) && f.NilaiPengurangan.errors && f.NilaiPengurangan.errors.min">
                              Nilai Pengurangan mestilah melebihi RM 0!
                            </small>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="text-right mt-4">
                  <button mat-raised-button class="red-button mr-2" (click)="resetForm()"
                    *ngIf="FormType != 'view' || FromMenu == 'keputusan'"><i class="fa fa-retweet"></i>
                    {{'Reset'}} </button>
                  <button mat-raised-button class="green-button  mr-2" (click)="onSave('simpan')" cdkFocusInitial
                    *ngIf="FormType != 'view' || FromMenu == 'keputusan'"><i class="fas fa-save"></i> Simpan </button>
                  <button mat-raised-button class="purple-button  mr-2" (click)="onSave('toSemakan')" cdkFocusInitial
                    *ngIf="FormType != 'view' && Id == 0"><i class="fas fa-arrow-right"></i> Hantar
                  </button>
                  <button mat-raised-button class="purple-button  mr-2" (click)="onSave('toKelulusan')" cdkFocusInitial
                    *ngIf="FormType != 'view' && Id != 0"><i class="fas fa-arrow-right"></i> Hantar
                  </button>
                  <button mat-raised-button class="purple-button  mr-2" (click)="onSave('selesai')" cdkFocusInitial
                    *ngIf="FromMenu == 'keputusan'">
                    <i class="fas fa-check"></i> Sahkan </button>
                  <button mat-raised-button class="blue-button mr-2" cdkFocusInitial (click)="kembali()"><i
                      class="fas fa-angle-double-left"></i>
                    Kembali
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>