<form novalidate [formGroup]="form">
  <div class="m-grid__item m-grid__item--fluid m-wrapper ">
    <div class="m-content">
      <div class="m-portlet m-portlet--bordered-semi m-portlet--unair">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <h3 class="m-portlet__head-text">
                <a style="color:blue;" routerLink="/app/sales/coupon-list">Coupon List</a>
                <i class="fa fa-chevron-right mr-2 ml-2" aria-hidden="true"></i>
                {{CouponId == 0 ? 'Add New Coupon' : 'Edit Coupon'}}
              </h3>
            </div>
          </div>
        </div>
        <div class="m-portlet__body">
          <div class="row ">
            <div class="col-sm-8 mb-5">
              <div class="card mb-3">
                <div class="card-header"><strong>General Info</strong></div>
                <div class="card-body">
                  <div class="form-group">
                    <div class="form-item row">
                      <div class="col-sm-6">
                        <label class="col-form-label">Coupon Name <span class="strik m--font-danger">*</span></label>
                        <input class="form-control" formControlName="Name" name="Name" type="text"
                          placeholder="Campaign Name">
                        <small class="strik m--font-danger"
                          *ngIf="(submitted || f.Name.touched) && f.Name.errors && f.Name.errors.required">
                          Coupon Name is required
                        </small>
                      </div>
                      <div class="col-sm-6">
                        <label class="col-form-label">Coupon Code <span class="strik m--font-danger">*</span></label>
                        <input class="form-control" formControlName="Code" name="Code" type="text"
                          placeholder="Coupon Code">
                        <small class="strik m--font-danger"
                          *ngIf="(submitted || f.Code.touched) && f.Code.errors && f.Code.errors.required">
                          Coupon Code is required
                        </small>
                      </div>
                    </div>
                    <div class="form-item row">
                      <div class="col-sm-6">
                        <label class="col-form-label">Type <span class="strik m--font-danger">*</span></label>
                        <select class="form-control" [(ngModel)]="TypeId" formControlName="TypeId" name="TypeId"
                          required>
                          <option value="0">{{ '--Select Type--'}}</option>
                          <option *ngFor="let item of typeList" value="{{item.id}}">{{ item.name }}
                          </option>
                        </select>
                        <small class="strik m--font-danger"
                          *ngIf="(submitted || f.TypeId.touched) && f.TypeId.errors && (f.TypeId.errors.required || f.TypeId.errors.min)">
                          Type is required
                        </small>
                      </div>
                      <div class="col-sm-6">
                        <label class="col-form-label">Discount Amount <span
                            class="strik m--font-danger">*</span></label>
                        <input class="form-control" formControlName="Discount" name="Discount" appTwoDigitDecimaNumber
                          placeholder="Discount Amount">
                        <small class="strik m--font-danger"
                          *ngIf="(submitted || f.Discount.touched) && f.Discount.errors && f.Discount.errors.required">
                          Discount Amount is required
                        </small>
                      </div>
                    </div>
                    <div class="form-item row">
                      <div class="col-sm-6">
                        <label class="col-form-label">Start Date <span class="strik m--font-danger">*</span><span
                            class="help">(Example : 31/12/2019)</span></label>
                        <div class="input-group">
                          <input formControlName="StartDate" spellcheck="false" class="form-control" maxlength="10"
                            [matDatepicker]="pickerStartDate" [(ngModel)]="StartDate" placeholder="Start Date">
                          <mat-datepicker-toggle matSuffix [for]="pickerStartDate"></mat-datepicker-toggle>
                          <mat-datepicker #pickerStartDate></mat-datepicker>
                        </div>
                        <small class="strik m--font-danger"
                          *ngIf="(submitted || f.StartDate.touched) && (f.StartDate.errors && f.StartDate.errors.required)">
                          Start Date is required
                        </small>
                        <small class="strik m--font-danger"
                          *ngIf="(submitted || f.StartDate.touched) && f.StartDate.errors && f.StartDate.errors.exceed">
                          End Date cant be greater than Start Date
                        </small>
                      </div>
                      <div class="col-sm-6">
                        <label class="col-form-label">Start Time<span class="help">(Example : 08:30 AM)</span></label>
                        <input type="time" [(ngModel)]="StartTime" formControlName="StartTime" maxlength="5"
                          name="StartTime" class="form-control" placeholder="Start Time" />
                        <small class="strik m--font-danger"
                          *ngIf="(submitted || f.StartTime.touched) && f.StartTime.errors && f.StartTime.errors.required">
                          Start Time is required
                        </small>
                        <small class="strik m--font-danger"
                          *ngIf="(submitted || f.StartTime.touched) && f.StartTime.errors && f.StartTime.errors.exceed">
                          End Time cant be greater than Start Time
                        </small>
                      </div>
                    </div>
                    <div class="form-item row">
                      <div class="col-sm-6">
                        <label class="col-form-label">End Date <span class="strik m--font-danger">*</span><span
                            class="help">(Example : 31/12/2019)</span></label>
                        <div class="input-group">
                          <input formControlName="EndDate" spellcheck="false" class="form-control" maxlength="10"
                            [matDatepicker]="pickerEndDate" [(ngModel)]="EndDate" placeholder="End Date">
                          <mat-datepicker-toggle matSuffix [for]="pickerEndDate"></mat-datepicker-toggle>
                          <mat-datepicker #pickerEndDate></mat-datepicker>
                        </div>
                        <small class="strik m--font-danger"
                          *ngIf="(submitted || f.EndDate.touched) && (f.EndDate.errors && f.EndDate.errors.required)">
                          End Date is required
                        </small>
                        <small class="strik m--font-danger"
                          *ngIf="(submitted || f.EndDate.touched) && f.EndDate.errors && f.EndDate.errors.exceed">
                          End Date cant be greater than Start Date
                        </small>
                      </div>
                      <div class="col-sm-6">
                        <label class="col-form-label">End Time <span class="strik m--font-danger">*</span><span
                            class="help">(Example : 08:30 AM)</span></label>
                        <input type="time" [(ngModel)]="EndTime" formControlName="EndTime" maxlength="5" name="EndTime"
                          class="form-control" placeholder="End Time" />
                        <small class="strik m--font-danger"
                          *ngIf="(submitted || f.EndTime.touched) && (f.EndTime.errors && f.EndTime.errors.required)">
                          End Time is required
                        </small>
                        <small class="strik m--font-danger"
                          *ngIf="(submitted || f.EndTime.touched) && f.EndTime.errors && f.EndTime.errors.exceed">
                          End Time cant be greater than Start Time
                        </small>
                      </div>
                    </div>
                    <div class="form-item row">
                      <div class="col-sm-6">
                        <label class="col-form-label">Quantity <span class="strik m--font-danger">*</span></label>
                        <input class="form-control" formControlName="Quantity" name="Quantity" numberOnly maxlength="10" type="text" step="1"
                          placeholder="Quantity">
                        <small class="strik m--font-danger"
                          *ngIf="(submitted || f.Quantity.touched) && f.Quantity.errors && (f.Quantity.errors.required || f.Quantity.errors.min) ">
                          Quantity is required
                        </small>
                      </div>
                      <div class="col-sm-6">
                        <label class="col-form-label">Minimum Purchase <span
                            class="strik m--font-danger">*</span></label>
                        <input class="form-control" formControlName="MinPurchase" name="MinPurchase" numberOnly maxlength="10" type="text"
                          step="1" placeholder="Minimum Purchase">
                        <small class="strik m--font-danger"
                          *ngIf="(submitted || f.MinPurchase.touched) && f.MinPurchase.errors && (f.MinPurchase.errors.required || f.MinPurchase.errors.min) ">
                          Minimum Purchase is required
                        </small>
                      </div>
                    </div>
                    <div class="form-item row">
                      <div class="col-sm-6">
                        <label class="col-form-label">Limit Per Buyer</label>
                        <input class="form-control" formControlName="LimitPerBuyer" name="LimitPerBuyer" numberOnly maxlength="10"
                          step="1" placeholder="Limi Per Buyer">
                        <small class="strik m--font-danger"
                          *ngIf="(submitted || f.LimitPerBuyer.touched) && f.LimitPerBuyer.errors && f.LimitPerBuyer.errors.required">
                          Limit Per Buyer is required
                        </small>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card mb-3">
                <div class="card-header"><strong>Product Involed </strong></div>
                <div class="card-body">
                  <small class="strik m--font-danger" *ngIf="CouponId == 0">
                    Please complete & save the Coupon info before adding the product.
                  </small>
                  <div class="text-right mb-3">
                    <button mat-raised-button class="green-button" (click)="addPorductCoupon()" *ngIf="CouponId > 0">
                      <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
                      Add New Product
                    </button>
                  </div>
                  <div class="primeng-datatable-container">
                    <p-table #dataTable (onLazyLoad)="getProductList($event); "
                      (selectionChange)="onSelectionChange($event)" [value]="primengTableHelper.records"
                      rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true"
                      [scrollable]="true" ScrollWidth="100%" [responsive]="primengTableHelper.isResponsive"
                      [resizableColumns]="primengTableHelper.resizableColumns">
                      <ng-template pTemplate="header">
                        <tr>
                          <th class="text-center" valign="top" style="width: 40px">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                          </th>
                          <th class="text-center" valign="top" style="width: 90px">
                            {{'Product'}}
                          </th>
                          <th pSortableColumn="ProductName" valign="top" style="width: 150px">
                            {{'Name'}}
                            <p-sortIcon field="ProductName"></p-sortIcon>
                          </th>
                          <th valign="top" style="width: 80px">
                            {{'SKU No.'}}
                          </th>
                          <th valign="top" style="width: 80px">
                            {{'Variation'}}
                          </th>
                          <th class="text-right" valign="top" style="width: 80px">
                            {{'Normal Price'}}
                          </th>
                        </tr>
                        <tr>
                          <th class="text-center">
                          </th>
                          <th class="text-center">
                          </th>
                          <th>
                            <input pInputText type="text" style="width: 100%;" class="form-control form-control-small "
                              (input)="dataTable.filter($event.target.value,' ProductName  ', 'contains');"
                              placeholder="Search">
                          </th>
                          <th>
                            <input pInputText type="text" style="width: 100%;" class="form-control form-control-small "
                              (input)="dataTable.filter($event.target.value,' SkuNo  ', 'contains');"
                              placeholder="Search">
                          </th>
                          <th></th>
                          <th></th>
                        </tr>
                      </ng-template>
                      <ng-template pTemplate="body" let-record="$implicit" let-rowIndex="rowIndex"
                        let-columns="columns">
                        <tr [pSelectableRow]="record" [pSelectableRowDisabled]="">
                          <td class="text-center" style="width: 40px" valign="top">
                            <p-tableCheckbox [value]="record"></p-tableCheckbox>
                          </td>
                          <td class="text-center" valign="top" style="width: 90px">
                            <img alt="" height="70" width="70" src="{{record.productImage}}">
                          </td>
                          <td style="width: 150px" valign="top">
                            <span class="ui-column-title"></span>
                            <a style="color:blue; cursor: pointer;" (click)="promotionDetails(record.productId);">
                              {{record.productName}}
                            </a>
                          </td>
                          <td valign="top" style="width: 80px">
                            <span class="ui-column-title"></span>
                            {{record.skuNo}}
                          </td>
                          <td valign="top" style="width: 80px">
                            <span class="ui-column-title "></span>
                            {{record.variation}}
                          </td>
                          <td valign="top" class="text-right" style="width: 80px">
                            <span class="ui-column-title "></span>
                            {{record.normalPrice | currency: ' '}}
                          </td>
                        </tr>
                      </ng-template>
                    </p-table>
                    <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                      {{'NoData'}}
                    </div>
                    <div class="primeng-paging-container" style="position: relative;">
                      <p-paginator rows="{{primengTableHelper.defaultRecordsCountPerPage}}" #paginator
                        (onPageChange)="getProductList($event)" [totalRecords]="primengTableHelper.totalRecordsCount"
                        [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                      </p-paginator>
                      <span style="position: absolute; top:3px; right:5px; margin: 5px;">Total records :
                        {{primengTableHelper.totalRecordsCount}}</span>
                    </div>
                    <div>
                      <button style="margin-top: 10px; margin-bottom: 10px;" class="red-button" mat-raised-button
                        (click)="deleteProduct()" [disabled]="this.selection.isEmpty()">
                        <mat-icon aria-label="Example icon-button with a heart icon">delete</mat-icon>
                        Delete Selected
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-4 ">
              <div class="fixedScollCard">
                <div class="card mb-3 ">
                  <div class="card-header"><strong>Action</strong></div>
                  <div class="card-body">
                    <div class="form-group">
                      <div class="form-item row">
                        <div class="col-sm-12">
                          <label for="other">Status <span class="strik m--font-danger">*</span></label>
                          <select class="form-control" [(ngModel)]="StatusId" formControlName="StatusId" name="StatusId"
                            required>
                            <option value="0">{{ '--Select Status--'}}</option>
                            <option *ngFor="let item of statusList" value="{{item.id}}">{{ item.name }}
                            </option>
                          </select>
                          <small class="strik m--font-danger"
                            *ngIf="(submitted || f.StatusId.touched) && f.StatusId.errors && (f.StatusId.errors.required || f.StatusId.errors.min)">
                            Status is required
                          </small>
                        </div>
                      </div>
                      <div class="mt-2 text-right">
                        <button mat-raised-button class="green-button" (click)="onSave()" cdkFocusInitial><i
                            class="fas fa-save"></i> Save </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>