<div class="m-grid__item m-grid__item--fluid m-wrapper ">
  <div class="m-content">
    <div class="m-portlet m-portlet--bordered-semi m-portlet--unair">
      <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
          <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">
              Senarai Kawasan Kesalahan
            </h3>
          </div>
        </div>
        <!--<div class="m-portlet__head-tools">
          <button mat-raised-button class="green-button" (click)="kawasanDetails(0, 'add')">
            <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
            Tambah Kawasan
          </button>
        </div>-->
      </div>
      <div class="m-portlet__body">
        <form novalidate [formGroup]="form">
          <div class="card">
            <div class="card-header2" id="headingKawasanKesalahan" style=" cursor: pointer;" data-toggle="collapse" data-target="#collapseKawasanKesalahan"
                 aria-controls="collapseKawasanKesalahan" aria-expanded=" {{reVisit ? 'true' : 'false'}} ">
              <h6 class="mb-0">
                <button class="btn btn-link {{reVisit ? '' : 'collapsed'}} " data-toggle="collapse" data-target="#collapseKawasanKesalahan"
                        aria-expanded=" {{reVisit ? 'true' : 'false'}} " aria-controls="collapseKawasanKesalahan">
                  <i class="fa" aria-hidden="true"></i>
                  Carian
                </button>
              </h6>
            </div>
            <div id="collapseKawasanKesalahan" class="collapse {{reVisit ? 'show' : ''}}" aria-labelledby="headingKawasanKesalahan" data-parent="#accordion">
              <div class="card-body card-body-padding-top">
                <div class="col-form-label">
                  <div class="form-group">
                    <div class="form-item row">
                      <div class="col-sm-4">
                        <label class="col-form-label">Kawasan Kesalahan</label>
                        <input class="form-control" formControlName="kawasanKesalahan" name="kawasanKesalahan" type="text" placeholder="Carian Kawasan Kesalahan">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="text-right mt-4">
                  <button mat-raised-button class="red-button mr-2" (click)="reset()" ><i
                          class="fa fa-retweet"></i> {{'Reset'}} </button>
                  <button mat-raised-button class="blue-button" (click)="search()" ><i
                          class="fa fa-search"></i> {{'Cari'}} </button>
                </div>
              </div>
            </div>
          </div>
        </form>
        <br>
        <div class="m-grid__item m-grid__item--fluid m-wrapper ">
          <div class="primeng-datatable-container">
            <p-table class="" id="dataTable1" #dataTable (onLazyLoad)="getKawasanKesalahanList($event); "
                     (selectionChange)="onSelectionChange($event)" [value]="primengTableHelper.records"
                     rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true"
                     [scrollable]="true" ScrollWidth="100%" [responsive]="primengTableHelper.isResponsive"
                     [resizableColumns]="primengTableHelper.resizableColumns"
                     selectionMode="multiple" (onRowSelect)="onRowSelect($event)">
              <ng-template pTemplate="caption">
                <div class="ui-helper-clearfix" style="text-align: right">
                  <button mat-raised-button class="green-button" (click)="kawasanDetails(0, 'add')">
                    <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
                    Tambah Kawasan
                  </button>
                </div>
              </ng-template>
              <ng-template pTemplate="header">
                <tr>
                  <th style="width: 40px " class="text-center stickColumnLeft">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                  </th>
                  <th style="width: 40px " class="text-center">
                    {{'#'}}
                  </th>
                  <th pSortableColumn="ProductName">
                    {{'Nama Kawasan'}}
                    <p-sortIcon field="ProductName"></p-sortIcon>
                  </th>
                  <th pSortableColumn="Categories">
                    {{'Lokasi'}}
                    <p-sortIcon field="OrderDateTime"></p-sortIcon>
                  </th>
                  <th pSortableColumn="Categories">
                    {{'Status'}}
                    <p-sortIcon field="OrderDateTime"></p-sortIcon>
                  </th>
                  <th class="text-center stickColumnRight" pSortableColumn="Categories">
                    {{'Tindakan'}}
                    <p-sortIcon field="OrderDateTime"></p-sortIcon>
                  </th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-record="$implicit" let-rowIndex="rowIndex" let-columns="columns">
                <tr [pSelectableRow]="record">
                  <td style="width: 40px" class="text-center stickColumnLeft">
                    <p-tableCheckbox [value]="record"></p-tableCheckbox>
                  </td>
                  <td style="width: 40px " class="text-center">
                    {{(paginator.getPage() * paginator.rows) + (rowIndex+1)}}
                  </td>
                  <td>
                    <span class="ui-column-title"></span>
                    {{record.name}}
                  </td>
                  <td style="white-space:normal; ">
                    <span class="ui-column-title"></span>
                    {{record.lokasi}}
                  </td>
                  <td style="white-space:normal; ">
                    <span class="ui-column-title"></span>
                    {{record.status}}
                  </td>
                  <td class="text-center stickColumnRight">
                    <span class="ui-column-title"></span>
                    <i class="fa fa-eye ml-2" aria-hidden="true" style="cursor: pointer;" title="Papar Maklumat" (click)="kawasanDetails(record.id,'view')"></i>
                    <i class="flaticon-edit ml-2" aria-hidden="true" style="cursor: pointer;" title="Kemaskini Maklumat" (click)="kawasanDetails(record.id,'edit')" ></i>
                  </td>
                </tr>
              </ng-template>
            </p-table>
            <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
              {{'NoData'}}
            </div>
            <div class="primeng-paging-container" style="position: relative;">
              <p-paginator rows="{{primengTableHelper.defaultRecordsCountPerPage}}" #paginator
                           (onPageChange)="getKawasanKesalahanList($event)" [totalRecords]="primengTableHelper.totalRecordsCount"
                           [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
              </p-paginator>
            </div>
            <div class="text-right">
              <span style=" top:3px; right:5px; margin: 5px;">Total records :{{primengTableHelper.totalRecordsCount}}</span>
            </div>
            <div *ngIf="primengTableHelper.totalRecordsCount > 0">
              <button  class="red-button mr-2" mat-raised-button
                       (click)="delete()" [disabled]="this.selection.isEmpty()">
                <mat-icon aria-label="Example icon-button with a heart icon">delete</mat-icon>
                Batal Pilihan
              </button>
              <div class="btn-group" dropdown>
                <button mat-raised-button id="button-print" dropdownToggle class="purple-button mr-2"
                        aria-controls="dropdown-print">
                  <mat-icon aria-label="Example icon-button with a heart icon">print</mat-icon>
                  Cetak
                </button>
                <ul id="dropdown-print" *dropdownMenu class="dropdown-menu mt-1 ml-2" role="menu"
                    aria-labelledby="button-print" style="cursor: pointer;">
                  <li role="menuitem"><a class="dropdown-item" (click)="printTablePdf()">Cetak Senarai</a></li>
                  <li role="menuitem"><a class="dropdown-item" (click)="printTableExcel()">Eksport Ke Excel</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
