<div class="m-grid__item m-grid__item--fluid m-wrapper ">
  <div class="m-content">
    <div class="m-portlet m-portlet--bordered-semi m-portlet--unair">
      <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
          <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">
              Senarai Kumpulan
            </h3>
          </div>
        </div>
        <div class="m-portlet__head-tools">
          <button mat-raised-button class="green-button" (click)="kumpulanDetails(0,'add')">
            <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
            Tambah Kumpulan
          </button>
        </div>
      </div>
      <div class="m-portlet__body">
        <form novalidate [formGroup]="form">
          <div class="card">
            <!--<div style=" cursor: pointer; font-weight: bold;" class="card-header" data-toggle="collapse" data-target="#collapseAnnouncement" aria-expanded="true" aria-controls="collapseAnnouncement" id="announcement">
              Carian
            </div>-->
            <div class="card-header2" id="headingKumpulanPengguna" style=" cursor: pointer;" data-toggle="collapse" data-target="#collapseKumpulanPengguna"
                 aria-controls="collapseKumpulanPengguna" aria-expanded=" {{reVisit ? 'true' : 'false'}} ">
              <h6 class="mb-0">
                <button class="btn btn-link {{reVisit ? '' : 'collapsed'}} " data-toggle="collapse" data-target="#collapseKumpulanPengguna"
                        aria-expanded=" {{reVisit ? 'true' : 'false'}} " aria-controls="collapseKumpulanPengguna">
                  <i class="fa" aria-hidden="true"></i>
                  Carian
                </button>
              </h6>
            </div>
            <div id="collapseKumpulanPengguna" class="collapse {{reVisit ? 'show' : ''}}" aria-labelledby="headingKumpulanPengguna" data-parent="#accordion">
              <div class="card-body card-body-padding-top">
                <div class="col-form-label">
                  <div class="form-group">
                    <div class="form-item row">
                      <div class="col-sm-6">
                        <label class="col-form-label">Kata Kunci</label>
                        <input class="form-control" formControlName="kataKunci" name="kataKunci" type="text" placeholder="Kata Kunci">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="text-right mt-4">
                  <button mat-raised-button class="red-button mr-2" (click)="reset()" ><i
                          class="fa fa-retweet"></i> {{'Reset'}} </button>
                  <button mat-raised-button class="blue-button" (click)="search()" ><i
                          class="fa fa-search"></i> {{'Cari'}} </button>
                </div>
              </div>
            </div>
            <!--<div id="collapseAnnouncement" class="collapse" aria-labelledby="announcement" data-parent="#accordion">
              <div class="card-body card-body-padding-top">
                <div class="col-form-label">
                  <div class="form-group">
                    <div class="form-item row">
                      <div class="col-sm-6">
                        <label class="col-form-label">Kata Kunci</label>
                        <input class="form-control" formControlName="kataKunci" name="kataKunci" type="text" placeholder="Kata Kunci">
                      </div>
                      <div class="col-sm-6">

                      </div>
                    </div>
                  </div>
                </div>
                <div class="text-right mt-4">
                  <button mat-raised-button class="blue-button" (click)="search()" cdkFocusInitial><i
                          class="fas fa-search"></i> Cari </button>&nbsp;
                </div>
              </div>
            </div>-->
          </div>
        </form>
        <br>
        <div class="m-grid__item m-grid__item--fluid m-wrapper ">
            <!-- <div class="m-portlet m-portlet--bordered-semi m-portlet--unair"> -->
            <!-- <div class="m-portlet__body"> -->
            <div class="primeng-datatable-container">
              <p-table class="" id="dataTable1" #dataTable (onLazyLoad)="getKumpulanList($event); "
                       (selectionChange)="onSelectionChange($event)" [value]="primengTableHelper.records"
                       rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true"
                       [scrollable]="true" ScrollWidth="100%" [responsive]="primengTableHelper.isResponsive"
                       [resizableColumns]="primengTableHelper.resizableColumns">
                <ng-template pTemplate="caption">
                  <div class="ui-helper-clearfix" style="text-align: right">
                    <button mat-raised-button class="purple-button mr-2" (click)="printTablePdf()">
                      <mat-icon aria-label="Example icon-button with a heart icon">print</mat-icon>
                      Pdf
                    </button>
                    <button mat-raised-button class="purple-button" (click)="printTableExcel()">
                      <mat-icon aria-label="Example icon-button with a heart icon">print</mat-icon>
                      Excel
                    </button>
                  </div>
                </ng-template>
                <ng-template pTemplate="header">
                  <tr>
                    <th style="width: 40px " class="text-center">
                      <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                    </th>
                    <th style="width: 40px " class="text-center">
                      {{'#'}}
                    </th>
                    <th style="width: 300px " pSortableColumn="ProductName">
                      {{'Nama Kumpulan'}}
                      <p-sortIcon field="ProductName"></p-sortIcon>
                    </th>
                    <th style="width: 300px "pSortableColumn="Categories">
                      {{'Keterangan'}}
                      <p-sortIcon field="OrderDateTime"></p-sortIcon>
                    </th>
                    <th pSortableColumn="SKU No">
                      {{'Jabatan'}}
                      <p-sortIcon field="SKU No"></p-sortIcon>
                    </th>
                    <th pSortableColumn="Variation" class="text-right">
                      {{'Bilangan Pengguna'}}
                      <p-sortIcon field="Variation"></p-sortIcon>
                    </th>
                    <th pSortableColumn="Price" class="text-right">
                      {{'Tarikh Dikemaskini  '}}
                      <p-sortIcon field="Price"></p-sortIcon>
                    </th>
                    <th pSortableColumn="Stock" class="text-right">
                      {{'Tindakan'}}
                      <p-sortIcon field="Stock"></p-sortIcon>
                    </th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-record="$implicit" let-rowIndex="rowIndex" let-columns="columns">
                  <tr [pSelectableRow]="record">
                    <td style="width: 40px" class="text-center">
                      <p-tableCheckbox [value]="record"></p-tableCheckbox>
                    </td>
                    <td style="width: 40px " class="text-center">
                      {{(paginator.getPage() * paginator.rows) + (rowIndex+1)}}
                    </td>
                    <td style="width: 300px ">
                      <span class="ui-column-title"></span>
                      {{record.kumpulanName}}
                    </td>
                    <td style="width: 300px ">
                      <span class="ui-column-title"></span>
                      {{record.keterangan}}
                    </td>
                    <td>
                      <span class="ui-column-title"></span>
                      {{record.jabatanId}}
                    </td>
                    <td class="text-right">
                      <span class="ui-column-title"></span>
                      {{record.bilPengguna}}
                    </td>
                    <td class="text-right">
                      <span class="ui-column-title"></span>
                      {{record.tarikhKemaskini}}
                    </td>
                    <td class="text-right">
                      <i class="fa fa-eye ml-2" aria-hidden="true" style="cursor: pointer;" title="Papar Maklumat" (click)="kumpulanDetails(record.kumpulanId,'view')"></i>
                      <i class="flaticon-edit ml-2" aria-hidden="true" style="cursor: pointer;" title="Kemaskini Maklumat" (click)="kumpulanDetails(record.kumpulanId,'edit')" ></i>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
              <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                {{'NoData'}}
              </div>
              <div class="primeng-paging-container" style="position: relative;">
                <p-paginator rows="{{primengTableHelper.defaultRecordsCountPerPage}}" #paginator
                             (onPageChange)="getKumpulanList($event)" [totalRecords]="primengTableHelper.totalRecordsCount"
                             [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                </p-paginator>
              </div>
              <div class="text-right">
                <span style=" top:3px; right:5px; margin: 5px;">Total records :{{primengTableHelper.totalRecordsCount}}</span>
              </div>
              <div *ngIf="primengTableHelper.totalRecordsCount > 0">
                <button  class="red-button mr-2" mat-raised-button
                         (click)="delete()" [disabled]="this.selection.isEmpty()">
                  <mat-icon aria-label="Example icon-button with a heart icon">delete</mat-icon>
                  Delete Selected
                </button>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
