<app-mat-spinner-overlay overlay="true" *ngIf="showSpinner"></app-mat-spinner-overlay>
<div class="m-grid__item m-grid__item--fluid m-wrapper ">
  <div class="m-content">
    <div class="m-portlet m-portlet--bordered-semi m-portlet--unair">
      <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
          <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">
              {{FromMenu == 'kawasan' ? 'Laporan Per Undang - Undang Bagi Kawasan' : 'Laporan Mengikut Bahagian / Zon / Unit'}}
            </h3>
          </div>
        </div>
      </div>
      <div>
        <div class="m-portlet__body">
          <form novalidate [formGroup]="form">
            <div class="card">
              <div class="card-header"><strong>Carian</strong></div>
              <div id="collapseCarianLaporanBahagianZonUnit" class="collapse show"
                aria-labelledby="headingCarianLaporanBahagianZonUnit" data-parent="#accordion">
                <div class="card-body card-body-padding-top">
                  <div class="col-form-label">
                    <div class="form-group">
                      <div class="form-item row">
                        <div class="col-sm-4">
                          <label class="col-form-label">Kelas Akta <span class="strik m--font-danger">*</span></label>
                          <select class="form-control" [(ngModel)]="OffenceAct" formControlName="OffenceAct"
                            name="OffenceAct" (change)="resetType()">
                            <option value="0">{{ '--Pilih Jenis--'}}</option>
                            <option *ngFor="let item of OffenceActList" value="{{item.id}}">{{ item.name }}
                            </option>
                          </select>
                          <small class="strik m--font-danger"
                            *ngIf="(submitted || f.OffenceAct.touched) && f.OffenceAct.errors && (f.OffenceAct.errors.required || f.OffenceAct.errors.min)">
                            Jenis Laporan adalah wajib!
                          </small>
                        </div>
                        <div class="col-sm-4">
                          <label class="col-form-label">Tarikh Mula <span class="strik m--font-danger">*</span><span
                              class="help">(Example :
                              31/12/2020)</span></label>
                          <div class="input-group">
                            <input formControlName="StartDate" spellcheck="false" class="form-control" maxlength="10"
                              [matDatepicker]="pickerStartDate" [(ngModel)]="StartDate"
                              placeholder="Masukkan Tarikh Mula">
                            <mat-datepicker-toggle matSuffix [for]="pickerStartDate"></mat-datepicker-toggle>
                            <mat-datepicker #pickerStartDate></mat-datepicker>
                          </div>
                          <small class="strik m--font-danger"
                            *ngIf="(submitted || f.StartDate.touched) && f.StartDate.errors && f.StartDate.errors.required">
                            Maklumat Tarikh Mula adalah wajib!
                          </small>
                          <small class="strik m--font-danger"
                            *ngIf="(submitted || f.StartDate.touched) && f.StartDate.errors && f.StartDate.errors.exceed">
                            Tarikh Akhir tidak melebihi Tarikh Mula
                          </small>
                        </div>
                        <div class="col-sm-4">
                          <label class="col-form-label">Tarikh Akhir <span class="strik m--font-danger">*</span><span
                              class="help">(Example :
                              31/12/2020)</span></label>
                          <div class="input-group">
                            <input formControlName="EndDate" spellcheck="false" class="form-control" maxlength="10"
                              [matDatepicker]="pickerEndDate" [(ngModel)]="EndDate" placeholder="Masukkan Tarikh Akhir">
                            <mat-datepicker-toggle matSuffix [for]="pickerEndDate"></mat-datepicker-toggle>
                            <mat-datepicker #pickerEndDate></mat-datepicker>
                          </div>
                          <small class="strik m--font-danger"
                            *ngIf="(submitted || f.EndDate.touched) && f.EndDate.errors && f.EndDate.errors.required">
                            Maklumat Tarikh Akhir adalah wajib!
                          </small>
                          <small class="strik m--font-danger"
                            *ngIf="(submitted || f.EndDate.touched) && f.EndDate.errors && f.EndDate.errors.exceed">
                            Tarikh Akhir tidak melebihi Tarikh Mula
                          </small>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="text-right mt-4">
                    <button mat-raised-button class="red-button mr-2" (click)="reset()"><i class="fa fa-retweet"></i>
                      {{'Reset'}} </button>
                    <button mat-raised-button class="blue-button" (click)="search()"><i class="fa fa-search"></i>
                      {{'Cari'}} </button>
                  </div>
                </div>
              </div>
            </div>
          </form>
          <div class="m-grid__item m-grid__item--fluid m-wrapper mt-2 {{showList ? '' : 'hide-list'}}">
            <div class="primeng-datatable-container" id="printContent" #printContent>
              <table width="100%" style="margin-top: 0.5em;">
                <tbody class="removeBorder">
                  <tr>
                    <td width="100%" class="titlesheet removeBorder" style="text-align: center;">
                      <div style="width: 50%; margin: auto;text-align: center;" [innerHTML]="ReportTitle"></div>
                    </td>
                  </tr>
                </tbody>
              </table>
              <table width="100%" class="tableBor" style="margin-top: 0.5em;">
                <thead>
                  <tr>
                    <th rowspan="2" class="headerNestedFormList" style="text-align: left;" width="15%">                     
                      {{FromMenu == 'kawasan' ? 'Kawasan' : 'Bahagian / Zon / Unit'}}
                    </th>
                    <th [attr.colspan]="PeruntukanList.length + 1" class="headerNestedFormList"
                      style="text-align: center;" width="85%">Peruntukan Undang - Undang</th>
                  </tr>
                  <tr>
                    <th *ngFor="let record2 of PeruntukanList; index as i2" colspan="1" class="headerNestedFormList"
                      style="text-align: left;">
                      {{record2.name}}
                    </th>
                    <!-- <th colspan="1" class="headerNestedFormList" style="text-align: left;"  width="13%">Akta Pengangkutan Jalan 1987</th>
                    <th colspan="1" class="headerNestedFormList" style="text-align: left;"  width="13%">Kaedah-Kaedah Lalulintas Jalan 1959</th>
                    <th colspan="1" class="headerNestedFormList" style="text-align: left;"  width="13%">Kaedah-Kaedah Isyarat Lalulintas (Saiz, Warna Dan Jenis) 1959</th>
                    <th colspan="1" class="headerNestedFormList" style="text-align: left;"  width="13%">Perintah Lalulintas Jalan (Peruntukan Mengenai Tempat Letak Kereta) (Ibu Kota) 1959</th>
                    <th colspan="1" class="headerNestedFormList" style="text-align: left;"  width="13%">Peruntukan Lalulintas Jalan (Letak Kereta Bermeter) (Wilayah Persekutuan) 1984</th>
                    <th colspan="1" class="headerNestedFormList" style="text-align: left;"  width="13%">Perintah Pengangkutan Jalan (Peruntukan Tempat Letak Kereta) Wilayah Pesekutuan Kuala Lumpur 2016</th> -->
                    <th colspan="1" class="headerNestedFormList" style="text-align: center;">Jumlah</th>
                  </tr>
                </thead>
                <tfoot>
                  <tr>
                    <td colspan="10" class="pbr">
                    </td>
                  </tr>
                </tfoot>
                <tbody *ngIf="ReportList.length == 0">
                  <tr class="headerNestedFormList pbr">
                    <td class="headerNestedFormList pbr " style="text-align: left;" colspan="20">
                      Tiada Rekod
                    </td>
                  </tr>
                </tbody>
                <tbody *ngIf="BahagianList.length > 0">
                  <tr *ngFor="let record of BahagianList; index as i" class="headerNestedFormList pbr">
                    <td class="headerNestedFormList pbr"
                      style="text-align: left;">
                      {{record.name}}</td>
                    <td *ngFor="let record2 of PeruntukanList; index as i2"
                      class="headerNestedFormList pbr"
                      style="text-align: left;">
                      <!-- {{record.id + '_' + record2.id}} -->
                      {{bahagianPeruntukanCount[record.id + '_' + record2.id]}}
                    </td>
                    <!-- <td class="headerNestedFormList pbr {{record.Bahagian == 'JUMLAH' ? 'footerDT' : ''}}"
                      style="text-align: left;">{{record.Akta1}}
                    </td>
                    <td class="headerNestedFormList pbr {{record.Bahagian == 'JUMLAH' ? 'footerDT' : ''}}"
                      style="text-align: left;">{{record.Akta2}}
                    </td>
                    <td class="headerNestedFormList pbr {{record.Bahagian == 'JUMLAH' ? 'footerDT' : ''}}"
                      style="text-align: left;">
                      {{record.Akta3}}</td>
                    <td class="headerNestedFormList pbr {{record.Bahagian == 'JUMLAH' ? 'footerDT' : ''}}"
                      style="text-align: left;">{{record.Akta4}}
                    </td>
                    <td class="headerNestedFormList pbr {{record.Bahagian == 'JUMLAH' ? 'footerDT' : ''}}"
                      style="text-align: left;">{{record.Akta5}}
                    </td>
                    <td class="headerNestedFormList pbr {{record.Bahagian == 'JUMLAH' ? 'footerDT' : ''}}"
                      style="text-align: left;">{{record.Akta6}}
                    </td> -->
                    <td class="headerNestedFormList pbr"
                      style="text-align: center;">
                      {{JumlahByBahagian[record.id]}}</td>
                  </tr>
                  <tr class="headerNestedFormList pbr">
                    <td class="headerNestedFormList pbr footerDT"
                      style="text-align: left;">
                      {{'JUMLAH'}}</td>
                    <td *ngFor="let record3 of PeruntukanList; index as i3"
                      class="headerNestedFormList pbr footerDT"
                      style="text-align: left;">
                      <!-- {{record.id + '_' + record2.id}} -->
                      {{JumlahByPeruntukan[record3.id]}}
                    </td>
                    <!-- <td class="headerNestedFormList pbr {{record.Bahagian == 'JUMLAH' ? 'footerDT' : ''}}"
                      style="text-align: left;">{{record.Akta1}}
                    </td>
                    <td class="headerNestedFormList pbr {{record.Bahagian == 'JUMLAH' ? 'footerDT' : ''}}"
                      style="text-align: left;">{{record.Akta2}}
                    </td>
                    <td class="headerNestedFormList pbr {{record.Bahagian == 'JUMLAH' ? 'footerDT' : ''}}"
                      style="text-align: left;">
                      {{record.Akta3}}</td>
                    <td class="headerNestedFormList pbr {{record.Bahagian == 'JUMLAH' ? 'footerDT' : ''}}"
                      style="text-align: left;">{{record.Akta4}}
                    </td>
                    <td class="headerNestedFormList pbr {{record.Bahagian == 'JUMLAH' ? 'footerDT' : ''}}"
                      style="text-align: left;">{{record.Akta5}}
                    </td>
                    <td class="headerNestedFormList pbr {{record.Bahagian == 'JUMLAH' ? 'footerDT' : ''}}"
                      style="text-align: left;">{{record.Akta6}}
                    </td> -->
                    <td class="headerNestedFormList pbr footerDT"
                      style="text-align: center;">
                      {{JumlahOverall}}
                     </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- <div class="mt-2" style="text-align: left">
              <button mat-raised-button class="purple-button mr-2" [useExistingCss]="true" printSectionId="printContent"
                title="Cetak Laporan" ngxPrint><i class="fa fa-print  "></i>Cetak</button>
              <button mat-raised-button class="purple-button" (click)="printTableExcel()"
                title="Export Laporan Kepada Excel">
                <i class="fa fa-table " aria-hidden="true"></i>Export
              </button>
            </div> -->
            <div class="btn-group" dropdown style="text-align: left">
              <!-- <button mat-raised-button #printButton  id="printButton" class="purple-button mr-2" [useExistingCss]="true" printSectionId="printContent"
                title="Cetak Laporan" ngxPrint><i class="fa fa-print  "></i>Cetak</button> -->
              <button mat-raised-button id="button-print" dropdownToggle class="purple-button mr-2"
                aria-controls="dropdown-print">
                <mat-icon aria-label="Example icon-button with a heart icon">print</mat-icon>
                Cetak
              </button>
              <ul id="dropdown-print" *dropdownMenu class="dropdown-menu mt-1 ml-2" role="menu"
                aria-labelledby="button-print" style="cursor: pointer;">
                <li role="menuitem"><a class="dropdown-item">
                    <button [useExistingCss]="true" printSectionId="printContent" class="TitleBtn" title="Cetak Laporan"
                      ngxPrint>
                      Cetak Laporan
                    </button>
                  </a></li>
                <li role="menuitem"><a class="dropdown-item" (click)="printTableExcel()">Eksport Ke Excel</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>