.card-body-padding-top {
  padding-top: 1px;
}


[data-toggle="collapse"] .fa:before {  
  content: "\f139";
}

[data-toggle="collapse"].collapsed .fa:before {
  content: "\f13a";
}

// .ng-star-inserted >th {
//   font-size: xx-small !important;
// }

// .ng-star-inserted >td {
//   font-size:  xx-small !important;
// }


.card-header2 {
  padding: 0rem 1.25rem;
  margin-bottom: 0;
  background-color: rgba(0,0,0,.03);
  border-bottom: 1px solid rgba(0,0,0,.125);
}

// .borderDT {
//   border: 1px solid #c8c8c8 !important;
//   font-size: xx-small !important;
// }

.footerDT {
  font-weight: 600;
  font-size: x-small !important;
}


// .titleDT {
//   // border: none;
//   background-color: white !important;
//   font-size: smaller !important;
// }



.titlesheet {
  align-items: center;
  font-size: small;
  font-weight: 300;
}

.tableBor
{
  border-collapse: collapse;
}

.headerNestedFormList {
  font-size: x-small;
  // text-align: center;
  padding: 0.3em 0.3em;
  vertical-align: top;
}

.removeBorder {
  border-top: none;   border-bottom: none;  border-left: none;  border-right: none;
}


thead { border: 1px solid black; padding: 10px; color: black !important; }
tbody { border: 1px solid black; padding: 10px; color: #000 !important; }
td { border: 1px solid black; padding: 10px; color: #000 !important; }
th { border: 1px solid rgb(86, 86, 86); padding: 10px;  background-color: rgb(230, 245, 253) !important; font-weight: 500;}
tfoot td { border-top: none;   border-bottom: none;  border-left: none;  border-right: none; font-style: italic !important; }

@media  print {
  .pbr {
    page-break-inside:avoid; 
    page-break-after:auto
  } 

  body {
    -webkit-print-color-adjust: exact !important;
  }

  thead { border: 0.5px solid black; padding: 10px; color: black !important; }
  tbody { border: 0.5px solid black; padding: 10px; color: #000 !important; }
  td { border: 0.5px solid black; padding: 10px; color: #000 !important; font-size: 6px !important; }
  th { border: 0.5px solid rgb(86, 86, 86); padding: 10px; color: white !important; background-color: rgb(0, 0, 0) !important; font-weight: normal; font-size: 6px !important; }
  tfoot td { border-top: none;   border-bottom: none;  border-left: none;  border-right: none; font-style: italic !important; font-size: 6px !important; }
  
  .footerDT {
    font-weight: 600;
    font-size: 6px !important;
  }

  .titlesheet {
    align-items: center;
    font-size: 9px !important;
    font-weight: 500;
  }
}


.TitleBtn
{
  background: none!important;
  border: none;
  padding: 0!important;
  /*optional*/
  // font-family: arial, sans-serif;
  /*input has OS specific font-family*/
  // color: #069;
  // text-decoration: underline;
  cursor: pointer;
}