<app-mat-spinner-overlay overlay="true" *ngIf="showSpinner"></app-mat-spinner-overlay>
<form novalidate [formGroup]="form">
  <div class="m-grid__item m-grid__item--fluid m-wrapper " >
    <div class="m-content">
      <div class="m-portlet m-portlet--bordered-semi m-portlet--unair">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <h3 class="m-portlet__head-text">
                <a style="color:blue;" routerLink="/app/handheld/senarai-penguatkuasa-handheld">Carian Penguatkuasa</a>
                <i class="fa fa-chevron-right mr-2 ml-2" aria-hidden="true"></i>
                {{FormTitle}}
                Penguatkuasa
              </h3>
            </div>
          </div>
        </div>
        <div id="content" >
          <div class="m-portlet__body" >
            <div class="row">
              <div class="col-sm-12" >
                <div class="card mb-3">
                  <div class="card-header"><strong>Maklumat Penguatkuasa</strong></div>
                  <div class="card-body">
                    <div class="form-group">
                      <div class="form-item row">                       
                        <div class="col-sm-6" *ngIf="FormType != 'password'">
                          <label class="col-form-label">Jabatan 
                            <!-- <span class="strik m--font-danger" *ngIf="FormType == 'gerak'">*</span> -->
                          </label>
                          <select class="form-control" [(ngModel)]="Jabatan" formControlName="Jabatan" name="Jabatan"
                            [attr.disabled]="true">
                            <option value="0">{{ '--Pilih Jabatan--'}}</option>
                            <option *ngFor="let item of jabatanList" value="{{item.id}}">{{ item.name }}
                            </option>
                          </select>
                          <!-- <small class="strik m--font-danger"
                            *ngIf="(FormType == 'add' || FormType == 'edit') && (submitted || f.Jabatan.touched) && f.Jabatan.errors && (f.Jabatan.errors.required || f.Jabatan.errors.min)">
                            Jabatan adalah wajib!
                          </small> -->
                        </div>
                        <div class="col-sm-6" *ngIf="FormType != 'password'">
                          <label class="col-form-label">No. Gaji <span class="strik m--font-danger"
                              *ngIf="FormType == 'add' || FormType == 'edit'">*</span></label>
                          <input class="form-control" formControlName="NoGaji" name="NoGaji" type="text"
                            placeholder="No. Gaji" [attr.disabled]="FormType == 'view' ? true : null">
                          <small class="strik m--font-danger"
                            *ngIf="(FormType == 'add' || FormType == 'edit') && (submitted || f.NoGaji.touched) && f.NoGaji.errors && f.NoGaji.errors.required">
                            Maklumat No. Gaji adalah wajib!
                          </small>
                        </div>
                        <div class="col-sm-6">
                          <label class="col-form-label">Nama <span class="strik m--font-danger"
                              *ngIf="FormType == 'add' || FormType == 'edit'">*</span></label>
                          <input class="form-control" formControlName="Nama" name="Nama" type="text" placeholder="Nama"
                            [attr.disabled]="FormType == 'view' ? true : null">
                          <small class="strik m--font-danger"
                            *ngIf="(FormType == 'add' || FormType == 'edit') && (submitted || f.Nama.touched) && f.Nama.errors && f.Nama.errors.required">
                            Maklumat Nama adalah wajib!
                          </small>
                        </div>
                        <div class="col-sm-6" *ngIf="FormType != 'password'">
                          <label class="col-form-label">Pangkat <span class="strik m--font-danger"
                              *ngIf="FormType == 'add' || FormType == 'edit'">*</span></label>
                          <select class="form-control" [(ngModel)]="Pangkat" formControlName="Pangkat" name="Pangkat"
                            [attr.disabled]="FormType == 'view' ? true : null" required>
                            <option value="0">{{ '--Pilih Pangkat--'}}</option>
                            <option *ngFor="let item of pangkatList" value="{{item.id}}">{{ item.name }}
                            </option>
                          </select>
                          <small class="strik m--font-danger"
                            *ngIf="(FormType == 'add' || FormType == 'edit') && (submitted || f.Pangkat.touched) && f.Pangkat.errors && (f.Pangkat.errors.required || f.Pangkat.errors.min)">
                            Pangkat adalah wajib!
                          </small>
                        </div>
                        <div class="col-sm-6" *ngIf="FormType != 'password'">
                          <label class="col-form-label">No. Badan <span class="strik m--font-danger"
                              *ngIf="FormType == 'add' || FormType == 'edit'">*</span></label>
                          <input class="form-control" formControlName="NoBadan" name="NoBadan" type="text"
                            placeholder="No. Badan" [attr.disabled]="FormType == 'view' ? true : null">
                          <small class="strik m--font-danger"
                            *ngIf="(FormType == 'add' || FormType == 'edit') && (submitted || f.NoBadan.touched) && f.NoBadan.errors && f.NoBadan.errors.required">
                            Maklumat No. Badan adalah wajib!
                          </small>
                        </div>
                        <div class="col-sm-6" *ngIf="FormType == 'view'">
                          <label class="col-form-label">Kemaskini Kata Laluan Pada</label>
                          <input class="form-control" formControlName="TarikhKemaskiniKatalaluan"
                            name="TarikhKemaskiniKatalaluan" type="text" placeholder=""
                            [attr.disabled]="FormType == 'view' ? true : null">
                        </div>
                        <div class="col-sm-6" *ngIf="FormType == 'view'">
                          <label class="col-form-label">Dicipta Pada</label>
                          <input class="form-control" formControlName="TarikhCipta" name="TarikhCipta" type="text"
                            placeholder="" [attr.disabled]="FormType == 'view' ? true : null">
                        </div>
                        <div class="col-sm-6" *ngIf="FormType == 'view'">
                          <label class="col-form-label">Dicipta Oleh</label>
                          <input class="form-control" formControlName="DiciptaOleh" name="DiciptaOleh" type="text"
                            placeholder="" [attr.disabled]="FormType == 'view' ? true : null">
                        </div>
                        <div class="col-sm-6" *ngIf="FormType == 'view'">
                          <label class="col-form-label">Dikemaskini Pada</label>
                          <input class="form-control" formControlName="TarikhKemaskini" name="TarikhKemaskini"
                            type="text" placeholder="" [attr.disabled]="FormType == 'view' ? true : null">
                        </div>
                        <div class="col-sm-6" *ngIf="FormType == 'view'">
                          <label class="col-form-label">Dikemaskini Oleh</label>
                          <input class="form-control" formControlName="DikemaskiniOleh" name="DikemaskiniOleh"
                            type="text" placeholder="" [attr.disabled]="FormType == 'view' ? true : null">
                        </div>
                        <div class="col-sm-6" *ngIf="FormType != 'password'">
                          <label class="col-form-label">Status <span class="strik m--font-danger"
                              *ngIf="FormType == 'add' || FormType == 'edit'">*</span></label>
                          <select class="form-control" [(ngModel)]="Status" formControlName="Status" name="Status"
                            [attr.disabled]="FormType == 'view' ? true : null">
                            <option value="0">{{ '--Pilih Status--'}}</option>
                            <option *ngFor="let item of statusList" value="{{item.id}}">{{ item.name }}
                            </option>
                          </select>
                          <small class="strik m--font-danger"
                            *ngIf="(FormType == 'add' || FormType == 'edit') && (submitted || f.Status.touched) && f.Status.errors && (f.Status.errors.required || f.Status.errors.min)">
                            Status adalah wajib!
                          </small>
                        </div>
                        <div class="col-sm-6" *ngIf="FormType == 'password' || FormType == 'add'">
                          <label class="col-form-label">Katalaluan <span class="strik m--font-danger"
                              *ngIf="FormType == 'add' || FormType == 'password'">*</span></label>
                          <input type="password" class="form-control" formControlName="KataLaluan" name="KataLaluan"
                            autocomplete="new-password" [attr.disabled]="FormType == 'view' ? true : null">
                          <small class="strik m--font-danger"
                            *ngIf="(FormType == 'add' || FormType == 'password') && (submitted || f.KataLaluan.touched) && f.KataLaluan.errors && (f.KataLaluan.errors.required)">
                            Katalaluan adalah wajib!
                          </small>
                          <small class="strik m--font-danger ml-1"
                            *ngIf="(FormType == 'add' || FormType == 'password') && (submitted || f.KataLaluan.touched) && f.KataLaluan.errors &&  f.KataLaluan.errors.notSame">
                            Katalaluan & Pengesahan Katalaluan tidak sama!
                          </small>
                        </div>
                        <div class="col-sm-6" *ngIf="FormType == 'password' || FormType == 'add'">
                          <label class="col-form-label">Pengesahan Katalaluan <span class="strik m--font-danger"
                              *ngIf="FormType == 'add' || FormType == 'password'">*</span></label>
                          <input type="password" class="form-control" formControlName="SahKataLaluan"
                            name="SahKataLaluan" autocomplete="new-password"
                            [attr.disabled]="FormType == 'view' ? true : null">
                          <small class="strik m--font-danger"
                            *ngIf="(FormType == 'add' || FormType == 'password') && (submitted || f.SahKataLaluan.touched) && f.SahKataLaluan.errors && (f.SahKataLaluan.errors.required)">
                            Pengesahan Katalaluan adalah wajib!
                          </small>
                          <small class="strik m--font-danger ml-1"
                            *ngIf="(FormType == 'add' || FormType == 'password') && (submitted || f.SahKataLaluan.touched) && f.SahKataLaluan.errors &&  f.SahKataLaluan.errors.notSame">
                            Katalaluan & Pengesahan Katalaluan tidak sama!
                          </small>
                        </div>
                        <div class="col-sm-6" *ngIf="FormType != 'password'">
                          <label class="col-form-label">Nota</label>
                          <textarea class="form-control" formControlName="Nota" name="Nota" rows="5"
                            style="resize: none;" placeholder="Nota"
                            [attr.disabled]="FormType == 'view' ? true : null"></textarea>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
                <div class="text-right mt-4">
                  <button mat-raised-button class="red-button mr-2" (click)="resetForm()" *ngIf="FormType != 'view'"><i
                      class="fa fa-retweet"></i>
                    {{'Reset'}} </button>
                  <button mat-raised-button class="green-button mr-2" (click)="onSave()" cdkFocusInitial *ngIf="FormType != 'view'"><i
                      class="fas fa-save"></i> Simpan </button>
                  <button mat-raised-button class="blue-button mr-2" cdkFocusInitial
                    routerLink="/app/handheld/senarai-penguatkuasa-handheld"><i class="fas fa-angle-double-left"></i> Kembali
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>