<app-mat-spinner-overlay overlay="true" *ngIf="showSpinner"></app-mat-spinner-overlay>
<form novalidate [formGroup]="form">
  <div class="m-grid__item m-grid__item--fluid m-wrapper ">
    <div class="m-content">
      <div class="m-portlet m-portlet--bordered-semi m-portlet--unair">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <h3 class="m-portlet__head-text">
                <a style="color:blue;" routerLink="/app/notis/senarai-pertuduhan/{{FromMenu}}"
                  *ngIf="FromMenu != 'kemasukan'">Senarai Aduan
                </a>
                <i class="fa fa-chevron-right mr-2 ml-2" aria-hidden="true" *ngIf="FromMenu != 'kemasukan'"></i>
                {{FormTitle}}
                Notis
              </h3>
            </div>
          </div>
        </div>
        <div id="content">
          <div class="m-portlet__body">
            <div class="row">
              <div class="col-sm-12">
                <div class="card mb-3">
                  <div class="card-header"><strong>Maklumat Pesalah</strong></div>
                  <div class="card-body">
                    <div class="form-group">
                      <div class="form-item row">
                        <div class="col-sm-6">
                          <label class="col-form-label">Peruntukan Undang - Undang <span class="strik m--font-danger"
                              *ngIf="FormType == 'add' || FormType == 'edit'">*</span></label>
                          <select class="form-control" [(ngModel)]="Peruntukan" formControlName="Peruntukan"
                            name="Peruntukan" [attr.disabled]="FormType == 'view' ? true : null">
                            <option value="0">{{ '--Pilih Peruntukan Undang - Undang--'}}</option>
                            <option *ngFor="let item of PeruntukanList" value="{{item.id}}">{{ item.name }}
                            </option>
                          </select>
                          <small class="strik m--font-danger"
                            *ngIf="(FormType == 'add' || FormType == 'edit') && (submitted || f.Peruntukan.touched) && f.Peruntukan.errors && (f.Peruntukan.errors.required || f.Peruntukan.errors.min)">
                            Peruntukan Undang - Undang adalah wajib!
                          </small>
                        </div>
                        <div class="col-sm-6">
                          <label class="col-form-label">Seksyen <span class="strik m--font-danger"
                              *ngIf="FormType == 'add' || FormType == 'edit'">*</span></label>
                          <select class="form-control" [(ngModel)]="Seksyen" formControlName="Seksyen" name="Seksyen"
                            [attr.disabled]="FormType == 'view' ? true : null">
                            <option value="0">{{ '--Pilih Seksyen--'}}</option>
                            <option *ngFor="let item of SeksyenList" value="{{item.id}}">{{ item.name }}
                            </option>
                          </select>
                          <small class="strik m--font-danger"
                            *ngIf="(FormType == 'add' || FormType == 'edit') && (submitted || f.Seksyen.touched) && f.Seksyen.errors && (f.Seksyen.errors.required || f.Seksyen.errors.min)">
                            Seksyen adalah wajib!
                          </small>
                        </div>
                        <div class="col-sm-6">
                          <label class="col-form-label">Pembolehubah <span class="strik m--font-danger"
                              *ngIf="FormType == 'add' || FormType == 'edit'">*</span></label>
                          <select class="form-control" [(ngModel)]="Pembolehubah" formControlName="Pembolehubah"
                            name="Pembolehubah" [attr.disabled]="FormType == 'view' ? true : null">
                            <option value="0">{{ '--Pilih Pembolehubah--'}}</option>
                            <option *ngFor="let item of PembolehubahList" value="{{item.id}}">{{ item.name }}
                            </option>
                          </select>
                          <small class="strik m--font-danger"
                            *ngIf="(FormType == 'add' || FormType == 'edit') && (submitted || f.Pembolehubah.touched) && f.Pembolehubah.errors && (f.Pembolehubah.errors.required || f.Pembolehubah.errors.min)">
                            Pembolehubah adalah wajib!
                          </small>
                        </div>
                        <div class="col-sm-6">
                          <label class="col-form-label">Penerangan <span class="strik m--font-danger">*</span>
                          </label>
                          <textarea class="form-control" formControlName="Penerangan" name="Penerangan" rows="6"
                            placeholder="Penerangan"
                            [attr.disabled]="FormType == 'view' && FromMenu != 'batal' ? true : null"></textarea>
                          <small class="strik m--font-danger"
                            *ngIf="(FormType == 'add' || FormType == 'edit') && (submitted || f.Penerangan.touched) && f.Penerangan.errors && f.Penerangan.errors.required">
                            Penerangan adalah wajib!
                          </small>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="text-right mt-4">
                  <button mat-raised-button class="red-button mr-2" (click)="resetForm()" *ngIf="FormType != 'view'"><i
                      class="fa fa-retweet"></i>
                    {{'Reset'}} </button>
                  <button mat-raised-button class="green-button  mr-2" (click)="onSave()" cdkFocusInitial
                    *ngIf="FormType != 'view'"><i class="fas fa-save"></i> Simpan </button>
                  <button mat-raised-button class="blue-button mr-2" cdkFocusInitial
                   (click)="kembali()"><i class="fas fa-angle-double-left"></i>
                    Kembali
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>