<app-mat-spinner-overlay overlay="true" *ngIf="showSpinner"></app-mat-spinner-overlay>
<form novalidate [formGroup]="form">
    <div class="m-grid__item m-grid__item--fluid m-wrapper ">
        <div class="m-content">
            <div class="m-portlet m-portlet--bordered-semi m-portlet--unair">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text">
                                <!-- <a style="color:blue;" routerLink="/app/handheld/senarai-patch-handheld">Carian Patch</a>
                <i class="fa fa-chevron-right mr-2 ml-2" aria-hidden="true"></i> -->
                                {{FormTitle}}
                                Dokumen Sokongan
                            </h3>
                        </div>
                    </div>
                </div>
                <div id="content">
                    <div class="m-portlet__body">
                        <div class="row">
                            <div class="col-sm-12">
                                <!-- <div class="card mb-3">
                  <div class="card-header"><strong>Maklumat Dokumen</strong></div>
                  <div class="card-body"> -->
                                <div class="form-group">
                                    <div class="form-item row">
                                        <div class="col-sm-6">
                                            <label class="col-form-label">Nama Fail <span class="strik m--font-danger"
                                                    *ngIf="FormType != 'view' ">*</span></label>
                                            <input class="form-control" formControlName="Nama" name="Nama" type="text"
                                                placeholder="Nama Fail"
                                                [attr.disabled]="FormType == 'view' ? true : null">
                                            <small class="strik m--font-danger"
                                                *ngIf="(FormType != 'view') && (submitted || f.Nama.touched) && f.Nama.errors && f.Nama.errors.required">
                                                Maklumat Nama Fail adalah wajib!
                                            </small>
                                        </div>
                                        <div class="col-sm-6">
                                            <label class="col-form-label">Keterangan <span class="strik m--font-danger"
                                                    *ngIf="FormType != 'view' ">*</span></label>
                                            <input class="form-control" formControlName="Keterangan" name="Keterangan"
                                                type="text" placeholder="Keterangan"
                                                [attr.disabled]="FormType == 'view' ? true : null">
                                            <small class="strik m--font-danger"
                                                *ngIf="(FormType != 'view') && (submitted || f.Keterangan.touched) && f.Keterangan.errors && f.Keterangan.errors.required">
                                                Maklumat Keterangan Fail adalah wajib!
                                            </small>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="row">
                                                <label class="col-form-label">Fail <span class="strik m--font-danger"
                                                        *ngIf="FormType != 'view' ">*</span>
                                                    <span class="help" *ngIf="FormType != 'view'">(.pdf)</span>
                                                </label>
                                            </div>
                                            <div class="row" *ngIf="FormType != 'view'">
                                                <i class="fa fa-paperclip mr-2 mb-2" aria-hidden="true" for="Pakej"
                                                    style="cursor: pointer;" title="Muat Naik"
                                                    onClick="document.getElementById('Pakej').click(); ">
                                                    {{PakejName == '' ? 'Muat Naik' : PakejName}}</i>
                                            </div>
                                            <input #inputFile class="form-control" name="Pakej" id="Pakej" type="file"
                                                accept=".pdf" [attr.disabled]="FormType == 'view' ? true : null"
                                                (change)="uploadFile([$event])">

                                            <!-- link to download -->
                                            <a class="fa fa-download mr-2" title="Muat Turun Dokumen" target="_blank"
                                                [href]="PakejLink" *ngIf="PakejLink != '' && PakejName == ''"> Dokumen</a>

                                            <small class="strik m--font-danger"
                                                *ngIf="(FormType != 'view') && (submitted || f.Pakej.touched) && f.Pakej.errors && f.Pakej.errors.required">
                                                Memuatnaik Dokumen adalah wajib!
                                            </small>
                                        </div>

                                    </div>
                                </div>
                                <!-- </div>
                </div> -->
                                <div class="text-right mt-4">
                                    <button mat-raised-button class="red-button mr-2" (click)="resetForm()"
                                        *ngIf="FormType != 'view'"><i class="fa fa-retweet"></i>
                                        {{'Reset'}} </button>
                                    <button mat-raised-button class="green-button mr-2" (click)="onSave()"
                                        cdkFocusInitial *ngIf="FormType != 'view'"><i class="fas fa-save"></i> Simpan
                                    </button>
                                    <button mat-raised-button class="red-button mr-2" cdkFocusInitial
                                        (click)="popupClose()"><i class="fas fa-times"></i>
                                        Tutup
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>