<div class="m-grid__item m-grid__item--fluid m-grid m-grid--hor m-login m-login--signin m-login--2 m-login-2--skin-2" id="m_login" appunwraptag="">
  <div class="m-grid__item m-grid__item--fluid	m-login__wrapper">
    <div class="text-center">
      <a href="#"> <img src="./assets/app/media/img//logos/dbkl_logo.png" width="150" height="150" class="logo_bd mb-4"> </a>
    </div>
    <h3 class="text-center xx ">Selamat Datang</h3>
    <h3 class="text-center xx ">Sistem Penguatkuasaan Jabatan (SPJ)</h3>
    <!--<h2 class="text-center xx">DEWAN BANDARAYA KUALA LUMPUR</h2>-->
    <div class="m-login__container">
      <!-- <div class="m-login__logo">
        <a href="#"> <img src="./assets/app/media/img//logos/logo-1.png" class="logo_bd"> </a>
      </div> -->
      <div class="m-login__signin">
        <!--<div class="m-login__head">
          <h3 class="m-login__title">
            <span class="col ">Selamat Datang Ke Sistem Penguatkuasaan</span><span class=" m-login__logo col ">
              <a href="#"> <img src="./assets/app/media/img//logos/logo-1.png" class="logo_bd  blink"> </a>
            </span>
          </h3>
        </div>-->
        <form class="m-login__form m-form ccc" action="">
          <div class="form-group m-form__group">
              <div *ngIf="error" class="form-control-feedback text-center text-danger ">{{error}}</div>
            <input class="form-control m-input text-center" type="text" placeholder="Email" [(ngModel)]="loginService.authenticateModel.username" name="email" autocomplete="off">
          </div>
          <div class="form-group m-form__group">
            <input class="form-control m-input m-login__form-input--last text-center" type="password" [(ngModel)]="loginService.authenticateModel.password" placeholder="Password" name="password">
          </div>
          <div class="row m-login__form-sub">
            <div class="col m--align-left m-login__form-left">
              <label class="m-checkbox  m-checkbox--focus">
                <input type="checkbox" name="remember"> Remember me <span></span>
              </label>
            </div>
            <div class="col m--align-right m-login__form-right"> <a (click)="displayForgetPasswordForm()" id="m_login_forget_password" class="m-link">Forget Password ?</a> </div>
          </div>
          <div class="m-login__form-action text-center vvv">
            <button class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air m-login__btn m-login__btn--primary" (click)="login()">Sign In</button>
          </div>
        </form>
      </div>
  <div class="m-login__signup">
        <div class="m-login__head">
          <h3 class="m-login__title">Sign Up</h3>
          <div class="m-login__desc">Enter your details to create your account:</div>
        </div>
        <form class="m-login__form m-form" action="">
          <div class="form-group m-form__group">
              <div *ngIf="error" class="form-control-feedback text-center text-danger ">{{error}}</div>
            <input class="form-control m-input" type="text"  [(ngModel)]="registerModel.name"  placeholder="Fullname" name="fullname">
          </div>
          <div class="form-group m-form__group">
            <input class="form-control m-input" type="text" [(ngModel)]="registerModel.email" placeholder="Email" name="email" autocomplete="off">
          </div>
          <div class="form-group m-form__group">
            <input class="form-control m-input" type="number" [(ngModel)]="registerModel.mobileNo" placeholder="Mobile Phone" name="mobilephone" autocomplete="off">
          </div>
          <div class="form-group m-form__group">
            <input class="form-control m-input" type="password" [(ngModel)]="registerModel.password" placeholder="Password" name="password">
          </div>
          <div class="form-group m-form__group">
            <input class="form-control m-input m-login__form-input&#45;&#45;last" [(ngModel)]="registerModel.confirmPassword" type="password" placeholder="Confirm Password" name="rpassword">
          </div>
          <div class="row form-group m-form__group m-login__form-sub">
            <div class="col m&#45;&#45;align-left">
              <span  class="m-link" > By Signing Up you have agreed to Struct <a class="m-link m-link&#45;&#45;focus">Terms and Services</a> & <a class="m-link m-link&#45;&#45;focus">Privacy Policy</a>.</span>
            </div>
          </div>
          <!-- <div class="row form-group m-form__group m-login__form-sub">
            <div class="col m&#45;&#45;align-left">
              <label class="m-checkbox m-checkbox&#45;&#45;focus">
                <input type="checkbox" name="newsletter">I agree to receive Struct newsletter. <span></span>
              </label> <span class="m-form__help"></span>
            </div>
          </div> -->
          <div class="m-login__form-action">
            <button id="m_login_signup_submit" class="btn btn-focus m-btn m-btn&#45;&#45;pill m-btn&#45;&#45;custom m-btn&#45;&#45;air  m-login__btn" (click)="signup()">Sign Up</button>&nbsp;&nbsp;
            <button id="m_login_signup_cancel" class="btn btn-outline-focus m-btn m-btn&#45;&#45;pill m-btn&#45;&#45;custom  m-login__btn" (click)="closeForm()">Cancel</button>
          </div>
        </form>
      </div>
      <div class="m-login__forget-password">
        <div class="m-login__head">
          <h3 class="m-login__title">Forgotten Password ?</h3>
          <div class="m-login__desc">Enter your email to reset your password</div>
        </div>
        <form class="m-login__form m-form" action="">
          <div class="form-group m-form__group">
            <div *ngIf="error" class="form-control-feedback text-center text-danger ">{{error}}</div>
            <input class="form-control m-input" type="text" placeholder="Email" [(ngModel)]="forgetpasswordModel.email" name="email" id="m_email" autocomplete="off">
          </div>
          <div class="m-login__form-action">
            <button id="m_login_forget_password_submit" class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air  m-login__btn m-login__btn--primaryr" (click)="forgetpassword()">Request</button>&nbsp;&nbsp;
            <button id="m_login_forget_password_cancel" class="btn btn-outline-focus m-btn m-btn--pill m-btn--custom m-login__btn" (click)="closeForm()">Cancel</button>
          </div>
        </form>
      </div>
      <!--<div class="m-login__account vvv"> <span class="m-login__account-msg"> 				Don't have an account yet ? 				</span>&nbsp;&nbsp; <a (click)="displaySignUpForm()" id="m_login_signup" class="m-link m-link&#45;&#45;light m-login__account-link">Sign Up</a> </div>-->
    </div>
  </div>
</div>


<!-- <script type="text/javascript" src="../../assets/snippets/custom/pages/user/login.js"></script> -->
