.form-group {
    /* position: relative;
    padding: 12px 10px; */
    border:0 !important;
    /* margin-bottom: 20px;
    min-width: 75px; */
    border-radius: 0px !important;
}

.m-login.m-login--2 .m-login__wrapper .m-login__container .m-login__form .m-form__group .form-control {
    border-radius: 15px;
    border: 0px;
    padding: 1rem 1rem;
    margin-top: 0.75rem;
}

/* body {
    background-color: aqua;
    background-image: url(../../assets/app/media/img/bg/bg-7.jpg) !important;
} */



/* .m-login__head {
    padding: 1px ;
} */

.m-login.m-login--2.m-login-2--skin-2 .m-login__container .m-login__head .m-login__title
{
font-family: Verdana, Geneva, sans-serif;
font-size: 32px;
color: #FFFFFF;
/* font-weight: 900; */
text-shadow: 2px 2px 10px rgb(188, 5, 255);
}

.m-login.m-login--2.m-login-2--skin-2 .m-login__container .m-login__head .m-login__desc
{
/* font-family: Verdana, Geneva, sans-serif;
font-size: 36px; */
color: #FFFFFF;
/* font-weight: 900; */
/* text-shadow: 2px 2px 10px rgb(188, 5, 255); */
}




.m-login.m-login--2.m-login-2--skin-2 .m-login__container .m-login__form .m-login__form-sub .m-link {
    color: #ffffff;
}

.m-login.m-login--2 .m-login__wrapper .m-login__container .m-login__form .m-login__form-sub .m-checkbox {
    color: #ffffff;
}

.m-login.m-login--2.m-login-2--skin-2 .m-login__container .m-login__account .m-login__account-msg {
    color: #ffffff;
}

.m-login.m-login--2.m-login-2--skin-2 .m-login__container .m-login__account .m-login__account-link {
    color: #ffffff;
}

.m-login.m-login--2 .m-login__wrapper .m-login__container .m-login__form .m-login__form-action .m-login__btn {
    box-shadow: 0px 0px 0px 1px rgb(255, 255, 255) !important;
}

.text-danger {
    font-weight: 500;
}

.m-form .form-control-feedback {
    background-color: #ffffff ;
    padding: 0.5rem 0.5rem;
    font-size: 1rem;
    /* box-shadow: 0px 0px 5px 2px rgb(255, 255, 255) !important; */
}

@keyframes blink {
    0% {
        box-shadow: 0 0 20px #d052bf;
    }
    25% {
        box-shadow: 0 0 10px #d052bf ;
    }
    50% {
        box-shadow: none;
    }
    75% {
        box-shadow: 0 0 10px #d052bf ;
    }
    100% {
        box-shadow: 0 0 20px #d052bf ;
    }
}
@-webkit-keyframes blink {
    0% {
        box-shadow: 0 0 20px #d052bf ;
    }
    25% {
        box-shadow: 0 0 10px #d052bf ;
    }
    50% {
        box-shadow: 0 0 0;
    }
    75% {
        box-shadow: 0 0 10px #d052bf ;
    }
    100% {
        box-shadow: 0 0 20px #d052bf ;
    }
}


.btn-outline-focus {
    color: #FFFFFF;
    background-color: rgb(240, 39, 39);
    background-image: none;
    border-color: #9816f4;
}

.xx {
    font-size: 32px;
    color: #FFFFFF;
    text-shadow: 2px 2px 10px rgb(188, 5, 255);
}

.ccc {
    margin-top: 35px !important;
}

.vvv {
    margin-top: -16px !important;
}

::-webkit-input-placeholder {
    text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
    text-align: center;
}

::-moz-placeholder {  /* Firefox 19+ */
    text-align: center;
}

:-ms-input-placeholder {
    text-align: center;
}
