<app-mat-spinner-overlay overlay="true" *ngIf="showSpinner"></app-mat-spinner-overlay>
<div class="m-grid__item m-grid__item--fluid m-wrapper ">
  <div class="m-content">
    <div class="m-portlet m-portlet--bordered-semi m-portlet--unair">
      <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
          <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">
              No. Fail Rujukan
            </h3>
          </div>
        </div>
      </div>
      <div class="m-portlet__body">
        <form novalidate [formGroup]="form">
          <div class="card">
            <div class="card-header2" id="headingCarianNotis">
              <h6 class="mb-0">
                <button class="btn btn-link {{reVisit ? '' : 'collapsed'}} " data-toggle="collapse"
                  data-target="#collapseCarianNotis" aria-expanded=" {{reVisit ? 'true' : 'false'}} "
                  aria-controls="collapseCarianNotis">
                  <i class="fa" aria-hidden="true"></i>
                  Carian
                </button>
              </h6>
            </div>
            <div id="collapseCarianNotis" class="collapse {{reVisit ? 'show' : ''}}"
              aria-labelledby="headingCarianNotis" data-parent="#accordion">
              <div class="card-body card-body-padding-top">
                <div class="col-form-label">
                  <div class="form-group">
                    <div class="form-item row">
                      <div class="col-sm-4">
                        <label class="col-form-label">Jenis <span
                            class="strik m--font-danger">*</span></label>
                        <select class="form-control" [(ngModel)]="OffenceAct" formControlName="OffenceAct"
                          name="OffenceAct" (change)="resetType()" >
                          <option value="0">{{ '--Pilih Jenis--'}}</option>
                          <option *ngFor="let item of OffenceActList" value="{{item.id}}">{{ item.name }}
                          </option>
                        </select>
                        <small class="strik m--font-danger"
                          *ngIf="(submitted || f.OffenceAct.touched) && f.OffenceAct.errors && (f.OffenceAct.errors.required || f.OffenceAct.errors.min)">
                          Jenis adalah wajib!
                        </small>
                      </div>
                      <div class="col-sm-4"  *ngIf="OffenceAct == 1">
                        <label class="col-form-label">Jenis Kesalahan </label>
                        <select class="form-control" [(ngModel)]="JenisKesalahan" formControlName="JenisKesalahan"
                          name="JenisKesalahan">
                          <option value="0">{{ '--Pilih Jenis Kesalahan--'}}</option>
                          <option *ngFor="let item of JenisKesalahanList" value="{{item.id}}">{{ item.name }}
                          </option>
                        </select>                      
                      </div>                     
                      <div class="col-sm-4">
                        <label class="col-form-label">Tarikh Kesalahan<span class="help">(Contoh:
                            31/12/2020)</span></label>
                        <div class="input-group">
                          <input formControlName="TarikhKesalahan" spellcheck="false" class="form-control" maxlength="10"
                            [matDatepicker]="pickerTarikhKesalahan" [(ngModel)]="TarikhKesalahan"
                            placeholder="Tarikh Kesalahan">
                          <mat-datepicker-toggle matSuffix [for]="pickerTarikhKesalahan"></mat-datepicker-toggle>
                          <mat-datepicker #pickerTarikhKesalahan></mat-datepicker>
                        </div>                        
                      </div>                       
                      <div class="col-sm-4">
                        <label class="col-form-label">No. Notis</label>
                        <input class="form-control" formControlName="NoNotis" name="NoNotis" type="text"
                          placeholder="No. Notis">
                      </div>
                      <div class="col-sm-4" *ngIf="OffenceAct == 2">
                        <label class="col-form-label">No. IP</label>
                        <input class="form-control" formControlName="NoIp" name="NoIp" type="text"
                          placeholder="No. IP">
                      </div>
                      <div class="col-sm-4" *ngIf="OffenceAct == 2">
                        <label class="col-form-label">No. TPR</label>
                        <input class="form-control" formControlName="NoTpr" name="NoTpr" type="text"
                          placeholder="No. TPR">
                      </div>                     
                      <div class="col-sm-4">
                        <label class="col-form-label">No. Fail Rujukan</label>
                        <input class="form-control" formControlName="NoFail" name="NoFail" type="text"
                          placeholder="No. Fail Rujukan">
                      </div>                      
                      <div class="col-sm-4">
                        <label class="col-form-label">Tarikh Fail Rujukan<span class="help">(Contoh:
                            31/12/2020)</span></label>
                        <div class="input-group">
                          <input formControlName="TarikhFail" spellcheck="false" class="form-control" maxlength="10"
                            [matDatepicker]="pickerTarikhFail" [(ngModel)]="TarikhFail"
                            placeholder="Tarikh Fail Rujukan">
                          <mat-datepicker-toggle matSuffix [for]="pickerTarikhFail"></mat-datepicker-toggle>
                          <mat-datepicker #pickerTarikhFail></mat-datepicker>
                        </div>                        
                      </div>               
                      <div class="col-sm-4" *ngIf="OffenceAct == 1">
                        <label class="col-form-label">Tarikh Mula<span class="help">(Contoh:
                            31/12/2020)</span></label>
                        <div class="input-group">
                          <input formControlName="TarikhMula" spellcheck="false" class="form-control" maxlength="10"
                            [matDatepicker]="pickerTarikhMula" [(ngModel)]="TarikhMula"
                            placeholder="Tarikh Mula">
                          <mat-datepicker-toggle matSuffix [for]="pickerTarikhMula"></mat-datepicker-toggle>
                          <mat-datepicker #pickerTarikhMula></mat-datepicker>
                        </div>
                        <small class="strik m--font-danger"
                          *ngIf="(submitted || f.TarikhMula.touched) && f.TarikhMula.errors && f.TarikhMula.errors.exceed">
                          Tarikh Akhir tidak melebihi Tarikh Mula
                        </small>
                      </div>
                      <div class="col-sm-4" *ngIf="OffenceAct == 1">
                        <label class="col-form-label">Tarikh Akhir<span class="help">(Contoh:
                            31/12/2020)</span></label>
                        <div class="input-group">
                          <input formControlName="TarikhAkhir" spellcheck="false" class="form-control" maxlength="10"
                            [matDatepicker]="pickerTarikhAkhir" [(ngModel)]="TarikhAkhir"
                            placeholder="Tarikh Akhir">
                          <mat-datepicker-toggle matSuffix [for]="pickerTarikhAkhir"></mat-datepicker-toggle>
                          <mat-datepicker #pickerTarikhAkhir></mat-datepicker>
                        </div>
                        <small class="strik m--font-danger"
                          *ngIf="(submitted || f.TarikhAkhir.touched) && f.TarikhAkhir.errors && f.TarikhAkhir.errors.exceed">
                          Tarikh Akhir tidak melebihi Tarikh Mula
                        </small>
                      </div>                 
                    </div>
                  </div>
                </div>
                <div class="text-right mt-4">
                  <button mat-raised-button class="red-button mr-2" (click)="reset()"><i class="fa fa-retweet"></i>
                    {{'Reset'}} </button>
                  <button mat-raised-button class="blue-button" (click)="search()"><i class="fa fa-search"></i>
                    {{'Cari'}} </button>
                </div>
              </div>
            </div>
          </div>
        </form>
        <div class="m-grid__item m-grid__item--fluid m-wrapper mt-3 {{showList ? '' : 'hide-list'}}"  >
          <div class="primeng-datatable-container">
            <p-table class="" id="dataTable1" #dataTable (onLazyLoad)="getFailList($event); "
              (selectionChange)="onSelectionChange($event)" [value]="primengTableHelper.records"
              rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true"
              [scrollable]="true" ScrollWidth="100%" [responsive]="primengTableHelper.isResponsive"
              [resizableColumns]="primengTableHelper.resizableColumns" selectionMode="multiple"
              (onRowSelect)="onRowSelect($event)">
              <ng-template pTemplate="header">
                <tr *ngIf="OffenceAct == 1">
                  <!-- <th style="width: 35px " class="text-center stickColumnLeft">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                  </th> -->
                  <th style="width: 35px " class="text-center">
                    {{'#'}}
                  </th>                 
                  <th style="width: 100px " pSortableColumn="NoSaman">
                    {{'No. Saman'}}
                    <p-sortIcon field="NoSaman"></p-sortIcon>
                  </th>
                  <th style="width: 100px " pSortableColumn="NoNotis">
                    {{'No. Notis'}}
                    <p-sortIcon field="NoNotis"></p-sortIcon>
                  </th>
                  <th style="width: 100px" pSortableColumn="TarikhKes">
                    {{'Tarikh Kes'}}
                    <p-sortIcon field="TarikhKes"></p-sortIcon>
                  </th>
                  <th style="width: 100px" pSortableColumn="NoKenderaan">
                    {{'No. Kenderaan'}}
                    <p-sortIcon field="NoKenderaan"></p-sortIcon>
                  </th>
                  <th style="width: 100px" pSortableColumn="TarikhDaftar">
                    {{'Tarikh Daftar'}}
                    <p-sortIcon field="TarikhDaftar"></p-sortIcon>
                  </th>
                  <th style="width: 100px" pSortableColumn="TarikhSaman">
                    {{'Tarikh Saman'}}
                    <p-sortIcon field="TarikhSaman"></p-sortIcon>
                  </th>
                  <th style="width: 100px" pSortableColumn="TarikhSebutan">
                    {{'Tarikh Sebutan'}}
                    <p-sortIcon field="TarikhSebutan"></p-sortIcon>
                  </th>
                  <th style="width: 100px" pSortableColumn="Keputusan">
                    {{'Keputusan'}}
                    <p-sortIcon field="Keputusan"></p-sortIcon>
                  </th>
                  <th style="width: 100px" pSortableColumn="NoFail">
                    {{'No. Fail Rujukan'}}
                    <p-sortIcon field="NoFail"></p-sortIcon>
                  </th>
                </tr>
                <tr *ngIf="OffenceAct == 2">
                  <!-- <th style="width: 35px " class="text-center stickColumnLeft">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                  </th> -->
                  <th style="width: 35px " class="text-center">
                    {{'#'}}
                  </th>                 
                  <th style="width: 100px " pSortableColumn="NoSaman">
                    {{'No. Saman'}}
                    <p-sortIcon field="NoSaman"></p-sortIcon>
                  </th>
                  <th style="width: 100px " pSortableColumn="NoNotis">
                    {{'No. Notis'}}
                    <p-sortIcon field="NoNotis"></p-sortIcon>
                  </th>
                  <th style="width: 100px" pSortableColumn="TarikhKesalahan">
                    {{'Tarikh Kesalahan'}}
                    <p-sortIcon field="TarikTarikhKesalahanhKes"></p-sortIcon>
                  </th>
                  <th style="width: 100px" pSortableColumn="NamaSyarikat">
                    {{'Nama Syarikat'}}
                    <p-sortIcon field="NamaSyarikat"></p-sortIcon>
                  </th>
                  <th style="width: 100px" pSortableColumn="NoTpr">
                    {{'No. TPR'}}
                    <p-sortIcon field="NoTpr"></p-sortIcon>
                  </th>
                  <th style="width: 100px" pSortableColumn="NoIp">
                    {{'No. IP'}}
                    <p-sortIcon field="NoIp"></p-sortIcon>
                  </th>
                  <th style="width: 130px" pSortableColumn="TarikhFail">
                    {{'Tarikh Fail Rujukan'}}
                    <p-sortIcon field="TarikhFail"></p-sortIcon>
                  </th>
                  <th style="width: 100px" pSortableColumn="NoFail">
                    {{'No. Fail Rujukan'}}
                    <p-sortIcon field="NoFail"></p-sortIcon>
                  </th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-record="$implicit" let-rowIndex="rowIndex" let-columns="columns">
                <tr [pSelectableRow]="record" [pSelectableRowDisabled]="" *ngIf="OffenceAct == 1">
                  <!-- <td style="width: 35px" class="text-center stickColumnLeft">
                    <p-tableCheckbox [value]="record"></p-tableCheckbox>
                  </td> -->
                  <td style="width: 35px " class="text-center">
                    {{(paginator.getPage() * paginator.rows) + (rowIndex+1)}}
                  </td>
                  <td style="width: 100px ">
                    <span class="ui-column-title"></span>
                    {{record.NoSaman}}
                  </td>
                  <td style="width: 100px ">
                    <span class="ui-column-title"></span>
                    {{record.NoNotis}}
                  </td>
                  <td style="width: 100px ">
                    <span class="ui-column-title"></span>
                    {{record.TarikhKes}}
                  </td>
                  <td style="width: 100px ">
                    <span class="ui-column-title"></span>
                    {{record.NoKenderaan}}
                  </td>
                  <td style="width: 100px ">
                    <span class="ui-column-title"></span>
                    {{record.TarikhDaftar}}
                  </td>
                  <td style="width: 100px ">
                    <span class="ui-column-title"></span>
                    {{record.TarikhSaman}}
                  </td>
                  <td style="width: 100px ">
                    <span class="ui-column-title"></span>
                    {{record.TarikhSebutan}}
                  </td>
                  <td style="width: 100px ">
                    <span class="ui-column-title"></span>
                    {{record.Keputusan}}
                  </td>
                  <td style="width: 100px ">
                    <span class="ui-column-title"></span>
                    {{record.NoFail}}
                  </td>
                </tr>
                <tr [pSelectableRow]="record" [pSelectableRowDisabled]="" *ngIf="OffenceAct == 2">
                  <!-- <td style="width: 35px" class="text-center stickColumnLeft">
                    <p-tableCheckbox [value]="record"></p-tableCheckbox>
                  </td> -->
                  <td style="width: 35px " class="text-center">
                    {{(paginator.getPage() * paginator.rows) + (rowIndex+1)}}
                  </td>
                  <td style="width: 100px ">
                    <span class="ui-column-title"></span>
                    {{record.NoSaman}}
                  </td>
                  <td style="width: 100px ">
                    <span class="ui-column-title"></span>
                    {{record.NoNotis}}
                  </td>
                  <td style="width: 100px ">
                    <span class="ui-column-title"></span>
                    {{record.TarikhKesalahan}}
                  </td>
                  <td style="width: 100px ">
                    <span class="ui-column-title"></span>
                    {{record.NamaSyarikat}}
                  </td>
                  <td style="width: 100px ">
                    <span class="ui-column-title"></span>
                    {{record.NoTpr}}
                  </td>
                  <td style="width: 100px ">
                    <span class="ui-column-title"></span>
                    {{record.NoIp}}
                  </td>
                  <td style="width: 130px ">
                    <span class="ui-column-title"></span>
                    {{record.TarikhFail}}
                  </td>
                  <td style="width: 100px ">
                    <span class="ui-column-title"></span>
                    {{record.NoFail}}
                  </td>
                </tr>
              </ng-template>
            </p-table>
            <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
              {{'NoData'}}
            </div>
            <div class="primeng-paging-container" style="position: relative;">
              <p-paginator rows="{{primengTableHelper.defaultRecordsCountPerPage}}" #paginator
                (onPageChange)="getFailList($event)" [totalRecords]="primengTableHelper.totalRecordsCount"
                [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
              </p-paginator>
            </div>
            <div class="text-right">
              <span style=" top:3px; right:5px; margin: 5px;">Total records :
                {{primengTableHelper.totalRecordsCount}}</span>
            </div>
            <div *ngIf="primengTableHelper.totalRecordsCount > 0">
              <div class="btn-group" dropdown>
                <button mat-raised-button id="button-print" dropdownToggle class="purple-button mr-2"
                  aria-controls="dropdown-print">
                  <mat-icon aria-label="Example icon-button with a heart icon">print</mat-icon>
                  Cetak
                </button>
                <ul id="dropdown-print" *dropdownMenu class="dropdown-menu mt-1 ml-2" role="menu"
                  aria-labelledby="button-print" style="cursor: pointer;">
                  <li role="menuitem"><a class="dropdown-item" (click)="printTablePdf()">Cetak Senarai</a></li>
                  <li role="menuitem"><a class="dropdown-item" (click)="printTableExcel()">Eksport Ke Excel</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>