<app-mat-spinner-overlay overlay="true" *ngIf="showSpinner"></app-mat-spinner-overlay>
<form novalidate [formGroup]="form">
  <div class="m-grid__item m-grid__item--fluid m-wrapper ">
    <div class="m-content">
      <div class="m-portlet m-portlet--bordered-semi m-portlet--unair">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <h3 class="m-portlet__head-text">
                <a style="color:blue;" routerLink="/app/mahkamah/senarai-mahkamah/{{FromMenu}}"
                  *ngIf="FromMenu != 'kemasukan'">Carian
                  Mahkamah</a>
                <i class="fa fa-chevron-right mr-2 ml-2" aria-hidden="true" *ngIf="FromMenu != 'kemasukan'"></i>
                {{FormTitle}}
                Mahkamah
              </h3>
            </div>
          </div>
        </div>
        <div id="content">
          <div class="m-portlet__body">
            <div class="row">
              <div class="col-sm-12">
                <div class="card mb-3">
                  <div class="card-header"><strong>Maklumat Pendakwaan</strong></div>
                  <div class="card-body">
                    <div class="form-group">
                      <div class="form-item row">
                        <div class="col-sm-6">
                          <label class="col-form-label">No. Notis <span class="strik m--font-danger"
                              *ngIf="FormType == 'add' || FormType == 'edit'">*</span></label>
                          <div class="input-group">
                            <input class="form-control" formControlName="NoNotis" [(ngModel)]="NoNotis" name="NoNotis" type="text"
                              placeholder="No. Notis" disabled>
                            <span class="input-group-append">
                              <button class="ml-1" type="button" style="cursor: pointer;" (click)="searchNotis()" title="Carian Notis">
                                <i class="fa fa-search ml-1"></i>
                              </button>
                            </span>
                          </div>
                          <small class="strik m--font-danger"
                            *ngIf="(FormType == 'add' || FormType == 'edit') && (submitted || f.NoNotis.touched) && f.NoNotis.errors && f.NoNotis.errors.required">
                            Maklumat No. Notis adalah wajib!
                          </small>
                          <input class="form-control" formControlName="IdNotis" name="IdNotis" [(ngModel)]="IdNotis" type="hidden">
                        </div>
                        <div class="col-sm-6">
                          <label class="col-form-label">Tarikh Notis <span class="strik m--font-danger"
                              *ngIf="FormType != 'view'">*</span><span class="help">(Contoh:
                              31/12/2020)</span></label>
                          <div class="input-group">
                            <input formControlName="TarikhNotis" spellcheck="false" class="form-control" maxlength="10"
                              [matDatepicker]="pickerTarikhNotis" [(ngModel)]="TarikhNotis" placeholder="Tarikh Notis" disabled>
                            <mat-datepicker-toggle matSuffix [for]="pickerTarikhNotis"></mat-datepicker-toggle>
                            <mat-datepicker #pickerTarikhNotis></mat-datepicker>
                          </div>
                          <small class="strik m--font-danger"
                            *ngIf="(FormType != 'view') && (submitted || f.TarikhNotis.touched) && f.TarikhNotis.errors && f.TarikhNotis.errors.required">
                            Tarikh Notis adalah wajib!
                          </small>
                          <small class="strik m--font-danger"
                            *ngIf="(FormType != 'view') && (submitted || f.TarikhNotis.touched) && f.TarikhNotis.errors && f.TarikhNotis.errors.exceed">
                            Tarikh Notis tidak melebihi Tarikh Semasa!
                          </small>
                        </div>
                        <div class="col-sm-6">
                          <label class="col-form-label">No. Rujukan Fail <span class="strik m--font-danger"
                              *ngIf="FormType == 'add' || FormType == 'edit'">*</span></label>
                          <input class="form-control" formControlName="NoRujukan" name="NoRujukan" type="text"
                            placeholder="No. Rujukan Fail">
                          <small class="strik m--font-danger"
                            *ngIf="(FormType == 'add' || FormType == 'edit') && (submitted || f.NoRujukan.touched) && f.NoRujukan.errors && f.NoRujukan.errors.required">
                            Maklumat No. Rujukan Fail adalah wajib!
                          </small>
                        </div>
                        <div class="col-sm-6">
                          <label class="col-form-label">Status Bayaran <span class="strik m--font-danger"
                              *ngIf="FormType != 'view'">*</span></label>
                          <div class="col-sm-12">
                            <mat-radio-group #rGroupStatusBayaran layout="row" [(ngModel)]="StatusBayaran"
                              formControlName="StatusBayaran">
                              <mat-radio-button [value]="1" class="mr-3" radioGroup="rGroupStatusBayaran">Telah Bayar
                              </mat-radio-button>
                              <mat-radio-button [value]="2" class="mr-3" radioGroup="rGroupStatusBayaran">Belum Bayar
                              </mat-radio-button>
                            </mat-radio-group>
                          </div>
                          <small class="strik m--font-danger"
                            *ngIf="(FormType == 'add' || FormType == 'edit') && (submitted || f.StatusBayaran.touched) && f.StatusBayaran.errors && (f.StatusBayaran.errors.required || f.StatusBayaran.errors.min)">
                            Status bayaran adalah wajib!
                          </small>
                        </div>
                        <div class="col-sm-6">
                          <label class="col-form-label">Nama <span class="strik m--font-danger"
                              *ngIf="FormType == 'add' || FormType == 'edit'">*</span></label>
                          <input class="form-control" formControlName="Nama" name="Nama" type="text" placeholder="Nama">
                          <small class="strik m--font-danger"
                            *ngIf="(FormType == 'add' || FormType == 'edit') && (submitted || f.Nama.touched) && f.Nama.errors && f.Nama.errors.required">
                            Maklumat Nama adalah wajib!
                          </small>
                        </div>
                        <div class="col-sm-6">
                          <label class="col-form-label">No. KP <span class="strik m--font-danger"
                              *ngIf="FormType == 'add' || FormType == 'edit'">*</span></label>
                          <input class="form-control" formControlName="NoKP" name="NoKP" type="text"
                            placeholder="No. KP">
                          <small class="strik m--font-danger"
                            *ngIf="(FormType == 'add' || FormType == 'edit') && (submitted || f.NoKP.touched) && f.NoKP.errors && f.NoKP.errors.required">
                            Maklumat No. KP adalah wajib!
                          </small>
                        </div>
                        <div class="col-sm-6">
                          <label class="col-form-label">Pertuduhan <span class="strik m--font-danger"
                              *ngIf="FormType == 'add' || FormType == 'edit'">*</span></label>
                          <textarea class="form-control" formControlName="Pertuduhan" name="Pertuduhan" rows="5"
                            placeholder="Pertuduhan"></textarea>
                          <small class="strik m--font-danger"
                            *ngIf="(FormType == 'add' || FormType == 'edit') && (submitted || f.Pertuduhan.touched) && f.Pertuduhan.errors && f.Pertuduhan.errors.required">
                            Maklumat Pertuduhan adalah wajib!
                          </small>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card mb-3">
                  <div class="card-header"><strong>Maklumat Pengurusan Kes</strong></div>
                  <div class="card-body">
                    <div class="form-group">
                      <div class="form-item row">
                        <div class="col-sm-6">
                          <label class="col-form-label">No. Kes <span class="strik m--font-danger"
                              *ngIf="FormType == 'add' || FormType == 'edit'">*</span></label>
                          <input class="form-control" formControlName="NoKes" name="NoKes" type="text"
                            placeholder="No. Kes">
                          <small class="strik m--font-danger"
                            *ngIf="(FormType == 'add' || FormType == 'edit') && (submitted || f.NoKes.touched) && f.NoKes.errors && f.NoKes.errors.required">
                            Maklumat No. Kes adalah wajib!
                          </small>
                        </div>
                        <div class="col-sm-6">
                          <label class="col-form-label">Tarikh Daftar <span class="strik m--font-danger"
                              *ngIf="FormType != 'view'">*</span><span class="help">(Contoh:
                              31/12/2020)</span></label>
                          <div class="input-group">
                            <input formControlName="TarikhDaftar" spellcheck="false" class="form-control" maxlength="10"
                              [matDatepicker]="pickerTarikhDaftar" [(ngModel)]="TarikhDaftar"
                              placeholder="Tarikh Daftar">
                            <mat-datepicker-toggle matSuffix [for]="pickerTarikhDaftar"></mat-datepicker-toggle>
                            <mat-datepicker #pickerTarikhDaftar></mat-datepicker>
                          </div>
                          <small class="strik m--font-danger"
                            *ngIf="(FormType != 'view') && (submitted || f.TarikhDaftar.touched) && f.TarikhDaftar.errors && f.TarikhDaftar.errors.required">
                            Tarikh Daftar adalah wajib!
                          </small>
                          <small class="strik m--font-danger"
                            *ngIf="(FormType != 'view') && (submitted || f.TarikhDaftar.touched) && f.TarikhDaftar.errors && f.TarikhDaftar.errors.exceed">
                            Tarikh Daftar tidak melebihi Tarikh Semasa!
                          </small>
                        </div>
                        <div class="col-sm-6">
                          <label class="col-form-label">Tempat Bicara <span class="strik m--font-danger"
                              *ngIf="FormType == 'add' || FormType == 'edit'">*</span></label>
                          <input class="form-control" formControlName="TempatBicara" name="TempatBicara" type="text"
                            placeholder="Tempat Bicara">
                          <small class="strik m--font-danger"
                            *ngIf="(FormType == 'add' || FormType == 'edit') && (submitted || f.TempatBicara.touched) && f.TempatBicara.errors && f.TempatBicara.errors.required">
                            Maklumat Tempat Bicara adalah wajib!
                          </small>
                        </div>
                        <div class="col-sm-6">
                          <label class="col-form-label">Tarikh Sebutan <span class="strik m--font-danger"
                              *ngIf="FormType != 'view'">*</span><span class="help">(Contoh:
                              31/12/2020)</span></label>
                          <div class="input-group">
                            <input formControlName="TarikhSebutan" spellcheck="false" class="form-control"
                              maxlength="10" [matDatepicker]="pickerTarikhSebutan" [(ngModel)]="TarikhSebutan"
                              placeholder="Tarikh Sebutan">
                            <mat-datepicker-toggle matSuffix [for]="pickerTarikhSebutan"></mat-datepicker-toggle>
                            <mat-datepicker #pickerTarikhSebutan></mat-datepicker>
                          </div>
                          <small class="strik m--font-danger"
                            *ngIf="(FormType != 'view') && (submitted || f.TarikhSebutan.touched) && f.TarikhSebutan.errors && f.TarikhSebutan.errors.required">
                            Tarikh Sebutan adalah wajib!
                          </small>
                          <small class="strik m--font-danger"
                            *ngIf="(FormType != 'view') && (submitted || f.TarikhSebutan.touched) && f.TarikhSebutan.errors && f.TarikhSebutan.errors.exceed">
                            Tarikh Sebutan tidak melebihi Tarikh Semasa!
                          </small>
                        </div>
                        <div class="col-sm-6">
                          <label class="col-form-label">Keputusan / Hukuman <span class="strik m--font-danger"
                              *ngIf="FormType == 'add' || FormType == 'edit'">*</span></label>
                          <textarea class="form-control" formControlName="Keputusan" name="Keputusan" rows="5"
                            placeholder="Keputusan / Hukuman"></textarea>
                          <small class="strik m--font-danger"
                            *ngIf="(FormType == 'add' || FormType == 'edit') && (submitted || f.Keputusan.touched) && f.Keputusan.errors && f.Keputusan.errors.required">
                            Maklumat Keputusan / Hukuman adalah wajib!
                          </small>
                        </div>
                        <div class="col-sm-6">
                          <label class="col-form-label">Tarikh Waran <span class="strik m--font-danger"
                              *ngIf="FormType != 'view'">*</span><span class="help">(Contoh:
                              31/12/2020)</span></label>
                          <div class="input-group">
                            <input formControlName="TarikhWaran" spellcheck="false" class="form-control" maxlength="10"
                              [matDatepicker]="pickerTarikhWaran" [(ngModel)]="TarikhWaran" placeholder="Tarikh Waran">
                            <mat-datepicker-toggle matSuffix [for]="pickerTarikhWaran"></mat-datepicker-toggle>
                            <mat-datepicker #pickerTarikhWaran></mat-datepicker>
                          </div>
                          <small class="strik m--font-danger"
                            *ngIf="(FormType != 'view') && (submitted || f.TarikhWaran.touched) && f.TarikhWaran.errors && f.TarikhWaran.errors.required">
                            Tarikh Waran adalah wajib!
                          </small>
                          <small class="strik m--font-danger"
                            *ngIf="(FormType != 'view') && (submitted || f.TarikhWaran.touched) && f.TarikhWaran.errors && f.TarikhWaran.errors.exceed">
                            Tarikh Waran tidak melebihi Tarikh Semasa!
                          </small>
                        </div>
                        <div class="col-sm-6">
                          <label class="col-form-label">Status <span class="strik m--font-danger"
                              *ngIf="FormType == 'add' || FormType == 'edit'">*</span></label>
                          <select class="form-control" [(ngModel)]="StatusMahkamah" formControlName="StatusMahkamah"
                            name="StatusMahkamah">
                            <option value="0">{{ '--Pilih Status--'}}</option>
                            <option *ngFor="let item of StatusMahkamahList" value="{{item.id}}">{{ item.name }}
                            </option>
                          </select>
                          <small class="strik m--font-danger"
                            *ngIf="(FormType == 'add' || FormType == 'edit') && (submitted || f.StatusMahkamah.touched) && f.StatusMahkamah.errors && (f.StatusMahkamah.errors.required || f.StatusMahkamah.errors.min)">
                            Status adalah wajib!
                          </small>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="text-right mt-4">
                  <button mat-raised-button class="red-button mr-2" (click)="resetForm()"
                    *ngIf="FormType != 'view' || FromMenu == 'keputusan'"><i class="fa fa-retweet"></i>
                    {{'Reset'}} </button>
                  <button mat-raised-button class="green-button  mr-2" (click)="onSave('simpan')" cdkFocusInitial
                    *ngIf="FormType != 'view' || FromMenu == 'keputusan'"><i class="fas fa-save"></i> Simpan </button>
                  <button mat-raised-button class="blue-button mr-2" cdkFocusInitial (click)="kembali()"><i
                      class="fas fa-angle-double-left"></i>
                    Kembali
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>