<app-mat-spinner-overlay overlay="true" *ngIf="showSpinner"></app-mat-spinner-overlay>
<form novalidate [formGroup]="form">
    <div class="m-portlet__body">
        <div class="row ">
            <div class="col-sm-12">
                <div class="card mb-3">
                    <div class="card-header"><strong>Change Password</strong></div>
                    <div class="card-body">
                        <div class="form-group">
                            <div class="form-item row">
                                <div class="col-sm-3">
                                    <label class="col-form-label">Current Password</label>
                                </div>
                                <div class="col-sm-9">
                                    <input type="password" class="form-control" formControlName="currentPassword"
                                        id="currentPassword" name="currentPassword">
                                </div>
                            </div>
                            <div class="form-item row">
                                <label class="col-sm-3 col-form-label">New Password
                                </label>
                                <div class="col-sm-9">
                                    <input type="password" class="form-control" formControlName="newPassword"
                                        id="newPassword" name="newPassword" required>
                                </div>
                            </div>
                            <div class="form-item row">
                                <label class="col-sm-3 col-form-label">Confirm Password
                                </label>
                                <div class="col-sm-9">
                                    <input type="password" class="form-control" formControlName="confirmPassword"
                                        id="confirmPassword" name="confirmPassword" required>
                                    <!-- <validation-error [control]="form.get('Email')"></validation-error> -->
                                    <small class="strik m--font-danger ml-1"
                                        *ngIf="confirmPassword && confirmPassword.touched && confirmPassword.invalid && confirmPassword.errors.required">
                                        Confirm Password is required.
                                    </small>
                                    <small class="strik m--font-danger ml-1"
                                        *ngIf="form.get('confirmPassword').touched && form && form.invalid && form.errors &&  form.errors.notSame">
                                        Passwords do not match.
                                    </small>
                                </div>
                            </div>
                            <!-- <div class="form-item row">
                                <div class="col-md-12">
                                    <div class="alert alert-danger"
                                        *ngIf="confirmPassword && confirmPassword.touched && confirmPassword.invalid">
                                        <div *ngIf="confirmPassword.errors.required">Confirm Password is required.</div>
                                    </div>
                                    <div class="alert alert-danger"
                                        *ngIf="form.get('confirmPassword').touched && form && form.invalid && form.errors &&  form.errors.notSame">
                                        Passwords do not match.
                                    </div>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
                <div class="right-corner pb-3">
                    <button mat-raised-button class="green-button mr-2" (click)="change()" [disabled]="!this.isValid()"
                        cdkFocusInitial><i class="fas fa-save"></i>Save</button>
                    <button mat-raised-button class="red-button" (click)="cancel()"><i
                            class="far fa-times-circle"></i>Cancel</button>
                </div>
            </div>
        </div>
    </div>
</form>









<!--

<div>
    <form novalidate [formGroup]="form">
        <div class="form-group">
            <div class="form-item row">
                <label class="col-sm-2 col-form-label">Current Password:</label>
                <div class="col-sm-10 input-group">
                    <input type="password" class="form-control" formControlName="currentPassword" id="currentPassword"
                        name="currentPassword">
                </div>
            </div>
            <div class="form-item row">
                <label class="col-sm-2 col-form-label">New Password:</label>
                <div class="col-sm-10 input-group">
                    <input type="password" class="form-control" formControlName="newPassword" id="newPassword"
                        name="newPassword" required>
                </div>
            </div>
            <div class="form-item row">
                <label class="col-sm-2 col-form-label">Confirm Password:</label>
                <div class="col-sm-10 input-group">
                    <input type="password" class="form-control" formControlName="confirmPassword" id="confirmPassword"
                        name="confirmPassword" required>
                </div>
                <div class="col-md-12">
                    <div class="alert alert-danger"
                        *ngIf="confirmPassword && confirmPassword.touched && confirmPassword.invalid">
                        <div *ngIf="confirmPassword.errors.required">Confirm Password is required.</div>
                    </div>
                    <div class="alert alert-danger"
                        *ngIf="form.get('confirmPassword').touched && form && form.invalid && form.errors &&  form.errors.notSame">
                        Passwords do not match.
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div mat-dialog-actions class="right-corner pb-3">
    <button mat-raised-button class="green-button" (click)="change()" [disabled]="!this.isValid()" cdkFocusInitial><i
            class="fas fa-save"></i>Save</button>
    <button mat-raised-button class="red-button" (click)="cancel()"><i class="far fa-times-circle"></i>Cancel</button>
</div>
-->