// @import '../../common-form.scss';

.right-corner {
  display: flex;
  align-content: center;
  justify-content: flex-end;
}


.form-group {
  position: relative;
  padding: 12px 10px;
  // border: 1px gray solid;
  margin-bottom: 20px;
  min-width: 75px;
  >.form-group-label {
      position: absolute;
      top: -8px;
      left: 8px;
      padding: 0 3px;
      background-color: white;
  }
  .form-item {
      position: relative;
      display: flex;
      align-items: center;
      margin-bottom: 15px;
      min-height: 25px;
      validation-error {
          padding-left: 15px;
      }
      >label {
          min-width: 175px;
          font-size: 13px;
          margin-bottom: 0;
      }
      &.required>label::after {
          content: "*";
          margin-left: 2px;
          color: red;
          font-weight: bold;
      }
      input,
      textarea {
          display: block;
          flex: 1;
          min-width: 20px;
      }
      input.ng-invalid.ng-touched,
      textarea.ng-invalid.ng-touched,
      .ng-invalid>input.ng-touched .ng-invalid>textarea.ng-touched {
          border: 1px solid #c85578 !important;
      }
  }
}
