.tableFooterRow, .mat-header-cell {
    font-weight: bold;
  }

.mat-cell, .mat-footer-cell {
    vertical-align: top;
}

.mat-cell {
font-size: small;
padding: 3px;
}

.scrollTable {   
    overflow: auto;
}


.vartical-radio-group {
    display: flex; flex-direction: column;
    /* display: inline-grid; */ 
    /* display: grid; */
    margin: 15px 0;
  }
  
  
.fixedScollCard{
    position: sticky;
    top:12%;
    z-index: 98;
}

.right-corner {
    display: flex;
    align-content: center;
    justify-content: flex-end;
  }

  .ng-star-inserted >th {
    font-size: x-small !important;
  }

  .ng-star-inserted >td {
    font-size:  x-small !important;
  }
  
  // body .ui-table .ui-table-thead > tr > th {
  //      font-size: 12px !important;
  // }


 
.modalCropped {
  //display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 9999; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modalCropped-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
}

img {
  border: 1px solid rgb(184, 184, 184);
  border-radius: 4px;
  padding: 5px;
  width: 140px;
}