<form novalidate [formGroup]="form">
  <div class="m-grid__item m-grid__item--fluid m-wrapper ">
    <div class="m-content">
      <div class="m-portlet m-portlet--bordered-semi m-portlet--unair">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <h3 class="m-portlet__head-text">
                <a style="color:blue;" routerLink="/app/sales/coupon-list">Coupon List</a>
                <i class="fa fa-chevron-right mr-2 ml-2" aria-hidden="true"></i>
                {{CouponId == 0 ? 'Add New Coupon' : 'Edit Coupon'}}
              </h3>
            </div>
          </div>
        </div>
        <div class="m-portlet__body">
          <div class="row ">
            <div class="col-sm-8 mb-5">
              <div class="card mb-3">
                <div class="card-header"><strong>Profile Image</strong></div>
                <div class="card-body">
                  <div class="form-group">
                    <div class="ml-3" style="vertical-align: top;">
                      <img [src]="ImageUrl" height="140" width="140" *ngIf="ImageUrl">
                      <input type="hidden" class="form-control" formControlName="ImageUrl"  [(ngModel)]="ImageUrl" id="ImageUrl" name="ImageUrl"
                      (change)="onFileSelect($event)" accept="image/*">
                      <span id="displayFile" style="display: none;" class=" mr-1"></span>
                      <span style="vertical-align: top;" *ngIf="Attachment != '' ||  ImageUrl != ''"
                        (click)="cancelUpload()">
                        <i class="fa fa-times-circle ml-2" aria-hidden="true" style="cursor:pointer;"
                          title="Remove Photo"></i>
                      </span>
                      <img alt="" height="140" width="140" *ngIf="ImageUrl == ''"
                        src="./assets/theme/img/no-image.jpg">
                    </div>
                    <div class="col-sm-12">
                      <div id="uploadButton" class="mt-1" onClick="document.getElementById('Attachment').click(); "><i
                          class="fa fa-upload mr-1" aria-hidden="true"></i>Upload</div>
                          <small class="strik m--font-danger"  *ngIf="(submitted || f.ImageUrl.touched) && f.ImageUrl.errors && f.ImageUrl.errors.required">
                          Profile Image is required
                        </small>
                      <div style='width: 0px; display:none;'>
                        <input type="file" #inputFile class="form-control" [(ngModel)]="Attachment"
                          [ngModelOptions]="{standalone: true}" id="Attachment" name="Attachment"
                          (change)="onFileSelect($event)" accept="image/*">
                      </div>
                      <div class="row modalCropped" *ngIf="imageChangedEvent">
                        <div class="modalCropped-content">
                          <h5>Crop Image</h5>
                          <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true"
                            [aspectRatio]="4 / 4" [resizeToWidth]="256" format="png"
                            (imageCropped)="imageCropped($event)" ></image-cropper>
                          <div id="cropButton" class="mt-1" (click)="onCropped(); " style="float: right;"><i
                              class="fa fa-crop mr-1" aria-hidden="true"></i>Crop</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card mb-3">
                <div class="card-header"><strong>Basic Info</strong></div>
                <div class="card-body">
                  <div class="form-group">
                    <div class="form-item row">
                      <div class="col-sm-6">
                        <label class="col-form-label">Customer Name <span class="strik m--font-danger">*</span></label>
                        <input class="form-control" formControlName="Name" name="Name" type="text"
                          placeholder="Campaign Name">
                        <small class="strik m--font-danger"
                          *ngIf="(submitted || f.Name.touched) && f.Name.errors && f.Name.errors.required">
                          Customer Name is required
                        </small>
                      </div>
                      <div class="col-sm-6">
                        <label class="col-form-label">Email <span class="strik m--font-danger">*</span></label>
                        <input class="form-control" pattern="[^ @]*@[^ @]*" formControlName="Email" name="Email" type="text"
                          placeholder="Email">
                        <small class="strik m--font-danger"
                          *ngIf="(submitted || f.Email.touched) && f.Email.errors && f.Email.errors.required">
                          Email is required
                        </small>
                        <small class="strik m--font-danger"
                          *ngIf="(submitted || f.Email.touched) && f.Email.errors && f.Email.errors.email">
                          Email format is not valid
                        </small>
                      </div>
                    </div>
                    <div class="form-item row">                      
                      <div class="col-sm-6">
                        <label class="col-form-label">Phone No. <span class="strik m--font-danger">*</span></label>
                        <input class="form-control" formControlName="PhoneNo" name="PhoneNo" type="number" step="1"
                          placeholder="Phone No">
                        <small class="strik m--font-danger"
                          *ngIf="(submitted || f.PhoneNo.touched) && f.PhoneNo.errors && f.PhoneNo.errors.required ">
                          Phone No is required
                        </small>
                      </div>
                    </div>
                    
                  </div>
                </div>
              </div>
              <div class="card mb-3">
                <div class="card-body">
                  <small class="strik m--font-danger" *ngIf="CustomerId == 0">
                    Please complete & save the customer info before adding the address and viewing purchase  history.
                  </small>
                  <mat-tab-group #tabsGroup *ngIf="CustomerId > 0">
                    <mat-tab>
                      <ng-template mat-tab-label>
                        Address
                      </ng-template>
                      <app-sales-customers-address-list #addressListComponent  [CustomerId]="CustomerId"  #tab></app-sales-customers-address-list>
                    </mat-tab>      
                    <mat-tab>
                      <ng-template mat-tab-label>
                        Purchase History
                      </ng-template>
                      <app-sales-customers-purchase-list #purchaseListComponent  [CustomerId]="CustomerId"  #tab></app-sales-customers-purchase-list>
                    </mat-tab>  
                  </mat-tab-group>
                </div>
              </div>
            </div>
            <div class="col-sm-4 ">
              <div class="fixedScollCard">
                <div class="card mb-3 ">
                  <div class="card-header"><strong>Action</strong></div>
                  <div class="card-body">
                    <div class="form-group">
                      <div class="form-item row">
                        <div class="col-sm-12">
                          <label for="other">Status <span class="strik m--font-danger">*</span></label>
                          <select class="form-control" [(ngModel)]="StatusId" formControlName="StatusId" name="StatusId"
                            required>
                            <option value="0">{{ '--Select Status--'}}</option>
                            <option *ngFor="let item of statusList" value="{{item.id}}">{{ item.name }}
                            </option>
                          </select>
                          <small class="strik m--font-danger"
                            *ngIf="(submitted || f.StatusId.touched) && f.StatusId.errors && (f.StatusId.errors.required || f.StatusId.errors.min)">
                            Status is required
                          </small>
                        </div>
                      </div>
                      <div class="mt-2 text-right">
                        <button mat-raised-button class="green-button" (click)="onSave()" cdkFocusInitial><i
                            class="fas fa-save"></i> Save </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>