.right-corner {
    display: flex;
    align-content: center;
    justify-content: flex-end;
    padding-bottom: 20px !important;
}

@mixin vertical-align() {
    display: flex;
    align-items: center;
}

input,
textarea,
.form-group {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    color: rgba(0, 0, 0, 0.87);
}

//Include overflow styling
.mat-column-select {
    overflow: initial;
}

.form-group {
    position: relative;
    padding: 12px 10px;
    border: 1px gray solid;
    margin-bottom: 20px;
    min-width: 75px;
    >.form-group-label {
        position: absolute;
        top: -8px;
        left: 8px;
        padding: 0 3px;
        background-color: white;
    }
    .form-item {
        position: relative;
        display: flex;
        align-items: center;
        margin-bottom: 15px;
        min-height: 25px;
        validation-error {
            padding-left: 15px;
        }
        >label {
            min-width: 175px;
            font-size: 13px;
            margin-bottom: 0;
        }
        &.required>label::after {
            content: "*";
            margin-left: 2px;
            color: red;
            font-weight: bold;
        }
        input,
        textarea {
            display: block;
            flex: 1;
            min-width: 20px;
        }
        input.ng-invalid.ng-touched,
        textarea.ng-invalid.ng-touched,
        .ng-invalid>input.ng-touched .ng-invalid>textarea.ng-touched {
            border: 1px solid #c85578 !important;
        }
    }
}

.progress-bar {
    position: absolute;
    top: -24px;
    left: -24px;
    right: -24px;
    width: calc(100% + 48px);
}

.hidden {
    display: none;
}

.empty-grid-content {
    @include vertical-align();
    width: 100%;
    height: 50px;
    justify-content: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    &::after {
        content: "Empty data";
    }
}