<div>
    <form novalidate [formGroup]="form">
        <div class="form-group">
            <div class="form-group-label">Add New Document</div>
            <div class="form-item row">
                <label class="col-sm-2 col-form-label">Document: *</label>
                <div class="col-sm-10 input-group">
                    <input type="file" name="documentName" placeholder="Upload file" accept=".pdf,.doc,.docx"
                        (change)="uploadDocument([$event])">
                </div>
            </div>
            <div class="form-item row" *ngIf="this.data.taskId">
                <label class="col-sm-2 col-form-label">Shared: </label>
                <div class="col-sm-10 input-group">
                    <mat-checkbox formControlName="flagShare"></mat-checkbox>
                </div>
            </div>
            <div class="form-item row">
                <label class="col-md-2 col-form-label" style="margin-bottom: 60px;">Description:</label>
                <div class="col-sm-10">
                    <textarea type="text" name="description" formControlName="description"></textarea>
                </div>
            </div>
        </div>
    </form>

    <div mat-dialog-actions class="right-corner">
        <button mat-raised-button class="green-button" (click)="save()" [disabled]="!this.isValid()" cdkFocusInitial><i
                class="fas fa-save"></i>Save</button>
        <button mat-raised-button class="red-button" (click)="cancel()"><i
                class="far fa-times-circle"></i>Cancel</button>
    </div>
</div>