@import '../../common-form.scss';
.form-group {
    margin-bottom: 2px !important;
    .form-item {
        margin-bottom: 0px !important;
        >label {
            min-width: 100px !important;
        }
    }
}

textarea {
    width: 600px;
    height: 100px;
}

.right-corner {
    display: flex;
    align-content: center;
    justify-content: flex-end;
    padding-bottom: 10px;
}
