<form novalidate [formGroup]="form">
  <div class="m-grid__item m-grid__item--fluid m-wrapper ">
    <div class="m-content">
      <div class="m-portlet m-portlet--bordered-semi m-portlet--unair">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <h3 class="m-portlet__head-text">
                <a style="color:blue;" routerLink="/app/pentadbiran/data-induk/kawasan/parlimen-list">Senarai Parlimen</a>
                <i class="fa fa-chevron-right mr-2 ml-2" aria-hidden="true"></i> {{FormTitle}} Parlimen
              </h3>
            </div>
          </div>
          <div class="m-portlet__head-tools">

          </div>
        </div>
        <div class="m-portlet__body">
          <div class="row">
            <div class="col-sm-12">
              <div class="card mb-3">
                <div class="card-header"><strong>Maklumat Parlimen</strong></div>
                <div class="card-body">
                  <div class="form-group">
                    <div class="form-item row">
                      <div class="col-sm-6">
                        <label class="col-form-label">Zon <span class="strik m--font-danger"
                                *ngIf="FormType == 'add' || FormType == 'edit'">*</span></label>
                        <select class="form-control" [(ngModel)]="zonId" formControlName="zonId" name="zonId"
                                [attr.disabled]="FormType == 'view' ? true : null" required>
                          <option value="0">{{ '--Pilih Zon--'}}</option>
                          <option *ngFor="let item of zonList" value="{{item.id}}">{{ item.name }}
                          </option>
                        </select>
                        <small class="strik m--font-danger"
                               *ngIf="(FormType == 'add' || FormType == 'edit') && (submitted || f.zonId.touched) && f.zonId.errors && (f.zonId.errors.required || f.zonId.errors.min)">
                          Maklumat Zon adalah wajib!
                        </small>
                      </div>
                      <div class="col-sm-6">
                        <label class="col-form-label">Nama Parlimen<span class="strik m--font-danger"
                               *ngIf="FormType == 'add' || FormType == 'edit'">*</span></label>
                        <input class="form-control" formControlName="namaParlimen" name="namaParlimen" type="text" placeholder="Masukkan nama parlimen"
                               [attr.disabled]="FormType == 'view' ? true : null">
                        <small class="strik m--font-danger"
                               *ngIf="(FormType == 'add' || FormType == 'edit') && (submitted || f.namaParlimen.touched) && f.namaParlimen.errors && f.namaParlimen.errors.required">
                          Maklumat Nama Parlimen adalah wajib!
                        </small>
                      </div>
                    </div>
                    <div class="form-item row">
                      <div class="col-sm-6">
                        <label class="col-form-label">Status <span class="strik m--font-danger"
                                *ngIf="FormType == 'add' || FormType == 'edit'">*</span></label>
                        <select class="form-control" [(ngModel)]="statusId" formControlName="statusId" name="statusId"
                                [attr.disabled]="FormType == 'view' ? true : null" required>
                          <option value="0">{{ '--Pilih Status--'}}</option>
                          <option *ngFor="let item of statusList" value="{{item.id}}">{{ item.name }}
                          </option>
                        </select>
                        <small class="strik m--font-danger"
                               *ngIf="(FormType == 'add' || FormType == 'edit') && (submitted || f.statusId.touched) && f.statusId.errors && (f.statusId.errors.required || f.statusId.errors.min)">
                          Status adalah wajib!
                        </small>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="text-right mt-4">
                <button mat-raised-button class="red-button mr-2" (click)="resetForm()" *ngIf="FormType != 'view'"><i class="fa fa-retweet"></i> {{'Reset'}} </button>
                <button mat-raised-button class="green-button" (click)="onSave()" *ngIf="FormType != 'view'"><i class="fas fa-save"></i> Simpan </button>&nbsp;
                <button mat-raised-button class="blue-button mr-2" cdkFocusInitial
                        routerLink="/app/pentadbiran/data-induk/kawasan/parlimen-list"><i class="fas fa-angle-double-left"></i> Kembali
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
