<app-mat-spinner-overlay overlay="true" *ngIf="showSpinner"></app-mat-spinner-overlay>
<div class="m-grid__item m-grid__item--fluid m-wrapper ">
  <div class="m-content">
    <div class="m-portlet m-portlet--bordered-semi m-portlet--unair">
      <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
          <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">
              Carian Patch Handheld
            </h3>
          </div>
        </div>
      </div>
      <div class="m-portlet__body">
        <form novalidate [formGroup]="form">
          <div class="card">
            <div class="card-header2" id="headingCarianPatchHandheld">
              <h6 class="mb-0">
                <button class="btn btn-link {{reVisit ? '' : 'collapsed'}} " data-toggle="collapse"
                  data-target="#collapseCarianPatchHandheld" aria-expanded=" {{reVisit ? 'true' : 'false'}} "
                  aria-controls="collapseCarianPatchHandheld">
                  <i class="fa" aria-hidden="true"></i>
                  Carian
                </button>
              </h6>
            </div>
            <div id="collapseCarianPatchHandheld" class="collapse {{reVisit ? 'show' : ''}}"
              aria-labelledby="headingCarianPatchHandheld" data-parent="#accordion">
              <div class="card-body card-body-padding-top">
                <div class="col-form-label">
                  <div class="form-group">
                    <div class="form-item row">
                      <div class="col-sm-4">
                        <label class="col-form-label">Nama Fail</label>
                        <input class="form-control" formControlName="NamaFail" name="NamaFail" type="text"
                          placeholder="Nama Fail">
                      </div>
                      <div class="col-sm-4">
                        <label class="col-form-label">Versi</label>
                        <input class="form-control" formControlName="Versi" name="Versi" type="text"
                          placeholder="Versi">
                      </div>
                      <div class="col-sm-4">
                        <label class="col-form-label">Jenama</label>
                        <input class="form-control" formControlName="Jenama" name="Jenama" type="text"
                          placeholder="Jenama">
                      </div>                      
                    </div>
                  </div>
                </div>
                <div class="text-right mt-4">
                  <button mat-raised-button class="red-button mr-2" (click)="reset()"><i class="fa fa-retweet"></i>
                    {{'Reset'}} </button>
                  <button mat-raised-button class="blue-button" (click)="search()"><i class="fa fa-search"></i>
                    {{'Cari'}} </button>
                </div>
              </div>
            </div>
          </div>
        </form>
        <br>
        <div class="m-grid__item m-grid__item--fluid m-wrapper ">
          <div class="primeng-datatable-container">
            <p-table class="" id="dataTable1" #dataTable (onLazyLoad)="getPatchHandheldList($event); "
              (selectionChange)="onSelectionChange($event)" [value]="primengTableHelper.records"
              rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true"
              [scrollable]="true" ScrollWidth="100%" [responsive]="primengTableHelper.isResponsive"
              [resizableColumns]="primengTableHelper.resizableColumns"
              selectionMode="multiple" (onRowSelect)="onRowSelect($event)">
              <ng-template pTemplate="caption">
                <div class="ui-helper-clearfix" style="text-align: right">
                  <button mat-raised-button class="green-button" (click)="patchDetails(0,'add')">
                    <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
                    Tambah Patch
                  </button>
                </div>
              </ng-template>
              <ng-template pTemplate="header">
                <tr>
                  <th style="width: 40px " class="text-center stickColumnLeft">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                  </th>
                  <th style="width: 40px " class="text-center">
                    {{'#'}}
                  </th>
                  <th style="width: 100px " pSortableColumn="Versi">
                    {{'Versi'}}
                    <p-sortIcon field="Versi"></p-sortIcon>
                  </th>
                  <th style="width: 100px " pSortableColumn="Jenama">
                    {{'Jenama'}}
                    <p-sortIcon field="Jenama"></p-sortIcon>
                  </th>
                  <th style="width: 100px" pSortableColumn="NamaFail">
                    {{'Nama Fail'}}
                    <p-sortIcon field="NamaFail"></p-sortIcon>
                  </th>
                  <th style="width: 100px" pSortableColumn="Status">
                    {{'Status'}}
                    <p-sortIcon field="Status"></p-sortIcon>
                  </th>
                  <th style="width: 100px" pSortableColumn="TarikhCipta" class="text-center">
                    {{'Tarikh Dicipta'}}
                    <p-sortIcon field="TarikhCipta"></p-sortIcon>
                  </th>
                  <th style="width: 100px" >
                    {{'Pakej'}}                              
                  </th>                 
                  <th style="width: 100px" class="text-center stickColumnRight">
                    {{'Tindakan'}}
                  </th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-record="$implicit" let-rowIndex="rowIndex" let-columns="columns">
                <tr [pSelectableRow]="record" [pSelectableRowDisabled]="">
                  <td style="width: 40px" class="text-center stickColumnLeft">
                    <p-tableCheckbox [value]="record"></p-tableCheckbox>
                  </td>
                  <td style="width: 40px " class="text-center">
                    {{(paginator.getPage() * paginator.rows) + (rowIndex+1)}}
                  </td>
                  <td style="width: 100px ">
                    <span class="ui-column-title"></span>
                    {{record.Versi}}
                  </td>
                  <td style="width: 100px ">
                    <span class="ui-column-title"></span>
                    {{record.Jenama}}
                  </td>
                  <td style="width: 100px ">
                    <span class="ui-column-title"></span>
                    {{record.NamaFail}}
                  </td>
                  <td style="width: 100px ">
                    <span class="ui-column-title"></span>
                    {{record.Status}}
                  </td>
                  <td style="width: 100px " class="text-center">
                    <span class="ui-column-title"></span>
                    {{record.TarikhCipta}}
                  </td>
                  <td style="width: 100px ">
                    <span class="ui-column-title"></span>
                    <a  class="fa fa-download mr-2" title="Muat Turun Patch" target="_blank" [href]="record.Pakej" > Patch</a>    
                  </td>
                  <td style="width: 100px " class="text-center stickColumnRight">
                    <i class="fa fa-eye ml-2" aria-hidden="true" style="cursor: pointer;" title="Papar Maklumat"
                      (click)="patchDetails(record.Id,'view')"></i>
                    <i class="flaticon-edit ml-2" aria-hidden="true" style="cursor: pointer;" title="Kemaskini Maklumat"
                      (click)="patchDetails(record.Id,'edit')"></i>
                  </td>
                </tr>
              </ng-template>
            </p-table>
            <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
              {{'NoData'}}
            </div>
            <div class="primeng-paging-container" style="position: relative;">
              <p-paginator rows="{{primengTableHelper.defaultRecordsCountPerPage}}" #paginator
                (onPageChange)="getPatchHandheldList($event)" [totalRecords]="primengTableHelper.totalRecordsCount"
                [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
              </p-paginator>
            </div>
            <div class="text-right">
              <span style=" top:3px; right:5px; margin: 5px;">Total records :
                {{primengTableHelper.totalRecordsCount}}</span>
            </div>
            <div *ngIf="primengTableHelper.totalRecordsCount > 0">
              <button class="red-button mr-2" mat-raised-button (click)="delete()"
                [disabled]="this.selection.isEmpty()">
                <mat-icon aria-label="Example icon-button with a heart icon">delete</mat-icon>
                Batal Pilihan
              </button>
              <div class="btn-group" dropdown>
                <button mat-raised-button id="button-print" dropdownToggle class="purple-button mr-2"
                  aria-controls="dropdown-print">
                  <mat-icon aria-label="Example icon-button with a heart icon">print</mat-icon>
                  Cetak
                </button>
                <ul id="dropdown-print" *dropdownMenu class="dropdown-menu mt-1 ml-2" role="menu"
                  aria-labelledby="button-print" style="cursor: pointer;">
                  <li role="menuitem"><a class="dropdown-item" (click)="printTablePdf()">Cetak Senarai</a></li>
                  <li role="menuitem"><a class="dropdown-item" (click)="printTableExcel()">Eksport Ke Excel</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>