<!-- <div class="m-grid__item m-grid__item--fluid m-wrapper ">
  <div class="m-content">
   <div class="m-portlet m-portlet--bordered-semi m-portlet--unair">
    <div class="m-portlet__body"> -->

<div class=" row">
  <div class="col-sm-12 text-right mt-2 ">
    <button mat-raised-button class="green-button mr-3" (click)="addressDetails(0)">
      <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
      Add New Address
    </button>
  </div>
</div>

<div class="primeng-datatable-container m-3">
  <p-table #dataTable (onLazyLoad)="getAddressList($event); " (selectionChange)="onSelectionChange($event)"
    [value]="primengTableHelper.records" rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false"
    [lazy]="true" [scrollable]="true" ScrollWidth="100%" [responsive]="primengTableHelper.isResponsive"
    [resizableColumns]="primengTableHelper.resizableColumns">
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 40px " class="text-center">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th style="width: 40px " class="text-center">
          {{'#'}}
        </th>
        <th style="width: 200px " pSortableColumn=" AddressName ">
          {{'Name'}}
          <p-sortIcon field="AddressName"></p-sortIcon>
        </th>
        <th style="width: 100px">
          {{'Phone No.'}}
        </th>
        <th style="width: 300px">
          {{'Address'}}
        </th>
      </tr>
      <tr>
        <th class="text-center">
        </th>
        <th class="text-center">
        </th>
        <th>
          <input pInputText type="text" style="width: 100%;" class="form-control form-control-small"
            (input)="dataTable.filter($event.target.value,' AddressName  ', 'contains');" placeholder="Search Name...">
        </th>
        <th></th>
        <th></th>
      </tr>
    </ng-template>


    <ng-template pTemplate="body" let-record="$implicit" let-rowIndex="rowIndex" let-columns="columns">
      <tr [pSelectableRow]="record" [pSelectableRowDisabled]="">
        <td style="width: 40px" class="text-center" valign="top">
          <p-tableCheckbox [value]="record"></p-tableCheckbox>
        </td>
        <td style="width: 40px " class="text-center" valign="top">
          {{rowIndex+1}}
        </td>
        <td style="width: 200px " valign="top">
          <span class="ui-column-title"></span>
          <a style="color:blue; cursor: pointer;" (click)="addressDetails(record.addressId);">
            <span
              (mouseover)="pageSetting.isEllipsisTitle($event,record.CouponCode)"><span>{{record.name}}</span></span>
          </a>
        </td>
        <td style="width: 100px " valign="top">
          <span class="ui-column-title"></span>
          <span
            (mouseover)="pageSetting.isEllipsisTitle($event,record.CouponType)"><span>{{record.phoneNo}}</span></span>
        </td>
        <td style="width: 300px " valign="top">
          <span class="ui-column-title "></span>
          <div>
            {{record.address1 + ' ' + record.address2 + ' ' + record.poscode + ' ' + record.city + ' ' + record.state }}
          </div>

        </td>

      </tr>
    </ng-template>
  </p-table>
  <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
    {{'NoData'}}
  </div>
  <div class="primeng-paging-container" style="position: relative;">
    <!-- <p-paginator rows="{{primengTableHelper.defaultRecordsCountPerPage}}" #paginator
              (onPageChange)="getAddressList($event)" [totalRecords]="primengTableHelper.totalRecordsCount"
              [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
            </p-paginator> -->
    <span style="position: absolute; top:3px; right:5px; margin: 5px;">Total records :
      {{primengTableHelper.totalRecordsCount}}</span>
  </div>
  <div>
    <button style="margin-top: 10px; margin-bottom: 10px;" class="red-button" mat-raised-button (click)="delete()"
      [disabled]="this.selection.isEmpty()">
      <mat-icon aria-label="Example icon-button with a heart icon">delete</mat-icon>
      Delete Selected
    </button>
  </div>
</div>
<!-- </div>
    </div>
  </div>
</div> -->