<app-mat-spinner-overlay overlay="true" *ngIf="showSpinner"></app-mat-spinner-overlay>
<div class="m-grid__item m-grid__item--fluid m-wrapper ">
  <div class="m-content">
    <div class="m-portlet m-portlet--bordered-semi m-portlet--unair">
      <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
          <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">
              Carian SP2U
            </h3>
          </div>
        </div>
      </div>
      <div class="m-portlet__body">
        <form novalidate [formGroup]="form">
          <div class="card">
            <div class="card-header2" id="headingCarianNotis">
              <h6 class="mb-0">
                <button class="btn btn-link {{reVisit ? '' : 'collapsed'}} " data-toggle="collapse"
                  data-target="#collapseCarianNotis" aria-expanded=" {{reVisit ? 'true' : 'false'}} "
                  aria-controls="collapseCarianNotis">
                  <i class="fa" aria-hidden="true"></i>
                  Carian
                </button>
              </h6>
            </div>
            <div id="collapseCarianNotis" class="collapse {{reVisit ? 'show' : ''}}"
              aria-labelledby="headingCarianNotis" data-parent="#accordion">
              <div class="card-body card-body-padding-top">
                <div class="col-form-label">
                  <div class="form-group">
                    <div class="form-item row">   
                      <div class="col-sm-4">
                        <label class="col-form-label">No. Notis</label>
                        <input class="form-control" formControlName="NoNotis" name="NoNotis" type="text"
                          placeholder="No. Notis">
                      </div>  
                      <div class="col-sm-4">
                        <label class="col-form-label">Jabatan</label>
                        <select class="form-control" [(ngModel)]="Jabatan" formControlName="Jabatan" name="Jabatan">
                          <option value="0">{{ '--Pilih Jabatan--'}}</option>
                          <option *ngFor="let item of jabatanList" value="{{item.id}}">{{ item.name }}
                          </option>
                        </select>
                      </div>         
                      <div class="col-sm-4">
                        <label class="col-form-label">Nama</label>
                        <input class="form-control" formControlName="NamaPesalah" name="NamaPesalah" type="text"
                          placeholder="Nama">
                      </div>        
                      <div class="col-sm-4">
                        <label class="col-form-label">No. KP</label>
                        <input class="form-control" formControlName="NoPesalah" name="NoPesalah" type="text"
                          placeholder="No. KP">
                      </div>          
                      <div class="col-sm-4">
                        <label class="col-form-label">Status Kesalahan</label>
                        <select class="form-control" [(ngModel)]="StatusKesalahan" formControlName="StatusKesalahan"
                          name="StatusKesalahan">
                          <option value="0">{{ '--Pilih Status--'}}</option>
                          <option *ngFor="let item of statusKesalahanList" value="{{item.id}}">{{ item.name }}
                          </option>
                        </select>
                      </div>
                    </div>
                    <div class="form-item row">
                      <div class="col-sm-4">
                        <label class="col-form-label">Tarikh Mula Kesalahan<span class="help">(Contoh:
                            31/12/2020)</span></label>
                        <div class="input-group">
                          <input formControlName="TarikhMula" spellcheck="false" class="form-control" maxlength="10"
                            [matDatepicker]="pickerTarikhMula" [(ngModel)]="TarikhMula"
                            placeholder="Tarikh Mula Kesalahan">
                          <mat-datepicker-toggle matSuffix [for]="pickerTarikhMula"></mat-datepicker-toggle>
                          <mat-datepicker #pickerTarikhMula></mat-datepicker>
                        </div>
                        <small class="strik m--font-danger"
                          *ngIf="(submitted || f.TarikhMula.touched) && f.TarikhMula.errors && f.TarikhMula.errors.exceed">
                          Tarikh Akhir tidak melebihi Tarikh Mula
                        </small>
                      </div>
                      <div class="col-sm-4">
                        <label class="col-form-label">Tarikh Akhir Kesalahan<span class="help">(Contoh:
                            31/12/2020)</span></label>
                        <div class="input-group">
                          <input formControlName="TarikhAkhir" spellcheck="false" class="form-control" maxlength="10"
                            [matDatepicker]="pickerTarikhAkhir" [(ngModel)]="TarikhAkhir"
                            placeholder="Tarikh Akhir Kesalahan">
                          <mat-datepicker-toggle matSuffix [for]="pickerTarikhAkhir"></mat-datepicker-toggle>
                          <mat-datepicker #pickerTarikhAkhir></mat-datepicker>
                        </div>
                        <small class="strik m--font-danger"
                          *ngIf="(submitted || f.TarikhAkhir.touched) && f.TarikhAkhir.errors && f.TarikhAkhir.errors.exceed">
                          Tarikh Akhir tidak melebihi Tarikh Mula
                        </small>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="text-right mt-4">
                  <button mat-raised-button class="red-button mr-2" (click)="reset()"><i class="fa fa-retweet"></i>
                    {{'Reset'}} </button>
                  <button mat-raised-button class="blue-button" (click)="search()"><i class="fa fa-search"></i>
                    {{'Cari'}} </button>
                </div>
              </div>
            </div>
          </div>
        </form>     
        <div class="m-grid__item m-grid__item--fluid m-wrapper mt-3">
          <div class="primeng-datatable-container">
            <p-table class="" id="dataTable1" #dataTable (onLazyLoad)="getSp2uList($event); "
              (selectionChange)="onSelectionChange($event)" [value]="primengTableHelper.records"
              rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true"
              [scrollable]="true" ScrollWidth="100%" [responsive]="primengTableHelper.isResponsive"
              [resizableColumns]="primengTableHelper.resizableColumns" 
              selectionMode="multiple" (onRowSelect)="onRowSelect($event)" >
             
              <ng-template pTemplate="header">
                <tr>
                  <th style="width: 35px " class="text-center stickColumnLeft">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                  </th>
                  <th style="width: 35px " class="text-center">
                    {{'#'}}
                  </th>
                  <th style="width: 80px " pSortableColumn="NoNotis">
                    {{'Notis'}}
                    <p-sortIcon field="NoNotis"></p-sortIcon>
                  </th>                  
                  <th style="width: 130px" pSortableColumn="NamaPesalah">
                    {{'Nama'}}
                    <p-sortIcon field="NamaPesalah"></p-sortIcon>
                  </th>
                  <th style="width: 130px" pSortableColumn="NoPesalah">
                    {{'No. KP'}}
                    <p-sortIcon field="NoPesalah"></p-sortIcon>
                  </th>                 
                  <th style="width: 130px" pSortableColumn="TarikhKesalahan">
                    {{'Tarikh Kesalahan'}}
                    <p-sortIcon field="TarikhKesalahan"></p-sortIcon>
                  </th>
                  
                  <th style="width: 130px" pSortableColumn="Kompaun" class="text-right">
                    {{'Kadar Kompaun'}}
                    <p-sortIcon field="Kompaun"></p-sortIcon>
                  </th>
                  <th style="width: 100px" pSortableColumn="Jabatan">
                    {{'Jabatan'}}
                    <p-sortIcon field="Jabatan"></p-sortIcon>
                  </th>  
                  <th style="width: 100px" pSortableColumn="Status">
                    {{'Status'}}
                    <p-sortIcon field="Status"></p-sortIcon>
                  </th>                  
                  <th style="width: 130px" pSortableColumn="TarikhBayaran">
                    {{'Tarikh Bayaran'}}
                    <p-sortIcon field="TarikhBayaran"></p-sortIcon>
                  </th>                  
                  <th style="width: 100px" class="text-center stickColumnRight">
                    {{'Tindakan'}}
                  </th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-record="$implicit" let-rowIndex="rowIndex" let-columns="columns">
                <tr [pSelectableRow]="record" [pSelectableRowDisabled]="">
                  <td style="width: 35px" class="text-center stickColumnLeft">
                    <p-tableCheckbox [value]="record"></p-tableCheckbox>
                  </td>
                  <td style="width: 35px " class="text-center">
                    {{(paginator.getPage() * paginator.rows) + (rowIndex+1)}}
                  </td>
                  <td style="width: 80px ">
                    <span class="ui-column-title"></span>
                    {{record.NoNotis}}
                  </td>               
                  <td style="width: 130px ">
                    <span class="ui-column-title"></span>
                    {{record.NamaPesalah}}
                  </td>
                  <td style="width: 130px ">
                    <span class="ui-column-title"></span>
                    {{record.NoPesalah}}
                  </td>
                  <td style="width: 130px ">
                    <span class="ui-column-title"></span>
                    {{record.TarikhKesalahan}}
                  </td>                  
                  <td style="width: 130px " class="text-right">
                    <span class="ui-column-title"></span>
                    {{record.Kompaun}}
                  </td>
                  <td style="width: 100px " >
                    <span class="ui-column-title"></span>
                    {{record.Jabatan}}
                  </td>
                  <td style="width: 100px ">
                    <span class="ui-column-title"></span>
                    {{record.Status}}
                  </td>                  
                  <td style="width: 130px ">
                    <span class="ui-column-title"></span>
                    {{record.TarikhBayaran}}
                  </td>                
                  <td style="width: 100px " class="text-center stickColumnRight">
                    <i class="fa fa-print ml-2" aria-hidden="true" style="cursor: pointer;" title="Cetak"
                    (click)="singlePrintSp2u($event,record.Id)"></i>
                  </td>
                </tr>
              </ng-template>
            </p-table>
            <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
              {{'NoData'}}
            </div>
            <div class="primeng-paging-container" style="position: relative;">
              <p-paginator rows="{{primengTableHelper.defaultRecordsCountPerPage}}" #paginator
                (onPageChange)="getSp2uList($event)" [totalRecords]="primengTableHelper.totalRecordsCount"
                [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
              </p-paginator>
            </div>
            <div class="text-right">
              <span style=" top:3px; right:5px; margin: 5px;">Total records :
                {{primengTableHelper.totalRecordsCount}}</span>
            </div>
            <div *ngIf="primengTableHelper.totalRecordsCount > 0">
              <div class="btn-group" dropdown>
                <button mat-raised-button id="button-print" dropdownToggle class="purple-button mr-2"
                  aria-controls="dropdown-print">
                  <mat-icon aria-label="Example icon-button with a heart icon">print</mat-icon>
                  Cetak
                </button>               
                <ul id="dropdown-print" *dropdownMenu class="dropdown-menu mt-1 ml-2" role="menu"
                  aria-labelledby="button-print" style="cursor: pointer;">   
                  <li role="menuitem" ><a class="{{this.selection.isEmpty() ? 'dropdown-item-disable not-active' : 'dropdown-item'}}" (click)="selectionPrint('Select_A4')" >Cetak Pilihan</a></li>
                  <li role="menuitem"><a class="dropdown-item" (click)="printTablePdf()">Cetak Senarai</a></li>
                  <li role="menuitem"><a class="dropdown-item" (click)="printTableExcel()">Eksport Ke Excel</a></li>      
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>