<form novalidate [formGroup]="form">
  <div class="m-grid__item m-grid__item--fluid m-wrapper ">
    <div class="m-content">
      <div class="m-portlet m-portlet--bordered-semi m-portlet--unair">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <h3 class="m-portlet__head-text">
                All Categories / Edit Category
              </h3>
            </div>
          </div>
          <div class="m-portlet__head-tools">

          </div>
        </div>
        <div class="m-portlet__body">

          <div class="row">
            <div class="col-sm-8">
              <div class="card mb-3">
                <div class="card-header"><strong>Basic Info</strong></div>
                <div class="card-body">
                  <div class="form-group">
                    <div class="form-item row">
                      <div class="col-sm-12">
                        <label class="col-form-label">Category Name</label>
                        <input class="form-control" formControlName="Name" name="Name" type="text" placeholder="Enter your product name">
                      </div>
                    </div>
                    <div class="form-item row">
                      <div class="col-sm-12">
                        <label class="col-form-label">Description</label>
                        <textarea [rows]="2" maxlength="500" formControlName="Description" class="md-textarea form-control"
                                  placeholder="Description..." style="width:100%; resize: none;">
                        </textarea>
                      </div>
                    </div>
                    <div class="form-item row">
                      <div class="col-sm-12">
                        <label class="col-form-label">Parent Category</label>
                        <select class="form-control" [(ngModel)]="ParentCategoryId" formControlName="ParentCategoryId" name="ParentCategoryId">
                          <option value="0">{{ '--Select Parent Category--'}}</option>
                          <option *ngFor="let item of parentCategoryList" value="{{item.id}}">{{ item.name }}
                          </option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="card">
                <div class="card-header"><strong>Action</strong></div>
                <div class="card-body">
                  <div class="form-group">
                    <label for="status">Status</label>
                    <div class="col-md-12">
                      <select class="form-control" [(ngModel)]="StatusId" formControlName="StatusId" name="StatusId">
                        <option value="0">{{ '--Select Status--'}}</option>
                        <option *ngFor="let item of statusList" value="{{item.id}}">{{ item.name }}
                        </option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="card-footer text-right">
                  <button mat-raised-button class="green-button" (click)="onSave()" cdkFocusInitial><i
                    class="fas fa-save"></i> Save </button>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</form>



<!-- Editable table -->
<!--<div class="card">
  <h3 class="card-header text-center font-weight-bold text-uppercase py-4"></h3>
  <div class="card-body">
    <div id="table" class="table-editable">
      <span class="table-add float-right mb-3 mr-2">
        <button mat-raised-button class="green-button" (click)="add()" cdkFocusInitial><i
          class="fas fa-plus"></i> Add </button>
      </span>
      <table class="table table-bordered table-responsive-md table-striped text-center">
        <tr>
          <th class="text-center">Person Name</th>
          <th class="text-center">Age</th>
          <th class="text-center">Company Name</th>
          <th class="text-center">Country</th>
          <th class="text-center">City</th>
          <th class="text-center">Remove</th>
        </tr>
        <tr *ngFor="let person of personList; let id = index">
          <td>
            <span (keyup)="changeValue(id, 'name', $event)" (blur)="updateList(id, 'name', $event)" contenteditable="true">{{person.name}}</span>
          </td>
          <td>
            <span contenteditable="true" (keyup)="changeValue(id, 'age', $event)" (blur)="updateList(id, 'age', $event)">{{person.age}}</span>
          </td>
          <td>
            <span contenteditable="true" (keyup)="changeValue(id, 'companyName', $event)" (blur)="updateList(id, 'companyName', $event)">{{person.companyName}}</span>
          </td>
          <td>
            <span contenteditable="true" (keyup)="changeValue(id, 'country', $event)" (blur)="updateList(id, 'country', $event)">{{person.country}}</span>
          </td>
          <td>
            <span contenteditable="true" (keyup)="changeValue(id, 'city', $event)" (blur)="updateList(id, 'city', $event)">{{person.city}}</span>
          </td>
          <td>
            <span class="table-remove">
              <button type="button"  size="sm" class="my-0" (click)="remove(id)">Remove</button>
            </span>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>-->
<!-- Editable table -->
