<!-- begin::Footer -->
<!-- <footer class="m-grid__item		m-footer" appunwraptag="">
  <div class="m-container m-container--fluid m-container--full-height m-page__container">
    <div class="m-stack m-stack--flex-tablet-and-mobile m-stack--ver m-stack--desktop">
      <div class="m-stack__item m-stack__item--left m-stack__item--middle m-stack__item--last"> <span class="m-footer__copyright"> 					2019 &copy; toolaku		</span> </div>
      <div class="m-stack__item m-stack__item--right m-stack__item--middle m-stack__item--first">
        <ul class="m--pull-right">
          <li class="m-nav__item">
            <a href="#" class="m-nav__link"> <span class="m-nav__link-text">About</span> </a>
          </li>
          <li class="m-nav__item">
            <a href="#" class="m-nav__link"> <span class="m-nav__link-text">Privacy</span> </a>
          </li>
          <li class="m-nav__item">
            <a href="#" class="m-nav__link"> <span class="m-nav__link-text">T&C</span> </a>
          </li>
          <li class="m-nav__item">
            <a href="#" class="m-nav__link"> <span class="m-nav__link-text">Purchase</span> </a>
          </li>
          <li class="m-nav__item m-nav__item">
            <a href="#" class="m-nav__link" data-toggle="m-tooltip" title="Support Center" data-placement="left"> <i class="m-nav__link-icon flaticon-info m--icon-font-size-lg3"></i> </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer> -->
<!-- end::Footer -->
<!-- <div>
  <h6 class="footer m--pull-right m--font-metal m--margin-right-25">Need Help ? Visit our website for tips, FAQs and
    guides . <i class="flaticon-questions-circular-button"></i></h6>
</div> -->

<!-- <div class="m-container m-container--fluid m-container--full-height m-page__container">
  <div class="m-stack m-stack--flex-tablet-and-mobile m-stack--ver m-stack--desktop">
    <div class="m-stack__item m-stack__item--right m-stack__item--middle m-stack__item--first" style=" font-size: 11px;
        line-height: 46px;
        text-align: center !important;">
      <ul class="m--pull-right " style="margin-right: 25px;
      ">
        <li class="m-nav__item">
          <span class="m-nav__link-text"> Need Help ? Visit our website for tips, FAQs and
            guides . </span><i class="m-nav__link-icon flaticon-info m--icon-font-size-lg3"> </i>
        </li>

      </ul>
    </div>
  </div>
</div> -->
