<div class="m-grid__item m-grid__item--fluid m-wrapper ">
  <div class="m-content">
    <div class="m-portlet m-portlet--bordered-semi m-portlet--unair">
      <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
          <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">
              Senarai Pengguna
            </h3>
          </div>
        </div>
        <div class="m-portlet__head-tools">
          <button mat-raised-button class="green-button" (click)="penggunaDetails(0, 'add')">
            <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
            Tambah Pengguna
          </button>
        </div>
      </div>
      <div class="m-portlet__body">
        <form novalidate [formGroup]="form">
          <div class="card">
            <div class="card-header2" id="headingPengguna" style=" cursor: pointer;" data-toggle="collapse" data-target="#collapsePengguna"
                 aria-controls="collapsePengguna" aria-expanded=" {{reVisit ? 'true' : 'false'}} ">
              <h6 class="mb-0">
                <button class="btn btn-link {{reVisit ? '' : 'collapsed'}} " data-toggle="collapse" data-target="#collapsePengguna"
                        aria-expanded=" {{reVisit ? 'true' : 'false'}} " aria-controls="collapsePengguna">
                  <i class="fa" aria-hidden="true"></i>
                  Carian
                </button>
              </h6>
            </div>
            <div id="collapsePengguna" class="collapse {{reVisit ? 'show' : ''}}" aria-labelledby="headingPengguna" data-parent="#accordion">
              <div class="card-body card-body-padding-top">
                <div class="col-form-label">
                  <div class="form-group">
                    <div class="form-item row">
                      <div class="col-sm-6">
                        <label class="col-form-label">Nama Pengguna</label>
                        <input class="form-control" formControlName="userName" name="userName" type="text" placeholder="Masukkan nama pengguna">
                      </div>
                      <div class="col-sm-6">
                        <label class="col-form-label">Nama Penuh</label>
                        <input class="form-control" formControlName="fullName" name="fullName" type="text" placeholder="Masukkan nama penuh">
                      </div>
                    </div>
                    <div class="form-item row">
                      <div class="col-sm-6">
                        <label class="col-form-label">Kumpulan</label>
                        <input class="form-control" formControlName="kumpulanName" name="kumpulanName" type="text" placeholder="Masukkan nama kumpulan">
                      </div>
                      <div class="col-sm-6">
                        <label class="col-form-label">Status</label>
                        <select class="form-control" [(ngModel)]="statusId" formControlName="statusId" name="statusId">
                          <option value="0">{{ '--Pilih Status--'}}</option>
                          <option *ngFor="let item of statusList" value="{{item.id}}">{{ item.name }}
                          </option>
                        </select>
                      </div>
                    </div>
                    <div class="form-item row">
                      <div class="col-sm-6">
                        <label class="col-form-label">Tarikh Dicipta Dari<span class="help">(Example :
                            31/12/2020)</span></label>
                        <div class="input-group">
                          <input formControlName="dateStart" spellcheck="false" class="form-control" maxlength="10"
                                 [matDatepicker]="pickerStartDate" [(ngModel)]="dateStart" placeholder="Masukkan tarikh mula">
                          <mat-datepicker-toggle matSuffix [for]="pickerStartDate"></mat-datepicker-toggle>
                          <mat-datepicker #pickerStartDate></mat-datepicker>
                        </div>
                        <small class="strik m--font-danger"
                               *ngIf="(submitted || f.dateStart.touched) && f.dateStart.errors && f.dateStart.errors.exceed">
                          Tarikh Akhir tidak melebihi Tarikh Mula
                        </small>
                      </div>
                      <div class="col-sm-6">
                        <label class="col-form-label">Tarikh Dicipta Hingga<span class="help">(Example :
                            31/12/2020)</span></label>
                        <div class="input-group">
                          <input formControlName="dateEnd" spellcheck="false" class="form-control" maxlength="10"
                                 [matDatepicker]="pickerEndDate" [(ngModel)]="dateEnd" placeholder="Masukkan tarikh akhir">
                          <mat-datepicker-toggle matSuffix [for]="pickerEndDate"></mat-datepicker-toggle>
                          <mat-datepicker #pickerEndDate></mat-datepicker>
                        </div>
                        <small class="strik m--font-danger"
                               *ngIf="(submitted || f.dateEnd.touched) && f.dateEnd.errors && f.dateEnd.errors.exceed">
                          Tarikh Akhir tidak melebihi Tarikh Mula
                        </small>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="text-right mt-4">
                  <button mat-raised-button class="red-button mr-2" (click)="reset()" ><i
                          class="fa fa-retweet"></i> {{'Reset'}} </button>
                  <button mat-raised-button class="blue-button" (click)="search()" ><i
                          class="fa fa-search"></i> {{'Cari'}} </button>
                </div>
              </div>
            </div>
          </div>
        </form>
        <br>
        <div class="m-grid__item m-grid__item--fluid m-wrapper ">
            <div class="primeng-datatable-container">
              <p-table class="" id="dataTable1" #dataTable (onLazyLoad)="getUserList($event); "
                       (selectionChange)="onSelectionChange($event)" [value]="primengTableHelper.records"
                       rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true"
                       [scrollable]="true" ScrollWidth="100%" [responsive]="primengTableHelper.isResponsive"
                       [resizableColumns]="primengTableHelper.resizableColumns">
                <ng-template pTemplate="caption">
                  <div class="ui-helper-clearfix" style="text-align: right">
                    <button mat-raised-button class="purple-button mr-2" (click)="printTablePdf()">
                      <mat-icon aria-label="Example icon-button with a heart icon">print</mat-icon>
                      Pdf
                    </button>
                    <button mat-raised-button class="purple-button" (click)="printTableExcel()">
                      <mat-icon aria-label="Example icon-button with a heart icon">print</mat-icon>
                      Excel
                    </button>
                  </div>
                </ng-template>
                <ng-template pTemplate="header">
                  <tr>
                    <th style="width: 40px " class="text-center">
                      <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                    </th>
                    <th style="width: 40px " class="text-center">
                      {{'#'}}
                    </th>
                    <th style="width: 170px " pSortableColumn="ProductName">
                      {{'Nama Pegguna'}}
                      <p-sortIcon field="ProductName"></p-sortIcon>
                    </th>
                    <th style="width: 300px "pSortableColumn="Categories">
                      {{'Nama Penuh'}}
                      <p-sortIcon field="OrderDateTime"></p-sortIcon>
                    </th>
                    <th pSortableColumn="SKU No">
                      {{'Kumpulan'}}
                      <p-sortIcon field="SKU No"></p-sortIcon>
                    </th>
                    <th pSortableColumn="Variation" class="text-right">
                      {{'Emel'}}
                      <p-sortIcon field="Variation"></p-sortIcon>
                    </th>
                    <th pSortableColumn="Price" class="text-right">
                      {{'Status'}}
                      <p-sortIcon field="Price"></p-sortIcon>
                    </th>
                    <th pSortableColumn="Stock" class="text-right">
                      {{'Tarikh Dicipta'}}
                      <p-sortIcon field="Stock"></p-sortIcon>
                    </th>
                    <th pSortableColumn="Stock" class="text-right">
                      {{'Tindakan'}}
                      <p-sortIcon field="Stock"></p-sortIcon>
                    </th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-record="$implicit" let-rowIndex="rowIndex" let-columns="columns">
                  <tr [pSelectableRow]="record">
                    <td style="width: 40px" class="text-center">
                      <p-tableCheckbox [value]="record"></p-tableCheckbox>
                    </td>
                    <td style="width: 40px " class="text-center">
                      {{(paginator.getPage() * paginator.rows) + (rowIndex+1)}}
                    </td>
                    <td style="width: 170px ">
                      <span class="ui-column-title"></span>
                      {{record.userName}}
                    </td>
                    <td style="width: 300px ">
                      <span class="ui-column-title"></span>
                      {{record.fullName}}
                    </td>
                    <td>
                      <span class="ui-column-title"></span>
                      {{record.group}}
                    </td>
                    <td class="text-right">
                      <span class="ui-column-title"></span>
                      {{record.email}}
                    </td>
                    <td class="text-right">
                      <span class="ui-column-title"></span>
                      {{record.status}}
                    </td>
                    <td class="text-right">
                      <span class="ui-column-title"></span>
                      {{record.dateCreated}}
                    </td>
                    <td class="text-right">
                      <span class="ui-column-title"></span>
                      <i class="fa fa-eye ml-2" aria-hidden="true" style="cursor: pointer;" title="Papar Maklumat" (click)="penggunaDetails(record.userId,'view')"></i>
                      <i class="flaticon-edit ml-2" aria-hidden="true" style="cursor: pointer;" title="Kemaskini Maklumat" (click)="penggunaDetails(record.userId,'edit')" ></i>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
              <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                {{'NoData'}}
              </div>
              <div class="primeng-paging-container" style="position: relative;">
                <p-paginator rows="{{primengTableHelper.defaultRecordsCountPerPage}}" #paginator
                             (onPageChange)="getUserList($event)" [totalRecords]="primengTableHelper.totalRecordsCount"
                             [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                </p-paginator>
              </div>
              <div class="text-right">
                <span style=" top:3px; right:5px; margin: 5px;">Total records :{{primengTableHelper.totalRecordsCount}}</span>
              </div>
              <div *ngIf="primengTableHelper.totalRecordsCount > 0">
                <button  class="red-button mr-2" mat-raised-button
                         (click)="delete()" [disabled]="this.selection.isEmpty()">
                  <mat-icon aria-label="Example icon-button with a heart icon">delete</mat-icon>
                  Delete Selected
                </button>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
