<div class="m-grid__item m-grid__item--fluid m-wrapper ">
  <div class="m-content">
    <div class="m-portlet m-portlet--bordered-semi m-portlet--unair">
      <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
          <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">
              All Promotions Campaign
            </h3>
          </div>
        </div>
        <div class="m-portlet__head-tools">
          <button mat-raised-button class="green-button" (click)="promotionDetails(0)">
            <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
            Add New Promo
          </button>
        </div>
      </div>
      <div class="m-portlet__body ">
        <div class="primeng-datatable-container">
          <p-table class="single-line-cells" #dataTable (onLazyLoad)="getPromotionList($event); "
            (selectionChange)="onSelectionChange($event)" [value]="primengTableHelper.records"
            rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true"
            [scrollable]="true" ScrollWidth="100%" [responsive]="primengTableHelper.isResponsive"
            [resizableColumns]="primengTableHelper.resizableColumns">
            <ng-template pTemplate="header">
              <tr>
                <th style="width: 40px " class="text-center">
                  <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th style="width: 40px " class="text-center">
                  {{'#'}}
                </th>
                <th style="width: 400px " pSortableColumn="PromotionName">
                  {{'Promo Campaign Name'}}
                  <p-sortIcon field="PromotionName"></p-sortIcon>
                </th>
                <th>
                  {{'Date Range'}}
                </th>
                <th pSortableColumn="ProductCount" class="text-center">
                  {{'Product Count'}}
                  <p-sortIcon field="ProductCount"></p-sortIcon>
                </th>
                <th class="text-right">
                  {{'Status  '}}
                </th>
              </tr>
              <tr>
                <th style="width: 40px " class="text-center">
                </th>
                <th class="text-center">
                </th>
                <th>
                  <input pInputText type="text" style="width: 100%;" class="form-control"
                    (input)="dataTable.filter($event.target.value,' PromotionName  ', 'contains');"
                    placeholder="Search Campaign Name...">
                </th>
                <th></th>
                <th></th>
                <th></th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-record="$implicit" let-rowIndex="rowIndex" let-columns="columns">
              <tr [pSelectableRow]="record" [pSelectableRowDisabled]="">
                <td style="width: 40px" class="text-center">
                  <p-tableCheckbox [value]="record"></p-tableCheckbox>
                </td>
                <td style="width: 40px " class="text-center">
                  {{rowIndex+1}}
                </td>
                <td style="width: 400px ">
                  <span class="ui-column-title"></span>
                  <a style="color:blue; cursor: pointer;" (click)="promotionDetails(record.PromotionId);">
                    <!-- {{record.PromotionName}} -->
                    <span (mouseover)="pageSetting.isEllipsisTitle($event,record.PromotionName)"><span>{{record.PromotionName}}</span></span>
                  </a>
                </td>
                <td>
                  <span class="ui-column-title"></span>
                  {{record.DateStart + ' - ' + record.DateEnd}}
                </td>
                <td class="text-center">
                  <span class="ui-column-title "></span>
                  {{record.ProductCount}}
                </td>
                <td class="text-right">
                  <!-- <span class="ui-column-title"></span> -->
                  <mat-slide-toggle #isEnable
                    (change)="onChangeIsEnable(record.PromotionId, isEnable.checked); record.Enable = isEnable.checked ? 1 : 0;"
                    [checked]="record.Enable == 1 ? true : false">
                  </mat-slide-toggle>
                </td>

              </tr>
            </ng-template>
          </p-table>
          <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
            {{'NoData'}}
          </div>
          <div class="primeng-paging-container" style="position: relative;">
            <p-paginator rows="{{primengTableHelper.defaultRecordsCountPerPage}}" #paginator
              (onPageChange)="getPromotionList($event)" [totalRecords]="primengTableHelper.totalRecordsCount"
              [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
            </p-paginator>
            <span style="position: absolute; top:3px; right:5px; margin: 5px;">Total records :
              {{primengTableHelper.totalRecordsCount}}</span>
          </div>
          <div>
            <button style="margin-top: 10px; margin-bottom: 10px;" class="red-button" mat-raised-button
              (click)="delete()" [disabled]="this.selection.isEmpty()">
              <mat-icon aria-label="Example icon-button with a heart icon">delete</mat-icon>
              Delete Selected
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>