<app-mat-spinner-overlay overlay="true" *ngIf="showSpinner"></app-mat-spinner-overlay>
<div class="m-grid__item m-grid__item--fluid m-wrapper ">
  <div class="m-content">
    <div class="m-portlet m-portlet--bordered-semi m-portlet--unair">
      <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
          <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">
              Carian Pengumuman Handheld
            </h3>
          </div>
        </div>       
      </div>
      <div class="m-portlet__body">
        <form novalidate [formGroup]="form">
          <div class="card">
            <div class="card-header2" id="headingCarianPengumumanHandheld">
              <h6 class="mb-0">
                <button class="btn btn-link {{reVisit ? '' : 'collapsed'}} " data-toggle="collapse"
                  data-target="#collapseCarianPengumumanHandheld" aria-expanded=" {{reVisit ? 'true' : 'false'}} "
                  aria-controls="collapseCarianPengumumanHandheld">
                  <i class="fa" aria-hidden="true"></i>
                  Carian
                </button>
              </h6>
            </div>
            <div id="collapseCarianPengumumanHandheld" class="collapse {{reVisit ? 'show' : ''}}"
              aria-labelledby="headingCarianPengumumanHandheld" data-parent="#accordion">
              <div class="card-body card-body-padding-top">
                <div class="col-form-label">
                  <div class="form-group">
                    <div class="form-item row">
                      <div class="col-sm-4">
                        <label class="col-form-label">Jabatan</label>
                        <select class="form-control" [(ngModel)]="Jabatan" formControlName="Jabatan" name="Jabatan">
                          <option value="0">{{ '--Pilih Jabatan--'}}</option>
                          <option *ngFor="let item of jabatanList" value="{{item.id}}">{{ item.name }}
                          </option>
                        </select>
                      </div>
                      <div class="col-sm-4">
                        <label class="col-form-label">Mesej</label>
                        <input class="form-control" formControlName="Mesej" name="Mesej" type="text"
                          placeholder="Mesej">
                      </div>
                      <div class="col-sm-4">
                        <label class="col-form-label">Tarikh Mula<span class="help">(Contoh:
                            31/12/2020)</span></label>
                        <div class="input-group">
                          <input formControlName="TarikhMula" spellcheck="false" class="form-control" maxlength="10"
                            [matDatepicker]="pickerTarikhMula" [(ngModel)]="TarikhMula"
                            placeholder="Masukkan tarikh mula">
                          <mat-datepicker-toggle matSuffix [for]="pickerTarikhMula"></mat-datepicker-toggle>
                          <mat-datepicker #pickerTarikhMula></mat-datepicker>
                        </div>
                        <small class="strik m--font-danger"
                          *ngIf="(submitted || f.TarikhMula.touched) && f.TarikhMula.errors && f.TarikhMula.errors.exceed">
                          Tarikh Akhir tidak melebihi Tarikh Mula
                        </small>
                      </div>
                      <div class="col-sm-4">
                        <label class="col-form-label">Tarikh Akhir<span class="help">(Contoh:
                            31/12/2020)</span></label>
                        <div class="input-group">
                          <input formControlName="TarikhAkhir" spellcheck="false" class="form-control" maxlength="10"
                            [matDatepicker]="pickerTarikhAkhir" [(ngModel)]="TarikhAkhir"
                            placeholder="Masukkan tarikh akhir">
                          <mat-datepicker-toggle matSuffix [for]="pickerTarikhAkhir"></mat-datepicker-toggle>
                          <mat-datepicker #pickerTarikhAkhir></mat-datepicker>
                        </div>
                        <small class="strik m--font-danger"
                          *ngIf="(submitted || f.TarikhAkhir.touched) && f.TarikhAkhir.errors && f.TarikhAkhir.errors.exceed">
                          Tarikh Akhir tidak melebihi Tarikh Mula
                        </small>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="text-right mt-4">
                  <button mat-raised-button class="red-button mr-2" (click)="reset()"><i class="fa fa-retweet"></i>
                    {{'Reset'}} </button>
                  <button mat-raised-button class="blue-button" (click)="search()"><i class="fa fa-search"></i>
                    {{'Cari'}} </button>
                </div>
              </div>
            </div>
          </div>
        </form>
        <br>
        <div class="m-grid__item m-grid__item--fluid m-wrapper ">
          <div class="primeng-datatable-container">
            <p-table class="" id="dataTable1" #dataTable (onLazyLoad)="getPengumumanHandheldList($event); "
              (selectionChange)="onSelectionChange($event)" [value]="primengTableHelper.records"
              rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true"
              [scrollable]="true" ScrollWidth="100%" [responsive]="primengTableHelper.isResponsive"
              [resizableColumns]="primengTableHelper.resizableColumns"
              selectionMode="multiple" (onRowSelect)="onRowSelect($event)">
              <ng-template pTemplate="caption">
                <div class="ui-helper-clearfix" style="text-align: right">
                  <button mat-raised-button class="green-button" (click)="pengumumanDetails(0,'add')">
                    <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
                    Tambah Pengumuman
                  </button>
                </div>
              </ng-template>
              <ng-template pTemplate="header">
                <tr>
                  <th style="width: 40px " class="text-center stickColumnLeft">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                  </th>
                  <th style="width: 40px " class="text-center">
                    {{'#'}}
                  </th>
                  <th style="width: 100px " pSortableColumn="Jabatan">
                    {{'Jabatan'}}
                    <p-sortIcon field="Jabatan"></p-sortIcon>
                  </th>
                  <th style="width: 100px" pSortableColumn="TarikhMula" class="text-center">
                    {{'Tarikh Mula'}}
                    <p-sortIcon field="TarikhMula"></p-sortIcon>
                  </th>
                  <th style="width: 100px" pSortableColumn="TarikhAkhir" class="text-center">
                    {{'Tarikh Akhir'}}
                    <p-sortIcon field="TarikhAkhir"></p-sortIcon>
                  </th>
                  <th style="width: 200px " pSortableColumn="Mesej">
                    {{'Mesej'}}
                    <p-sortIcon field="Mesej"></p-sortIcon>
                  </th>
                  <th style="width: 100px" pSortableColumn="TarikhCipta" class="text-center">
                    {{'Tarikh Dicipta'}}
                    <p-sortIcon field="TarikhCipta"></p-sortIcon>
                  </th>
                  <th style="width: 100px" class="text-center stickColumnRight">
                    {{'Tindakan'}}
                  </th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-record="$implicit" let-rowIndex="rowIndex" let-columns="columns">
                <tr [pSelectableRow]="record" [pSelectableRowDisabled]="">
                  <td style="width: 40px" class="text-center stickColumnLeft">
                    <p-tableCheckbox [value]="record"></p-tableCheckbox>
                  </td>
                  <td style="width: 40px " class="text-center">
                    {{(paginator.getPage() * paginator.rows) + (rowIndex+1)}}
                  </td>
                  <td style="width: 100px ">
                    <span class="ui-column-title"></span>
                    {{record.Jabatan}}
                  </td>
                  <td style="width: 100px " class="text-center">
                    <span class="ui-column-title"></span>
                    {{record.TarikhMula}}
                  </td>
                  <td style="width: 100px " class="text-center">
                    <span class="ui-column-title"></span>
                    {{record.TarikhAkhir}}
                  </td>
                  <td style="width: 200px ">
                    <span class="ui-column-title"></span>
                    {{record.Mesej}}
                  </td>
                  <td style="width: 100px " class="text-center">
                    <span class="ui-column-title"></span>
                    {{record.TarikhCipta}}
                  </td>
                  <td style="width: 100px " class="text-center stickColumnRight">
                    <i class="fa fa-eye ml-2" aria-hidden="true" style="cursor: pointer;" title="Papar Maklumat"
                      (click)="pengumumanDetails(record.Id,'view')"></i>
                    <i class="flaticon-edit ml-2" aria-hidden="true" style="cursor: pointer;" title="Kemaskini Maklumat"
                      (click)="pengumumanDetails(record.Id,'edit')"></i>
                  </td>
                </tr>
              </ng-template>
            </p-table>
            <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
              {{'NoData'}}
            </div>
            <div class="primeng-paging-container" style="position: relative;">
              <p-paginator rows="{{primengTableHelper.defaultRecordsCountPerPage}}" #paginator
                (onPageChange)="getPengumumanHandheldList($event)" [totalRecords]="primengTableHelper.totalRecordsCount"
                [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
              </p-paginator>
            </div>
            <div class="text-right">
              <span style=" top:3px; right:5px; margin: 5px;">Total records :
                {{primengTableHelper.totalRecordsCount}}</span>
            </div>
            <div *ngIf="primengTableHelper.totalRecordsCount > 0">
              <button class="red-button mr-2" mat-raised-button (click)="delete()"
                [disabled]="this.selection.isEmpty()">
                <mat-icon aria-label="Example icon-button with a heart icon">delete</mat-icon>
                Batal Pilihan
              </button>
              <div class="btn-group" dropdown>
                <button mat-raised-button id="button-print" dropdownToggle class="purple-button mr-2"
                  aria-controls="dropdown-print">
                  <mat-icon aria-label="Example icon-button with a heart icon">print</mat-icon>
                  Cetak
                </button>
                <ul id="dropdown-print" *dropdownMenu class="dropdown-menu mt-1 ml-2" role="menu"
                  aria-labelledby="button-print" style="cursor: pointer;">
                  <li role="menuitem"><a class="dropdown-item" (click)="printTablePdf()">Cetak Senarai</a></li>
                  <li role="menuitem"><a class="dropdown-item" (click)="printTableExcel()">Eksport Ke Excel</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>