<app-mat-spinner-overlay overlay="true" *ngIf="showSpinner"></app-mat-spinner-overlay>
<form novalidate [formGroup]="form">
  <div class="m-grid__item m-grid__item--fluid m-wrapper ">
    <div class="m-content">
      <div class="m-portlet m-portlet--bordered-semi m-portlet--unair">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <h3 class="m-portlet__head-text">
                <a style="color:blue;" routerLink="/app/notis/senarai-aduan-mahkamah/{{FromMenu}}"
                  *ngIf="FromMenu != 'kemasukan'">Senarai Aduan
                </a>
                <i class="fa fa-chevron-right mr-2 ml-2" aria-hidden="true" *ngIf="FromMenu != 'kemasukan'"></i>
                {{FormTitle}}
                Notis
              </h3>
            </div>
          </div>
        </div>
        <div id="content">
          <div class="m-portlet__body">
            <div class="row">
              <div class="col-sm-12">
                <div class="card mb-3">
                  <div class="card-header"><strong>Maklumat Pesalah</strong></div>
                  <div class="card-body">
                    <div class="form-group">
                      <div class="form-item row">
                        <div class="col-sm-6 col-set">
                          <div class="col-sm-12">
                            <label class="col-form-label">Nama <span class="strik m--font-danger"
                                *ngIf="FormType == 'add' || FormType == 'edit'">*</span></label>
                            <input class="form-control" formControlName="NamaPesalah" name="NamaPesalah" type="text"
                              placeholder="Nama Pesalah" [attr.disabled]="FormType == 'view' ? true : null">
                            <small class="strik m--font-danger"
                              *ngIf="(FormType == 'add' || FormType == 'edit') && (submitted || f.NamaPesalah.touched) && f.NamaPesalah.errors && f.NamaPesalah.errors.required">
                              Maklumat Nama Pesalah adalah wajib!
                            </small>
                          </div>
                          <div class="col-sm-12">
                            <label class="col-form-label">No. KP / Syarikat <span class="strik m--font-danger"
                                *ngIf="FormType == 'add' || FormType == 'edit'">*</span></label>
                            <input class="form-control" formControlName="NoKPSyarikatPesalah" name="NoKPSyarikatPesalah"
                              type="text" placeholder="No. KP / Syarikat"
                              [attr.disabled]="FormType == 'view' ? true : null">
                            <small class="strik m--font-danger"
                              *ngIf="(FormType == 'add' || FormType == 'edit') && (submitted || f.NoKPSyarikatPesalah.touched) && f.NoKPSyarikatPesalah.errors && f.NoKPSyarikatPesalah.errors.required">
                              Maklumat No. KP / Syarikat Pesalah adalah wajib!
                            </small>
                          </div>
                          <div class="col-sm-12">
                            <label class="col-form-label">No. Notis <span class="strik m--font-danger"
                                *ngIf="FormType == 'add' || FormType == 'edit'">*</span></label>
                            <input class="form-control" formControlName="NoNotis" name="NoNotis" type="text"
                              placeholder="No. Notis" [attr.disabled]="FormType == 'view' ? true : null">
                            <small class="strik m--font-danger"
                              *ngIf="(FormType == 'add' || FormType == 'edit') && (submitted || f.NoNotis.touched) && f.NoNotis.errors && f.NoNotis.errors.required">
                              Maklumat No. Notis adalah wajib!
                            </small>
                          </div>
                        </div>
                        <div class="col-sm-6 col-set">
                          <div class="col-sm-12">
                            <label class="col-form-label">Alamat <span class="strik m--font-danger"
                                *ngIf="FormType == 'add' || FormType == 'edit'">*</span></label>
                            <input class="form-control" formControlName="AlamatPesalah1" name="AlamatPesalah1"
                              type="text" placeholder="Alamat" [attr.disabled]="FormType == 'view' ? true : null">
                            <small class="strik m--font-danger"
                              *ngIf="(FormType == 'add' || FormType == 'edit') && (submitted || f.AlamatPesalah1.touched) && f.AlamatPesalah1.errors && f.AlamatPesalah1.errors.required">
                              Maklumat Alamat adalah wajib!
                            </small>
                            <input class="form-control mt-1" formControlName="AlamatPesalah2" name="AlamatPesalah2"
                              type="text" placeholder="Alamat" [attr.disabled]="FormType == 'view' ? true : null">
                            <input class="form-control mt-1" formControlName="AlamatPesalah3" name="AlamatPesalah3"
                              type="text" placeholder="Alamat" [attr.disabled]="FormType == 'view' ? true : null">
                          </div>
                          <div class="col-sm-12">
                            <div class="form-item row">
                              <div class="col-sm-4">
                                <label class="col-form-label">Poskod <span class="strik m--font-danger"
                                    *ngIf="FormType == 'add' || FormType == 'edit'">*</span></label>
                                <input class="form-control" formControlName="PoskodPesalah" name="PoskodPesalah"
                                  numberOnly type="text" placeholder="Poskod"
                                  [attr.disabled]="FormType == 'view' ? true : null" maxlength="5">
                                <small class="strik m--font-danger"
                                  *ngIf="(FormType == 'add' || FormType == 'edit') && (submitted || f.PoskodPesalah.touched) && f.PoskodPesalah.errors && f.PoskodPesalah.errors.required">
                                  Maklumat Poskod adalah wajib!
                                </small>
                                <small class="strik m--font-danger"
                                  *ngIf="(FormType == 'add' || FormType == 'edit') && (submitted || f.PoskodPesalah.touched) && f.PoskodPesalah.errors && (f.PoskodPesalah.errors.minlength || f.PoskodPesalah.errors.minlength)">
                                  Poskod mestilah 5 aksara
                                </small>
                              </div>
                              <div class="col-sm-8">
                                <label class="col-form-label">Negeri <span class="strik m--font-danger"
                                    *ngIf="FormType == 'add' || FormType == 'edit'">*</span></label>
                                <select class="form-control" [(ngModel)]="NegeriPesalah" formControlName="NegeriPesalah"
                                  name="NegeriPesalah" [attr.disabled]="FormType == 'view' ? true : null">
                                  <option value="0">{{ '--Pilih Negeri--'}}</option>
                                  <option *ngFor="let item of NegeriList" value="{{item.id}}">{{ item.name }}
                                  </option>
                                </select>
                                <small class="strik m--font-danger"
                                  *ngIf="(FormType == 'add' || FormType == 'edit') && (submitted || f.NegeriPesalah.touched) && f.NegeriPesalah.errors && (f.NegeriPesalah.errors.required || f.NegeriPesalah.errors.min)">
                                  Negeri adalah wajib!
                                </small>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="form-item row">
                        <div class="col-sm-12">
                          <label class="col-form-label">Penerangan <span class="strik m--font-danger">*</span>
                          </label>
                          <textarea class="form-control" formControlName="Penerangan" name="Penerangan" rows="6"
                            placeholder="Penerangan"
                            [attr.disabled]="FormType == 'view' && FromMenu != 'batal' ? true : null"></textarea>
                          <small class="strik m--font-danger"
                            *ngIf="(FormType == 'add' || FormType == 'edit') && (submitted || f.Penerangan.touched) && f.Penerangan.errors && f.Penerangan.errors.required">
                            Penerangan adalah wajib!
                          </small>
                        </div>
                      </div>
                      <div class="form-item row">
                        <div class="col-sm-6">
                          <label class="col-form-label">No. PKT <span class="strik m--font-danger"
                              *ngIf="FormType == 'add' || FormType == 'edit'">*</span></label>
                          <input class="form-control" formControlName="NoPkt" name="NoPkt" type="text"
                            placeholder="No. PKT" [attr.disabled]="FormType == 'view' ? true : null">
                          <small class="strik m--font-danger"
                            *ngIf="(FormType == 'add' || FormType == 'edit') && (submitted || f.NoPkt.touched) && f.NoPkt.errors && f.NoPkt.errors.required">
                            Maklumat No. PKT adalah wajib!
                          </small>
                        </div>
                        <div class="col-sm-6">
                          <label class="col-form-label">Nama Penguatkuasa <span class="strik m--font-danger"
                              *ngIf="FormType == 'add' || FormType == 'edit'">*</span></label>
                          <input class="form-control" formControlName="NamaPenguatkuasa" name="NamaPenguatkuasa"
                            type="text" placeholder="Nama Penguatkuasa"
                            [attr.disabled]="FormType == 'view' ? true : null">
                          <small class="strik m--font-danger"
                            *ngIf="(FormType == 'add' || FormType == 'edit') && (submitted || f.NamaPenguatkuasa.touched) && f.NamaPenguatkuasa.errors && f.NamaPenguatkuasa.errors.required">
                            Maklumat Nama Penguatkuasa adalah wajib!
                          </small>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="text-right mt-4">

                  <button mat-raised-button class="red-button mr-2" (click)="resetForm()" *ngIf="FormType != 'view'"><i
                      class="fa fa-retweet"></i>
                    {{'Reset'}} </button>
                  <button mat-raised-button class="green-button  mr-2" (click)="onSave()" cdkFocusInitial
                    *ngIf="FormType != 'view'"><i class="fas fa-save"></i> Simpan </button>
                  <div class="btn-group" dropdown>
                    <button mat-raised-button id="button-print" dropdownToggle class="purple-button mr-2"
                      aria-controls="dropdown-print">
                      <mat-icon aria-label="Example icon-button with a heart icon">print</mat-icon>
                      Cetak
                    </button>
                    <ul id="dropdown-print" *dropdownMenu class="dropdown-menu mt-1 ml-2" role="menu"
                      aria-labelledby="button-print" style="cursor: pointer;">
                      <li role="menuitem"><a class="dropdown-item" (click)="singlePrint('Pertuduhan')">Cetak Pertuduhan</a>
                      </li>
                      <li role="menuitem"><a class="dropdown-item" (click)="singlePrint('Saman')">Cetak Saman</a></li>
                    </ul>
                  </div>
                  <button mat-raised-button class="blue-button mr-2" cdkFocusInitial
                    routerLink="/app/notis/senarai-aduan-mahkamah"><i class="fas fa-angle-double-left"></i>
                    Kembali
                  </button>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>