<app-mat-spinner-overlay overlay="true" *ngIf="showSpinner"></app-mat-spinner-overlay>
<div class="m-grid__item m-grid__item--fluid m-wrapper ">
  <div class="m-content">
    <div class="m-portlet m-portlet--bordered-semi m-portlet--unair">
      <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
          <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">
              Cetak Aduan Ke Mahkamah
            </h3>
          </div>
        </div>
      </div>
      <div class="m-portlet__body">
        <form novalidate [formGroup]="form">
          <div class="card">
            <div class="card-header"><strong>Cetakan Akhir</strong></div>
            <div class="card-body">
              <div class="form-group">
                <div class="form-item row">
                  <div class="col-sm-4">
                    <label class="col-form-label">Jenis Cetak</label>
                    <input class="form-control" name="JenisCetakAkhir" type="text"  [ngModelOptions]="{standalone: true}" [(ngModel)]="CetakanTerakhir.JenisCetak" disabled>
                  </div>
                  <div class="col-sm-4">
                    <label class="col-form-label">Tarikh Kesalahan</label>
                    <input class="form-control" name="TarikhKesalahanAkhir" type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="CetakanTerakhir.TarikhMula + ' - ' +  CetakanTerakhir.TarikhAkhir" disabled>
                  </div>
                  <div class="col-sm-4">
                    <label class="col-form-label">Tarikh Cetak</label>
                    <input class="form-control" name="TarikhCetakAkhir" type="text"  [ngModelOptions]="{standalone: true}" [(ngModel)]="CetakanTerakhir.TarikhCetak" disabled>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card mt-3">
            <div class="card-header2" id="headingCarianNotis">
              <h6 class="mb-0">
                <button class="btn btn-link {{reVisit ? '' : 'collapsed'}} " data-toggle="collapse"
                  data-target="#collapseCarianNotis" aria-expanded=" {{reVisit ? 'true' : 'false'}} "
                  aria-controls="collapseCarianNotis">
                  <i class="fa" aria-hidden="true"></i>
                  Carian
                </button>
              </h6>
            </div>
            <div id="collapseCarianNotis" class="collapse {{reVisit ? 'show' : ''}}"
              aria-labelledby="headingCarianNotis" data-parent="#accordion">
              <div class="card-body card-body-padding-top">
                <div class="col-form-label">
                  <div class="form-group">
                    <div class="form-item row">

                      <div class="col-sm-4">
                        <label class="col-form-label">Jenis Notis</label>
                        <select class="form-control" [(ngModel)]="JenisNotis" formControlName="JenisNotis"
                          name="JenisNotis">
                          <option value="0">{{ '--Pilih Jenis Notis--'}}</option>
                          <option *ngFor="let item of jenisNotisList" value="{{item.id}}">{{ item.name }}
                          </option>
                        </select>
                      </div>
                      <div class="col-sm-4">
                        <label class="col-form-label">Akta Induk</label>
                        <select class="form-control" [(ngModel)]="AktaInduk" formControlName="AktaInduk"
                          name="AktaInduk">
                          <option value="0">{{ '--Pilih Akta Induk--'}}</option>
                          <option *ngFor="let item of aktaIndukList" value="{{item.id}}">{{ item.name }}
                          </option>
                        </select>
                      </div>
                      <div class="col-sm-4">
                        <label class="col-form-label">Peruntukan Undang - Undang</label>
                        <select class="form-control" [(ngModel)]="Peruntukan" formControlName="Peruntukan"
                          name="Peruntukan">
                          <option value="0">{{ '--Pilih Peruntukan Undang - Undang--'}}</option>
                          <option *ngFor="let item of peruntukanList" value="{{item.id}}">{{ item.name }}
                          </option>
                        </select>
                      </div>
                      <div class="col-sm-4">
                        <label class="col-form-label">No. Notis</label>
                        <input class="form-control" formControlName="NoNotis" name="NoNotis" type="text"
                          placeholder="No. Notis">
                      </div>
                      <div class="col-sm-4">
                        <label class="col-form-label">Nama / Syarikat</label>
                        <input class="form-control" formControlName="NamaPesalah" name="NamaPesalah" type="text"
                          placeholder="Nama / Syarikat">
                      </div>
                      <div class="col-sm-4">
                        <label class="col-form-label">No. KP / Syarikat</label>
                        <input class="form-control" formControlName="NoPesalah" name="NoPesalah" type="text"
                          placeholder="No. KP / Syarikat">
                      </div>
                      <div class="col-sm-4">
                        <label class="col-form-label">No. Kenderaan</label>
                        <input class="form-control" formControlName="NoKenderaan" name="NoKenderaan" type="text"
                          placeholder="No. Kenderaan">
                      </div>
                      <div class="col-sm-4">
                        <label class="col-form-label">Tarikh Mula<span class="help">(Contoh:
                            31/12/2020)</span></label>
                        <div class="input-group">
                          <input formControlName="TarikhMula" spellcheck="false" class="form-control" maxlength="10"
                            [matDatepicker]="pickerTarikhMula" [(ngModel)]="TarikhMula"
                            placeholder="Tarikh Mula">
                          <mat-datepicker-toggle matSuffix [for]="pickerTarikhMula"></mat-datepicker-toggle>
                          <mat-datepicker #pickerTarikhMula></mat-datepicker>
                        </div>
                        <small class="strik m--font-danger"
                          *ngIf="(submitted || f.TarikhMula.touched) && f.TarikhMula.errors && f.TarikhMula.errors.exceed">
                          Tarikh Akhir tidak melebihi Tarikh Mula
                        </small>
                      </div>
                      <div class="col-sm-4">
                        <label class="col-form-label">Tarikh Akhir<span class="help">(Contoh:
                            31/12/2020)</span></label>
                        <div class="input-group">
                          <input formControlName="TarikhAkhir" spellcheck="false" class="form-control" maxlength="10"
                            [matDatepicker]="pickerTarikhAkhir" [(ngModel)]="TarikhAkhir"
                            placeholder="Tarikh Akhir">
                          <mat-datepicker-toggle matSuffix [for]="pickerTarikhAkhir"></mat-datepicker-toggle>
                          <mat-datepicker #pickerTarikhAkhir></mat-datepicker>
                        </div>
                        <small class="strik m--font-danger"
                          *ngIf="(submitted || f.TarikhAkhir.touched) && f.TarikhAkhir.errors && f.TarikhAkhir.errors.exceed">
                          Tarikh Akhir tidak melebihi Tarikh Mula
                        </small>
                      </div>
                      <div class="col-sm-4">
                        <label class="col-form-label">No. Rujukan Aduan</label>
                        <input class="form-control" formControlName="NoAduanMahkamah" name="NoAduanMahkamah" type="text"
                          placeholder="No. Rujukan Aduan">
                      </div>
                      <div class="col-sm-4">
                        <label class="col-form-label">No. Gaji</label>
                        <input class="form-control" formControlName="NoGaji" name="NoGaji" type="text"
                          placeholder="No. Gaji">
                      </div>
                      <div class="col-sm-4">
                        <label class="col-form-label">No. Badan</label>
                        <input class="form-control" formControlName="NoBadan" name="NoBadan" type="text"
                          placeholder="No. Badan">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="text-right mt-4">
                  <button mat-raised-button class="red-button mr-2" (click)="reset()"><i class="fa fa-retweet"></i>
                    {{'Reset'}} </button>
                  <button mat-raised-button class="blue-button" (click)="search()"><i class="fa fa-search"></i>
                    {{'Cari'}} </button>
                </div>
              </div>
            </div>
          </div>
        </form>
        <div class="m-grid__item m-grid__item--fluid m-wrapper mt-3">
          <div class="primeng-datatable-container">
            <p-table class="" id="dataTable1" #dataTable (onLazyLoad)="getAduanMahkamahList($event); "
              (selectionChange)="onSelectionChange($event)" [value]="primengTableHelper.records"
              rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true"
              [scrollable]="true" ScrollWidth="100%" [responsive]="primengTableHelper.isResponsive"
              [resizableColumns]="primengTableHelper.resizableColumns" selectionMode="multiple"
              (onRowSelect)="onRowSelect($event)">
              <ng-template pTemplate="header">
                <tr>
                  <th style="width: 35px " class="text-center stickColumnLeft">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                  </th>
                  <th style="width: 35px " class="text-center">
                    {{'#'}}
                  </th>
                  <th style="width: 100px " pSortableColumn="NoNotis">
                    {{'No. Notis'}}
                    <p-sortIcon field="NoNotis"></p-sortIcon>
                  </th>
                  <th style="width: 130px" pSortableColumn="NamaPesalah">
                    {{'Nama / Syarikat'}}
                    <p-sortIcon field="NamaPesalah"></p-sortIcon>
                  </th>
                  <th style="width: 130px" pSortableColumn="NoPesalah">
                    {{'No. KP / Syarikat'}}
                    <p-sortIcon field="NoPesalah"></p-sortIcon>
                  </th>
                  <th style="width: 100px " pSortableColumn="Jenis">
                    {{'Jenis'}}
                    <p-sortIcon field="Jenis"></p-sortIcon>
                  </th>
                  <th style="width: 130px" pSortableColumn="TarikhKesalahan">
                    {{'Tarikh'}}
                    <p-sortIcon field="TarikhKesalahan"></p-sortIcon>
                  </th>
                  <th style="width: 100px " pSortableColumn="NoLesen">
                    {{'No. Lesen'}}
                    <p-sortIcon field="NoLesen"></p-sortIcon>
                  </th>                 
                  <th style="width: 120px" pSortableColumn="NoKenderaan">
                    {{'No. Kenderaan'}}
                    <p-sortIcon field="NoKenderaan"></p-sortIcon>
                  </th>                  
                  <th style="width: 100px" pSortableColumn="Status">
                    {{'Status'}}
                    <p-sortIcon field="Status"></p-sortIcon>
                  </th>
                  <th style="width: 100px" class="text-center stickColumnRight">
                    {{'Tindakan'}}
                  </th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-record="$implicit" let-rowIndex="rowIndex" let-columns="columns">
                <tr [pSelectableRow]="record" [pSelectableRowDisabled]="">
                  <td style="width: 35px" class="text-center stickColumnLeft">
                    <p-tableCheckbox [value]="record"></p-tableCheckbox>
                  </td>
                  <td style="width: 35px " class="text-center">
                    {{(paginator.getPage() * paginator.rows) + (rowIndex+1)}}
                  </td>
                  <td style="width: 100px ">
                    <span class="ui-column-title"></span>
                    {{record.NoNotis}}
                  </td>
                  <td style="width: 130px ">
                    <span class="ui-column-title"></span>
                    {{record.NamaPesalah}}
                  </td>
                  <td style="width: 130px ">
                    <span class="ui-column-title"></span>
                    {{record.NoPesalah}}
                  </td>
                  <td style="width: 100px ">
                    <span class="ui-column-title"></span>
                    {{record.Jenis}}
                  </td>
                  <td style="width: 130px ">
                    <span class="ui-column-title"></span>
                    {{record.TarikhKesalahan}}
                  </td>  
                  <td style="width: 100px ">
                    <span class="ui-column-title"></span>
                    {{record.NoLesen}}
                  </td>                                
                  <td style="width: 120px ">
                    <span class="ui-column-title"></span>
                    {{record.NoKenderaan}}
                  </td>                  
                  <td style="width: 100px ">
                    <span class="ui-column-title"></span>
                    {{record.Status}}
                  </td>
                  <td style="width: 100px " class="text-center stickColumnRight">
                    <i class="flaticon-edit ml-2" aria-hidden="true" style="cursor: pointer;" title="Kemaskini Maklumat"
                    (click)="aduanDetails(record.Id,'edit')"></i>   
                    <i class="fa fa-print ml-2" aria-hidden="true" style="cursor: pointer;" title="Cetak AduanMahkamah"
                      (click)="singlePrintAduanMahkamah($event,record.Id)"></i>
                  </td>
                </tr>
              </ng-template>
            </p-table>
            <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
              {{'NoData'}}
            </div>
            <div class="primeng-paging-container" style="position: relative;">
              <p-paginator rows="{{primengTableHelper.defaultRecordsCountPerPage}}" #paginator
                (onPageChange)="getAduanMahkamahList($event)" [totalRecords]="primengTableHelper.totalRecordsCount"
                [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
              </p-paginator>
            </div>
            <div class="text-right">
              <span style=" top:3px; right:5px; margin: 5px;">Total records :
                {{primengTableHelper.totalRecordsCount}}</span>
            </div>
            <div *ngIf="primengTableHelper.totalRecordsCount > 0">
              <div class="btn-group" dropdown>
                <button mat-raised-button id="button-print" dropdownToggle class="purple-button mr-2"
                  aria-controls="dropdown-print">
                  <mat-icon aria-label="Example icon-button with a heart icon">print</mat-icon>
                  Cetak
                </button>
                <ul id="dropdown-print" *dropdownMenu class="dropdown-menu mt-1 ml-2" role="menu"
                  aria-labelledby="button-print" style="cursor: pointer;">
                  <li role="menuitem"><a class="dropdown-item" (click)="selectionPrint('All_A4')">Cetak Semua A4</a>
                  </li>
                  <li role="menuitem"><a class="dropdown-item" (click)="selectionPrint('All_Matrix')">Cetak Semua (Dot
                      Matrix)</a></li>
                  <li role="menuitem"><a class="dropdown-item" (click)="selectionPrint('All_Pertuduhan')">Cetak Semua Pertuduhan</a>
                  <li role="menuitem"><a class="dropdown-item" (click)="selectionPrint('All_Saman')">Cetak Semua Saman</a>
                  <li role="menuitem"><a class="{{this.selection.isEmpty() ? 'dropdown-item-disable not-active' : 'dropdown-item'}}"
                      (click)="selectionPrint('Select_A4')">Cetak Pilihan A4</a></li>
                  <li role="menuitem"><a class="{{this.selection.isEmpty() ? 'dropdown-item-disable not-active' : 'dropdown-item'}}"
                      (click)="selectionPrint('Select_Matrix')">Cetak Pilihan (Dot Matrix)</a></li>
                  <li role="menuitem"><a class="{{this.selection.isEmpty() ? 'dropdown-item-disable not-active' : 'dropdown-item'}}"
                      (click)="selectionPrint('Select_Pertuduhan')">Cetak Pilihan Pertuduhan</a></li>
                  <li role="menuitem"><a class="{{this.selection.isEmpty() ? 'dropdown-item-disable not-active' : 'dropdown-item'}}"
                      (click)="selectionPrint('Select_Saman')">Cetak Pilihan Saman</a></li>
                  <li role="menuitem"><a class="dropdown-item" (click)="printTablePdf()">Cetak Senarai</a></li>
                  <li role="menuitem"><a class="dropdown-item" (click)="printTableExcel()">Eksport Ke Excel</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>