<form novalidate [formGroup]="form">
  <div class="m-grid__item m-grid__item--fluid m-wrapper ">
    <div class="m-content">
      <div class="m-portlet m-portlet--bordered-semi m-portlet--unair">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <h3 class="m-portlet__head-text">
                <a style="color:blue;" routerLink="/app/esitaan/penerimaan-list">Senarai Penerimaan Barang</a>
                <i class="fa fa-chevron-right mr-2 ml-2" aria-hidden="true"></i> {{FormTitle}} Penerimaan Barang
              </h3>
            </div>
          </div>
          <div class="m-portlet__head-tools">

          </div>
        </div>
        <div class="m-portlet__body">
          <div class="row">
            <div class="col-sm-12">
              <div class="card mb-3">
                <div class="card-header"><strong>Maklumat Sitaan</strong></div>
                <div class="card-body">
                  <div class="form-group">
                    <div class="form-item row">
                      <div class="col-sm-6">
                        <label class="col-form-label">No. SD<span class="strik m--font-danger"
                              *ngIf="FormType == 'add' || FormType == 'edit'">*</span></label>
                        <input class="form-control" formControlName="noSd" name="noSd" type="text" placeholder="No. SD"
                               [attr.disabled]="FormType == 'view' ? true : null">
                        <small class="strik m--font-danger"
                               *ngIf="(FormType == 'add' || FormType == 'edit') && (submitted || f.noSd.touched) && f.noSd.errors && f.noSd.errors.required">
                          Maklumat No. SD adalah wajib!
                        </small>
                      </div>
                      <div class="col-sm-6">
                        <label class="col-form-label">Tempat/Jalan <span class="strik m--font-danger"
                                *ngIf="FormType == 'add' || FormType == 'edit'">*</span></label>
                        <select class="form-control" [(ngModel)]="jalanId" formControlName="jalanId" name="jalanId"
                                [attr.disabled]="FormType == 'view' ? true : null" required>
                          <option value="0">{{ '--Pilih Lokasi--'}}</option>
                          <option *ngFor="let item of lokasiList" value="{{item.id}}">{{ item.name }}
                          </option>
                        </select>
                        <small class="strik m--font-danger"
                               *ngIf="(FormType == 'add' || FormType == 'edit') && (submitted || f.jalanId.touched) && f.jalanId.errors && (f.jalanId.errors.required || f.jalanId.errors.min)">
                          Tempat/Jalan adalah wajib!
                        </small>
                      </div>
                      <div class="col-sm-6">
                        <label class="col-form-label">ID Penguatkuasa <span class="strik m--font-danger"
                                *ngIf="FormType == 'add' || FormType == 'edit'">*</span></label>
                        <select class="form-control" [(ngModel)]="penguatkuasaId" formControlName="penguatkuasaId" name="penguatkuasaId"
                                [attr.disabled]="FormType == 'view' ? true : null" required>
                          <option value="0">{{ '--Pilih Penguatkuasa--'}}</option>
                          <option *ngFor="let item of userList" value="{{item.userId}}">{{ item.fullName }}
                          </option>
                        </select>
                        <small class="strik m--font-danger"
                               *ngIf="(FormType == 'add' || FormType == 'edit') && (submitted || f.penguatkuasaId.touched) && f.penguatkuasaId.errors && (f.penguatkuasaId.errors.required || f.penguatkuasaId.errors.min)">
                          ID Penguatkuasa adalah wajib!
                        </small>
                      </div>
                      <div class="col-sm-6">
                        <label class="col-form-label">Tarikh Kesalahan <span class="strik m--font-danger"
                              *ngIf="FormType != 'view'">*</span><span class="help">(Contoh: 31/12/2020)</span></label>
                        <div class="input-group">
                          <input formControlName="tarikhKesalahan" spellcheck="false" class="form-control"
                                 maxlength="10" [matDatepicker]="pickerTarikhKesalahan" [(ngModel)]="tarikhKesalahan"
                                 placeholder="Tarikh Kesalahan" disabled="{{FormType == 'view' ? true : false}}">
                          <mat-datepicker-toggle matSuffix [for]="pickerTarikhKesalahan"></mat-datepicker-toggle>
                          <mat-datepicker #pickerTarikhKesalahan></mat-datepicker>
                        </div>
                        <small class="strik m--font-danger"
                               *ngIf="(FormType != 'view') && (submitted || f.tarikhKesalahan.touched) && f.tarikhKesalahan.errors && f.tarikhKesalahan.errors.required">
                          Tarikh Kesalahan adalah wajib!
                        </small>
                        <small class="strik m--font-danger"
                               *ngIf="(FormType != 'view') && (submitted || f.tarikhKesalahan.touched) && f.tarikhKesalahan.errors && f.tarikhKesalahan.errors.exceed">
                          Tarikh Kesalahan tidak melebihi Tarikh Semasa!
                        </small>
                      </div>
                      <div class="col-sm-6">
                        <label class="col-form-label">No. Badan<span class="strik m--font-danger"
                               *ngIf="FormType == 'add' || FormType == 'edit'">*</span></label>
                        <input class="form-control" formControlName="noBadan" name="noBadan" type="text" placeholder="No. Badan"
                               [attr.disabled]="FormType == 'view' ? true : null">
                        <small class="strik m--font-danger"
                               *ngIf="(FormType == 'add' || FormType == 'edit') && (submitted || f.noBadan.touched) && f.noBadan.errors && f.noBadan.errors.required">
                          Maklumat No. Badan adalah wajib!
                        </small>
                      </div>
                      <div class="col-sm-6">
                        <label class="col-form-label">Waktu Kesalahan<span class="strik m--font-danger"
                              *ngIf="FormType == 'add' || FormType == 'edit'">*</span><span class="help">(Contoh: 08:30 AM)</span></label>
                        <input type="time" [(ngModel)]="waktuKesalahan" formControlName="waktuKesalahan" maxlength="5"
                               name="waktuKesalahan" class="form-control" placeholder="Waktu Kesalahan"
                               [attr.disabled]="FormType == 'view' ? true : null" />
                        <small class="strik m--font-danger"
                               *ngIf="(FormType == 'add' || FormType == 'edit') && (submitted || f.waktuKesalahan.touched) && f.waktuKesalahan.errors && f.waktuKesalahan.errors.required">
                          Waktu Kesalahan adalah wajib!
                        </small>
                      </div>
                      <div class="col-sm-6">
                        <label class="col-form-label">Zon <span class="strik m--font-danger"
                                *ngIf="FormType == 'add' || FormType == 'edit'">*</span></label>
                        <select class="form-control" [(ngModel)]="zonId" formControlName="zonId" name="zonId"
                                [attr.disabled]="FormType == 'view' ? true : null" required>
                          <option value="0">{{ '--Pilih Zon--'}}</option>
                          <option *ngFor="let item of zonList" value="{{item.id}}">{{ item.name }}
                          </option>
                        </select>
                        <small class="strik m--font-danger"
                               *ngIf="(FormType == 'add' || FormType == 'edit') && (submitted || f.zonId.touched) && f.zonId.errors && (f.zonId.errors.required || f.zonId.errors.min)">
                          Maklumat Zon adalah wajib!
                        </small>
                      </div>
                      <div class="col-sm-6">
                        <label class="col-form-label">Peruntukan Undang-Undang <span class="strik m--font-danger"
                                *ngIf="FormType == 'add' || FormType == 'edit'">*</span></label>
                        <select class="form-control" [(ngModel)]="peruntukanUndangId" formControlName="peruntukanUndangId" name="peruntukanUndangId"
                                [attr.disabled]="FormType == 'view' ? true : null" required>
                          <option value="0">{{ '--Pilih Peruntukan Undang-Undang--'}}</option>
                          <option *ngFor="let item of peruntukanUndangListRef" value="{{item.peruntukanUndangId}}">{{ item.namaPeruntukanUndang }}
                          </option>
                        </select>
                        <small class="strik m--font-danger"
                               *ngIf="(FormType == 'add' || FormType == 'edit') && (submitted || f.peruntukanUndangId.touched) && f.peruntukanUndangId.errors && (f.peruntukanUndangId.errors.required || f.peruntukanUndangId.errors.min)">
                          Maklumat Peruntukan Undang-Undang adalah wajib!
                        </small>
                      </div>
                      <div class="col-sm-6">
                        <label class="col-form-label">Parlimen <span class="strik m--font-danger"
                                *ngIf="FormType == 'add' || FormType == 'edit'">*</span></label>
                        <select class="form-control" [(ngModel)]="parlimenId" formControlName="parlimenId" name="parlimenId"
                                [attr.disabled]="FormType == 'view' ? true : null" required>
                          <option value="0">{{ '--Pilih Parlimen--'}}</option>
                          <option *ngFor="let item of parlimenList" value="{{item.id}}">{{ item.name }}
                          </option>
                        </select>
                        <small class="strik m--font-danger"
                               *ngIf="(FormType == 'add' || FormType == 'edit') && (submitted || f.parlimenId.touched) && f.parlimenId.errors && (f.parlimenId.errors.required || f.parlimenId.errors.min)">
                          Maklumat Parlimen adalah wajib!
                        </small>
                      </div>
                      <div class="col-sm-6">
                        <label class="col-form-label">No. Seksyen <span class="strik m--font-danger"
                                *ngIf="FormType == 'add' || FormType == 'edit'">*</span></label>
                        <select class="form-control" [(ngModel)]="seksyenId" formControlName="seksyenId" name="seksyenId"
                                [attr.disabled]="FormType == 'view' ? true : null" required>
                          <option value="0">{{ '--Sila Pilih--'}}</option>
                          <option value="1">{{ 'Seksyen 1'}}</option>
                          <!--<option *ngFor="let item of parlimenList" value="{{item.id}}">{{ item.name }}</option>-->
                        </select>
                        <small class="strik m--font-danger"
                               *ngIf="(FormType == 'add' || FormType == 'edit') && (submitted || f.seksyenId.touched) && f.seksyenId.errors && (f.seksyenId.errors.required || f.seksyenId.errors.min)">
                          Maklumat No. Seksyen adalah wajib!
                        </small>
                      </div>
                      <div class="col-sm-6">
                        <label class="col-form-label">Kawasan <span class="strik m--font-danger"
                                *ngIf="FormType == 'add' || FormType == 'edit'">*</span></label>
                        <select class="form-control" [(ngModel)]="kawasanId" formControlName="kawasanId" name="kawasanId"
                                [attr.disabled]="FormType == 'view' ? true : null" required>
                          <option value="0">{{ '--Pilih Kawasan--'}}</option>
                          <option *ngFor="let item of parlimenList" value="{{item.id}}">{{ item.name }}
                          </option>
                        </select>
                        <small class="strik m--font-danger"
                               *ngIf="(FormType == 'add' || FormType == 'edit') && (submitted || f.kawasanId.touched) && f.kawasanId.errors && (f.kawasanId.errors.required || f.kawasanId.errors.min)">
                          Maklumat Kawasan adalah wajib!
                        </small>
                      </div>
                      <div class="col-sm-6">
                        <label class="col-form-label">Butiran Kesalahan<span class="strik m--font-danger"
                                  *ngIf="FormType == 'add' || FormType == 'edit'">*</span></label>
                        <textarea class="form-control" formControlName="butiran" name="butiran" type="text" placeholder="Butiran"
                                  [attr.disabled]="FormType == 'view' ? true : null"></textarea>
                        <small class="strik m--font-danger"
                               *ngIf="(FormType == 'add' || FormType == 'edit') && (submitted || f.butiran.touched) && f.butiran.errors && f.butiran.errors.required">
                          Maklumat Butiran adalah wajib!
                        </small>
                      </div>
                      <!--<div class="col-sm-6">
                        <label class="col-form-label">Status <span class="strik m&#45;&#45;font-danger"
                                *ngIf="FormType == 'add' || FormType == 'edit'">*</span></label>
                        <select class="form-control" [(ngModel)]="statusId" formControlName="statusId" name="statusId"
                                [attr.disabled]="FormType == 'view' ? true : null" required>
                          <option value="0">{{ '&#45;&#45;Pilih Status&#45;&#45;'}}</option>
                          <option *ngFor="let item of statusList" value="{{item.id}}">{{ item.name }}
                          </option>
                        </select>
                        <small class="strik m&#45;&#45;font-danger"
                               *ngIf="(FormType == 'add' || FormType == 'edit') && (submitted || f.statusId.touched) && f.statusId.errors && (f.statusId.errors.required || f.statusId.errors.min)">
                          Status adalah wajib!
                        </small>
                      </div>-->
                    </div>
                  </div>
                </div>
              </div>

              <div class="card mb-3">
                <div class="card-header">
                  <div class="align-left mt-2">
                    <strong>Maklumat Barang Sitaan</strong>
                  </div>
                  <div class="align-right">
                    <button mat-raised-button class="green-button" (click)="addBarang(0)" *ngIf="FormType != 'view'">
                      <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
                      Tambah
                    </button>
                  </div>
                </div>
                <div class="card-body">
                  <div class="primeng-datatable-container">
                    <p-table class="" id="dataTable1" #dataTable (onLazyLoad)="getSenaraiBarangList($event); "
                             (selectionChange)="onSelectionChange($event)" [value]="primengTableHelper.records"
                             rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true"
                             [scrollable]="true" ScrollWidth="100%" [responsive]="primengTableHelper.isResponsive"
                             [resizableColumns]="primengTableHelper.resizableColumns"
                             selectionMode="multiple" (onRowSelect)="onRowSelect($event)">
                      <ng-template pTemplate="header">
                        <tr>
                          <th style="width: 40px " class="text-center stickColumnLeft">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                          </th>
                          <th style="width: 40px " class="text-center">
                            {{'#'}}
                          </th>
                          <th style="width: 400px " pSortableColumn="ProductName">
                            {{'Senarai Barang-Barang'}}
                            <p-sortIcon field="ProductName"></p-sortIcon>
                          </th>
                          <th style="width: 150px "pSortableColumn="Categories">
                            {{'Jumlah'}}
                            <p-sortIcon field="OrderDateTime"></p-sortIcon>
                          </th>
                          <th pSortableColumn="SKU No">
                            {{'Catatan'}}
                            <p-sortIcon field="SKU No"></p-sortIcon>
                          </th>
                          <th pSortableColumn="Stock" class="text-center stickColumnRight">
                            {{'Tindakan'}}
                            <p-sortIcon field="Stock"></p-sortIcon>
                          </th>
                        </tr>
                      </ng-template>
                      <ng-template pTemplate="body" let-record="$implicit" let-rowIndex="rowIndex" let-columns="columns">
                        <tr [pSelectableRow]="record">
                          <td style="width: 40px" class="text-center stickColumnLeft">
                            <p-tableCheckbox [value]="record"></p-tableCheckbox>
                          </td>
                          <td style="width: 40px " class="text-center">
                            {{(paginator.getPage() * paginator.rows) + (rowIndex+1)}}
                          </td>
                          <td style="width: 400px ">
                            <span class="ui-column-title"></span>
                            {{record.namaBarang}}
                          </td>
                          <td style="width: 150px ">
                            <span class="ui-column-title"></span>
                            {{record.jumlah}}
                          </td>
                          <td>
                            <span class="ui-column-title"></span>
                            {{record.catatan}}
                          </td>
                          <td class="text-center stickColumnRight">
                            <!--<span class="ui-column-title"></span>
                            <i class="fa fa-eye ml-2" aria-hidden="true" style="cursor: pointer;" title="Papar Maklumat" (click)="penerimaanDetails(record.id, 'view')"></i>
                            <i class="flaticon-edit ml-2" aria-hidden="true" style="cursor: pointer;" title="Kemaskini Maklumat" (click)="penerimaanDetails(record.id, 'edit')" ></i>-->
                          </td>
                        </tr>
                      </ng-template>
                    </p-table>
                    <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                      {{'NoData'}}
                    </div>
                    <div class="primeng-paging-container" style="position: relative;">
                      <p-paginator rows="{{primengTableHelper.defaultRecordsCountPerPage}}" #paginator
                                   (onPageChange)="getSenaraiBarangList($event)" [totalRecords]="primengTableHelper.totalRecordsCount"
                                   [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                      </p-paginator>
                    </div>
                    <div class="text-right">
                      <span style=" top:3px; right:5px; margin: 5px;">Total records :{{primengTableHelper.totalRecordsCount}}</span>
                    </div>
                    <div *ngIf="primengTableHelper.totalRecordsCount > 0">
                      <button  class="red-button mr-2" mat-raised-button
                               (click)="delete()" [disabled]="this.selection.isEmpty()" *ngIf="FormType != 'view'">
                        <mat-icon aria-label="Example icon-button with a heart icon">delete</mat-icon>
                        Batal Pilihan
                      </button>
                    </div>
                  </div>
                </div>
              </div>

              <div class="card mb-3">
                <div class="card-header"><strong>Maklumat Saksi</strong></div>
                <div class="card-body">
                  <div class="form-group">
                    <div class="form-item row">
                      <!--<div class="col-sm-6">
                        <label class="col-form-label">Nama<span class="strik m&#45;&#45;font-danger"
                               *ngIf="FormType == 'add' || FormType == 'edit'">*</span></label>
                        <input class="form-control" formControlName="namaSaksi" name="namaSaksi" type="text" placeholder="Nama"
                               [attr.disabled]="FormType == 'view' ? true : null">
                        <small class="strik m&#45;&#45;font-danger"
                               *ngIf="(FormType == 'add' || FormType == 'edit') && (submitted || f.namaSaksi.touched) && f.namaSaksi.errors && f.namaSaksi.errors.required">
                          Maklumat Nama adalah wajib!
                        </small>
                      </div>-->
                      <div class="col-sm-6">
                        <label class="col-form-label">ID Penguatkuasa <span class="strik m--font-danger"
                                *ngIf="FormType == 'add' || FormType == 'edit'">*</span></label>
                        <select class="form-control" [(ngModel)]="penguatkuasaIdSaksi" formControlName="penguatkuasaIdSaksi" name="penguatkuasaIdSaksi"
                                [attr.disabled]="FormType == 'view' ? true : null" required>
                          <option value="0">{{ '--Pilih Penguatkuasa--'}}</option>
                          <option *ngFor="let item of userList" value="{{item.userId}}">{{ item.fullName }}
                          </option>
                        </select>
                        <small class="strik m--font-danger"
                               *ngIf="(FormType == 'add' || FormType == 'edit') && (submitted || f.penguatkuasaIdSaksi.touched) && f.penguatkuasaIdSaksi.errors && (f.penguatkuasaIdSaksi.errors.required || f.penguatkuasaIdSaksi.errors.min)">
                          ID Penguatkuasa adalah wajib!
                        </small>
                      </div>
                      <!--<div class="col-sm-6">
                        <label class="col-form-label">Tarikh<span class="help">(Example :
                              31/12/2020)</span></label>
                        <div class="input-group">
                          <input formControlName="tarikhSaksi" spellcheck="false" class="form-control" maxlength="10"
                                 [matDatepicker]="pickertarikhSaksi" [(ngModel)]="tarikhSaksi"
                                 placeholder="Masukkan Tarikh">
                          <mat-datepicker-toggle matSuffix [for]="pickertarikhSaksi"></mat-datepicker-toggle>
                          <mat-datepicker #pickertarikhSaksi></mat-datepicker>
                        </div>
                        <small class="strik m&#45;&#45;font-danger"
                               *ngIf="(FormType != 'view') && (submitted || f.tarikhSaksi.touched) && f.tarikhSaksi.errors && f.tarikhSaksi.errors.required">
                          Tarikh adalah wajib!
                        </small>
                      </div>-->
                      <div class="col-sm-6">
                        <label class="col-form-label">Tarikh Kesalahan <span class="strik m--font-danger"
                                 *ngIf="FormType != 'view'">*</span><span class="help">(Contoh: 31/12/2020)</span></label>
                        <div class="input-group">
                          <input formControlName="tarikhSaksi" spellcheck="false" class="form-control"
                                 maxlength="10" [matDatepicker]="pickerTarikhSaksi" [(ngModel)]="tarikhSaksi"
                                 placeholder="Tarikh Kesalahan" disabled="{{FormType == 'view' ? true : false}}">
                          <mat-datepicker-toggle matSuffix [for]="pickerTarikhSaksi"></mat-datepicker-toggle>
                          <mat-datepicker #pickerTarikhSaksi></mat-datepicker>
                        </div>
                        <small class="strik m--font-danger"
                               *ngIf="(FormType != 'view') && (submitted || f.tarikhSaksi.touched) && f.tarikhSaksi.errors && f.tarikhSaksi.errors.required">
                          Tarikh Saksi adalah wajib!
                        </small>
                        <small class="strik m--font-danger"
                               *ngIf="(FormType != 'view') && (submitted || f.tarikhSaksi.touched) && f.tarikhSaksi.errors && f.tarikhSaksi.errors.exceed">
                          Tarikh Saksi tidak melebihi Tarikh Semasa!
                        </small>
                      </div>
                      <div class="col-sm-6">
                        <label class="col-form-label">No. Badan<span class="strik m--font-danger"
                               *ngIf="FormType == 'add' || FormType == 'edit'">*</span></label>
                        <input class="form-control" formControlName="noBadanSaksi" name="noBadanSaksi" type="text" placeholder="No. Badan"
                               [attr.disabled]="FormType == 'view' ? true : null">
                        <small class="strik m--font-danger"
                               *ngIf="(FormType == 'add' || FormType == 'edit') && (submitted || f.noBadanSaksi.touched) && f.noBadanSaksi.errors && f.noBadanSaksi.errors.required">
                          Maklumat No. Badan adalah wajib!
                        </small>
                      </div>
                      <div class="col-sm-6">
                        <label class="col-form-label">Parlimen <span class="strik m--font-danger"
                                *ngIf="FormType == 'add' || FormType == 'edit'">*</span></label>
                        <select class="form-control" [(ngModel)]="parlimenId" formControlName="parlimenId" name="parlimenId"
                                [attr.disabled]="FormType == 'view' ? true : null" required>
                          <option value="0">{{ '--Pilih Parlimen--'}}</option>
                          <option *ngFor="let item of parlimenList" value="{{item.id}}">{{ item.name }}
                          </option>
                        </select>
                        <small class="strik m--font-danger"
                               *ngIf="(FormType == 'add' || FormType == 'edit') && (submitted || f.parlimenId.touched) && f.parlimenId.errors && (f.parlimenId.errors.required || f.parlimenId.errors.min)">
                          Maklumat Parlimen adalah wajib!
                        </small>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="card mb-3">
                <div class="card-header"><strong>Maklumat Pemilik</strong></div>
                <div class="card-body">
                  <div class="form-group">
                    <div class="form-item row">
                      <div class="col-sm-6 col-set">
                        <div class="col-sm-12">
                          <label class="col-form-label">Nama<span class="strik m--font-danger"
                                 *ngIf="FormType == 'add' || FormType == 'edit'">*</span></label>
                          <input class="form-control" formControlName="namaPemilik" name="namaPemilik" type="text" placeholder="Nama Pemilik"
                                 [attr.disabled]="FormType == 'view' ? true : null">
                          <small class="strik m--font-danger"
                                 *ngIf="(FormType == 'add' || FormType == 'edit') && (submitted || f.namaPemilik.touched) && f.namaPemilik.errors && f.namaPemilik.errors.required">
                            Maklumat Nama Pemilik adalah wajib!
                          </small>
                        </div>
                        <div class="col-sm-12">
                          <label class="col-form-label">No. KP/Syarikat<span class="strik m--font-danger"
                                 *ngIf="FormType == 'add' || FormType == 'edit'">*</span></label>
                          <input class="form-control" formControlName="noKpSyarikat" name="noKpSyarikat" type="text" placeholder="No. KP/Syarikat"
                                 [attr.disabled]="FormType == 'view' ? true : null">
                          <small class="strik m--font-danger"
                                 *ngIf="(FormType == 'add' || FormType == 'edit') && (submitted || f.noKpSyarikat.touched) && f.noKpSyarikat.errors && f.noKpSyarikat.errors.required">
                            Maklumat No. KP/Syarikat adalah wajib!
                          </small>
                        </div>
                        <!--<div class="col-sm-12">
                          <label class="col-form-label">Tempat/Jalan <span class="strik m&#45;&#45;font-danger"
                                  *ngIf="FormType == 'add' || FormType == 'edit'">*</span></label>
                          <select class="form-control" [(ngModel)]="jalanId" formControlName="jalanId" name="jalanId"
                                  [attr.disabled]="FormType == 'view' ? true : null" required>
                            <option value="0">{{ '&#45;&#45;Pilih Jenis Kenderaan&#45;&#45;'}}</option>
                            <option *ngFor="let item of statusList" value="{{item.id}}">{{ item.name }}
                            </option>
                          </select>
                          <small class="strik m&#45;&#45;font-danger"
                                 *ngIf="(FormType == 'add' || FormType == 'edit') && (submitted || f.jalanId.touched) && f.jalanId.errors && (f.jalanId.errors.required || f.jalanId.errors.min)">
                            Tempat/Jalan adalah wajib!
                          </small>
                        </div>-->
                        <div class="col-sm-6">
                          <label class="col-form-label">Tarikh Pemilik <span class="strik m--font-danger"
                                   *ngIf="FormType != 'view'">*</span><span class="help">(Contoh: 31/12/2020)</span></label>
                          <div class="input-group">
                            <input formControlName="tarikhPemilik" spellcheck="false" class="form-control"
                                   maxlength="10" [matDatepicker]="pickerTarikhPemilik" [(ngModel)]="tarikhPemilik"
                                   placeholder="Tarikh Kesalahan" disabled="{{FormType == 'view' ? true : false}}">
                            <mat-datepicker-toggle matSuffix [for]="pickerTarikhPemilik"></mat-datepicker-toggle>
                            <mat-datepicker #pickerTarikhPemilik></mat-datepicker>
                          </div>
                          <small class="strik m--font-danger"
                                 *ngIf="(FormType != 'view') && (submitted || f.tarikhPemilik.touched) && f.tarikhPemilik.errors && f.tarikhPemilik.errors.required">
                            Tarikh Kesalahan adalah wajib!
                          </small>
                          <small class="strik m--font-danger"
                                 *ngIf="(FormType != 'view') && (submitted || f.tarikhPemilik.touched) && f.tarikhPemilik.errors && f.tarikhPemilik.errors.exceed">
                            Tarikh Kesalahan tidak melebihi Tarikh Semasa!
                          </small>
                        </div>
                        <div class="col-sm-12">
                          <label class="col-form-label">Catatan<span class="strik m--font-danger"
                                    *ngIf="FormType == 'add' || FormType == 'edit'">*</span></label>
                          <textarea class="form-control" formControlName="catatanPemilik" name="catatanPemilik" type="text" placeholder="Catatan"
                                    [attr.disabled]="FormType == 'view' ? true : null"></textarea>
                          <small class="strik m--font-danger"
                                    *ngIf="(FormType == 'add' || FormType == 'edit') && (submitted || f.catatanPemilik.touched) && f.catatanPemilik.errors && f.catatanPemilik.errors.required">
                            Maklumat Catatan adalah wajib!
                          </small>
                        </div>
                      </div>
                      <div class="col-sm-6 col-set">
                        <div class="col-sm-12">
                          <label class="col-form-label">Alamat<span class="strik m--font-danger"
                                 *ngIf="FormType == 'add' || FormType == 'edit'">*</span></label>
                          <input class="form-control" formControlName="alamatPemilik1" name="alamatPemilik1"
                                 type="text" placeholder="Alamat" [attr.disabled]="FormType == 'view' ? true : null">
                          <small class="strik m--font-danger"
                                 *ngIf="(FormType == 'add' || FormType == 'edit') && (submitted || f.alamatPemilik1.touched) && f.alamatPemilik1.errors && f.alamatPemilik1.errors.required">
                            Maklumat Alamat adalah wajib!
                          </small>
                          <input class="form-control mt-1" formControlName="alamatPemilik2" name="alamatPemilik2"
                                 type="text" placeholder="Alamat" [attr.disabled]="FormType == 'view' ? true : null">
                          <input class="form-control mt-1" formControlName="alamatPemilik3" name="alamatPemilik3"
                                 type="text" placeholder="Alamat" [attr.disabled]="FormType == 'view' ? true : null">
                        </div>
                        <div class="col-sm-12">
                          <div class="form-item row">
                            <div class="col-sm-4">
                              <label class="col-form-label">Poskod<span class="strik m--font-danger"
                                     *ngIf="FormType == 'add' || FormType == 'edit'">*</span></label>
                              <input class="form-control" formControlName="poskodPemilik" name="poskodPemilik"
                                     numberOnly type="text" placeholder="Poskod"
                                     [attr.disabled]="FormType == 'view' ? true : null" maxlength="5">
                              <small class="strik m--font-danger"
                                     *ngIf="(FormType == 'add' || FormType == 'edit') && (submitted || f.poskodPemilik.touched) && f.poskodPemilik.errors && f.poskodPemilik.errors.required">
                                Maklumat Poskod adalah wajib!
                              </small>
                              <small class="strik m--font-danger"
                                     *ngIf="(FormType == 'add' || FormType == 'edit') && (submitted || f.poskodPemilik.touched) && f.poskodPemilik.errors && (f.poskodPemilik.errors.minlength || f.poskodPemilik.errors.minlength)">
                                Poskod mestilah 5 aksara
                              </small>
                            </div>
                            <div class="col-sm-8">
                              <label class="col-form-label">Negeri <span class="strik m--font-danger"
                                        *ngIf="FormType == 'add' || FormType == 'edit'">*</span></label>
                              <select class="form-control" [(ngModel)]="negeriPemilik" formControlName="negeriPemilik"
                                      name="negeriPemilik" [attr.disabled]="FormType == 'view' ? true : null">
                                <option value="0">{{ '--Pilih Negeri--'}}</option>
                                <option *ngFor="let item of NegeriList" value="{{item.id}}">{{ item.name }}
                                </option>
                              </select>
                              <small class="strik m--font-danger"
                                     *ngIf="(FormType == 'add' || FormType == 'edit') && (submitted || f.negeriPemilik.touched) && f.negeriPemilik.errors && (f.negeriPemilik.errors.required || f.negeriPemilik.errors.min)">
                                Negeri adalah wajib!
                              </small>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="card mb-3">
                <div class="card-header"><strong>Maklumat Stor</strong></div>
                <div class="card-body">
                  <div class="form-group">
                    <div class="form-item row">
                      <div class="col-sm-6">
                        <label class="col-form-label">ID Penguatkuasa <span class="strik m--font-danger"
                                *ngIf="FormType == 'add' || FormType == 'edit'">*</span></label>
                        <select class="form-control" [(ngModel)]="penguatkuasaIdStor" formControlName="penguatkuasaIdStor" name="penguatkuasaIdStor"
                                [attr.disabled]="FormType == 'view' ? true : null" required>
                          <option value="0">{{ '--Pilih Penguatkuasa--'}}</option>
                          <option *ngFor="let item of userList" value="{{item.userId}}">{{ item.fullName }}
                          </option>
                        </select>
                        <small class="strik m--font-danger"
                               *ngIf="(FormType == 'add' || FormType == 'edit') && (submitted || f.penguatkuasaIdStor.touched) && f.penguatkuasaIdStor.errors && (f.penguatkuasaIdStor.errors.required || f.penguatkuasaIdStor.errors.min)">
                          ID Penguatkuasa adalah wajib!
                        </small>
                      </div>
                      <div class="col-sm-6">
                        <label class="col-form-label">Waktu Terima<span class="strik m--font-danger"
                               *ngIf="FormType == 'add' || FormType == 'edit'">*</span><span class="help">(Contoh: 08:30 AM)</span></label>
                        <input type="time" [(ngModel)]="waktuTerimaStor" formControlName="waktuTerimaStor" maxlength="5"
                               name="waktuTerima" class="form-control" placeholder="Waktu Terima"
                               [attr.disabled]="FormType == 'view' ? true : null" />
                        <small class="strik m--font-danger"
                               *ngIf="(FormType == 'add' || FormType == 'edit') && (submitted || f.waktuTerimaStor.touched) && f.waktuTerimaStor.errors && f.waktuTerimaStor.errors.required">
                          Waktu Kesalahan adalah wajib!
                        </small>
                      </div>
                      <div class="col-sm-6">
                        <label class="col-form-label">No. Badan<span class="strik m--font-danger"
                               *ngIf="FormType == 'add' || FormType == 'edit'">*</span></label>
                        <input class="form-control" formControlName="noBadanStor" name="noBadanStor" type="text" placeholder="No. Badan"
                               [attr.disabled]="FormType == 'view' ? true : null">
                        <small class="strik m--font-danger"
                               *ngIf="(FormType == 'add' || FormType == 'edit') && (submitted || f.noBadanStor.touched) && f.noBadanStor.errors && f.noBadanStor.errors.required">
                          Maklumat No. Badan adalah wajib!
                        </small>
                      </div>
                      <div class="col-sm-6">
                        <label class="col-form-label">Tarikh Terima <span class="strik m--font-danger"
                                 *ngIf="FormType != 'view'">*</span><span class="help">(Contoh: 31/12/2020)</span></label>
                        <div class="input-group">
                          <input formControlName="tarikhTerimaStor" spellcheck="false" class="form-control"
                                 maxlength="10" [matDatepicker]="pickerTarikhTerimaStor" [(ngModel)]="tarikhTerimaStor"
                                 placeholder="Tarikh Terima" disabled="{{FormType == 'view' ? true : false}}">
                          <mat-datepicker-toggle matSuffix [for]="pickerTarikhTerimaStor"></mat-datepicker-toggle>
                          <mat-datepicker #pickerTarikhTerimaStor></mat-datepicker>
                        </div>
                        <small class="strik m--font-danger"
                               *ngIf="(FormType != 'view') && (submitted || f.tarikhTerimaStor.touched) && f.tarikhTerimaStor.errors && f.tarikhTerimaStor.errors.required">
                          Tarikh Kesalahan adalah wajib!
                        </small>
                        <small class="strik m--font-danger"
                               *ngIf="(FormType != 'view') && (submitted || f.tarikhTerimaStor.touched) && f.tarikhTerimaStor.errors && f.tarikhTerimaStor.errors.exceed">
                          Tarikh Terima tidak melebihi Tarikh Semasa!
                        </small>
                      </div>
                      <div class="col-sm-6">
                        <label class="col-form-label">Zon <span class="strik m--font-danger"
                                *ngIf="FormType == 'add' || FormType == 'edit'">*</span></label>
                        <select class="form-control" [(ngModel)]="zonId" formControlName="zonId" name="zonId"
                                [attr.disabled]="FormType == 'view' ? true : null" required>
                          <option value="0">{{ '--Pilih Zon--'}}</option>
                          <option *ngFor="let item of zonList" value="{{item.id}}">{{ item.name }}
                          </option>
                        </select>
                        <small class="strik m--font-danger"
                               *ngIf="(FormType == 'add' || FormType == 'edit') && (submitted || f.zonId.touched) && f.zonId.errors && (f.zonId.errors.required || f.zonId.errors.min)">
                          Maklumat Zon adalah wajib!
                        </small>
                      </div>
                      <div class="col-sm-6">
                        <label class="col-form-label">Tarikh <span class="strik m--font-danger"
                                *ngIf="FormType != 'view'">*</span><span class="help">(Contoh: 31/12/2020)</span></label>
                        <div class="input-group">
                          <input formControlName="tarikhStor" spellcheck="false" class="form-control"
                                 maxlength="10" [matDatepicker]="pickerTarikhStor" [(ngModel)]="tarikhStor"
                                 placeholder="Tarikh Kesalahan" disabled="{{FormType == 'view' ? true : false}}">
                          <mat-datepicker-toggle matSuffix [for]="pickerTarikhStor"></mat-datepicker-toggle>
                          <mat-datepicker #pickerTarikhStor></mat-datepicker>
                        </div>
                        <small class="strik m--font-danger"
                               *ngIf="(FormType != 'view') && (submitted || f.tarikhStor.touched) && f.tarikhStor.errors && f.tarikhStor.errors.required">
                          Tarikh Kesalahan adalah wajib!
                        </small>
                        <small class="strik m--font-danger"
                               *ngIf="(FormType != 'view') && (submitted || f.tarikhStor.touched) && f.tarikhStor.errors && f.tarikhStor.errors.exceed">
                          Tarikh Terima tidak melebihi Tarikh Semasa!
                        </small>
                      </div>
                      <div class="col-sm-6">
                        <label class="col-form-label">Catatan<span class="strik m--font-danger"
                                  *ngIf="FormType == 'add' || FormType == 'edit'">*</span></label>
                        <textarea class="form-control" formControlName="catatanStor" name="catatanStor" type="text" placeholder="catatanStor"
                                  [attr.disabled]="FormType == 'view' ? true : null"></textarea>
                        <small class="strik m--font-danger"
                                  *ngIf="(FormType == 'add' || FormType == 'edit') && (submitted || f.catatanStor.touched) && f.catatanStor.errors && f.catatanStor.errors.required">
                          Maklumat Catatan adalah wajib!
                        </small>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="text-right mt-4">
                <button mat-raised-button class="red-button mr-2" (click)="resetForm()" *ngIf="FormType != 'view'"><i class="fa fa-retweet"></i> {{'Reset'}} </button>
                <button mat-raised-button class="green-button" (click)="onSave()" *ngIf="FormType != 'view'"><i class="fas fa-save"></i> Simpan </button>&nbsp;
                <button mat-raised-button class="blue-button mr-2" cdkFocusInitial
                        routerLink="/app/esitaan/penerimaan-list"><i class="fas fa-angle-double-left"></i> Kembali
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
