<h3 mat-dialog-title>  Carian Notis</h3>
<mat-dialog-content class="mat-typography">
<app-mat-spinner-overlay overlay="true" *ngIf="showSpinner"></app-mat-spinner-overlay>
<div class="m-grid__item m-grid__item--fluid m-wrapper ">
  <div class="m-content">
    <div class="m-portlet m-portlet--bordered-semi m-portlet--unair">
      <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
          <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">
              Carian Penguatkuasa Handheld
            </h3>
          </div>
        </div>
      </div>
      <div class="m-portlet__body">
        <form novalidate [formGroup]="form">
          <div class="card">
            <div class="card-header2" id="headingCarianHandheld">
              <h6 class="mb-0">
                <button class="btn btn-link {{reVisit ? '' : 'collapsed'}} " data-toggle="collapse" data-target="#collapseCarianHandheld"
                  aria-expanded=" {{reVisit ? 'true' : 'false'}} " aria-controls="collapseCarianHandheld">
                  <i class="fa" aria-hidden="true"></i>
                  Carian
                </button>
              </h6>
            </div>
            <div id="collapseCarianHandheld" class="collapse {{reVisit ? 'show' : ''}}" aria-labelledby="headingCarianHandheld" data-parent="#accordion">
              <div class="card-body card-body-padding-top">
                <div class="col-form-label">
                  <div class="form-group">
                    <div class="form-item row">                      
                      <div class="col-sm-4">
                        <label class="col-form-label">Jabatan</label>
                        <select class="form-control" [(ngModel)]="Jabatan" formControlName="Jabatan" name="Jabatan">
                          <option value="0">{{ '--Pilih Jabatan--'}}</option>
                          <option *ngFor="let item of jabatanList" value="{{item.id}}">{{ item.name }}
                          </option>
                        </select>
                      </div>
                      <div class="col-sm-4">
                        <label class="col-form-label">Nama</label>
                        <input class="form-control" formControlName="Nama" name="Nama" type="text"
                          placeholder="Nama">
                      </div>
                      <div class="col-sm-4">
                        <label class="col-form-label">No. Gaji</label>
                        <input class="form-control" formControlName="NoGaji" name="NoGaji" type="text"
                          placeholder="No. Gaji">
                      </div>
                      <div class="col-sm-4">
                        <label class="col-form-label">No. Badan</label>
                        <input class="form-control" formControlName="NoBadan" name="NoBadan" type="text"
                          placeholder="No. Badan">
                      </div>
                      <div class="col-sm-4">
                        <label class="col-form-label">Status</label>
                        <select class="form-control" [(ngModel)]="Status" formControlName="Status" name="Status">
                          <option value="0">{{ '--Pilih Status--'}}</option>
                          <option *ngFor="let item of statusList" value="{{item.id}}">{{ item.name }}
                          </option>
                        </select>
                      </div>
                      <div class="col-sm-4">
                        <label class="col-form-label">Pangkat</label>
                        <select class="form-control" [(ngModel)]="Pangkat" formControlName="Pangkat" name="Pangkat">
                          <option value="0">{{ '--Pilih Pangkat--'}}</option>
                          <option *ngFor="let item of pangkatList" value="{{item.id}}">{{ item.name }}
                          </option>
                        </select>
                      </div>
                      <div class="col-sm-4">
                        <label class="col-form-label">Tarikh Mula<span class="help">(Contoh:
                            31/12/2020)</span></label>
                        <div class="input-group">
                          <input formControlName="TarikhMula" spellcheck="false" class="form-control" maxlength="10"
                            [matDatepicker]="pickerTarikhMula" [(ngModel)]="TarikhMula" placeholder="Masukkan tarikh mula">
                          <mat-datepicker-toggle matSuffix [for]="pickerTarikhMula"></mat-datepicker-toggle>
                          <mat-datepicker #pickerTarikhMula></mat-datepicker>
                        </div>
                        <small class="strik m--font-danger"
                          *ngIf="(submitted || f.TarikhMula.touched) && f.TarikhMula.errors && f.TarikhMula.errors.exceed">
                          Tarikh Akhir tidak melebihi Tarikh Mula 
                        </small>
                      </div>
                      <div class="col-sm-4">
                        <label class="col-form-label">Tarikh Akhir<span class="help">(Contoh:
                            31/12/2020)</span></label>
                        <div class="input-group">
                          <input formControlName="TarikhAkhir" spellcheck="false" class="form-control" maxlength="10"
                            [matDatepicker]="pickerTarikhAkhir" [(ngModel)]="TarikhAkhir" placeholder="Masukkan tarikh akhir">
                          <mat-datepicker-toggle matSuffix [for]="pickerTarikhAkhir"></mat-datepicker-toggle>
                          <mat-datepicker #pickerTarikhAkhir></mat-datepicker>
                        </div>
                        <small class="strik m--font-danger"
                          *ngIf="(submitted || f.TarikhAkhir.touched) && f.TarikhAkhir.errors && f.TarikhAkhir.errors.exceed">
                          Tarikh Akhir tidak melebihi Tarikh Mula 
                        </small>
                      </div>                      
                    </div>
                  </div>
                </div>
                <div class="text-right mt-4">
                  <button mat-raised-button class="red-button mr-2" (click)="reset()" ><i
                    class="fa fa-retweet"></i> {{'Reset'}} </button>
                  <button mat-raised-button class="blue-button" (click)="search()" ><i
                      class="fa fa-search"></i> {{'Cari'}} </button>
                </div>
              </div>
            </div>
          </div>
        </form>
        <br>
        <div class="m-grid__item m-grid__item--fluid m-wrapper ">
          <div class="primeng-datatable-container">
            <p-table class="" id="dataTable1" #dataTable (onLazyLoad)="getHandheldOfficerList($event); "
              (selectionChange)="onSelectionChange($event)" [value]="primengTableHelper.records"
              rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true"
              [scrollable]="true" ScrollWidth="100%" [responsive]="primengTableHelper.isResponsive"
              [resizableColumns]="primengTableHelper.resizableColumns" 
              selectionMode="single" (onRowSelect)="onRowSelect($event)">             
              <ng-template pTemplate="header">
                <tr>
                  <th style="width: 40px " class="text-center">
                    {{'#'}}
                  </th>
                  <th style="width: 100px" pSortableColumn="Nama">
                    {{'Nama'}}
                    <p-sortIcon field="Nama"></p-sortIcon>
                  </th>
                  <th style="width: 100px " pSortableColumn="Jabatan">
                    {{'Jabatan'}}
                    <p-sortIcon field="Jabatan"></p-sortIcon>
                  </th>
                  <th style="width: 100px" pSortableColumn="NoGaji">
                    {{'No. Gaji'}}
                    <p-sortIcon field="NoGaji"></p-sortIcon>
                  </th>                  
                  <th style="width: 100px" pSortableColumn="Pangkat">
                    {{'Pangkat'}}
                    <p-sortIcon field="Pangkat"></p-sortIcon>
                  </th>
                  <th style="width: 100px" pSortableColumn="NoBadan">
                    {{'No. Badan'}}
                    <p-sortIcon field="NoBadan"></p-sortIcon>
                  </th>
                  <th style="width: 100px" pSortableColumn="Tarikh" class="text-center">
                    {{'Tarikh'}}
                    <p-sortIcon field="Tarikh"></p-sortIcon>
                  </th>
                  <th style="width: 100px" pSortableColumn="Status">
                    {{'Status'}}
                    <p-sortIcon field="Status"></p-sortIcon>
                  </th>
                </tr>                 
              </ng-template>
              <ng-template pTemplate="body" let-record="$implicit" let-rowIndex="rowIndex" let-columns="columns">
                <tr [pSelectableRow]="record" [pSelectableRowDisabled]="">                  
                  <td style="width: 40px " class="text-center">
                    {{(paginator.getPage() * paginator.rows) + (rowIndex+1)}}
                  </td>
                  <td style="width: 100px ">    
                    <span class="ui-column-title"></span>
                    <a style="color:blue; cursor: pointer;" [mat-dialog-close]="record"  title="Pilih Penguatkuasa">
                     <span>{{record.Nama}}</span>
                    </a>
                  </td>
                  <td style="width: 100px ">
                    <span class="ui-column-title"></span>
                    {{record.Jabatan}}
                  </td>
                  <td style="width: 100px ">
                    <span class="ui-column-title"></span>
                    {{record.NoGaji}}
                  </td>                  
                  <td style="width: 100px ">
                    <span class="ui-column-title"></span>
                    {{record.Pangkat}}
                  </td>
                  <td style="width: 100px ">
                    <span class="ui-column-title"></span>
                    {{record.NoBadan}}
                  </td>
                  <td style="width: 100px " class="text-center">
                    <span class="ui-column-title"></span>
                    {{record.Tarikh}}
                  </td>
                  <td style="width: 100px ">
                    <span class="ui-column-title"></span>
                    {{record.Status}}
                  </td>                 
                </tr>
              </ng-template>
            </p-table>
            <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
              {{'NoData'}}
            </div>
            <div class="primeng-paging-container" style="position: relative;">
              <p-paginator rows="{{primengTableHelper.defaultRecordsCountPerPage}}" #paginator
                (onPageChange)="getHandheldOfficerList($event)" [totalRecords]="primengTableHelper.totalRecordsCount"
                [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
              </p-paginator>
            </div>
            <div class="text-right">
              <span style=" top:3px; right:5px; margin: 5px;">Total records :
                {{primengTableHelper.totalRecordsCount}}</span>
            </div>            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button class="red-button" cdkFocusInitial
        (click)="popupClose()"><i class="fas fa-times"></i>
        Tutup
    </button>
</mat-dialog-actions>