.card-body-padding-top {
  padding-top: 1px;
}


[data-toggle="collapse"] .fa:before {  
  content: "\f139";
}

[data-toggle="collapse"].collapsed .fa:before {
  content: "\f13a";
}

.ng-star-inserted >th {
  font-size: x-small !important;
  vertical-align: text-top;
}

.ng-star-inserted >td {
  font-size: x-small !important;
  vertical-align: text-top;
}


.card-header2 {
  padding: 0rem 1.25rem;
  margin-bottom: 0;
  background-color: rgba(0,0,0,.03);
  border-bottom: 1px solid rgba(0,0,0,.125);
}

// .headcol {
//   position:absolute; 
//   width:5em; 
//   left:0;
//   top:auto;
//   border-right: 0px none black; 
//   border-top-width:3px; /*only relevant for first row*/
//   margin-top:-3px; /*compensate for top border*/
// }











// table {
//   table-layout: fixed;
//   width:100%;
// }
// td:first-child, th:first-child {
//   position:sticky;
//   left:0;
//   z-index:1;
// }
// td:last-child, th:last-child {
//   position:sticky;
//   right:0;
//   z-index:1;
// }
// thead tr th {
//   position:sticky;
//   top:0;
// }
// th:first-child, th:last-child {
//   z-index:2;
// }


