<app-mat-spinner-overlay overlay="true" *ngIf="showSpinner"></app-mat-spinner-overlay>
<form novalidate [formGroup]="form">
  <div class="m-grid__item m-grid__item--fluid m-wrapper ">
    <div class="m-content">
      <div class="m-portlet m-portlet--bordered-semi m-portlet--unair">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <h3 class="m-portlet__head-text">
                <a style="color:blue;" routerLink="/app/handheld/senarai-patch-handheld">Carian Patch</a>
                <i class="fa fa-chevron-right mr-2 ml-2" aria-hidden="true"></i>
                {{FormTitle}}
                Patch Handheld
              </h3>
            </div>
          </div>
        </div>
        <div id="content">
          <div class="m-portlet__body">
            <div class="row">
              <div class="col-sm-12">
                <div class="card mb-3">
                  <div class="card-header"><strong>Maklumat Patch</strong></div>
                  <div class="card-body">
                    <div class="form-group">
                      <div class="form-item row">
                        <div class="col-sm-6">
                          <label class="col-form-label">Nama Fail <span class="strik m--font-danger"
                              *ngIf="FormType != 'view' ">*</span></label>
                          <input class="form-control" formControlName="NamaFail" name="NamaFail" type="text"
                            placeholder="Nama Fail" [attr.disabled]="FormType == 'view' ? true : null">
                          <small class="strik m--font-danger"
                            *ngIf="(FormType != 'view') && (submitted || f.NamaFail.touched) && f.NamaFail.errors && f.NamaFail.errors.required">
                            Maklumat Nama Fail adalah wajib!
                          </small>
                        </div>
                        <div class="col-sm-6">
                          <label class="col-form-label">Versi <span class="strik m--font-danger"
                              *ngIf="FormType != 'view' ">*</span></label>
                          <input class="form-control" formControlName="Versi" name="Versi" type="text"
                            placeholder="Versi" [attr.disabled]="FormType == 'view' ? true : null">
                          <small class="strik m--font-danger"
                            *ngIf="(FormType != 'view') && (submitted || f.Versi.touched) && f.Versi.errors && f.Versi.errors.required">
                            Maklumat Versi adalah wajib!
                          </small>
                        </div>
                        <div class="col-sm-6">
                          <label class="col-form-label">Jenama <span class="strik m--font-danger"
                              *ngIf="FormType != 'view' ">*</span></label>
                          <input class="form-control" formControlName="Jenama" name="Jenama" type="text"
                            placeholder="Jenama" [attr.disabled]="FormType == 'view' ? true : null">
                          <small class="strik m--font-danger"
                            *ngIf="(FormType != 'view') && (submitted || f.Jenama.touched) && f.Jenama.errors && f.Jenama.errors.required">
                            Maklumat Jenama adalah wajib!
                          </small>
                        </div>
                        <div class="col-sm-6">
                          <label class="col-form-label">Status
                            <span class="strik m--font-danger" *ngIf="FormType != 'view'">*</span>
                          </label>
                          <select class="form-control" [(ngModel)]="Status" formControlName="Status" name="Status"
                            [attr.disabled]="FormType == 'view' ? true : null">
                            <option value="0">{{ '--Pilih Status--'}}</option>
                            <option *ngFor="let item of statusList" value="{{item.id}}">{{ item.name }}
                            </option>
                          </select>
                          <small class="strik m--font-danger"
                            *ngIf="(FormType != 'view') && (submitted || f.Status.touched) && f.Status.errors && (f.Status.errors.required || f.Status.errors.min)">
                            Status adalah wajib!
                          </small>
                        </div>
                        <div class="col-sm-6">
                          <div class="row">
                            <label class="col-form-label">Pakej <span class="strik m--font-danger"
                                *ngIf="FormType != 'view' ">*</span>
                              <span class="help" *ngIf="FormType != 'view'">(.zip .rar .7zip)</span>
                            </label>
                          </div>
                          <div class="row" *ngIf="FormType != 'view'">
                            <i class="fa fa-paperclip mr-2 mb-2" aria-hidden="true" for="Pakej" style="cursor: pointer;"
                              title="Muat Naik" onClick="document.getElementById('Pakej').click(); ">
                              {{PakejName == '' ? 'Muat Naik' : PakejName}}</i>
                          </div>
                          <input #inputFile class="form-control" name="Pakej" id="Pakej" type="file"
                            accept=".zip,.rar,.7zip" [attr.disabled]="FormType == 'view' ? true : null"
                            (change)="uploadFile([$event])">

                          <!-- link to download -->
                          <a class="fa fa-download mr-2" title="Muat Turun Patch" target="_blank" [href]="PakejLink"
                            *ngIf="PakejLink != '' && PakejName == ''"> Patch</a>

                          <small class="strik m--font-danger"
                            *ngIf="(FormType != 'view') && (submitted || f.Pakej.touched) && f.Pakej.errors && f.Pakej.errors.required">
                            Maklumat Pakej adalah wajib!
                          </small>
                        </div>
                        <div class="col-sm-6" *ngIf="FormType == 'view'">
                          <label class="col-form-label">Dicipta Pada</label>
                          <input class="form-control" formControlName="TarikhCipta" name="TarikhCipta" type="text"
                            placeholder="" [attr.disabled]="FormType == 'view' ? true : null">
                        </div>
                        <div class="col-sm-6" *ngIf="FormType == 'view'">
                          <label class="col-form-label">Dicipta Oleh</label>
                          <input class="form-control" formControlName="DiciptaOleh" name="DiciptaOleh" type="text"
                            placeholder="" [attr.disabled]="FormType == 'view' ? true : null">
                        </div>
                        <div class="col-sm-6" *ngIf="FormType == 'view'">
                          <label class="col-form-label">Dikemaskini Pada</label>
                          <input class="form-control" formControlName="TarikhKemaskini" name="TarikhKemaskini"
                            type="text" placeholder="" [attr.disabled]="FormType == 'view' ? true : null">
                        </div>
                        <div class="col-sm-6" *ngIf="FormType == 'view'">
                          <label class="col-form-label">Dikemaskini Oleh</label>
                          <input class="form-control" formControlName="DikemaskiniOleh" name="DikemaskiniOleh"
                            type="text" placeholder="" [attr.disabled]="FormType == 'view' ? true : null">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="text-right mt-4">
                  <button mat-raised-button class="red-button mr-2" (click)="resetForm()" *ngIf="FormType != 'view'"><i
                      class="fa fa-retweet"></i>
                    {{'Reset'}} </button>
                  <button mat-raised-button class="green-button mr-2" (click)="onSave()" cdkFocusInitial
                    *ngIf="FormType != 'view'"><i class="fas fa-save"></i> Simpan </button>
                  <button mat-raised-button class="blue-button mr-2" cdkFocusInitial
                    routerLink="/app/handheld/senarai-patch-handheld"><i class="fas fa-angle-double-left"></i> Kembali
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>