<div class="m-grid__item m-grid__item--fluid m-wrapper ">
  <div class="m-content">
    <div class="m-portlet m-portlet--bordered-semi m-portlet--unair">
      <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
          <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">
              Senarai Log Audit
            </h3>
          </div>
        </div>
      </div>
      <div class="m-portlet__body">
        <form novalidate [formGroup]="form">
          <div class="card">
            <div class="card-header2" id="headingAudit" style=" cursor: pointer;" data-toggle="collapse" data-target="#collapseAudit"
                 aria-controls="collapseAudit" aria-expanded=" {{reVisit ? 'true' : 'false'}} ">
              <h6 class="mb-0">
                <button class="btn btn-link {{reVisit ? '' : 'collapsed'}} " data-toggle="collapse" data-target="#collapseAudit"
                        aria-expanded=" {{reVisit ? 'true' : 'false'}} " aria-controls="collapseAudit">
                  <i class="fa" aria-hidden="true"></i>
                  Carian
                </button>
              </h6>
            </div>
            <div id="collapseAudit" class="collapse {{reVisit ? 'show' : ''}}" aria-labelledby="headingAudit" data-parent="#accordion">
              <div class="card-body card-body-padding-top">
                <div class="col-form-label">
                  <div class="form-group">
                    <div class="form-item row">
                      <div class="col-sm-4">
                        <label class="col-form-label">Kata Kunci</label>
                        <input class="form-control" formControlName="keyword" name="keyword" type="text" placeholder="Carian kata kunci">
                      </div>
                      <div class="col-sm-4">
                        <label class="col-form-label">Nama Pengguna</label>
                        <input class="form-control" formControlName="userName" name="userName" type="text" placeholder="Masukkan nama pengguna">
                      </div>
                      <div class="col-sm-4">
                        <label class="col-form-label">Tindakan</label>
                        <select class="form-control" [(ngModel)]="tindakanId" formControlName="tindakanId" name="tindakanId">
                          <option value="0">{{ '--Pilih Tindakan--'}}</option>
                          <option *ngFor="let item of tindakanList" value="{{item.id}}">{{ item.tindakan }}
                          </option>
                        </select>
                      </div>
                      <div class="col-sm-4">
                        <label class="col-form-label">Modul</label>
                        <select class="form-control" [(ngModel)]="modulId" formControlName="modulId" name="modulId">
                          <option value="0">{{ '--Pilih Modul--'}}</option>
                          <option *ngFor="let item of modulList" value="{{item.id}}">{{ item.modul }}
                          </option>
                        </select>
                      </div>
                      <div class="col-sm-4">
                        <label class="col-form-label">Tarikh Mula<span class="help">(Example : 31/12/2020)</span></label>
                        <div class="input-group">
                          <input formControlName="dateStart" spellcheck="false" class="form-control" maxlength="10"
                                 [matDatepicker]="pickerStartDate" [(ngModel)]="dateStart" placeholder="Masukkan tarikh dari">
                          <mat-datepicker-toggle matSuffix [for]="pickerStartDate"></mat-datepicker-toggle>
                          <mat-datepicker #pickerStartDate></mat-datepicker>
                        </div>
                        <small class="strik m--font-danger"
                               *ngIf="(submitted || f.dateStart.touched) && (f.dateStart.errors && f.dateStart.errors.required)">
                          Start Date is required
                        </small>
                        <small class="strik m--font-danger"
                               *ngIf="(submitted || f.dateStart.touched) && f.dateStart.errors && f.dateStart.errors.exceed">
                          End Date cant be greater than Start Date
                        </small>
                      </div>
                      <div class="col-sm-4">
                        <label class="col-form-label">Tarikh Akhir<span class="help">(Example : 31/12/2020)</span></label>
                        <div class="input-group">
                          <input formControlName="dateEnd" spellcheck="false" class="form-control" maxlength="10"
                                 [matDatepicker]="pickerEndDate" [(ngModel)]="dateEnd" placeholder="Masukkan tarikh hingga">
                          <mat-datepicker-toggle matSuffix [for]="pickerEndDate"></mat-datepicker-toggle>
                          <mat-datepicker #pickerEndDate></mat-datepicker>
                        </div>
                        <small class="strik m--font-danger"
                               *ngIf="(submitted || f.dateEnd.touched) && (f.dateEnd.errors && f.dateEnd.errors.required)">
                          End Date is required
                        </small>
                        <small class="strik m--font-danger"
                               *ngIf="(submitted || f.dateEnd.touched) && f.dateEnd.errors && f.dateEnd.errors.exceed">
                          End Date cant be greater than Start Date
                        </small>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="text-right mt-4">
                  <button mat-raised-button class="red-button mr-2" (click)="reset()" ><i
                          class="fa fa-retweet"></i> {{'Reset'}} </button>
                  <button mat-raised-button class="blue-button" (click)="search()" ><i
                          class="fa fa-search"></i> {{'Cari'}} </button>
                </div>
              </div>
            </div>
          </div>
        </form>
        <br>
        <div class="m-grid__item m-grid__item--fluid m-wrapper ">
            <div class="primeng-datatable-container">
              <p-table class="" id="dataTable1" #dataTable (onLazyLoad)="getAuditList($event); "
                       (selectionChange)="onSelectionChange($event)" [value]="primengTableHelper.records"
                       rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true"
                       [scrollable]="true" ScrollWidth="100%" [responsive]="primengTableHelper.isResponsive"
                       [resizableColumns]="primengTableHelper.resizableColumns"
                       selectionMode="multiple" (onRowSelect)="onRowSelect($event)">
                <!--<ng-template pTemplate="caption">
                  <div class="ui-helper-clearfix" style="text-align: right">
                    <button mat-raised-button class="purple-button mr-2" (click)="printTablePdf()">
                      <mat-icon aria-label="Example icon-button with a heart icon">print</mat-icon>
                      Pdf
                    </button>
                    <button mat-raised-button class="purple-button" (click)="printTableExcel()">
                      <mat-icon aria-label="Example icon-button with a heart icon">print</mat-icon>
                      Excel
                    </button>
                  </div>
                </ng-template>-->
                <ng-template pTemplate="header">
                  <tr>
                    <th style="width: 40px " class="text-center stickColumnLeft">
                      {{'#'}}
                    </th>
                    <th style="width: 170px " pSortableColumn="ProductName">
                      {{'Tindakan'}}
                      <p-sortIcon field="ProductName"></p-sortIcon>
                    </th>
                    <th pSortableColumn="SKU No">
                      {{'Modul'}}
                      <p-sortIcon field="SKU No"></p-sortIcon>
                    </th>
                    <th pSortableColumn="Variation" class="text-right">
                      {{'Kata Kunci'}}
                      <p-sortIcon field="Variation"></p-sortIcon>
                    </th>
                    <th pSortableColumn="Price" class="text-right">
                      {{'Nama Pengguna'}}
                      <p-sortIcon field="Price"></p-sortIcon>
                    </th>
                    <th pSortableColumn="Price" class="text-right">
                      {{'Tarikh Rakam'}}
                      <p-sortIcon field="Price"></p-sortIcon>
                    </th>
                    <th pSortableColumn="Stock" class="text-center stickColumnRight">
                      {{'Tindakan'}}
                      <p-sortIcon field="Stock"></p-sortIcon>
                    </th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-record="$implicit" let-rowIndex="rowIndex" let-columns="columns">
                  <tr [pSelectableRow]="record">
                    <td style="width: 40px " class="text-center stickColumnLeft">
                      {{rowIndex+1}}
                    </td>
                    <td style="width: 170px ">
                      <span class="ui-column-title"></span>
                      {{record.tindakan}}
                    </td>
                    <td>
                      <span class="ui-column-title"></span>
                      {{record.modul}}
                    </td>
                    <td class="text-right">
                      <span class="ui-column-title"></span>
                      {{record.keyword}}
                    </td>
                    <td class="text-right">
                      <span class="ui-column-title"></span>
                      {{record.userName}}
                    </td>
                    <td class="text-right">
                      <span class="ui-column-title"></span>
                      {{record.dateRecorded}}
                    </td>
                    <td class="text-center stickColumnRight">
                      <span class="ui-column-title"></span>
                      <a class=" m-btn m-btn--icon  " title="View" (click)="viewAudit(record.id)">
                        <i class="fa fa-eye ml-2" aria-hidden="true"></i>
                      </a>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
              <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                {{'NoData'}}
              </div>
              <div class="primeng-paging-container" style="position: relative;">
                <p-paginator rows="{{primengTableHelper.defaultRecordsCountPerPage}}" #paginator
                             (onPageChange)="getAuditList($event)" [totalRecords]="primengTableHelper.totalRecordsCount"
                             [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                </p-paginator>
              </div>
              <div class="text-right">
                <span style=" top:3px; right:5px; margin: 5px;">Total records :{{primengTableHelper.totalRecordsCount}}</span>
              </div>
              <div *ngIf="primengTableHelper.totalRecordsCount > 0">
                <div class="btn-group" dropdown>
                  <button mat-raised-button id="button-print" dropdownToggle class="purple-button mr-2"
                          aria-controls="dropdown-print">
                    <mat-icon aria-label="Example icon-button with a heart icon">print</mat-icon>
                    Cetak
                  </button>
                  <ul id="dropdown-print" *dropdownMenu class="dropdown-menu mt-1 ml-2" role="menu"
                      aria-labelledby="button-print" style="cursor: pointer;">
                    <li role="menuitem"><a class="dropdown-item" (click)="printTablePdf()">Cetak Senarai</a></li>
                    <li role="menuitem"><a class="dropdown-item" (click)="printTableExcel()">Eksport Ke Excel</a></li>
                  </ul>
                </div>
              </div>
              <!--<div *ngIf="primengTableHelper.totalRecordsCount > 0">
                <button  class="red-button mr-2" mat-raised-button
                         (click)="delete()" [disabled]="this.selection.isEmpty()">
                  <mat-icon aria-label="Example icon-button with a heart icon">delete</mat-icon>
                  Delete Selected
                </button>
              </div>-->
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
