.fixedScollCard{
  position: sticky;
  top:12%;
  z-index: 98;
}


.scroll-container {
  position: relative;
}

.scrollable-content {
  padding: 16px;
  margin: 0;
}

.p-scrollbar-container {
  height: 750px;
  overflow: auto;
}

.product-image-container {
  margin-top: 15px;
  height: 140px;
  margin-bottom: 10px;
  .form-group {
    height: 100%;
    .product-image-list {
      height: 100%;
    }
  }
}

input[type=file] {
  opacity: 0;
  position: absolute;
  z-index: -1;
  left: -1000px;
}

.td-grid {
  width: 20%;
}

.input-grid {
  text-align: center;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
}

.form-controlsx:focus {
  box-shadow: 0 0 10px rgb(219, 117, 250) !important;
  /*padding: 3px 0px 3px 3px !important;*/
  /*margin: 5px 1px 3px 0px !important;*/
  /*border: 1px solid rgb(99, 96, 245) !important;*/
}



.form-controlsx:hover {
  /*background: #ececec;*/
  box-shadow: 0 0 10px rgb(219, 117, 250) !important;
  /*padding: 3px 0px 3px 3px !important;
  margin: 5px 1px 3px 0px !important;*/
  /*border: 1px solid rgb(99, 96, 245) !important;*/
}


.align-left {
  float: left !important;
}

.align-right {
  float: right !important;
}

.card-small {
  padding: 0px;
}

/*
::ng-deep .mat-icon{
  height:25px !important;
  width:25px !important;
  font-size:15px !important;
}
*/
