<form novalidate [formGroup]="form">
  <div class="m-grid__item m-grid__item--fluid m-wrapper ">
    <div class="m-content">
      <div class="m-portlet m-portlet--bordered-semi m-portlet--unair">
        <div class="m-portlet__body">
          <div class="row">
            <div class="col-sm-12">

              <div class="card mt-4 mb-4">
                <div class="card-header"><strong>Variation One</strong></div>
                <div class="card-body">

                  <div class="form-group">
                    <div class="form-item row">
                      <div class="col-sm-12">
                        <label class="col-form-label">Variation Name</label>
                        <input class="form-control" formControlName="VariationName" name="VariationName" type="text" placeholder="Enter your variation name">
                      </div>
                    </div>

                    <div class="form-item row">
                      <div class="col-sm-12">
                        <label class="col-form-label">Options</label>
                        <!-- Editable table -->

                              <div id="table" class="table-editable">
                                <span class="table-add float-right mb-3 mr-2">
                                  <button mat-raised-button class="blue-button" (click)="add()" cdkFocusInitial>
                                    <i class="fas fa-plus"></i></button>
                                </span>
                                <table class="table table-bordered table-responsive-md table-striped text-center">
                                  <tr>
                                    <th class="text-center">Option Name</th>
                                    <!--<th class="text-center">Age</th>
                                    <th class="text-center">Company Name</th>
                                    <th class="text-center">Country</th>
                                    <th class="text-center">City</th>-->
                                    <th class="text-center">Remove</th>
                                  </tr>
                                  <tr *ngFor="let variation of variationList; let id = index">
                                    <td>
                                      <!--<span class="grid-inner" contenteditable="true" (keyup)="changeValue(id, 'variation1Value', $event)" (blur)="updateList(id, 'variation1Value', $event)">{{variation.name}}</span>-->
                                      <input class="form-control" id="variation1Value" name="variation1Value" (keyup)="changeValue(id, 'variation1Value', $event)"
                                             (blur)="updateList(id, 'variation1Value', $event)" type="text" value="{{variation.variation1Value}}" placeholder="Enter your option name">
                                    </td>
                                    <!--<td>
                                      <span contenteditable="true" (keyup)="changeValue(id, 'age', $event)" (blur)="updateList(id, 'age', $event)">{{person.age}}</span>
                                    </td>
                                    <td>
                                      <span contenteditable="true" (keyup)="changeValue(id, 'companyName', $event)" (blur)="updateList(id, 'companyName', $event)">{{person.companyName}}</span>
                                    </td>
                                    <td>
                                      <span contenteditable="true" (keyup)="changeValue(id, 'country', $event)" (blur)="updateList(id, 'country', $event)">{{person.country}}</span>
                                    </td>
                                    <td>
                                      <span contenteditable="true" (keyup)="changeValue(id, 'city', $event)" (blur)="updateList(id, 'city', $event)">{{person.city}}</span>
                                    </td>-->
                                    <td>
                                      <span class="table-remove">
                                        <button type="button"  size="sm" class="my-0" (click)="remove(id)">Remove</button>
                                      </span>
                                    </td>
                                  </tr>
                                </table>
                              </div>

                        <!-- Editable table -->
                      </div>
                    </div>
                  </div>

                  <div class="text-right">
                    <button mat-raised-button class="green-button" (click)="onSave()" cdkFocusInitial><i
                      class="fas fa-save"></i> Save </button>
                  </div>


                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
