<div class="m-grid__item m-grid__item--fluid m-wrapper ">
  <div class="m-content">
    <div class="m-portlet m-portlet--bordered-semi m-portlet--unair">
      <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
          <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">
              {{orderStatus}} Orders
            </h3>
          </div>
        </div>  
        <div class="m-portlet__head-tools">
          <button mat-raised-button class="green-button" (click)="orderListComponent.autoTablePdf()">
            <mat-icon aria-label="Example icon-button with a heart icon">print</mat-icon>
            Auto Table
          </button>
        </div> 
      </div>
      <!-- <div class="card"> -->
        <!-- <div class="card-header"><strong>{{orderStatus}} Orders</strong></div> -->
        <!-- <div class="card-body"> -->
          <!-- <div mat-dialog-content> -->
            <mat-tab-group #tabsGroup 
            [selectedIndex]="selected.value"
               (selectedIndexChange)="tabClick(selected.setValue($event)); "
               class="mr-3 ml-3">
              <mat-tab>
                <ng-template mat-tab-label>
                  All
                </ng-template>
                <app-sales-orders-list #orderListComponent  [orderStatus]="orderStatus" [orderTabIndex]="orderTabIndex"  #tab></app-sales-orders-list>
              </mat-tab>

              <mat-tab>
                <ng-template mat-tab-label>
                  New
                </ng-template>
                <app-sales-orders-list #orderListComponent  [orderStatus]="orderStatus" [orderTabIndex]="orderTabIndex" #tab></app-sales-orders-list>
              </mat-tab>

              <mat-tab>
                <ng-template mat-tab-label>
                  Processed
                </ng-template>
                <app-sales-orders-list #orderListComponent [orderStatus]="orderStatus" [orderTabIndex]="orderTabIndex" #tab></app-sales-orders-list>
              </mat-tab>

              <mat-tab>
                <ng-template mat-tab-label>
                  Completed
                </ng-template>
                <app-sales-orders-list #orderListComponent [orderStatus]="orderStatus" [orderTabIndex]="orderTabIndex" #tab></app-sales-orders-list>
              </mat-tab>

            </mat-tab-group>
          <!-- </div> -->
        <!-- </div>
      </div>
    </div> -->
  </div>