<app-header-nav></app-header-nav>
<app-mat-spinner-overlay overlay="true" *ngIf="showSpinner" >
</app-mat-spinner-overlay>
<!-- begin::Page loader -->
<!--<div class="m-page-loader m-page-loader&#45;&#45;base m-page-loader&#45;&#45;non-block" style="margin-left: -80px; margin-top: -20px;">
  <div class="m-blockui">
  <span>Please wait...</span>
  <span><div class="m-loader m-loader&#45;&#45;brand"></div></span>
  </div>
</div>-->
<!-- end::Page loader -->
<router-outlet></router-outlet>

<app-scroll-top></app-scroll-top>
<app-footer></app-footer>
