<app-mat-spinner-overlay overlay="true" *ngIf="showSpinner"></app-mat-spinner-overlay>
<div class="m-content">
  <div class="m-portlet m-portlet--bordered-semi m-portlet--unair">
    <div class="m-portlet__head">
      <div class="m-portlet__head-caption">
        <div class="m-portlet__head-title">
          <h3 class="m-portlet__head-text">
            Senarai Pengguna
          </h3>
        </div>
      </div>
      <!-- <div class="m-portlet__head-tools">
        <button mat-raised-button class="green-button" (click)="promotionDetails(0)">
          <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
          Add New Promo
        </button>
      </div> -->
    </div>
    <div mat-dialog-content>
      <div class="m-portlet__body ">
        <div class="primeng-datatable-container">
          <p-table  #dataTable (onLazyLoad)="getUserList($event); "
            (selectionChange)="onSelectionChange($event)" [value]="primengTableHelper.records"
            rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true"
            [scrollable]="true" ScrollWidth="100%" [responsive]="primengTableHelper.isResponsive"
            [resizableColumns]="primengTableHelper.resizableColumns">
            <ng-template pTemplate="header">
              <tr>
                <th  class="text-center" valign="top" style="width: 10px">
                  <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th  class="" valign="top" style="width: 70px">
                  {{'Nama Penuh'}}
                </th>
                <th  pSortableColumn="ProductName" valign="top"  style="width: 150px">
                  {{'Emel'}}
                  <p-sortIcon field="ProductName"></p-sortIcon>
                </th>
                <!--<th   pSortableColumn="CategoryName" valign="top"  style="width: 100px">
                  {{''}}
                  <p-sortIcon field="CategoryName"></p-sortIcon>
                </th>
                <th  valign="top"  style="width: 80px">
                  {{''}}
                </th>
                <th  valign="top" style="width: 80px">
                  {{''}}
                </th>
                <th  pSortableColumn="Price" class="text-right" valign="top" style="width: 80px">
                  {{''}}
                  <p-sortIcon field="Price"></p-sortIcon>
                </th>
                <th class="text-center"  pSortableColumn="Stock" valign="top" style="width: 80px">
                  {{''}}
                  <p-sortIcon field="Stock"></p-sortIcon>
                </th>-->

              </tr>
              <tr>
                <th class="text-center">
                </th>
                <th class="">
                  <input pInputText type="text" style="width: 100%;" class="form-control"
                         (input)="dataTable.filter($event.target.value,' customerOrder  ', 'contains');"
                         placeholder="Carian...">
                </th>
                <th>
                  <input pInputText type="text" style="width: 100%;" class="form-control"
                         (input)="dataTable.filter($event.target.value,' customerOrder  ', 'contains');"
                         placeholder="Carian...">
                </th>
                <!--<th>
                  <input pInputText type="text" style="width: 100%;" class="form-control"
                    (input)="dataTable.filter($event.target.value,' CategoryName  ', 'contains');"
                    placeholder="Search Category">
                </th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>-->

              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-record="$implicit" let-rowIndex="rowIndex" let-columns="columns">
              <tr [pSelectableRow]="record" [pSelectableRowDisabled]="">
                <td  class="text-center" style="width: 10px"  valign="top">
                  <p-tableCheckbox [value]="record"></p-tableCheckbox>
                </td>
                <td valign="top" style="width: 70px">
                  <span class="ui-column-title" ></span>
                  {{record.fullName}}
                </td>
                <td  style="width: 150px" valign="top">
                  <span class="ui-column-title"></span>
                  <a style="color:blue; cursor: pointer;">
                    {{record.email}}</a>
                </td>
                <!--<td valign="top" style="width: 100px">
                  <span class="ui-column-title" ></span>
                  {{''}}
                </td>
                <td valign="top" style="width: 80px">
                  {{''}}
                </td>
                <td valign="top" style="width: 80px">
                  <span class="ui-column-title "></span>
                  {{''}}
                </td>
                <td valign="top" class="text-right" style="width: 80px">
                  <span class="ui-column-title "></span>
                  {{''}}
                </td>
                <td valign="top" class="text-center" style="width: 80px">
                  <span class="ui-column-title "></span>
                  {{''}}
                </td>-->

              </tr>
            </ng-template>
          </p-table>
          <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
            {{'NoData'}}
          </div>
          <div class="primeng-paging-container" style="position: relative;">
            <p-paginator rows="{{primengTableHelper.defaultRecordsCountPerPage}}" #paginator
              (onPageChange)="getUserList($event)" [totalRecords]="primengTableHelper.totalRecordsCount"
              [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
            </p-paginator>
            <span style="position: absolute; top:3px; right:5px; margin: 5px;">Total records :
              {{primengTableHelper.totalRecordsCount}}</span>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<!-- </div> -->
<!-- </mat-tab>
  </mat-tab-group>  -->
<div class=" row">
  <div class="col-sm-6 text-left">
    <button class="green-button" mat-raised-button (click)="add()" [disabled]="this.selection.isEmpty()">
      <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
      Tambah Ahli Ke Kumpulan
    </button>
  </div>
  <div class="col-sm-6 text-right">
    <button mat-raised-button class="red-button" (click)="onNoClick()"><i class="far fa-times-circle"></i>Close</button>
  </div>
</div>

