<form novalidate [formGroup]="form">
  <div class="m-grid__item m-grid__item--fluid m-wrapper ">
    <div class="m-content">
      <div class="m-portlet m-portlet--bordered-semi m-portlet--unair">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <h3 class="m-portlet__head-text">
                <a style="color:blue;" routerLink="/app/pentadbiran/kompaun-diskaun-list">Senarai Kompaun Diskaun</a>
                <i class="fa fa-chevron-right mr-2 ml-2" aria-hidden="true"></i> Edit Kompaun Diskaun
              </h3>
            </div>
          </div>
          <div class="m-portlet__head-tools">

          </div>
        </div>
        <div class="m-portlet__body">
          <div class="row">
            <div class="col-sm-12">
              <div class="card mb-3">
                <div class="card-header"><strong>Maklumat Kompaun Diskaun Auto</strong></div>
                <div class="card-body">
                  <div class="form-group">
                    <div class="form-item row">
                      <div class="col-sm-6">
                        <label class="col-form-label">Nama Diskaun<span class="strik m--font-danger"
                                                                        *ngIf="FormType == 'add' || FormType == 'edit'">*</span></label>
                        <input class="form-control" formControlName="namaDiskaun" name="namaDiskaun" type="text" placeholder="Masukkan nama Diskaun"
                               [attr.disabled]="FormType == 'view' ? true : null">
                        <small class="strik m--font-danger"
                               *ngIf="(FormType == 'add' || FormType == 'edit') && (submitted || f.namaDiskaun.touched) && f.namaDiskaun.errors && f.namaDiskaun.errors.required">
                          Maklumat Nama Diskaun adalah wajib!
                        </small>
                      </div>
                      <div class="col-sm-6">
                        <label class="col-form-label">Diskaun Oleh<span class="strik m--font-danger"
                                                                        *ngIf="FormType == 'add' || FormType == 'edit'">*</span></label>
                        <div class="col-sm-12">
                          <mat-radio-group #rGroup layout="row" [(ngModel)]="diskaunOlehId" formControlName="diskaunOlehId"
                                           [attr.disabled]="FormType == 'view' ? true : null" required>
                            <mat-radio-button value="1" class="mr-3" radioGroup="rGroup">Flat Rate (RM)</mat-radio-button>
                            <mat-radio-button value="2" class="mr-3" radioGroup="rGroup">Percentage (%)</mat-radio-button>
                          </mat-radio-group>
                          <br>
                          <small class="strik m--font-danger"
                                 *ngIf="(FormType == 'add' || FormType == 'edit') && (submitted || f.diskaunOlehId.touched) && f.diskaunOlehId.errors && (f.diskaunOlehId.errors.required || f.diskaunOlehId.errors.min)">
                            Maklumat Diskaun Oleh adalah wajib!
                          </small>
                        </div>
                      </div>
                    </div>
                    <div class="form-item row">
                      <div class="col-sm-6">
                        <label class="col-form-label">Flat Rate / Percentage<span class="strik m--font-danger"
                                                                                  *ngIf="FormType == 'add' || FormType == 'edit'">*</span></label>
                        <input class="form-control" formControlName="rate" name="rate" type="text" placeholder="Masukkan rate"
                               [attr.disabled]="FormType == 'view' ? true : null">
                        <small class="strik m--font-danger"
                               *ngIf="(FormType == 'add' || FormType == 'edit') && (submitted || f.rate.touched) && f.rate.errors && f.rate.errors.required">
                          Maklumat Rate adalah wajib!
                        </small>
                      </div>
                      <div class="col-sm-6">
                        <label class="col-form-label">Jabatan</label>
                        <ng-multiselect-dropdown
                                [placeholder]="'--Sila Pilih Jabatan--'"
                                [settings]="dropdownSettings1"
                                [data]="jabatanList"
                                [(ngModel)]="selectedJabatan"
                                [ngModelOptions]="{standalone: true}"
                                (onSelect)="onItemSelect($event)"
                                (onSelectAll)="onSelectAll($event)"
                        >
                        </ng-multiselect-dropdown>
                      </div>
                    </div>
                    <div class="form-item row">
                      <div class="col-sm-6">
                        <label class="col-form-label">Tarikh Notis Mula<span class="help">(Example :
                              31/12/2020)</span></label>
                        <div class="input-group">
                          <input formControlName="tarikhNotisDari" spellcheck="false" class="form-control" maxlength="10"
                                 [matDatepicker]="pickerNotisDari" [(ngModel)]="tarikhNotisDari"
                                 placeholder="Masukkan Tarikh Notis Dari">
                          <mat-datepicker-toggle matSuffix [for]="pickerNotisDari"></mat-datepicker-toggle>
                          <mat-datepicker #pickerNotisDari></mat-datepicker>
                        </div>
                        <small class="strik m--font-danger"
                               *ngIf="(FormType != 'view') && (submitted || f.tarikhNotisDari.touched) && f.tarikhNotisDari.errors && f.tarikhNotisDari.errors.required">
                          Tarikh Notis Mula adalah wajib!
                        </small>
                        <small class="strik m--font-danger"
                               *ngIf="(FormType != 'view') && (submitted || f.tarikhNotisDari.touched) && f.tarikhNotisDari.errors && f.tarikhNotisDari.errors.exceed">
                          Tarikh Notis Akhir tidak melebihi Tarikh Notis Mula!
                        </small>
                      </div>
                      <div class="col-sm-6">
                        <label class="col-form-label">Tarikh Notis Akhir<span class="help">(Example : 31/12/2020)</span></label>
                        <div class="input-group">
                          <input formControlName="tarikhNotisHingga" spellcheck="false" class="form-control" maxlength="10"
                                 [matDatepicker]="pickerNotisHingga" [(ngModel)]="tarikhNotisHingga" placeholder="Masukkan tarikh hingga">
                          <mat-datepicker-toggle matSuffix [for]="pickerNotisHingga"></mat-datepicker-toggle>
                          <mat-datepicker #pickerNotisHingga></mat-datepicker>
                        </div>
                        <small class="strik m--font-danger"
                               *ngIf="(submitted || f.tarikhNotisHingga.touched) && (f.tarikhNotisHingga.errors && f.tarikhNotisHingga.errors.required)">
                          Tarikh Notis Akhir adalah wajib!
                        </small>
                        <small class="strik m--font-danger"
                               *ngIf="(submitted || f.tarikhNotisHingga.touched) && f.tarikhNotisHingga.errors && f.tarikhNotisHingga.errors.exceed">
                          Tarikh Notis Akhir tidak melebihi Tarikh Notis Mula!
                        </small>
                      </div>
                    </div>
                    <div class="form-item row">
                      <div class="col-sm-6">
                        <label class="col-form-label">Tarikh Diskaun Mula<span class="help">(Example : 31/12/2020)</span></label>
                        <div class="input-group">
                          <input formControlName="tarikhDiskaunDari" spellcheck="false" class="form-control" maxlength="10"
                                 [matDatepicker]="pickerDiskaunDari" [(ngModel)]="tarikhDiskaunDari" placeholder="Masukkan tarikh dari">
                          <mat-datepicker-toggle matSuffix [for]="pickerDiskaunDari"></mat-datepicker-toggle>
                          <mat-datepicker #pickerDiskaunDari></mat-datepicker>
                        </div>
                        <small class="strik m--font-danger"
                               *ngIf="(submitted || f.tarikhDiskaunDari.touched) && (f.tarikhDiskaunDari.errors && f.tarikhDiskaunDari.errors.required)">
                          Tarikh Diskaun Mula adalah wajib!
                        </small>
                        <small class="strik m--font-danger"
                               *ngIf="(submitted || f.tarikhDiskaunDari.touched) && f.tarikhDiskaunDari.errors && f.tarikhDiskaunDari.errors.exceed">
                          Tarikh Diskaun Akhir tidak melebihi Tarikh Diskaun Mula!
                        </small>
                      </div>
                      <div class="col-sm-6">
                        <label class="col-form-label">Tarikh Diskaun Akhir<span class="help">(Example : 31/12/2020)</span></label>
                        <div class="input-group">
                          <input formControlName="tarikhDiskaunHingga" spellcheck="false" class="form-control" maxlength="10"
                                 [matDatepicker]="pickerDiskaunHingga" [(ngModel)]="tarikhDiskaunHingga" placeholder="Masukkan tarikh hingga">
                          <mat-datepicker-toggle matSuffix [for]="pickerDiskaunHingga"></mat-datepicker-toggle>
                          <mat-datepicker #pickerDiskaunHingga></mat-datepicker>
                        </div>
                        <small class="strik m--font-danger"
                               *ngIf="(submitted || f.tarikhDiskaunHingga.touched) && (f.tarikhDiskaunHingga.errors && f.tarikhDiskaunHingga.errors.required)">
                          Tarikh Diskaun Akhir adalah wajib!
                        </small>
                        <small class="strik m--font-danger"
                               *ngIf="(submitted || f.tarikhDiskaunHingga.touched) && f.tarikhDiskaunHingga.errors && f.tarikhDiskaunHingga.errors.exceed">
                          Tarikh Diskaun Akhir tidak melebihi Tarikh Diskaun Mula!
                        </small>
                      </div>
                    </div>
                    <div class="form-item row">
                      <div class="col-sm-6">
                        <label class="col-form-label">Jenis Notis</label>
                        <ng-multiselect-dropdown
                                [placeholder]="'--Sila Pilih Notis--'"
                                [settings]="dropdownSettings2"
                                [data]="jenisNotisList"
                                [(ngModel)]="selectedJenisNotis"
                                [ngModelOptions]="{standalone: true}"
                                (onSelect)="onItemSelect($event)"
                                (onSelectAll)="onSelectAll($event)"
                        >
                        </ng-multiselect-dropdown>
                      </div>
                      <div class="col-sm-6">
                        <label class="col-form-label">Status <span class="strik m--font-danger"
                                                                   *ngIf="FormType == 'add' || FormType == 'edit'">*</span></label>
                        <select class="form-control" [(ngModel)]="statusId" formControlName="statusId" name="statusId"
                                [attr.disabled]="FormType == 'view' ? true : null" required>
                          <option value="0">{{ '--Pilih Status--'}}</option>
                          <option *ngFor="let item of statusList" value="{{item.id}}">{{ item.name }}
                          </option>
                        </select>
                        <small class="strik m--font-danger"
                               *ngIf="(FormType == 'add' || FormType == 'edit') && (submitted || f.statusId.touched) && f.statusId.errors && (f.statusId.errors.required || f.statusId.errors.min)">
                          Status adalah wajib!
                        </small>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="text-right mt-4">
                <button mat-raised-button class="red-button mr-2" (click)="resetForm()" *ngIf="FormType != 'view'"><i class="fa fa-retweet"></i> {{'Reset'}} </button>
                <button mat-raised-button class="green-button" (click)="onSave()" *ngIf="FormType != 'view'"><i class="fas fa-save"></i> Simpan </button>&nbsp;
                <button mat-raised-button class="blue-button mr-2" cdkFocusInitial
                        routerLink="/app/pentadbiran/kompaun-diskaun-list"><i class="fas fa-angle-double-left"></i> Kembali
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
