<div class="m-grid__item m-grid__item--fluid m-wrapper ">
  <div class="m-content">
    <!-- <div class="m-portlet m-portlet--bordered-semi m-portlet--unair"> -->
    <!-- <div class="m-portlet__body"> -->
    <div class="primeng-datatable-container">      
      <p-table class="single-line-cells" #dataTable (onLazyLoad)="getOrderList($event); "
        [value]="primengTableHelper.records" rows="{{primengTableHelper.defaultRecordsCountPerPage}}"
        [paginator]="false" [lazy]="true" [scrollable]="true" ScrollWidth="100%" 
        [responsive]="primengTableHelper.isResponsive" [resizableColumns]="primengTableHelper.resizableColumns">
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 40px " class="text-center">
              {{'#'}}
            </th>
            <th style="width: 400px " pSortableColumn="OrderNo">
              {{'Order #'}}
              <p-sortIcon field="OrderNo"></p-sortIcon>
            </th>
            <th pSortableColumn="OrderDateTime">
              {{'Order Date Time'}}
              <p-sortIcon field="OrderDateTime"></p-sortIcon>
            </th>
            <th pSortableColumn="Status">
              {{'Status'}}
              <p-sortIcon field="Status"></p-sortIcon>
            </th>
            <th pSortableColumn="Total" class="text-right">
              {{'Total  '}}
              <p-sortIcon field="Total"></p-sortIcon>
            </th>
          </tr>
          <tr>
            <th class="text-center">
            </th>
            <th>
              <input pInputText type="text" style="width: 100%;" class="form-control"
                (input)="dataTable.filter($event.target.value,' customerOrder  ', 'contains');"
                placeholder="Search Customer Order...">
            </th>
            <th><input pInputText type="text" style="width: 100%;" class="form-control"
                (input)="dataTable.filter($event.target.value,' orderDateTime ', 'contains');"
                placeholder="Search Date Time...">
            </th>
            <th>
              <input pInputText type="text" style="width: 100%;" class="form-control"
                (input)="dataTable.filter($event.target.value,' Status ', 'contains');" placeholder="Search Status...">
            </th>
            <th>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-record="$implicit" let-rowIndex="rowIndex" let-columns="columns">
          <tr [pSelectableRow]="record">
            <td style="width: 40px " class="text-center">
              {{rowIndex+1}}
            </td>
            <td style="width: 400px ">
              <span class="ui-column-title"></span>
              <a style="color:blue; cursor: pointer;" (click)="orderDetails(record.orderId)"> {{record.orderNo}}</a>
            </td>
            <td>
              <span class="ui-column-title"></span>
              {{record.orderDateTime}}
            </td>
            <td>
              <span class="ui-column-title"></span>
              {{record.status}}
            </td>
            <td class="text-right">
              <span class="ui-column-title"></span>
              {{record.total | currency:'RM '}}
            </td>

          </tr>
        </ng-template>
      </p-table>
      <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
        {{'NoData'}}
      </div>
      <div class="primeng-paging-container" style="position: relative;">
        <p-paginator rows="{{primengTableHelper.defaultRecordsCountPerPage}}" #paginator
          (onPageChange)="getOrderList($event)" [totalRecords]="primengTableHelper.totalRecordsCount"
          [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
        </p-paginator>
        <span style="position: absolute; top:3px; right:5px; margin: 5px;">Total records :
          {{primengTableHelper.totalRecordsCount}}</span>
      </div>
    </div>
    <!-- </div> -->
    <!-- </div> -->
  </div>
</div>