<div class="m-grid__item m-grid__item--fluid m-wrapper ">
  <div class="m-content">
    <div class="m-portlet m-portlet--bordered-semi m-portlet--unair">
      <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
          <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">
              All Reviews & Ratings
            </h3>
          </div>
        </div>      
      </div>
      <div class="m-portlet__body ">
        <div class="primeng-datatable-container">
          <p-table class="single-line-cells" #dataTable (onLazyLoad)="getRatingList($event); "
            (selectionChange)="onSelectionChange($event)" [value]="primengTableHelper.records"
            rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true"
            [scrollable]="true" ScrollWidth="100%" [responsive]="primengTableHelper.isResponsive"
            [resizableColumns]="primengTableHelper.resizableColumns">
            <ng-template pTemplate="header">
              <tr>
                <th style="width: 40px " class="text-center">
                  <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th style="width: 40px " class="text-center">
                  {{'#'}}
                </th>
                <th style="width: 140px " pSortableColumn="CustomerName">
                  {{'Customer'}}
                  <p-sortIcon field="CustomerName"></p-sortIcon>
                </th>
                <th style="width: 100px" pSortableColumn="Type">
                  {{'Type'}}
                  <p-sortIcon field="Type"></p-sortIcon>
                </th>
                <th style="width: 100px" pSortableColumn="Date" class="text-center">
                  {{'Date'}}
                  <p-sortIcon field="Date"></p-sortIcon>
                </th>
                <th style="width: 140px" pSortableColumn="ProductName">
                  {{'Product'}}
                  <p-sortIcon field="ProductName"></p-sortIcon>
                </th>
                <th style="width: 80px">
                  {{'Rating'}}
                </th>
                <th style="width: 140px" pSortableColumn="Comments">
                  {{'Comments'}}
                  <p-sortIcon field="Comments"></p-sortIcon>
                </th>
              </tr>
              <tr>
                <th class="text-center">
                </th>
                <th class="text-center">
                </th>
                <th>
                  <input pInputText type="text" style="width: 100%;" class="form-control"
                    (input)="dataTable.filter($event.target.value,' CustomerName  ', 'contains');"
                    placeholder="Name...">
                </th>
                <th>
                  <input pInputText type="text" style="width: 100%;" class="form-control"
                  (input)="dataTable.filter($event.target.value,' Type  ', 'contains');"
                  placeholder="Type...">
                </th>
                <th></th>
                <th>
                  <input pInputText type="text" style="width: 100%;" class="form-control"
                  (input)="dataTable.filter($event.target.value,' Product  ', 'contains');"
                  placeholder="Product...">
                </th>
                <th>
                  <input pInputText type="text" style="width: 100%;" class="form-control"
                  (input)="dataTable.filter($event.target.value,' Rating  ', 'contains');"
                  placeholder="Rating...">
                </th>
                <th>
                  <input pInputText type="text" style="width: 100%;" class="form-control"
                  (input)="dataTable.filter($event.target.value,' Comment  ', 'contains');"
                  placeholder="Comments...">
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-record="$implicit" let-rowIndex="rowIndex" let-columns="columns">
              <tr [pSelectableRow]="record" [pSelectableRowDisabled]="">
                <td style="width: 40px" class="text-center">
                  <p-tableCheckbox [value]="record"></p-tableCheckbox>
                </td>
                <td style="width: 40px " class="text-center">
                  {{rowIndex+1}}
                </td>
                <td style="width: 140px ">
                  <span class="ui-column-title"></span>
                  <a style="color:blue; cursor: pointer;" (click)="ratingDetails(record.RatingId);">
                    <span (mouseover)="pageSetting.isEllipsisTitle($event,record.CustomerName)"><span>{{record.CustomerName}}</span></span>
                  </a>
                </td>
                <td style="width: 100px ">
                  <span class="ui-column-title"></span>
                  <span (mouseover)="pageSetting.isEllipsisTitle($event,record.Type)"><span>{{record.Type}}</span></span>
                </td>
                <td style="width: 100px " class="text-center">
                  <span class="ui-column-title "></span>
                  <span (mouseover)="pageSetting.isEllipsisTitle($event,record.Date)"><span>{{record.Date}}</span></span>
                </td>
                <td style="width: 140px">
                  <span class="ui-column-title"></span>
                  <span (mouseover)="pageSetting.isEllipsisTitle($event,record.ProductName)"><span>{{record.ProductName}}</span></span>
                </td>
                <td style="width: 80px" >
                  <span class="ui-column-title"></span>
                  <ng-container *ngIf="record.Rating > 0">
                  <span *ngFor="let item of createRange(record.Rating);">
                    <i class="fa fa-star checkedStar" aria-hidden="true"></i>
                  </span>
                  <span *ngFor="let item of createRange(5-record.Rating);">
                    <i class="fa fa-star defaultStar" aria-hidden="true"></i>
                  </span>
                </ng-container>                  
                </td>
                <td style="width: 140px">
                  <span class="ui-column-title"></span>
                  <span (mouseover)="pageSetting.isEllipsisTitle($event,record.CouponCode)"><span>{{record.Comments}}</span></span>
                </td>
              </tr>
            </ng-template>
          </p-table>
          <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
            {{'NoData'}}
          </div>
          <div class="primeng-paging-container" style="position: relative;">
            <p-paginator rows="{{primengTableHelper.defaultRecordsCountPerPage}}" #paginator
              (onPageChange)="getRatingList($event)" [totalRecords]="primengTableHelper.totalRecordsCount"
              [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
            </p-paginator>
            <span style="position: absolute; top:3px; right:5px; margin: 5px;">Total records :
              {{primengTableHelper.totalRecordsCount}}</span>
          </div>
          <div>
            <button style="margin-top: 10px; margin-bottom: 10px;" class="red-button" mat-raised-button
              (click)="delete()" [disabled]="this.selection.isEmpty()">
              <mat-icon aria-label="Example icon-button with a heart icon">delete</mat-icon>
              Hide Reviews
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>