<div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body" >
    <div class="m-grid__item	m-aside-left  m-aside-left--skin-dark " id="m_aside_left" >
        <div class="m-aside-menu  m-scroller ps ps--active-y" m-menu-vertical="true" m-menu-scrollable="false"
            m-menu-dropdown-timeout="500" style="position: relative; overflow: hidden;" id="m_ver_menu"  >
            <ul class="m-menu__nav  m-menu__nav--dropdown-submenu-arrow " >
                <ng-container *ngFor="let menu of listMenus;  let i=index">
                    <li *ngIf="menu.parentMenuId == 0"
                        class="m-menu__item m-menu__item--submenu m-menu__link {{menu.openSub ? 'm-menu__item--open ' : ''}}"
                        aria-haspopup="true" m-menu-submenu-toggle="hover">
                        <a  (click)="menuSetting.clickMenu(menu.menuId,listMenus)"
                            routerLink="{{menu.path}}" id="menuLinkId{{menu.menuId}}" class="m-menu__link {{menu.active ? 'active ' : ''}} {{menu.disabled ? 'not-active' : ''}}"
                            >
                            <i class="m-menu__link-icon {{menu.iconClass}} "></i>
                            <span class="m-menu__link-text {{menu.extraClass}}  ">{{menu.menuName}}</span>
                            <i class="m-menu__ver-arrow la la-angle-right" *ngIf="menu.hasSubmenu"></i>
                        </a>
                        <!-- <ng-container *ngIf="menu.hasSubmenu"> -->
                            <div class="m-menu__submenu" id="idSubMenu{{menu.menuId}}" 
                            [ngStyle]="{'display': previousParentId > 0 && previousParentId == menu.menuId ? 'block' : 'none' }" >
                                <span class="m-menu__arrow"></span>
                                <ul class="m-menu__subnav" id="m_nav_sub_3">
                                    <ng-container *ngFor="let submenu of listMenus;  let i=index">
                                        <li *ngIf="submenu.parentMenuId == menu.menuId" class="m-menu__item "
                                            aria-haspopup="true">
                                            <a  id="menuLinkId{{submenu.menuId}}" (click)="menuSetting.clickMenu(submenu.menuId,listMenus)"
                                                routerLink="{{submenu.path}}"
                                                class="m-menu__link  {{submenu.active ? 'active' : ''}} {{submenu.disabled ? 'not-active' : ''}} ">
                                                <span class="m-menu__link-text {{submenu.extraClass}}">
                                                    {{submenu.menuName}}</span>
                                            </a>
                                        </li>
                                    </ng-container>
                                </ul>
                            </div>
                        <!-- </ng-container> -->
                    </li>
                </ng-container>
            </ul>
        </div>
        <ul class="sidebar-faq">
            <li class="m-nav__item">
                <!-- <span class="m-nav__link-text"> FAQs | Contact Toolaku </span><i
                    class="m-nav__link-icon flaticon-info m--icon-font-size-lg3"> </i> -->
            </li>
        </ul>
    </div>
    <div class="m-grid__item m-grid__item--fluid m-wrapper ">
        <router-outlet></router-outlet>
    </div>
</div>


