<app-mat-spinner-overlay overlay="true" *ngIf="showSpinner"></app-mat-spinner-overlay>
<form novalidate [formGroup]="form">
  <div class="m-grid__item m-grid__item--fluid m-wrapper ">
    <div class="m-content">
      <div class="m-portlet m-portlet--bordered-semi m-portlet--unair">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <h3 class="m-portlet__head-text">
                <a style="color:blue;" routerLink="/app/sales/order-list/{{orderTabIndex}}" *ngIf="!isModal">Order
                  List</a>
                <i class="fa fa-chevron-right mr-2 ml-2" aria-hidden="true" *ngIf="!isModal"></i>
                Edit Order
              </h3>
            </div>
          </div>
        </div>

        <div id="content" >
          <div class="m-portlet__body">
            <div class="row ">
              <div class="col-sm-8 mb-5">
                <div class="card mb-3">
                  <div class="card-header"><strong>Order Info</strong></div>
                  <div class="card-body">
                    <div class="form-group">
                      <div class="form-item row">
                        <div class="col-sm-6">
                          <label class="col-form-label">Customer</label>
                          <input class="form-control" formControlName="Name" name="Name" type="text"
                            placeholder="Customer Name" disabled>
                        </div>
                        <div class="col-sm-6">
                          <label class="col-form-label">Order #</label>
                          <input class="form-control" formControlName="OrderNo" name="OrderNo" type="text"
                            placeholder="Enter Order No." disabled>
                        </div>
                      </div>
                      <div class="form-item row">
                        <div class="col-sm-6">
                          <label class="col-form-label">Delivery Address</label>
                          <textarea class="form-control" formControlName="Address" name="Address" rows="5"
                            style="resize: none;" placeholder="Enter Delivery Address" disabled></textarea>
                        </div>
                        <div class="col-sm-6">
                          <label class="col-form-label">Order Date & Time</label>
                          <input class="form-control" formControlName="OrderDateTime" name="OrderDateTime" type="text"
                            placeholder="Enter Date & Time" disabled>
                        </div>
                      </div>
                      <div class="form-item row">
                        <div class="col-sm-6">
                          <label class="col-form-label">Email</label>
                          <input class="form-control" formControlName="Email" name="Email" type="text"
                            placeholder="Enter Email" disabled>
                        </div>
                      </div>
                      <div class="form-item row">
                        <div class="col-sm-6">
                          <label class="col-form-label">Phone No.</label>
                          <input class="form-control" formControlName="PhoneNo" name="PhoneNo" type="text"
                            placeholder="Enter Phone No." disabled>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card mb-3">
                  <div class="card-header"><strong>Shipping Info</strong></div>
                  <div class="card-body">
                    <div class="form-group">
                      <div class="form-item row">
                        <div class="col-sm-6">
                          <label class="col-form-label">Courier</label>
                          <div class="col-sm-12">
                            <mat-radio-group #rGroup layout="row" [(ngModel)]="CourierId" formControlName="CourierId"
                              disabled>
                              <ng-container *ngFor="let item of courierTypeList; let i = index">
                                <mat-radio-button [value]="item.id" class="mr-3" radioGroup="rGroup">{{item.name}}
                                </mat-radio-button>
                                <!-- <mat-radio-button [value]="1" class="mr-3" radioGroup="rGroup1">Manual Bank Transfer</mat-radio-button>
                                                    <mat-radio-button [value]="2" class="mr-3" radioGroup="rGroup1">BillPlz</mat-radio-button>
                                                    <mat-radio-button [value]="3" class="mr-3" radioGroup="rGroup1">Paypal</mat-radio-button> -->
                              </ng-container>
                              <!-- <mat-radio-button [value]="1" class="mr-3" radioGroup="rGroup">Poslaju</mat-radio-button>
                                                    <mat-radio-button [value]="2" class="mr-3" radioGroup="rGroup">J&T Express</mat-radio-button>
                                                    <mat-radio-button [value]="3" class="mr-3" radioGroup="rGroup">DHL</mat-radio-button> -->
                            </mat-radio-group>
                          </div>
                        </div>
                      </div>
                      <div class="form-item row">
                        <div class="col-sm-6">
                          <label class="col-form-label">Tracking # <span class="strik m--font-danger">*</span></label>
                          <input class="form-control" formControlName="TrackingNo" name="TrackingNo" type="text"
                            maxlength="30" placeholder="Enter Tracking No.">
                          <small class="strik m--font-danger ml-1"
                            *ngIf="(submitted || f.TrackingNo.touched) && f.TrackingNo.errors && f.TrackingNo.errors.required">
                            Tracking No. is required
                          </small>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
                <div class="card mb-3">
                  <div class="card-header"><strong>Product List </strong></div>
                  <div class="card-body scrollTable">
                    <span *ngIf="productList.length == 0 || !productList">No Data</span>
                    <table mat-table [dataSource]="productList" style="width: 100%;" class=""
                      *ngIf="productList.length > 0">
                      <ng-container matColumnDef="position">
                        <th mat-header-cell *matHeaderCellDef class="text-center" width="5%">#</th>
                        <td mat-cell *matCellDef="let elem" class="text-center"> {{elem.position}} </td>
                      </ng-container>
                      <ng-container matColumnDef="productImage">
                        <th mat-header-cell *matHeaderCellDef width="15%" class="text-center">Product</th>
                        <td mat-cell *matCellDef="let elem" class="text-center">
                          <img alt="" height="70" width="70" src="{{elem.productImage}}">
                        </td>
                      </ng-container>
                      <ng-container matColumnDef="productName">
                        <th mat-header-cell *matHeaderCellDef width="20%">Order #</th>
                        <td mat-cell *matCellDef="let elem"> {{elem.productName}} </td>
                      </ng-container>
                      <ng-container matColumnDef="skuNo">
                        <th mat-header-cell *matHeaderCellDef>SKU #</th>
                        <td mat-cell *matCellDef="let elem"> {{elem.skuNo}} </td>
                      </ng-container>
                      <ng-container matColumnDef="price">
                        <th mat-header-cell *matHeaderCellDef class="text-right">Price (RM)</th>
                        <td mat-cell *matCellDef="let elem" class="text-right"> {{elem.price | currency:' '}} </td>
                      </ng-container>
                      <ng-container matColumnDef="quantity">
                        <th mat-header-cell *matHeaderCellDef class="text-center">Quantity</th>
                        <td mat-cell *matCellDef="let elem" class="text-center"> {{elem.quantity}} </td>
                      </ng-container>
                      <ng-container matColumnDef="subTotal">
                        <th mat-header-cell *matHeaderCellDef class="text-right">Subtotal (RM)</th>
                        <td mat-cell *matCellDef="let elem" class="text-right"> {{elem.subTotal | currency:' '}} </td>
                      </ng-container>
                      <tr mat-header-row *matHeaderRowDef="productListDisplayedColumns"></tr>
                      <tr mat-row *matRowDef="let row; columns: productListDisplayedColumns;"></tr>
                    </table>
                    <div class="form-group mr-4 ml-4" *ngIf="productList.length > 0">
                      <div class="form-item row">
                        <div class="col-sm-10 text-right">
                          Marchandise Total
                        </div>
                        <div class="col-sm-2 text-right">
                          {{getTotalCostProduct() | currency:'RM '}}
                        </div>
                      </div>
                      <div class="form-item row">
                        <div class="col-sm-10 text-right">
                          Shipping
                        </div>
                        <div class="col-sm-2 text-right">
                          {{ShippingCost | currency:'RM '}}
                        </div>
                      </div>
                      <div class="form-item row">
                        <div class="col-sm-10 text-right" style=" font-weight: bold;">
                          Total
                        </div>
                        <div class="col-sm-2 text-right" style=" font-weight: bold;">
                          {{getTotalCostProduct() + ShippingCost | currency:'RM '}}

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-4 ">
                <div class="{{isModal == false ? 'fixedScollCard' : ''}}">
                  <div class="card mb-3 ">
                    <div class="card-header"><strong>Action</strong></div>
                    <div class="card-body">
                      <div class="form-group">
                        <div class="form-item row">
                          <div class="col-sm-12">
                            <label for="other">Status <span class="strik m--font-danger">*</span></label>
                            <select class="form-control" [(ngModel)]="StatusId" formControlName="StatusId"
                              name="StatusId" required>
                              <option value="0">{{ '--Select Status--'}}</option>
                              <option *ngFor="let item of statusList" value="{{item.id}}">{{ item.name }}
                              </option>
                            </select>
                            <small class="strik m--font-danger"
                              *ngIf="(submitted || f.StatusId.touched) && f.StatusId.errors && (f.StatusId.errors.required || f.StatusId.errors.min)">
                              Status is required
                            </small>
                          </div>
                        </div>
                        <div class="mt-2 text-right" *ngIf="isModal == false">
                          <button mat-raised-button class="green-button mr-1" (click)="onSave()" cdkFocusInitial><i
                              class="fas fa-save"></i> Save </button>
                          <button mat-raised-button class="green-button mr-1" (click)="canvasPdf()" cdkFocusInitial><i
                              class="fas fa-print"></i> Canvas </button>
                          <button mat-raised-button class="green-button" (click)="htmlPdf()" cdkFocusInitial><i
                              class="fas fa-print"></i> HTML </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card mb-3">
                  <div class="card-header"><strong>Payment Info</strong></div>
                  <div class="card-body">
                    <div class="form-group">
                      <div class="form-item row">
                        <div class="col-sm-12">
                          <mat-radio-group #rGroup1 class="vartical-radio-group" [(ngModel)]="PaymentTypeId"
                            formControlName="PaymentTypeId" name="PaymentTypeId" disabled>
                            <ng-container *ngFor="let item of paymentTypeList; let i = index">
                              <mat-radio-button [value]="item.id" class="mr-3" radioGroup="rGroup1">{{item.name}}
                              </mat-radio-button>
                              <!-- <mat-radio-button [value]="1" class="mr-3" radioGroup="rGroup1">Manual Bank Transfer</mat-radio-button>
                            <mat-radio-button [value]="2" class="mr-3" radioGroup="rGroup1">BillPlz</mat-radio-button>
                            <mat-radio-button [value]="3" class="mr-3" radioGroup="rGroup1">Paypal</mat-radio-button> -->
                            </ng-container>
                          </mat-radio-group>
                        </div>
                      </div>
                      <div class="form-item row">
                        <div class="col-sm-12">
                          <label class="col-form-label">Transaction #</label>
                          <input class="form-control" formControlName="TransactionNo" name="TransactionNo" type="text"
                            placeholder="Enter Transaction No." disabled>
                        </div>
                      </div>
                      <div class="form-item row">
                        <div class="col-sm-12">
                          <label class="col-form-label">Payment Date</label>
                          <input class="form-control" formControlName="PaymentDate" name="PaymentDate" type="text"
                            placeholder="Enter Payment Date" disabled>
                        </div>
                      </div>
                      <div class="form-item row">
                        <div class="col-sm-12">
                          <label class="col-form-label">Amount</label>
                          <input class="form-control" formControlName="Amount" name="Amount" type="text"
                            placeholder="Enter Amount" disabled>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>