.tableFooterRow, .mat-header-cell {
    font-weight: bold;
  }

.mat-cell, .mat-footer-cell {
    vertical-align: top;
}

.mat-cell {
font-size: small;
padding: 3px;
}




.vartical-radio-group {
    display: flex; flex-direction: column;
    /* display: inline-grid; */ 
    /* display: grid; */
    margin: 15px 0;
  }
  
  
.fixedScollCard{
    position: sticky;
    top:12%;
    z-index: 98;
}

.right-corner {
    display: flex;
    align-content: center;
    justify-content: flex-end;
  }