<form novalidate [formGroup]="form">
  <div class="m-grid__item m-grid__item--fluid m-wrapper ">
    <div class="m-content">
      <div class="m-portlet m-portlet--bordered-semi m-portlet--unair">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <h3 class="m-portlet__head-text">
                <a style="color:blue;" routerLink="/app/sales/rating-list">Reviews List</a>
                <i class="fa fa-chevron-right mr-2 ml-2" aria-hidden="true"></i>
                {{RatingId == 0 ? 'Add New Review' : 'Edit Review'}}
              </h3>
            </div>
          </div>
        </div>
        <div class="m-portlet__body">
          <div class="row ">
            <div class="col-sm-8 mb-5">
              <div class="card mb-3">
                <div class="card-header"><strong>General Info</strong></div>
                <div class="card-body">
                  <div class="form-group">
                    <div class="form-item row">
                      <div class="col-sm-6">
                        <label class="col-form-label">Customer Name</label>
                        <input class="form-control" formControlName="CustomerName" name="CustomerName" type="text"
                          placeholder="Campaign Name" disabled>
                        <small class="strik m--font-danger"
                          *ngIf="(submitted || f.CustomerName.touched) && f.CustomerName.errors && f.CustomerName.errors.required">
                          Customer Name is required
                        </small>
                      </div>
                      <div class="col-sm-6">
                        <label class="col-form-label">Date<span
                            class="help">(Example : 31/12/2019)</span></label>
                        <div class="input-group">
                          <input formControlName="Date" spellcheck="false" class="form-control" maxlength="10"
                            [matDatepicker]="pickerDate" [(ngModel)]="Date" placeholder="Date" disabled>
                          <mat-datepicker-toggle matSuffix [for]="pickerDate"></mat-datepicker-toggle>
                          <mat-datepicker #pickerDate></mat-datepicker>
                        </div>
                      </div>
                    </div>
                    <div class="form-item row">
                      <div class="col-sm-6">
                        <label class="col-form-label">Type</label>
                        <select class="form-control" [(ngModel)]="TypeId" formControlName="TypeId" name="TypeId"
                          disabled>
                          <option value="0">{{ '--Select Type--'}}</option>
                          <option *ngFor="let item of typeList" value="{{item.id}}">{{ item.name }}
                          </option>
                        </select>
                        <small class="strik m--font-danger"
                          *ngIf="(submitted || f.TypeId.touched) && f.TypeId.errors && (f.TypeId.errors.required || f.TypeId.errors.min)">
                          Type is required
                        </small>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card mb-3">
                <div class="card-header"><strong>Product</strong></div>
                <div class="card-body">
                  <div class="primeng-datatable-container">
                    <p-table #dataTable (onLazyLoad)="getProductList($event); "
                      (selectionChange)="onSelectionChange($event)" [value]="primengTableHelper.records"
                      rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true"
                      [scrollable]="true" ScrollWidth="100%" [responsive]="primengTableHelper.isResponsive"
                      [resizableColumns]="primengTableHelper.resizableColumns">
                      <ng-template pTemplate="header">
                        <tr>
                          <th class="text-center" valign="top" style="width: 40px">
                            {{'#'}}
                          </th>
                          <th class="text-center" valign="top" style="width: 90px">
                            {{'Product'}}
                          </th>
                          <th pSortableColumn="ProductName" valign="top" style="width: 150px">
                            {{'Name'}}
                            <p-sortIcon field="ProductName"></p-sortIcon>
                          </th>
                          <th valign="top" style="width: 80px">
                            {{'SKU No.'}}
                          </th>
                          <th valign="top" style="width: 80px">
                            {{'Variation'}}
                          </th>
                          <th class="text-right" valign="top" style="width: 80px">
                            {{'Normal Price'}}
                          </th>
                        </tr>
                        <tr>
                          <th class="text-center">
                          </th>
                          <th class="text-center">
                          </th>
                          <th>
                            <input pInputText type="text" style="width: 100%;" class="form-control form-control-small "
                              (input)="dataTable.filter($event.target.value,' ProductName  ', 'contains');"
                              placeholder="Search">
                          </th>
                          <th>
                            <input pInputText type="text" style="width: 100%;" class="form-control form-control-small "
                              (input)="dataTable.filter($event.target.value,' SkuNo  ', 'contains');"
                              placeholder="Search">
                          </th>
                          <th></th>
                          <th></th>
                        </tr>
                      </ng-template>
                      <ng-template pTemplate="body" let-record="$implicit" let-rowIndex="rowIndex"
                        let-columns="columns">
                        <tr [pSelectableRow]="record" [pSelectableRowDisabled]="">
                          <td class="text-center" style="width: 40px" valign="top">
                            {{rowIndex+1}}
                          </td>
                          <td class="text-center" valign="top" style="width: 90px">
                            <img alt="" height="70" width="70" src="{{record.productImage}}">
                          </td>
                          <td style="width: 150px" valign="top">
                            <span class="ui-column-title"></span>
                            <a style="color:blue; cursor: pointer;" (click)="promotionDetails(record.productId);">
                              {{record.productName}}
                            </a>
                          </td>
                          <td valign="top" style="width: 80px">
                            <span class="ui-column-title"></span>
                            {{record.skuNo}}
                          </td>
                          <td valign="top" style="width: 80px">
                            <span class="ui-column-title "></span>
                            {{record.variation}}
                          </td>
                          <td valign="top" class="text-right" style="width: 80px">
                            <span class="ui-column-title "></span>
                            {{record.normalPrice | currency: ' '}}
                          </td>
                        </tr>
                      </ng-template>
                    </p-table>
                    <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                      {{'NoData'}}
                    </div>
                    <div class="primeng-paging-container" style="position: relative;">
                      <p-paginator rows="{{primengTableHelper.defaultRecordsCountPerPage}}" #paginator
                        (onPageChange)="getProductList($event)" [totalRecords]="primengTableHelper.totalRecordsCount"
                        [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                      </p-paginator>
                      <span style="position: absolute; top:3px; right:5px; margin: 5px;">Total records :
                        {{primengTableHelper.totalRecordsCount}}</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card mb-3">
                <div class="card-header"><strong>Rating & Comment</strong></div>
                <div class="card-body">
                  <div class="form-group">
                    <div class="form-item row">
                      <div class="col-sm-6" *ngIf="Rating > 0">
                        <label class="col-form-label">Rating </label>
                        <div *ngIf="Rating > 0">
                          <span *ngFor="let item of createRange(Rating);">
                            <i class="fa fa-star checkedStar" aria-hidden="true"></i>
                          </span>
                          <span *ngFor="let item of createRange(5-Rating);">
                            <i class="fa fa-star defaultStar" aria-hidden="true"></i>
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="form-item row">
                      <div class="col-sm-12">
                        <label class="col-form-label">Comments</label>
                        <quill-editor [style]="{'height':'150px'}"  [modules]="{ toolbar: false }"
                          (onContentChanged)="CommentsTouched = true" [ngModelOptions]="{standalone: true}"
                          [(ngModel)]="Comments" disabled></quill-editor>
                        <small class="strik m--font-danger"
                          *ngIf="(CommentsTouched || submitted) && (!Comments || Comments == '')">
                          Comments is required
                        </small>
                      </div>
                    </div>
                    <div class="form-item row">
                      <div class="col-sm-12">
                        <label class="col-form-label">Reply</label>
                        <quill-editor [style]="{'height':'150px'}" 
                          (onContentChanged)="ReplyTouched = true"  [ngModelOptions]="{standalone: true}"
                          [(ngModel)]="Reply"></quill-editor>
                        <small class="strik m--font-danger"
                          *ngIf="(ReplyTouched || submitted) && (!Reply || Reply == '')">
                          Reply is required
                        </small>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-4 ">
              <div class="fixedScollCard">
                <div class="card mb-3 ">
                  <div class="card-header"><strong>Action</strong></div>
                  <div class="card-body">
                    <div class="form-group">
                      <div class="form-item row">
                        <div class="col-sm-12">
                          <label for="other">Status <span class="strik m--font-danger">*</span></label>
                          <select class="form-control" [(ngModel)]="StatusId" formControlName="StatusId" name="StatusId"
                            required>
                            <option value="0">{{ '--Select Status--'}}</option>
                            <option *ngFor="let item of statusList" value="{{item.id}}">{{ item.name }}
                            </option>
                          </select>
                          <small class="strik m--font-danger"
                            *ngIf="(submitted || f.StatusId.touched) && f.StatusId.errors && (f.StatusId.errors.required || f.StatusId.errors.min)">
                            Status is required
                          </small>
                        </div>
                      </div>
                      <div class="mt-2 text-right">
                        <button mat-raised-button class="green-button" (click)="onSave()" cdkFocusInitial><i
                            class="fas fa-save"></i> Save </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>