<app-mat-spinner-overlay overlay="true" *ngIf="showSpinner"></app-mat-spinner-overlay>
<div class="m-grid__item m-grid__item--fluid m-wrapper ">
  <div class="m-content">
    <div class="m-portlet m-portlet--bordered-semi m-portlet--unair">
      <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
          <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">
              Laporan Pembayaran Notis Belum Wujud
            </h3>
          </div>
        </div>
      </div>
      <div class="m-portlet__body">
        <form novalidate [formGroup]="form">
          <div class="card">
            <div class="card-header"><strong>Carian</strong></div>
            <div id="collapseCarianLaporanBayarNotisBelumWujud" class="collapse show" aria-labelledby="headingCarianLaporanBayarNotisBelumWujud"
              data-parent="#accordion">
              <div class="card-body card-body-padding-top">
                <div class="col-form-label">
                  <div class="form-group">
                    <div class="form-item row">
                      <div class="col-sm-4" >
                        <label class="col-form-label">Tarikh Mula <span class="strik m--font-danger">*</span><span
                            class="help">(Example :
                            31/12/2020)</span></label>
                        <div class="input-group">
                          <input formControlName="TarikhMula" spellcheck="false" class="form-control"
                            maxlength="10" [matDatepicker]="pickerTarikhMula" [(ngModel)]="TarikhMula"
                            placeholder="Masukkan Tarikh Mula">
                          <mat-datepicker-toggle matSuffix [for]="pickerTarikhMula"></mat-datepicker-toggle>
                          <mat-datepicker #pickerTarikhMula></mat-datepicker>
                        </div>
                        <small class="strik m--font-danger"
                          *ngIf="(submitted || f.TarikhMula.touched) && f.TarikhMula.errors && f.TarikhMula.errors.required">
                          Tarikh Mula adalah wajib!
                        </small>
                        <small class="strik m--font-danger"
                          *ngIf="(submitted || f.TarikhMula.touched) && f.TarikhMula.errors && f.TarikhMula.errors.exceed">
                          Tarikh Akhir tidak melebihi Tarikh Mula
                        </small>
                      </div>
                      <div class="col-sm-4" >
                        <label class="col-form-label">Tarikh Akhir <span class="strik m--font-danger">*</span><span
                            class="help">(Example :
                            31/12/2020)</span></label>
                        <div class="input-group">
                          <input formControlName="TarikhAkhir" spellcheck="false" class="form-control"
                            maxlength="10" [matDatepicker]="pickerTarikhAkhir" [(ngModel)]="TarikhAkhir"
                            placeholder="Masukkan Tarikh Akhir">
                          <mat-datepicker-toggle matSuffix [for]="pickerTarikhAkhir"></mat-datepicker-toggle>
                          <mat-datepicker #pickerTarikhAkhir></mat-datepicker>
                        </div>
                        <small class="strik m--font-danger"
                          *ngIf="(submitted || f.TarikhAkhir.touched) && f.TarikhAkhir.errors && f.TarikhAkhir.errors.required">
                          Tarikh Akhir adalah wajib!
                        </small>
                        <small class="strik m--font-danger"
                          *ngIf="(submitted || f.TarikhAkhir.touched) && f.TarikhAkhir.errors && f.TarikhAkhir.errors.exceed">
                          Tarikh Akhir tidak melebihi Tarikh Mula
                        </small>
                      </div>
                      <div class="col-sm-4">
                        <label class="col-form-label">No. Notis <span class="strik m--font-danger">*</span></label>
                        <input class="form-control" formControlName="NoNotis" name="NoNotis"
                          type="text" placeholder="No. Notis" >
                        <small class="strik m--font-danger"
                          *ngIf="(submitted || f.NoNotis.touched) && f.NoNotis.errors && f.NoNotis.errors.required">
                          Maklumat No. Notis  adalah wajib!
                        </small>                       
                      </div> 
                      <div class="col-sm-4">
                        <label class="col-form-label">No. Resit <span class="strik m--font-danger">*</span></label>
                        <input class="form-control" formControlName="NoResit" name="NoResit"
                          type="text" placeholder="No. Resit" >
                        <small class="strik m--font-danger"
                          *ngIf="(submitted || f.NoResit.touched) && f.NoResit.errors && f.NoResit.errors.required">
                          Maklumat No. Resit Konfigurasi  adalah wajib!
                        </small>                       
                      </div> 
                    </div>
                  </div>
                </div>
                <div class="text-right mt-4">
                  <button mat-raised-button class="red-button mr-2" (click)="reset()"><i class="fa fa-retweet"></i>
                    {{'Reset'}} </button>
                  <button mat-raised-button class="blue-button" (click)="search()"><i class="fa fa-search"></i>
                    {{'Cari'}} </button>
                </div>
              </div>
            </div>
          </div>
        </form>     
        <div class="m-grid__item m-grid__item--fluid m-wrapper mt-3 {{showList ? '' : 'hide-list'}}" >
          <div class="primeng-datatable-container">
            <p-table class="" id="dataTable1" #dataTable (onLazyLoad)="getLaporanBayarNotisBelumWujudList($event); "
              (selectionChange)="onSelectionChange($event)" [value]="primengTableHelper.records"
              rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true"
              [scrollable]="true" ScrollWidth="100%" [responsive]="primengTableHelper.isResponsive"
              [resizableColumns]="primengTableHelper.resizableColumns">             
              <ng-template pTemplate="header">
                <tr >
                  <th style="width: 40px " class="text-center">
                    {{'No.'}}
                  </th>
                  <th style="width: 100px ">
                    {{'No. Notis'}}
                  </th>
                  <th style="width: 100px "  class="text-right">
                    {{'Kadar Bayaran (RM)'}}
                  </th>
                  <th style="width: 100px ">
                    {{'Tarikh Pembayaran'}}
                  </th>
                  <th style="width: 100px ">
                    {{'Lokasi Pembayaran'}}
                  </th>
                  <th style="width: 100px ">
                    {{'No. Resit'}}
                  </th>                 
                </tr>                
              </ng-template>
              <ng-template pTemplate="body" let-record="$implicit" let-rowIndex="rowIndex" let-columns="columns">
                <tr [pSelectableRow]="record" >
                  <td style="width: 40px " class="text-center">
                    {{(paginator.getPage() * paginator.rows) + (rowIndex+1)}}
                  </td>
                  <td style="width: 100px ">
                    <span class="ui-column-title"></span>
                    {{record.NoNotis}}
                  </td>
                  <td style="width: 100px " class="text-right">
                    <span class="ui-column-title"></span>
                    {{record.Bayaran}}
                  </td>
                  <td style="width: 100px ">
                    <span class="ui-column-title"></span>
                    {{record.TarikhBayaran}}
                  </td>
                  <td style="width: 100px ">
                    <span class="ui-column-title"></span>
                    {{record.Lokasi}}
                  </td>
                  <td style="width: 100px ">
                    <span class="ui-column-title"></span>
                    {{record.NoResit}}
                  </td>                           
                </tr>
              </ng-template>
            </p-table>
            <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0 && LaporanBayarNotisBelumWujudType != 0">
              {{'Tiada Rekod'}}
            </div>
            <div class="primeng-paging-container {{primengTableHelper.totalRecordsCount == 0 ? 'hide-list' : ''}}"
              style="position: relative;">
              <p-paginator rows="{{primengTableHelper.defaultRecordsCountPerPage}}" #paginator
                (onPageChange)="getLaporanBayarNotisBelumWujudList($event)" [totalRecords]="primengTableHelper.totalRecordsCount"
                [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
              </p-paginator>
            </div>
            <div class="text-right">
              <span style=" top:3px; right:5px; margin: 5px;">Jumlah Rekod :
                {{primengTableHelper.totalRecordsCount}}</span>
            </div>
            <div class="text-right">             
                <span style=" top:3px; right:5px; margin: 5px;">Jumlah Kutipan (RM) :
                  {{JumlahKutipan}}</span>
            </div>
            <div class="btn-group" dropdown>
              <button mat-raised-button id="button-print" dropdownToggle class="purple-button mr-2"
                aria-controls="dropdown-print">
                <mat-icon aria-label="Example icon-button with a heart icon">print</mat-icon>
                Cetak
              </button>
              <ul id="dropdown-print" *dropdownMenu class="dropdown-menu mt-1 ml-2" role="menu"
                aria-labelledby="button-print" style="cursor: pointer;">
                <li role="menuitem"><a class="dropdown-item" (click)="printTablePdf()">Cetak Laporan</a></li>
                <li role="menuitem"><a class="dropdown-item" (click)="printTableExcel()">Eksport Ke Excel</a></li>
              </ul>
            </div>           
          </div>
        </div>
      </div>
    </div>
  </div>
</div>