<form novalidate [formGroup]="form">
  <div class="m-grid__item m-grid__item--fluid m-wrapper ">
    <div class="m-content">
      <div class="m-portlet m-portlet--bordered-semi m-portlet--unair">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <h3 class="m-portlet__head-text">
                <a style="color:blue;" routerLink="/app/pentadbiran/data-induk/iklan-list">Senarai Iklan</a>
                <i class="fa fa-chevron-right mr-2 ml-2" aria-hidden="true"></i> {{FormTitle}} Iklan
              </h3>
            </div>
          </div>
          <div class="m-portlet__head-tools">

          </div>
        </div>
        <div class="m-portlet__body">
          <div class="row">
            <div class="col-sm-12">
              <div class="card mb-3">
                <div class="card-header"><strong>Maklumat Iklan</strong></div>
                <div class="card-body">
                  <div class="form-group">
                    <div class="form-item row">
                      <div class="col-sm-6">
                        <label class="col-form-label">Tarikh Mula<span class="help">(Example : 31/12/2020)</span></label>
                        <div class="input-group">
                          <input formControlName="dateStart" spellcheck="false" class="form-control" maxlength="10"
                                 [matDatepicker]="pickerStartDate" [(ngModel)]="dateStart" placeholder="Masukkan tarikh dari">
                          <mat-datepicker-toggle matSuffix [for]="pickerStartDate"></mat-datepicker-toggle>
                          <mat-datepicker #pickerStartDate></mat-datepicker>
                        </div>
                        <small class="strik m--font-danger"
                               *ngIf="(submitted || f.dateStart.touched) && (f.dateStart.errors && f.dateStart.errors.required)">
                          Tarikh Mula adalah Wajib
                        </small>
                        <small class="strik m--font-danger"
                               *ngIf="(submitted || f.dateStart.touched) && f.dateStart.errors && f.dateStart.errors.exceed">
                          Tarikh Akhir tidak melebihi Tarikh Mula!
                        </small>
                      </div>
                      <div class="col-sm-6">
                        <label class="col-form-label">Tarikh Akhir<span class="help">(Example : 31/12/2020)</span></label>
                        <div class="input-group">
                          <input formControlName="dateEnd" spellcheck="false" class="form-control" maxlength="10"
                                 [matDatepicker]="pickerEndDate" [(ngModel)]="dateEnd" placeholder="Masukkan tarikh hingga">
                          <mat-datepicker-toggle matSuffix [for]="pickerEndDate"></mat-datepicker-toggle>
                          <mat-datepicker #pickerEndDate></mat-datepicker>
                        </div>
                        <small class="strik m--font-danger"
                               *ngIf="(submitted || f.dateEnd.touched) && (f.dateEnd.errors && f.dateEnd.errors.required)">
                          Tarikh Akhir adalah Wajib
                        </small>
                        <small class="strik m--font-danger"
                               *ngIf="(submitted || f.dateEnd.touched) && f.dateEnd.errors && f.dateEnd.errors.exceed">
                          Tarikh Akhir tidak melebihi Tarikh Mula!
                        </small>
                      </div>
                    </div>
                    <div class="form-item row">
                      <div class="col-sm-6">
                        <label class="col-form-label">Jabatan <span class="strik m--font-danger"
                                *ngIf="FormType == 'add' || FormType == 'edit'">*</span></label>
                        <select class="form-control" [(ngModel)]="jabatanId" formControlName="jabatanId" name="jabatanId"
                                [attr.disabled]="FormType == 'view' ? true : null" required>
                          <option value="0">{{ '--Pilih jabatan--'}}</option>
                          <option *ngFor="let item of jabatanList" value="{{item.id}}">{{ item.name }}
                          </option>
                        </select>
                        <small class="strik m--font-danger"
                               *ngIf="(FormType == 'add' || FormType == 'edit') && (submitted || f.jabatanId.touched) && f.jabatanId.errors && (f.jabatanId.errors.required || f.jabatanId.errors.min)">
                          Jabatan adalah wajib!
                        </small>
                      </div>
                      <div class="col-sm-6">
                        <label class="col-form-label">Iklan<span class="strik m--font-danger"
                                  *ngIf="FormType == 'add' || FormType == 'edit'">*</span></label>
                        <textarea class="form-control" formControlName="iklan" name="iklan" type="text" placeholder="Masukkan iklan"
                                  [attr.disabled]="FormType == 'view' ? true : null"></textarea>
                        <small class="strik m--font-danger"
                               *ngIf="(FormType == 'add' || FormType == 'edit') && (submitted || f.iklan.touched) && f.iklan.errors && f.iklan.errors.required">
                          Maklumat Iklan adalah wajib!
                        </small>
                      </div>
                    </div>
                    <div class="form-item row">
                      <div class="col-sm-6">
                        <label class="col-form-label">Status <span class="strik m--font-danger"
                                *ngIf="FormType == 'add' || FormType == 'edit'">*</span></label>
                        <select class="form-control" [(ngModel)]="statusId" formControlName="statusId" name="statusId"
                                [attr.disabled]="FormType == 'view' ? true : null" required>
                          <option value="0">{{ '--Pilih Status--'}}</option>
                          <option *ngFor="let item of statusList" value="{{item.id}}">{{ item.name }}
                          </option>
                        </select>
                        <small class="strik m--font-danger"
                               *ngIf="(FormType == 'add' || FormType == 'edit') && (submitted || f.statusId.touched) && f.statusId.errors && (f.statusId.errors.required || f.statusId.errors.min)">
                          Status adalah wajib!
                        </small>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="text-right mt-4">
                <button mat-raised-button class="red-button mr-2" (click)="resetForm()" *ngIf="FormType != 'view'"><i class="fa fa-retweet"></i> {{'Reset'}} </button>
                <button mat-raised-button class="green-button" (click)="onSave()" *ngIf="FormType != 'view'"><i class="fas fa-save"></i> Simpan </button>&nbsp;
                <button mat-raised-button class="blue-button mr-2" cdkFocusInitial
                        routerLink="/app/pentadbiran/data-induk/iklan-list"><i class="fas fa-angle-double-left"></i> Kembali
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
