<app-mat-spinner-overlay overlay="true" *ngIf="showSpinner"></app-mat-spinner-overlay>
<div class="m-content">
  <div class="m-portlet m-portlet--bordered-semi m-portlet--unair">
    <div class="m-portlet__head">
      <div class="m-portlet__head-caption">
        <div class="m-portlet__head-title">
          <h3 class="m-portlet__head-text">
            Butiran Log Audit
          </h3>
        </div>
      </div>
    </div>
    <div mat-dialog-content>
      <div class="m-portlet__body ">
        <form novalidate [formGroup]="form">
            <div class="form-item row">
              <div class="col-sm-6">
                <label class="col-form-label">Tindakan <span class="strik m--font-danger"
                        *ngIf="FormType == 'add' || FormType == 'edit'">*</span></label>
                <select class="form-control" [(ngModel)]="tindakanId" formControlName="tindakanId" name="tindakanId"
                        [attr.disabled]="true" required>
                  <option value="0">{{ '--Pilih Tindakan--'}}</option>
                  <option *ngFor="let item of tindakanList" value="{{item.id}}">{{ item.tindakan }}
                  </option>
                </select>
              </div>
              <div class="col-sm-6">
                <label class="col-form-label">Modul <span class="strik m--font-danger"
                        *ngIf="FormType == 'add' || FormType == 'edit'">*</span></label>
                <select class="form-control" [(ngModel)]="modulId" formControlName="modulId" name="modulId"
                        [attr.disabled]="true" required>
                  <option value="0">{{ '--Pilih Modul--'}}</option>
                  <option *ngFor="let item of modulList" value="{{item.id}}">{{ item.modul }}
                  </option>
                </select>
              </div>
            </div>
            <div class="form-item row">
              <div class="col-sm-6">
                <label class="col-form-label">Kata Kunci</label>
                <input class="form-control" formControlName="keyword" name="keyword" type="text"
                       [attr.disabled]="true" >
              </div>
              <div class="col-sm-6">
                <label class="col-form-label">Nama Pengguna</label>
                <input class="form-control" formControlName="userName" name="userName" type="text"
                       [attr.disabled]="true" >
              </div>
            </div>
            <div class="form-item row">
              <div class="col-sm-6">
                <label class="col-form-label">Tarikh Rakam</label>
                <input class="form-control" formControlName="dateRecorded" name="dateRecorded" type="text"
                       [attr.disabled]="true" >
              </div>
            </div>
            <div class="card-body">
            </div>
        </form>

        <table mat-table [dataSource]="productList" style="width: 100%;" class="" *ngIf="productList.length > 0">
          <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef class="text-center" width="5%">#</th>
            <td mat-cell *matCellDef="let elem" class="text-center"> {{elem.position}} </td>
          </ng-container>
          <ng-container matColumnDef="bidangData">
            <th mat-header-cell *matHeaderCellDef width="15%" class="">Bidang Data</th>
            <td mat-cell *matCellDef="let elem"> {{'Start Date'}} </td>
          </ng-container>
          <ng-container matColumnDef="valueBaru">
            <th mat-header-cell *matHeaderCellDef width="20%">Value Baru</th>
            <td mat-cell *matCellDef="let elem"> {{'1/1/2018 12:00:00 AM'}} </td>
          </ng-container>
          <ng-container matColumnDef="valueLama">
            <th mat-header-cell *matHeaderCellDef>Value Lama</th>
            <td mat-cell *matCellDef="let elem"> {{''}} </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="productListDisplayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: productListDisplayedColumns;"></tr>
        </table>
      </div>
    </div>
  </div>
</div>
<!-- </div> -->
<!-- </mat-tab>
  </mat-tab-group>  -->
<!--<div class=" row">
  <div class="col-sm-6 text-left">
    <button class="green-button" mat-raised-button (click)="add()" [disabled]="this.selection.isEmpty()">
      <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
      Tambah Ahli Ke Kumpulan
    </button>
  </div>
  <div class="col-sm-6 text-right">
    <button mat-raised-button class="red-button" (click)="onNoClick()"><i class="far fa-times-circle"></i>Close</button>
  </div>
</div>-->

