<app-mat-spinner-overlay overlay="true" *ngIf="showSpinner"></app-mat-spinner-overlay>
<div class="m-grid__item m-grid__item--fluid m-wrapper ">
  <div class="m-content">
    <div class="m-portlet m-portlet--bordered-semi m-portlet--unair">
      <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
          <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">
              Laporan Pembayaran Notis
            </h3>
          </div>
        </div>
      </div>
      <div class="m-portlet__body">
        <form novalidate [formGroup]="form">
          <div class="card">
            <div class="card-header"><strong>Carian</strong></div>
            <div id="collapseCarianLaporanPembayaranNotis" class="collapse show" aria-labelledby="headingCarianLaporanPembayaranNotis"
              data-parent="#accordion">
              <div class="card-body card-body-padding-top">
                <div class="col-form-label">
                  <div class="form-group">
                    <div class="form-item row">
                      <div class="col-sm-4">
                        <label class="col-form-label">Jenis Laporan <span class="strik m--font-danger">*</span></label>
                        <select class="form-control" [(ngModel)]="LaporanPembayaranNotisType" formControlName="LaporanPembayaranNotisType"
                          name="LaporanPembayaranNotisType" (change)="onChangeType()">
                          <option value="0">{{ '--Pilih Jenis--'}}</option>
                          <option *ngFor="let item of laporanPembayaranNotisTypeList" value="{{item.id}}">{{ item.name }}
                          </option>
                        </select>
                        <small class="strik m--font-danger"
                          *ngIf="(submitted || f.LaporanPembayaranNotisType.touched) && f.LaporanPembayaranNotisType.errors && (f.LaporanPembayaranNotisType.errors.required || f.LaporanPembayaranNotisType.errors.min)">
                          Jenis Laporan adalah wajib!
                        </small>
                      </div>
                      <div class="col-sm-4" *ngIf="LaporanPembayaranNotisType == 1 || LaporanPembayaranNotisType == 2">
                        <label class="col-form-label">Bulan / Tahun <span class="strik m--font-danger">*</span><span
                            class="help">(Example :
                            12/2020)</span></label>
                        <div class="input-group">
                          <input #dateInputBulanTahun class="hidden-date-input" [matDatepicker]="datepickerBulanTahun"
                            formControlName="BulanTahun" readonly>
                          <input placeholder="Masukkan Bulan & Tahun" class="form-control"
                            (click)="datepickerBulanTahun.open()" [readonly]="true"
                            [ngModelOptions]="{standalone: true}" [(ngModel)]="DisplayMonthYear">
                          <mat-datepicker-toggle matSuffix [for]="datepickerBulanTahun"></mat-datepicker-toggle>
                          <mat-datepicker #datepickerBulanTahun disabled="false" (closed)="dateInputBulanTahun.blur()"
                            startView="multi-year" (yearSelected)="chosenYearHandler($event)"
                            (monthSelected)="chosenMonthHandler($event, datepickerBulanTahun)"></mat-datepicker>
                        </div>
                        <small class="strik m--font-danger"
                          *ngIf="(submitted || f.BulanTahun.touched) && f.BulanTahun.errors && f.BulanTahun.errors.required">
                          Bulan & Tahun adalah wajib!
                        </small>
                      </div>
                      <div class="col-sm-4" *ngIf="LaporanPembayaranNotisType == 3">
                        <label class="col-form-label">Tahun <span class="strik m--font-danger">*</span><span
                            class="help">(Example :
                            2020)</span></label>
                        <div class="input-group">
                          <input #dateInputTahun class="hidden-date-input" [matDatepicker]="datepickerTahun"
                            formControlName="Tahun" readonly>
                          <input placeholder="Masukkan Tahun" class="form-control" (click)="datepickerTahun.open()"
                            [readonly]="true" [ngModelOptions]="{standalone: true}" [(ngModel)]="DisplayYear">
                          <mat-datepicker-toggle matSuffix [for]="datepickerTahun"></mat-datepicker-toggle>
                          <mat-datepicker #datepickerTahun disabled="false" (closed)="dateInputTahun.blur()"
                            startView="multi-year" (yearSelected)="chosenYearHandler($event)"
                            (yearSelected)="chosenYearHandlerOnly($event, datepickerTahun)"></mat-datepicker>
                        </div>
                        <small class="strik m--font-danger"
                          *ngIf="(submitted || f.Tahun.touched) && f.Tahun.errors && f.Tahun.errors.required">
                          Tahun adalah wajib!
                        </small>
                      </div>
                      <!-- <div class="col-sm-4" *ngIf="LaporanPembayaranNotisType == 3">
                        <label class="col-form-label">Tarikh Mula <span class="strik m--font-danger">*</span><span
                            class="help">(Example :
                            31/12/2020)</span></label>
                        <div class="input-group">
                          <input formControlName="TarikhMulaLaporan" spellcheck="false" class="form-control"
                            maxlength="10" [matDatepicker]="pickerTarikhMulaLaporan" [(ngModel)]="TarikhMulaLaporan"
                            placeholder="Masukkan Tarikh Mula">
                          <mat-datepicker-toggle matSuffix [for]="pickerTarikhMulaLaporan"></mat-datepicker-toggle>
                          <mat-datepicker #pickerTarikhMulaLaporan></mat-datepicker>
                        </div>
                        <small class="strik m--font-danger"
                          *ngIf="(submitted || f.TarikhMulaLaporan.touched) && f.TarikhMulaLaporan.errors && f.TarikhMulaLaporan.errors.required">
                          Tarikh Mula adalah wajib!
                        </small>
                        <small class="strik m--font-danger"
                          *ngIf="(submitted || f.TarikhMulaLaporan.touched) && f.TarikhMulaLaporan.errors && f.TarikhMulaLaporan.errors.exceed">
                          Tarikh Akhir tidak melebihi Tarikh Mula
                        </small>
                      </div> -->
                      <!-- <div class="col-sm-4" *ngIf="LaporanPembayaranNotisType == 3">
                        <label class="col-form-label">Tarikh Akhir <span class="strik m--font-danger">*</span><span
                            class="help">(Example :
                            31/12/2020)</span></label>
                        <div class="input-group">
                          <input formControlName="TarikhAkhirLaporan" spellcheck="false" class="form-control"
                            maxlength="10" [matDatepicker]="pickerTarikhAkhirLaporan" [(ngModel)]="TarikhAkhirLaporan"
                            placeholder="Masukkan Tarikh Akhir">
                          <mat-datepicker-toggle matSuffix [for]="pickerTarikhAkhirLaporan"></mat-datepicker-toggle>
                          <mat-datepicker #pickerTarikhAkhirLaporan></mat-datepicker>
                        </div>
                        <small class="strik m--font-danger"
                          *ngIf="(submitted || f.TarikhAkhirLaporan.touched) && f.TarikhAkhirLaporan.errors && f.TarikhAkhirLaporan.errors.required">
                          Tarikh Akhir adalah wajib!
                        </small>
                        <small class="strik m--font-danger"
                          *ngIf="(submitted || f.TarikhAkhirLaporan.touched) && f.TarikhAkhirLaporan.errors && f.TarikhAkhirLaporan.errors.exceed">
                          Tarikh Akhir tidak melebihi Tarikh Mula
                        </small>
                      </div> -->
                      <!-- <div class="col-sm-4" *ngIf="LaporanPembayaranNotisType == 3">
                        <label class="col-form-label">No. Gaji <span class="strik m--font-danger">*</span></label>
                        <input class="form-control" formControlName="NoGaji" name="NoGaji" type="text"
                          placeholder="No. Gaji">
                        <small class="strik m--font-danger"
                          *ngIf="(submitted || f.NoGaji.touched) && f.NoGaji.errors && f.NoGaji.errors.required">
                          No. Gaji adalah wajib!
                        </small>
                      </div> -->
                    </div>
                  </div>
                </div>
                <div class="text-right mt-4">
                  <button mat-raised-button class="red-button mr-2" (click)="reset()"><i class="fa fa-retweet"></i>
                    {{'Reset'}} </button>
                  <button mat-raised-button class="blue-button" (click)="search()"><i class="fa fa-search"></i>
                    {{'Cari'}} </button>
                </div>
              </div>
            </div>
          </div>
        </form>     
        <div class="m-grid__item m-grid__item--fluid m-wrapper mt-2 {{showList ? '' : 'hide-list'}}">
          <div class="primeng-datatable-container" id="printContent" #printContent>
            <table width="100%" style="margin-top: 0.5em;">
              <tbody class="removeBorder">
                <tr>
                  <td width="100%" class="titlesheet removeBorder" style="text-align: center;">
                    <div style="width: 50%; margin: auto;text-align: center;" [innerHTML]="ReportTitle"></div>
                  </td>
                </tr>
              </tbody>
            </table>
            <table width="100%" class="tableBor" style="margin-top: 0.5em;">
              <thead>
                <tr>
                  <th  class="headerNestedFormList" style="text-align: left;">
                    {{
                      LaporanPembayaranNotisType == '1' ? 'Hari' : 
                      LaporanPembayaranNotisType == '2' ? 'Minggu' : 
                      LaporanPembayaranNotisType == '3' ? 'Bulan' : ''                      
                    }}</th>
                    <th class="headerNestedFormList" style="text-align: center;">Jumlah Notis</th>
                    <th class="headerNestedFormList" style="text-align: right;">Kadar Bayaran (RM)</th>
                </tr>
              </thead>
              <tfoot>
                <tr>
                  <td colspan="10" class="pbr">
                  </td>
                </tr>
              </tfoot>
              <tbody *ngIf="ReportList.length == 0">
                <tr class=" pbr">
                  <td class="headerNestedFormList pbr " style="text-align: left;" colspan="20">
                    Tiada Rekod
                  </td>
                </tr>
              </tbody>
              <tbody *ngIf="ReportList.length > 0">
                <tr *ngFor="let record of ReportList; index as i" class=" pbr">
                  <td class="headerNestedFormList pbr {{record.JenisLaporanCounter == 'JUMLAH' ? 'footerDT' : ''}}"
                    style="text-align: left;">
                    {{record.JenisLaporanCounter}}</td>
                  <td class="headerNestedFormList pbr {{record.JenisLaporanCounter == 'JUMLAH' ? 'footerDT' : ''}}"
                    style="text-align: center;">{{record.JumlahNotis}}
                  </td>
                  <td class="headerNestedFormList pbr {{record.JenisLaporanCounter == 'JUMLAH' ? 'footerDT' : ''}}"
                    style="text-align: right;">{{record.Bayaran}}
                  </td>                 
                </tr>
              </tbody>
            </table>
          </div>
          <div class="btn-group" dropdown  style="text-align: left">
            <button mat-raised-button id="button-print" dropdownToggle class="purple-button mr-2"
              aria-controls="dropdown-print">
              <mat-icon aria-label="Example icon-button with a heart icon">print</mat-icon>
              Cetak
            </button>
            <ul id="dropdown-print" *dropdownMenu class="dropdown-menu mt-1 ml-2" role="menu"
              aria-labelledby="button-print" style="cursor: pointer;">
              <li role="menuitem"><a class="dropdown-item" >
                <button  [useExistingCss]="true" printSectionId="printContent" class="TitleBtn"
              title="Cetak Laporan" ngxPrint>
              Cetak Laporan
              </button>
              </a></li>
              <li role="menuitem"><a class="dropdown-item" (click)="printTableExcel()">Eksport Ke Excel</a></li>
            </ul>
          </div> 
        </div>
      </div>
    </div>
  </div>
</div>