<app-mat-spinner-overlay overlay="true" *ngIf="showSpinner"></app-mat-spinner-overlay>
<form novalidate [formGroup]="form">
  <div class="m-grid__item m-grid__item--fluid m-wrapper ">
    <div class="m-content">
      <div class="m-portlet m-portlet--bordered-semi m-portlet--unair">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <h3 class="m-portlet__head-text">
                Address
              </h3>
            </div>
          </div>
        </div>
        <div class="m-portlet__body">
          <div class="row ">
            <div class="col-sm-12">
              <div class="form-group">
                <div class="form-item row">
                  <div class="col-sm-6">
                    <label class="col-form-label">Name <span class="strik m--font-danger">*</span></label>
                    <input class="form-control" formControlName="Name" name="Name" type="text" placeholder="Name">
                    <small class="strik m--font-danger"
                      *ngIf="(submitted || f.Name.touched) && f.Name.errors && f.Name.errors.required">
                      Name is required
                    </small>
                  </div>
                  <div class="col-sm-6">
                    <label class="col-form-label">Phone No. <span class="strik m--font-danger">*</span></label>
                    <input class="form-control" formControlName="PhoneNo" name="PhoneNo" type="text" numberOnly maxlength="15"
                      placeholder="Phone No.">
                    <small class="strik m--font-danger"
                      *ngIf="(submitted || f.PhoneNo.touched) && f.PhoneNo.errors && f.PhoneNo.errors.required">
                      Phone No. is required
                    </small>
                  </div>
                </div>
                <div class="form-item row">
                  <div class="col-sm-6">
                    <label class="col-form-label">Address <span class="strik m--font-danger">*</span></label>
                    <input class="form-control" formControlName="Address1" name="Address1" type="text"
                      placeholder="Address">
                    <small class="strik m--font-danger"
                      *ngIf="(submitted || f.Address1.touched) && f.Address1.errors && f.Address1.errors.required">
                      Address is required
                    </small>
                  </div>
                  <div class="col-sm-6">
                    <label class="col-form-label">Address</label>
                    <input class="form-control" formControlName="Address2" name="Address2" type="text"
                      placeholder="Address">
                    <small class="strik m--font-danger"
                      *ngIf="(submitted || f.Address2.touched) && f.Address2.errors && f.Address2.errors.required">
                      Address is required
                    </small>
                  </div>
                </div>
                <div class="form-item row">
                  <div class="col-sm-6">
                    <label class="col-form-label">Poscode <span class="strik m--font-danger">*</span></label>
                    <input class="form-control" formControlName="Poscode" name="Poscode" numberOnly type="text" maxlength="5"
                      placeholder="Poscode">
                    <small class="strik m--font-danger"
                      *ngIf="(submitted || f.Poscode.touched) && f.Poscode.errors && f.Poscode.errors.required">
                      Poscode is required
                    </small>
                    <small class="strik m--font-danger"
                      *ngIf="(submitted || f.Poscode.touched) && f.Poscode.errors && (f.Poscode.errors.minlength || f.Poscode.errors.minlength)">
                      Poscode must in 5 characters
                    </small>
                  </div>
                  <div class="col-sm-6">
                    <label class="col-form-label">City <span class="strik m--font-danger">*</span></label>
                    <input class="form-control" formControlName="City" name="City" type="text" placeholder="City">
                    <small class="strik m--font-danger"
                      *ngIf="(submitted || f.City.touched) && f.City.errors && f.City.errors.required">
                      City is required
                    </small>
                  </div>
                </div>
                <div class="form-item row">
                  <div class="col-sm-6">
                    <label class="col-form-label">State <span class="strik m--font-danger">*</span></label>
                    <select class="form-control" [(ngModel)]="StateId" formControlName="StateId" name="StateId"
                      required>
                      <option value="0">{{ '--Select State--'}}</option>
                      <option *ngFor="let item of stateList" value="{{item.id}}">{{ item.name }}
                      </option>
                    </select>
                    <small class="strik m--font-danger"
                      *ngIf="(submitted || f.StateId.touched) && f.StateId.errors && (f.StateId.errors.required || f.StateId.errors.min)">
                      State is required
                    </small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
<!-- <div class=" row">
  <div class="col-sm-12 text-right">
    <button class="green-button mr-2" mat-raised-button (click)="add()">
      <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
      Save
    </button>
    <button mat-raised-button class="red-button" (click)="onNoClick()"><i class="far fa-times-circle"></i>Close</button>
  </div>
</div> -->