.m-topbar
  .m-topbar__nav.m-nav
  > .m-nav__item
  > .m-nav__link
  .m-nav__link-icon
  > i {
  font-size: 2rem;
}
.m-topbar
  .m-topbar__nav.m-nav
  > .m-nav__item
  > .m-nav__link
  .m-nav__link-icon
  > i:before {
  background: #fff;
  /* background: linear-gradient(180deg,#ad5beb 25%,#c678db 50%,#da6ea9 75%,#e76e92 100%); */
  background-clip: text;
  /* text-fill-color: transparent; */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.m-stack__item.m-brand.m-brand--skin-light {
  background-color: #0389b0;
}

.m-grid__item.m-header {
  /* background-color: #0389b0; */
  /* background-image: linear-gradient(to right, #0389b0 , rgb(83, 241, 241)); */
  /* background-image: url(../../assets/app/media/img//logos/logo-1.png); */
  /* background-image: url(./assets/app/media/img/bg/bg-7.jpg) !important; */
  background-image: url(../../../../assets/app//media//img//bg/banner.png);
  /* background: linear-gradient(to right, #333, #333 50%, #eee 75%, #333 75%); */
  /* background-image: linear-gradient(to right, #455ae6 , #9845e6,  #455ae6); */
}

.m_header {
  margin-bottom: 100px;
}

@media (min-width: 1024px) {
  .m-brand.m-brand--skin-dark .m-brand__tools .m-brand__toggler span {
    background: #fff;
  }
  .m-brand.m-brand--skin-dark .m-brand__tools .m-brand__toggler span::after,
  .m-brand.m-brand--skin-dark .m-brand__tools .m-brand__toggler span::before {
    background: #fff;
  }
  .m-brand.m-brand--skin-dark .m-brand__tools .m-brand__toggler span::after,
  .m-brand.m-brand--skin-dark .m-brand__tools .m-brand__toggler span::before {
    background: #fff;
  }
}
@media (max-width: 1024px)
{
    .m-topbar {
        background-color: #455ae6;
    }
}
.m-brand.m-brand--skin-dark .m-brand__tools .m-brand__toggler span,
.m-brand.m-brand--skin-dark .m-brand__tools .m-brand__toggler span::after, .m-brand.m-brand--skin-dark .m-brand__tools .m-brand__toggler span::before{
    background: #fff;
}
.m-brand.m-brand--skin-dark .m-brand__tools .m-brand__icon>i {
    color: #fff;
}

.dashboard-title {
  margin-top: 15px;
}

.dashboard-logo {
  margin-top: 4px;
}

