<form novalidate [formGroup]="form">
  <div class="m-grid__item m-grid__item--fluid m-wrapper ">
    <div class="m-content">
      <div class="m-portlet m-portlet--bordered-semi m-portlet--unair">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <h3 class="m-portlet__head-text">
                <a style="color:blue;" routerLink="/app/pentadbiran/pengguna-list">Senarai Pengguna</a>
                <i class="fa fa-chevron-right mr-2 ml-2" aria-hidden="true"></i> {{FormTitle}} Pengguna
              </h3>
            </div>
          </div>
          <div class="m-portlet__head-tools">

          </div>
        </div>
        <div class="m-portlet__body">
          <div class="row">
            <div class="col-sm-12">
              <div class="card mb-3">
                <div class="card-header"><strong>Maklumat Pengguna</strong></div>
                <div class="card-body">
                  <div class="form-group">
                    <div class="form-item row">
                      <div class="col-sm-6">
                        <label class="col-form-label">Nama Pengguna <span class="strik m--font-danger"
                               *ngIf="FormType == 'add' || FormType == 'edit'">*</span></label>
                        <input class="form-control" formControlName="userName" name="userName" type="text" placeholder="Masukkan nama pengguna"
                               [attr.disabled]="FormType == 'view' ? true : null">
                        <small class="strik m--font-danger"
                               *ngIf="(FormType == 'add' || FormType == 'edit') && (submitted || f.userName.touched) && f.userName.errors && f.userName.errors.required">
                          Maklumat Nama Pengguna adalah wajib!
                        </small>
                      </div>
                      <div class="col-sm-6">
                        <label class="col-form-label">Nama Penuh <span class="strik m--font-danger"
                               *ngIf="FormType == 'add' || FormType == 'edit'">*</span></label>
                        <input class="form-control" formControlName="fullName" name="fullName" type="text" placeholder="Masukkan nama penuh"
                               [attr.disabled]="FormType == 'view' ? true : null">
                        <small class="strik m--font-danger"
                               *ngIf="(FormType == 'add' || FormType == 'edit') && (submitted || f.fullName.touched) && f.fullName.errors && f.fullName.errors.required">
                          Maklumat Nama Penuh adalah wajib!
                        </small>
                      </div>
                    </div>
                    <div class="form-item row">
                      <div class="col-sm-6" *ngIf="FormType == 'add'">
                        <label class="col-form-label">Katalaluan <span class="strik m--font-danger"
                               *ngIf="FormType == 'add'">*</span></label>
                        <input type="password" class="form-control" formControlName="password" name="password"
                               autocomplete="new-password" [attr.disabled]="FormType == 'view' ? true : null" placeholder="********">
                        <small class="strik m--font-danger"
                               *ngIf="(FormType == 'add') && (submitted || f.password.touched) && f.password.errors && (f.password.errors.required)">
                          Katalaluan adalah wajib!
                        </small>
                        <small class="strik m--font-danger ml-1"
                               *ngIf="(FormType == 'add') && (submitted || f.password.touched) && f.password.errors &&  f.password.errors.notSame">
                          Katalaluan & Pengesahan Katalaluan tidak sama!
                        </small>
                      </div>
                      <div class="col-sm-6" *ngIf="FormType == 'add'">
                        <label class="col-form-label">Pengesahan Katalaluan <span class="strik m--font-danger"
                               *ngIf="FormType == 'add'">*</span></label>
                        <input type="password" class="form-control" formControlName="confirmPassword"
                               name="confirmPassword" autocomplete="new-password"
                               [attr.disabled]="FormType == 'view' ? true : null" placeholder="********">
                        <small class="strik m--font-danger"
                               *ngIf="(FormType == 'add') && (submitted || f.confirmPassword.touched) && f.confirmPassword.errors && (f.confirmPassword.errors.required)">
                          Pengesahan Katalaluan adalah wajib!
                        </small>
                        <small class="strik m--font-danger ml-1"
                               *ngIf="(FormType == 'add') && (submitted || f.confirmPassword.touched) && f.confirmPassword.errors &&  f.confirmPassword.errors.notSame">
                          Katalaluan & Pengesahan Katalaluan tidak sama!
                        </small>
                      </div>
                    </div>
                    <div class="form-item row">
                      <div class="col-sm-6">
                        <label class="col-form-label">Emel <span class="strik m--font-danger"
                               *ngIf="FormType == 'add' || FormType == 'edit'">*</span></label>
                        <input class="form-control" formControlName="email" name="email" type="text" placeholder="Masukkan emel pengguna"
                               [attr.disabled]="FormType == 'view' ? true : null">
                        <small class="strik m--font-danger"
                               *ngIf="(FormType == 'add' || FormType == 'edit') && (submitted || f.email.touched) && f.email.errors && f.email.errors.required">
                          Maklumat Emel Pengguna adalah wajib!
                        </small>
                      </div>
                      <div class="col-sm-6">
                        <label class="col-form-label">Status <span class="strik m--font-danger"
                                *ngIf="FormType == 'add' || FormType == 'edit'">*</span></label>
                        <select class="form-control" [(ngModel)]="jabatanId" formControlName="jabatanId" name="jabatanId"
                                [attr.disabled]="FormType == 'view' ? true : null" required>
                          <option value="0">{{ '--Pilih jabatan--'}}</option>
                          <option *ngFor="let item of jabatanList" value="{{item.id}}">{{ item.name }}
                          </option>
                        </select>
                        <small class="strik m--font-danger"
                               *ngIf="(FormType == 'add' || FormType == 'edit') && (submitted || f.jabatanId.touched) && f.jabatanId.errors && (f.jabatanId.errors.required || f.jabatanId.errors.min)">
                          Jabatan adalah wajib!
                        </small>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="text-right mt-4">
                <button mat-raised-button class="red-button mr-2" (click)="resetForm()" *ngIf="FormType != 'view'"><i class="fa fa-retweet"></i> {{'Reset'}} </button>
                <button mat-raised-button class="green-button" (click)="onSave()" *ngIf="FormType != 'view'"><i class="fas fa-save"></i> Simpan </button>&nbsp;
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
