
<h3 mat-dialog-title>  Carian Notis</h3>
<mat-dialog-content class="mat-typography">
<app-mat-spinner-overlay overlay="true" *ngIf="showSpinner"></app-mat-spinner-overlay>
<div class="m-grid__item m-grid__item--fluid m-wrapper ">
  <div class="m-content">
    <div class="m-portlet m-portlet--bordered-semi m-portlet--unair">
      <div class="m-portlet__body">
        <form novalidate [formGroup]="form">
          <div class="card">
            <div class="card-header2" id="headingCarianNotis">
              <h6 class="mb-0">
                <button class="btn btn-link {{reVisit ? '' : 'collapsed'}} " data-toggle="collapse"
                  data-target="#collapseCarianNotis" aria-expanded=" {{reVisit ? 'true' : 'false'}} "
                  aria-controls="collapseCarianNotis">
                  <i class="fa" aria-hidden="true"></i>
                  Carian
                </button>
              </h6>
            </div>
            <div id="collapseCarianNotis" class="collapse {{reVisit ? 'show' : ''}}"
              aria-labelledby="headingCarianNotis" data-parent="#accordion">
              <div class="card-body card-body-padding-top">
                <div class="col-form-label">
                  <div class="form-group">
                    <div class="form-item row">
                      <div class="col-sm-4">
                        <label class="col-form-label">No. Kenderaan</label>
                        <input class="form-control" formControlName="NoKenderaan" name="NoKenderaan" type="text"
                          placeholder="No. Kenderaan">
                      </div>
                      <div class="col-sm-4">
                        <label class="col-form-label">No. Cukai Jalan</label>
                        <input class="form-control" formControlName="NoCukaiJalan" name="NoCukaiJalan" type="text"
                          placeholder="No. Cukai Jalan">
                      </div>
                      <div class="col-sm-4">
                        <label class="col-form-label">Status Kesalahan</label>
                        <select class="form-control" [(ngModel)]="StatusKesalahan" formControlName="StatusKesalahan"
                          name="StatusKesalahan">
                          <option value="0">{{ '--Pilih Status--'}}</option>
                          <option *ngFor="let item of statusKesalahanList" value="{{item.id}}">{{ item.name }}
                          </option>
                        </select>
                      </div>
                      <div class="col-sm-4">
                        <label class="col-form-label">No. Notis</label>
                        <input class="form-control" formControlName="NoNotis" name="NoNotis" type="text"
                          placeholder="No. Notis">
                      </div>
                      <div class="col-sm-4">
                        <label class="col-form-label">No. Lesen</label>
                        <input class="form-control" formControlName="NoLesen" name="NoLesen" type="text"
                          placeholder="No. Lesen">
                      </div>
                      <div class="col-sm-4">
                        <label class="col-form-label">Handheld</label>
                        <select class="form-control" [(ngModel)]="Handheld" formControlName="Handheld" name="Handheld">
                          <option value="0">{{ '--Pilih Handheld--'}}</option>
                          <option *ngFor="let item of handheldList" value="{{item.id}}">{{ item.name }}
                          </option>
                        </select>
                      </div>
                      <div class="col-sm-4">
                        <label class="col-form-label">No. KP / Syarikat</label>
                        <input class="form-control" formControlName="NoPesalah" name="NoPesalah" type="text"
                          placeholder="No. KP / Syarikat">
                      </div>
                      <div class="col-sm-4">
                        <label class="col-form-label">Jenis Notis</label>
                        <select class="form-control" [(ngModel)]="JenisNotis" formControlName="JenisNotis"
                          name="JenisNotis">
                          <option value="0">{{ '--Pilih Jenis Notis--'}}</option>
                          <option *ngFor="let item of jenisNotisList" value="{{item.id}}">{{ item.name }}
                          </option>
                        </select>
                      </div>
                      <div class="col-sm-4">
                        <label class="col-form-label">Bahagian</label>
                        <select class="form-control" [(ngModel)]="Bahagian" formControlName="Bahagian" name="Bahagian">
                          <option value="0">{{ '--Pilih Bahagian--'}}</option>
                          <option *ngFor="let item of bahagianList" value="{{item.id}}">{{ item.name }}
                          </option>
                        </select>
                      </div>
                      <div class="col-sm-4">
                        <label class="col-form-label">Nama / Syarikat</label>
                        <input class="form-control" formControlName="NamaPesalah" name="NamaPesalah" type="text"
                          placeholder="Nama / Syarikat">
                      </div>
                      <div class="col-sm-4">
                        <label class="col-form-label">Kawasan</label>
                        <select class="form-control" [(ngModel)]="Kawasan" formControlName="Kawasan" name="Kawasan">
                          <option value="0">{{ '--Pilih Kawasan--'}}</option>
                          <option *ngFor="let item of kawasanList" value="{{item.id}}">{{ item.name }}
                          </option>
                        </select>
                      </div>
                      <div class="col-sm-4">
                        <label class="col-form-label">No. Gaji</label>
                        <input class="form-control" formControlName="NoGaji" name="NoGaji" type="text"
                          placeholder="No. Gaji">
                      </div>
                      <div class="col-sm-4">
                        <label class="col-form-label">Jenis Badan</label>
                        <select class="form-control" [(ngModel)]="JenisBadan" formControlName="JenisBadan"
                          name="JenisBadan">
                          <option value="0">{{ '--Pilih Jenis Badan--'}}</option>
                          <option *ngFor="let item of jenisBadanList" value="{{item.id}}">{{ item.name }}
                          </option>
                        </select>
                      </div>
                      <div class="col-sm-4">
                        <label class="col-form-label">Jalan</label>
                        <select class="form-control" [(ngModel)]="Jalan" formControlName="Jalan" name="Jalan">
                          <option value="0">{{ '--Pilih Jalan--'}}</option>
                          <option *ngFor="let item of jalanList" value="{{item.id}}">{{ item.name }}
                          </option>
                        </select>
                      </div>
                    </div>
                    <div class="form-item row">
                      <div class="col-sm-4">
                        <label class="col-form-label">Tarikh Mula Kesalahan<span class="help">(Contoh:
                            31/12/2020)</span></label>
                        <div class="input-group">
                          <input formControlName="TarikhMula" spellcheck="false" class="form-control" maxlength="10"
                            [matDatepicker]="pickerTarikhMula" [(ngModel)]="TarikhMula"
                            placeholder="Tarikh Mula Kesalahan">
                          <mat-datepicker-toggle matSuffix [for]="pickerTarikhMula"></mat-datepicker-toggle>
                          <mat-datepicker #pickerTarikhMula></mat-datepicker>
                        </div>
                        <small class="strik m--font-danger"
                          *ngIf="(submitted || f.TarikhMula.touched) && f.TarikhMula.errors && f.TarikhMula.errors.exceed">
                          Tarikh Akhir tidak melebihi Tarikh Mula
                        </small>
                      </div>
                      <div class="col-sm-4">
                        <label class="col-form-label">Tarikh Akhir Kesalahan<span class="help">(Contoh:
                            31/12/2020)</span></label>
                        <div class="input-group">
                          <input formControlName="TarikhAkhir" spellcheck="false" class="form-control" maxlength="10"
                            [matDatepicker]="pickerTarikhAkhir" [(ngModel)]="TarikhAkhir"
                            placeholder="Tarikh Akhir Kesalahan">
                          <mat-datepicker-toggle matSuffix [for]="pickerTarikhAkhir"></mat-datepicker-toggle>
                          <mat-datepicker #pickerTarikhAkhir></mat-datepicker>
                        </div>
                        <small class="strik m--font-danger"
                          *ngIf="(submitted || f.TarikhAkhir.touched) && f.TarikhAkhir.errors && f.TarikhAkhir.errors.exceed">
                          Tarikh Akhir tidak melebihi Tarikh Mula
                        </small>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="text-right mt-4">
                  <button mat-raised-button class="red-button mr-2" (click)="reset()"><i class="fa fa-retweet"></i>
                    {{'Reset'}} </button>
                  <button mat-raised-button class="blue-button" (click)="search()"><i class="fa fa-search"></i>
                    {{'Cari'}} </button>
                </div>
              </div>
            </div>
          </div>
        </form>     
        <div class="m-grid__item m-grid__item--fluid m-wrapper mt-3">
          <div class="primeng-datatable-container">
            <p-table class="" id="dataTable1" #dataTable (onLazyLoad)="getNotisList($event); "
              (selectionChange)="onSelectionChange($event)" [value]="primengTableHelper.records"
              rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true"
              [scrollable]="true" ScrollWidth="100%" [responsive]="primengTableHelper.isResponsive"
              [resizableColumns]="primengTableHelper.resizableColumns" 
              selectionMode="single"  >
              <ng-template pTemplate="header">
                <tr>
                  <th style="width: 35px " class="text-center">
                    {{'#'}}
                  </th>
                  <th style="width: 80px " pSortableColumn="NoNotis">
                    {{'Notis'}}
                    <p-sortIcon field="NoNotis"></p-sortIcon>
                  </th>
                  <th style="width: 100px" pSortableColumn="Jenis">
                    {{'Jenis'}}
                    <p-sortIcon field="Jenis"></p-sortIcon>
                  </th>
                  <th style="width: 120px" pSortableColumn="NoKenderaan">
                    {{'No. Kenderaan'}}
                    <p-sortIcon field="NoKenderaan"></p-sortIcon>
                  </th>
                  <th style="width: 130px" pSortableColumn="NamaPesalah">
                    {{'Nama / Syarikat'}}
                    <p-sortIcon field="NamaPesalah"></p-sortIcon>
                  </th>
                  <th style="width: 130px" pSortableColumn="NoPesalah">
                    {{'No. KP / Syarikat'}}
                    <p-sortIcon field="NoPesalah"></p-sortIcon>
                  </th>
                  <th style="width: 130px" pSortableColumn="Pemandu">
                    {{'Pemandu'}}
                    <p-sortIcon field="Pemandu"></p-sortIcon>
                  </th>
                  <th style="width: 130px" pSortableColumn="KpPemandu">
                    {{'No. KP Pemandu'}}
                    <p-sortIcon field="KpPemandu"></p-sortIcon>
                  </th>
                  <th style="width: 130px" pSortableColumn="TarikhKesalahan">
                    {{'Tarikh Kesalahan'}}
                    <p-sortIcon field="TarikhKesalahan"></p-sortIcon>
                  </th>
                  <th style="width: 200px" pSortableColumn="Perundangan">
                    {{'Peruntukan Undang - Undang'}}
                    <p-sortIcon field="Perundangan"></p-sortIcon>
                  </th>
                  <th style="width: 80px" pSortableColumn="Seksyen">
                    {{'Seksyen'}}
                    <p-sortIcon field="Seksyen"></p-sortIcon>
                  </th>
                  <th style="width: 100px" pSortableColumn="Tempat">
                    {{'Tempat'}}
                    <p-sortIcon field="Tempat"></p-sortIcon>
                  </th>
                  <th style="width: 100px" pSortableColumn="Kompaun" class="text-right">
                    {{'Kompaun'}}
                    <p-sortIcon field="Kompaun"></p-sortIcon>
                  </th>
                  <th style="width: 100px" pSortableColumn="Status">
                    {{'Status'}}
                    <p-sortIcon field="Status"></p-sortIcon>
                  </th>
                  <th style="width: 100px" pSortableColumn="NoResit">
                    {{'No. Resit'}}
                    <p-sortIcon field="NoResit"></p-sortIcon>
                  </th>
                  <th style="width: 130px" pSortableColumn="TarikhBayaran">
                    {{'Tarikh Bayaran'}}
                    <p-sortIcon field="TarikhBayaran"></p-sortIcon>
                  </th>
                  <th style="width: 100px" pSortableColumn="Bayaran" class="text-right">
                    {{'Bayaran'}}
                    <p-sortIcon field="Bayaran"></p-sortIcon>
                  </th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-record="$implicit" let-rowIndex="rowIndex" let-columns="columns">
                <tr [pSelectableRow]="record" [pSelectableRowDisabled]="">
                  <td style="width: 35px " class="text-center">
                    {{(paginator.getPage() * paginator.rows) + (rowIndex+1)}}
                  </td>
                  <td style="width: 80px ">
                    <span class="ui-column-title"></span>
                    <a style="color:blue; cursor: pointer;" [mat-dialog-close]="record"  title="Pilih Notis">
                     <span>{{record.NoNotis}}</span>
                    </a>
                  </td>
                  <td style="width: 100px ">
                    <span class="ui-column-title"></span>
                    {{record.Jenis}}
                  </td>
                  <td style="width: 120px ">
                    <span class="ui-column-title"></span>
                    {{record.NoKenderaan}}
                  </td>
                  <td style="width: 130px ">
                    <span class="ui-column-title"></span>
                    {{record.NamaPesalah}}
                  </td>
                  <td style="width: 130px ">
                    <span class="ui-column-title"></span>
                    {{record.NoPesalah}}
                  </td>
                  <td style="width: 130px ">
                    <span class="ui-column-title"></span>
                    {{record.Pemandu}}
                  </td>
                  <td style="width: 130px ">
                    <span class="ui-column-title"></span>
                    {{record.KpPemandu}}
                  </td>
                  <td style="width: 130px ">
                    <span class="ui-column-title"></span>
                    {{record.TarikhKesalahan}}
                  </td>
                  <td style="width: 200px ">
                    <span class="ui-column-title"></span>
                    {{record.Perundangan}}
                  </td>
                  <td style="width: 80px ">
                    <span class="ui-column-title"></span>
                    {{record.Seksyen}}
                  </td>
                  <td style="width: 100px ">
                    <span class="ui-column-title"></span>
                    {{record.Tempat}}
                  </td>
                  <td style="width: 100px " class="text-right">
                    <span class="ui-column-title"></span>
                    {{record.Kompaun}}
                  </td>
                  <td style="width: 100px ">
                    <span class="ui-column-title"></span>
                    {{record.Status}}
                  </td>
                  <td style="width: 100px ">
                    <span class="ui-column-title"></span>
                    {{record.NoResit}}
                  </td>
                  <td style="width: 130px ">
                    <span class="ui-column-title"></span>
                    {{record.TarikhBayaran}}
                  </td>
                  <td style="width: 100px " class="text-right">
                    <span class="ui-column-title"></span>
                    {{record.Bayaran}}
                  </td>
                </tr>
              </ng-template>
            </p-table>
            <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
              {{'NoData'}}
            </div>
            <div class="primeng-paging-container" style="position: relative;">
              <p-paginator rows="{{primengTableHelper.defaultRecordsCountPerPage}}" #paginator
                (onPageChange)="getNotisList($event)" [totalRecords]="primengTableHelper.totalRecordsCount"
                [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
              </p-paginator>
            </div>
            <div class="text-right">
              <span style=" top:3px; right:5px; margin: 5px;">Total records :
                {{primengTableHelper.totalRecordsCount}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button class="red-button" cdkFocusInitial
        (click)="popupClose()"><i class="fas fa-times"></i>
        Tutup
    </button>
</mat-dialog-actions>
