<app-mat-spinner-overlay overlay="true" *ngIf="showSpinner"></app-mat-spinner-overlay>
<form novalidate [formGroup]="form">
  <div class="m-grid__item m-grid__item--fluid m-wrapper ">
    <div class="m-content">
      <div class="m-portlet m-portlet--bordered-semi m-portlet--unair">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <h3 class="m-portlet__head-text">
                <a style="color:blue;" routerLink="/app/notis/senarai-notis/{{FromMenu}}" *ngIf="FromMenu != 'kemasukan'">Carian
                  Notis</a>
                <i class="fa fa-chevron-right mr-2 ml-2" aria-hidden="true" *ngIf="FromMenu != 'kemasukan'"></i>
                {{FormTitle}}
                Notis
              </h3>
            </div>
          </div>
        </div>
        <div id="content">
          <div class="m-portlet__body">
            <div class="row">
              <div class="col-sm-12">
                <div class="card mb-3" *ngIf="(FormType == 'view' && SebabBatal != '0') || FromMenu == 'batal'">
                  <div class="card-header"><strong>Pembatalan Notis</strong></div>
                  <div class="card-body">
                    <div class="form-group">
                      <div class="form-item row">
                        <div class="col-sm-6 col-set">
                          <div class="col-sm-12">
                            <label class="col-form-label">Sebab Pembatalan Notis <span
                                class="strik m--font-danger">*</span></label>
                            <select class="form-control" [(ngModel)]="SebabBatal" formControlName="SebabBatal"
                              name="SebabBatal"
                              [attr.disabled]="FormType == 'view' && FromMenu != 'batal' ? true : null">
                              <option value="0">{{ '--Pilih Sebab Batal--'}}</option>
                              <option *ngFor="let item of SebabBatalList" value="{{item.id}}">{{ item.name }}
                              </option>
                            </select>
                            <small class="strik m--font-danger"
                              *ngIf="( FromMenu == 'batal') && (submitted || f.SebabBatal.touched) && f.SebabBatal.errors && (f.SebabBatal.errors.required || f.SebabBatal.errors.min)">
                              Sebab Pembatalan adalah wajib!
                            </small>
                          </div>
                          <div class="col-sm-12">
                            <label class="col-form-label">Butiran Batal Notis (Jika Sebab-Sebab Lain)
                              <!-- <span class="strik m--font-danger">*</span> -->
                            </label>
                            <textarea class="form-control" formControlName="ButiranBatal" name="ButiranBatal" rows="1"
                              placeholder="Butiran Kesalahan"
                              [attr.disabled]="FormType == 'view' && FromMenu != 'batal' ? true : null"></textarea>
                            <!-- <small class="strik m--font-danger"
                            *ngIf="( FromMenu == 'batal') && (submitted || f.ButiranBatal.touched) && f.ButiranBatal.errors && f.ButiranBatal.errors.required">
                            Maklumat Butiran Batal Notis adalah wajib!
                          </small> -->
                          </div>
                          <div class="col-sm-12">
                            <label class="col-form-label">Nama Pemohon (Jika Berbeza)
                              <!-- <span class="strik m--font-danger">*</span> -->
                            </label>
                            <input class="form-control" formControlName="NamaPemohonBatal" name="NamaPemohonBatal"
                              type="text" placeholder="Nama Pemohon"
                              [attr.disabled]="FormType == 'view' && FromMenu != 'batal' ? true : null">
                            <!-- <small class="strik m--font-danger"
                            *ngIf="( FromMenu == 'batal') && (submitted || f.NamaPemohonBatal.touched) && f.NamaPemohonBatal.errors && f.NamaPemohonBatal.errors.required">
                            Maklumat Nama Pemohon adalah wajib!
                          </small> -->
                          </div>
                        </div>
                        <div class="col-sm-6 col-set">
                          <div class="col-sm-12">
                            <label class="col-form-label">Alamat Pemohon (Jika Berbeza)
                              <!-- <span class="strik m--font-danger" >*</span> -->
                            </label>
                            <input class="form-control" formControlName="AlamatBatal1" name="AlamatBatal1" type="text"
                              placeholder="Alamat Pemohon"
                              [attr.disabled]="FormType == 'view' && FromMenu != 'batal' ? true : null">
                            <!-- <small class="strik m--font-danger"
                              *ngIf="(FromMenu == 'batal') && (submitted || f.AlamatPesalah1.touched) && f.AlamatPesalah1.errors && f.AlamatPesalah1.errors.required">
                              Maklumat Alamat Pemohon adalah wajib!
                            </small> -->
                            <input class="form-control mt-1" formControlName="AlamatBatal2" name="AlamatBatal2"
                              type="text" placeholder="Alamat Pemohon"
                              [attr.disabled]="FormType == 'view' && FromMenu != 'batal' ? true : null">
                            <input class="form-control mt-1" formControlName="AlamatBatal3" name="AlamatBatal3"
                              type="text" placeholder="Alamat Pemohon"
                              [attr.disabled]="FormType == 'view' && FromMenu != 'batal' ? true : null">
                          </div>
                          <div class="col-sm-12">
                            <div class="form-item row">
                              <div class="col-sm-4">
                                <label class="col-form-label">Poskod
                                  <!-- <span class="strik m--font-danger">*</span> -->
                                </label>
                                <input class="form-control" formControlName="PoskodBatal" name="PoskodBatal" numberOnly
                                  type="text" placeholder="Poskod"
                                  [attr.disabled]="FormType == 'view' && FromMenu != 'batal' ? true : null"
                                  maxlength="5">
                                <!-- <small class="strik m--font-danger"
                              *ngIf="( FromMenu == 'batal') && (submitted || f.PoskodBatal.touched) && f.PoskodBatal.errors && f.PoskodBatal.errors.required">
                              Maklumat Poskod adalah wajib!
                            </small> -->
                                <small class="strik m--font-danger"
                                  *ngIf="(FromMenu == 'batal') && (submitted || f.PoskodBatal.touched) && f.PoskodBatal.errors && (f.PoskodBatal.errors.minlength || f.PoskodBatal.errors.minlength)">
                                  Poskod mestilah 5 aksara
                                </small>
                              </div>
                              <div class="col-sm-8">
                                <label class="col-form-label">Negeri
                                  <!-- <span class="strik m--font-danger">*</span> -->
                                </label>
                                <select class="form-control" [(ngModel)]="NegeriBatal" formControlName="NegeriBatal"
                                  name="NegeriPesalah"
                                  [attr.disabled]="FormType == 'view' && FromMenu != 'batal' ? true : null">
                                  <option value="0">{{ '--Pilih Negeri--'}}</option>
                                  <option *ngFor="let item of NegeriList" value="{{item.id}}">{{ item.name }}
                                  </option>
                                </select>
                                <!-- <small class="strik m--font-danger"
                              *ngIf="(FromMenu == 'batal') && (submitted || f.NegeriBatal.touched) && f.NegeriBatal.errors && (f.NegeriBatal.errors.required || f.NegeriBatal.errors.min)">
                              Negeri adalah wajib!
                            </small> -->
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="text-right mt-4 mb-4" *ngIf="FromMenu == 'batal'">
                  <button mat-raised-button class="red-button mr-2" (click)="resetForm()"><i class="fa fa-retweet"></i>
                    {{'Reset'}} </button>
                  <button mat-raised-button class="green-button  mr-2" (click)="onSave()" cdkFocusInitial><i
                      class="fas fa-save"></i>
                    Simpan </button>
                    <button mat-raised-button class="blue-button mr-2" cdkFocusInitial 
                    (click)="kembali()"><i class="fas fa-angle-double-left"></i>
                    Kembali
                  </button>
                </div>

                <div class="card mb-3">
                  <div class="card-header"><strong>Kesalahan Notis</strong></div>
                  <div class="card-body">
                    <div class="form-group">
                      <div class="form-item row">
                        <div class="col-sm-6">
                          <label class="col-form-label">Jenis Notis <span class="strik m--font-danger"
                              *ngIf="FormType == 'add' || FormType == 'edit'">*</span></label>
                          <select class="form-control" [(ngModel)]="JenisNotis" formControlName="JenisNotis"
                            name="JenisNotis" [attr.disabled]="FormType == 'view' ? true : null">
                            <option value="0">{{ '--Pilih Jenis Notis--'}}</option>
                            <option *ngFor="let item of JenisNotisList" value="{{item.id}}">{{ item.name }}
                            </option>
                          </select>
                          <small class="strik m--font-danger"
                            *ngIf="(FormType == 'add' || FormType == 'edit') && (submitted || f.JenisNotis.touched) && f.JenisNotis.errors && (f.JenisNotis.errors.required || f.JenisNotis.errors.min)">
                            Jenis Notis adalah wajib!
                          </small>
                        </div>
                        <div class="col-sm-6">
                          <label class="col-form-label">No. Seksyen <span class="strik m--font-danger"
                              *ngIf="FormType == 'add' || FormType == 'edit'">*</span></label>
                          <select class="form-control" [(ngModel)]="Seksyen" formControlName="Seksyen" name="Seksyen"
                            [attr.disabled]="FormType == 'view' ? true : null">
                            <option value="0">{{ '--Pilih Seksyen--'}}</option>
                            <option *ngFor="let item of SeksyenList" value="{{item.id}}">{{ item.name }}
                            </option>
                          </select>
                          <small class="strik m--font-danger"
                            *ngIf="(FormType == 'add' || FormType == 'edit') && (submitted || f.Seksyen.touched) && f.Seksyen.errors && (f.Seksyen.errors.required || f.Seksyen.errors.min)">
                            No. Seksyen adalah wajib!
                          </small>
                        </div>
                        <div class="col-sm-6">
                          <label class="col-form-label">No. Notis <span class="strik m--font-danger"
                              *ngIf="FormType == 'add' || FormType == 'edit'">*</span></label>
                          <input class="form-control" formControlName="NoNotis" name="NoNotis" type="text"
                            placeholder="No. Notis" [attr.disabled]="FormType == 'view' ? true : null">
                          <small class="strik m--font-danger"
                            *ngIf="(FormType == 'add' || FormType == 'edit') && (submitted || f.NoNotis.touched) && f.NoNotis.errors && f.NoNotis.errors.required">
                            Maklumat No. Notis adalah wajib!
                          </small>
                        </div>
                        <div class="col-sm-6">
                          <label class="col-form-label">Peruntukan Kesalahan <span class="strik m--font-danger"
                              *ngIf="FormType == 'add' || FormType == 'edit'">*</span></label>
                          <textarea class="form-control" formControlName="PeruntukanKesalahan"
                            name="PeruntukanKesalahan" rows="1" placeholder="Peruntukan Kesalahan"
                            [attr.disabled]="FormType == 'view' ? true : null"></textarea>
                          <small class="strik m--font-danger"
                            *ngIf="(FormType == 'add' || FormType == 'edit') && (submitted || f.PeruntukanKesalahan.touched) && f.PeruntukanKesalahan.errors && f.PeruntukanKesalahan.errors.required">
                            Maklumat Peruntukan Kesalahan adalah wajib!
                          </small>
                        </div>
                        <div class="col-sm-6">
                          <label class="col-form-label">No. Kenderaan <span class="strik m--font-danger"
                              *ngIf="FormType == 'add' || FormType == 'edit'">*</span></label>
                          <input class="form-control" formControlName="NoKenderaan" name="NoKenderaan" type="text"
                            placeholder="No. Kenderaan" [attr.disabled]="FormType == 'view' ? true : null">
                          <small class="strik m--font-danger"
                            *ngIf="(FormType == 'add' || FormType == 'edit') && (submitted || f.NoKenderaan.touched) && f.NoKenderaan.errors && f.NoKenderaan.errors.required">
                            Maklumat No. Kenderaan adalah wajib!
                          </small>
                        </div>
                        <div class="col-sm-6">
                          <label class="col-form-label">Butiran Kesalahan <span class="strik m--font-danger"
                              *ngIf="FormType == 'add' || FormType == 'edit'">*</span></label>
                          <textarea class="form-control" formControlName="ButiranKesalahan" name="ButiranKesalahan"
                            rows="1" placeholder="Butiran Kesalahan"
                            [attr.disabled]="FormType == 'view' ? true : null"></textarea>
                          <small class="strik m--font-danger"
                            *ngIf="(FormType == 'add' || FormType == 'edit') && (submitted || f.ButiranKesalahan.touched) && f.ButiranKesalahan.errors && f.ButiranKesalahan.errors.required">
                            Maklumat Butiran Kesalahan adalah wajib!
                          </small>
                        </div>
                        <div class="col-sm-6">
                          <label class="col-form-label">No. Cukai Jalan <span class="strik m--font-danger"
                              *ngIf="FormType == 'add' || FormType == 'edit'">*</span></label>
                          <input class="form-control" formControlName="NoCukaiJalan" name="NoCukaiJalan" type="text"
                            placeholder="No. Cukai Jalan" [attr.disabled]="FormType == 'view' ? true : null">
                          <small class="strik m--font-danger"
                            *ngIf="(FormType == 'add' || FormType == 'edit') && (submitted || f.NoCukaiJalan.touched) && f.NoCukaiJalan.errors && f.NoCukaiJalan.errors.required">
                            Maklumat No. Cukai Jalan adalah wajib!
                          </small>
                        </div>
                        <div class="col-sm-6">
                          <label class="col-form-label">Tarikh Tamat Cukai <span class="strik m--font-danger"
                              *ngIf="FormType != 'view'">*</span><span class="help">(Contoh:
                              31/12/2020)</span></label>
                          <div class="input-group">
                            <input formControlName="TarikhTamatCukai" spellcheck="false" class="form-control"
                              maxlength="10" [matDatepicker]="pickerTarikhTamatCukai" [(ngModel)]="TarikhTamatCukai"
                              placeholder="Tarikh Tamat Cukai" disabled="{{FormType == 'view' ? true : false}}">
                            <mat-datepicker-toggle matSuffix [for]="pickerTarikhTamatCukai"></mat-datepicker-toggle>
                            <mat-datepicker #pickerTarikhTamatCukai></mat-datepicker>
                          </div>
                          <small class="strik m--font-danger"
                            *ngIf="(FormType != 'view') && (submitted || f.TarikhTamatCukai.touched) && f.TarikhTamatCukai.errors && f.TarikhTamatCukai.errors.required">
                            Tarikh Tamat Cukai adalah wajib!
                          </small>
                          <small class="strik m--font-danger"
                            *ngIf="(FormType != 'view') && (submitted || f.TarikhTamatCukai.touched) && f.TarikhTamatCukai.errors && f.TarikhTamatCukai.errors.exceed">
                            Tarikh Tamat Cukai tidak melebihi Tarikh Semasa!
                          </small>
                        </div>
                        <div class="col-sm-6">
                          <label class="col-form-label">Penguatkuasa <span class="strik m--font-danger"
                              *ngIf="FormType == 'add' || FormType == 'edit'">*</span></label>
                          <select class="form-control" [(ngModel)]="Penguatkuasa" formControlName="Penguatkuasa"
                            name="Penguatkuasa" [attr.disabled]="FormType == 'view' ? true : null">
                            <option value="0">{{ '--Pilih Penguatkuasa--'}}</option>
                            <option *ngFor="let item of PenguatkuasaList" value="{{item.id}}">{{ item.name }}
                            </option>
                          </select>
                          <small class="strik m--font-danger"
                            *ngIf="(FormType == 'add' || FormType == 'edit') && (submitted || f.Penguatkuasa.touched) && f.Penguatkuasa.errors && (f.Penguatkuasa.errors.required || f.Penguatkuasa.errors.min)">
                            Penguatkuasa adalah wajib!
                          </small>
                        </div>
                        <div class="col-sm-6">
                          <label class="col-form-label">Jenama Kenderaan <span class="strik m--font-danger"
                              *ngIf="FormType == 'add' || FormType == 'edit'">*</span></label>
                          <select class="form-control" [(ngModel)]="JenamaKenderaan" formControlName="JenamaKenderaan"
                            name="JenamaKenderaan" [attr.disabled]="FormType == 'view' ? true : null">
                            <option value="0">{{ '--Pilih Jenama Kenderaan--'}}</option>
                            <option *ngFor="let item of JenamaKenderaanList" value="{{item.id}}">{{ item.name }}
                            </option>
                          </select>
                          <small class="strik m--font-danger"
                            *ngIf="(FormType == 'add' || FormType == 'edit') && (submitted || f.JenamaKenderaan.touched) && f.JenamaKenderaan.errors && (f.JenamaKenderaan.errors.required || f.JenamaKenderaan.errors.min)">
                            Jenama Kenderaan adalah wajib!
                          </small>
                        </div>
                        <div class="col-sm-6">
                          <label class="col-form-label">Bahagian / Zon / Unit <span class="strik m--font-danger"
                              *ngIf="FormType == 'add' || FormType == 'edit'">*</span></label>
                          <select class="form-control" [(ngModel)]="Bahagian" formControlName="Bahagian" name="Bahagian"
                            [attr.disabled]="FormType == 'view' ? true : null">
                            <option value="0">{{ '--Pilih Bahagian / Zon / Unit--'}}</option>
                            <option *ngFor="let item of BahagianList" value="{{item.id}}">{{ item.name }}
                            </option>
                          </select>
                          <small class="strik m--font-danger"
                            *ngIf="(FormType == 'add' || FormType == 'edit') && (submitted || f.Bahagian.touched) && f.Bahagian.errors && (f.Bahagian.errors.required || f.Bahagian.errors.min)">
                            Bahagian / Zon / Unit adalah wajib!
                          </small>
                        </div>
                        <div class="col-sm-6">
                          <label class="col-form-label">Model Kenderaan <span class="strik m--font-danger"
                              *ngIf="FormType == 'add' || FormType == 'edit'">*</span></label>
                          <select class="form-control" [(ngModel)]="ModelKenderaan" formControlName="ModelKenderaan"
                            name="ModelKenderaan" [attr.disabled]="FormType == 'view' ? true : null">
                            <option value="0">{{ '--Pilih Model Kenderaan--'}}</option>
                            <option *ngFor="let item of ModelKenderaanList" value="{{item.id}}">{{ item.name }}
                            </option>
                          </select>
                          <small class="strik m--font-danger"
                            *ngIf="(FormType == 'add' || FormType == 'edit') && (submitted || f.ModelKenderaan.touched) && f.ModelKenderaan.errors && (f.ModelKenderaan.errors.required || f.ModelKenderaan.errors.min)">
                            Model Kenderaan adalah wajib!
                          </small>
                        </div>
                        <div class="col-sm-6">
                          <label class="col-form-label">Jenis Badan <span class="strik m--font-danger"
                              *ngIf="FormType == 'add' || FormType == 'edit'">*</span></label>
                          <select class="form-control" [(ngModel)]="JenisBadan" formControlName="JenisBadan"
                            name="JenisBadan" [attr.disabled]="FormType == 'view' ? true : null">
                            <option value="0">{{ '--Pilih Jenis Badan--'}}</option>
                            <option *ngFor="let item of JenisBadanList" value="{{item.id}}">{{ item.name }}
                            </option>
                          </select>
                          <small class="strik m--font-danger"
                            *ngIf="(FormType == 'add' || FormType == 'edit') && (submitted || f.JenisBadan.touched) && f.JenisBadan.errors && (f.JenisBadan.errors.required || f.JenisBadan.errors.min)">
                            Jenis Badan adalah wajib!
                          </small>
                        </div>
                        <div class="col-sm-6">
                          <label class="col-form-label">ID DDE<span class="strik m--font-danger"
                              *ngIf="FormType == 'add' || FormType == 'edit'">*</span></label>
                          <input class="form-control" formControlName="IdDde" name="IdDde" type="text"
                            placeholder="ID DDE" [attr.disabled]="FormType == 'view' ? true : null">
                          <small class="strik m--font-danger"
                            *ngIf="(FormType == 'add' || FormType == 'edit') && (submitted || f.IdDde.touched) && f.IdDde.errors && f.IdDde.errors.required">
                            Maklumat ID DDE adalah wajib!
                          </small>
                        </div>
                        <div class="col-sm-6">
                          <label class="col-form-label">Kawasan <span class="strik m--font-danger"
                              *ngIf="FormType == 'add' || FormType == 'edit'">*</span></label>
                          <select class="form-control" [(ngModel)]="Kawasan" formControlName="Kawasan" name="Kawasan"
                            [attr.disabled]="FormType == 'view' ? true : null">
                            <option value="0">{{ '--Pilih Kawasan--'}}</option>
                            <option *ngFor="let item of KawasanList" value="{{item.id}}">{{ item.name }}
                            </option>
                          </select>
                          <small class="strik m--font-danger"
                            *ngIf="(FormType == 'add' || FormType == 'edit') && (submitted || f.Kawasan.touched) && f.Kawasan.errors && (f.Kawasan.errors.required || f.Kawasan.errors.min)">
                            Kawasan adalah wajib!
                          </small>
                        </div>
                        <div class="col-sm-6">
                          <label class="col-form-label">ID Handheld <span class="strik m--font-danger"
                              *ngIf="FormType == 'add' || FormType == 'edit'">*</span></label>
                          <select class="form-control" [(ngModel)]="Handheld" formControlName="Handheld" name="Handheld"
                            [attr.disabled]="FormType == 'view' ? true : null">
                            <option value="0">{{ '--Pilih Handheld--'}}</option>
                            <option *ngFor="let item of HandheldList" value="{{item.id}}">{{ item.name }}
                            </option>
                          </select>
                          <small class="strik m--font-danger"
                            *ngIf="(FormType == 'add' || FormType == 'edit') && (submitted || f.Handheld.touched) && f.Handheld.errors && (f.Handheld.errors.required || f.Handheld.errors.min)">
                            ID Handheld adalah wajib!
                          </small>
                        </div>
                        <div class="col-sm-6">
                          <label class="col-form-label">Tempat / Jalan<span class="strik m--font-danger"
                              *ngIf="FormType == 'add' || FormType == 'edit'">*</span></label>
                          <input class="form-control" formControlName="Tempat" name="Tempat" type="text"
                            placeholder="Tempat / Jalan" [attr.disabled]="FormType == 'view' ? true : null">
                          <small class="strik m--font-danger"
                            *ngIf="(FormType == 'add' || FormType == 'edit') && (submitted || f.Tempat.touched) && f.Tempat.errors && f.Tempat.errors.required">
                            Maklumat Tempat / Jalan adalah wajib!
                          </small>
                        </div>
                        <div class="col-sm-6">
                          <label class="col-form-label">Petak / Tiang <span class="strik m--font-danger"
                              *ngIf="FormType == 'add' || FormType == 'edit'">*</span></label>
                          <input class="form-control" formControlName="Petak" name="Petak" type="text"
                            placeholder="Petak / Tiang " [attr.disabled]="FormType == 'view' ? true : null">
                          <small class="strik m--font-danger"
                            *ngIf="(FormType == 'add' || FormType == 'edit') && (submitted || f.Petak.touched) && f.Petak.errors && f.Petak.errors.required">
                            Maklumat Petak / Tiang adalah wajib!
                          </small>
                        </div>
                        <div class="col-sm-6">
                          <label class="col-form-label">Tarikh Wujud </label>
                          <div class="input-group">
                            <input formControlName="TarikhWujud" spellcheck="false" class="form-control" maxlength="10"
                              [matDatepicker]="pickerTarikhWujud" [(ngModel)]="TarikhWujud" placeholder="Tarikh Wujud"
                              disabled="true">
                            <mat-datepicker-toggle matSuffix [for]="pickerTarikhWujud"></mat-datepicker-toggle>
                            <mat-datepicker #pickerTarikhWujud></mat-datepicker>
                          </div>
                          <small class="strik m--font-danger"
                            *ngIf="(FormType != 'view') && (submitted || f.TarikhWujud.touched) && f.TarikhWujud.errors && f.TarikhWujud.errors.required">
                            Tarikh Wujud adalah wajib!
                          </small>
                          <small class="strik m--font-danger"
                            *ngIf="(FormType != 'view') && (submitted || f.TarikhWujud.touched) && f.TarikhWujud.errors && f.TarikhWujud.errors.exceed">
                            Tarikh Wujud tidak melebihi Tarikh Semasa!
                          </small>
                        </div>
                        <div class="col-sm-6">
                          <label class="col-form-label">Butiran Lokasi <span class="strik m--font-danger"
                              *ngIf="FormType == 'add' || FormType == 'edit'">*</span></label>
                          <textarea class="form-control" formControlName="ButiranLokasi" name="ButiranLokasi" rows="1"
                            placeholder="Butiran Lokasi" [attr.disabled]="FormType == 'view' ? true : null"></textarea>
                          <small class="strik m--font-danger"
                            *ngIf="(FormType == 'add' || FormType == 'edit') && (submitted || f.ButiranLokasi.touched) && f.ButiranLokasi.errors && f.ButiranLokasi.errors.required">
                            Maklumat Butiran Lokasi adalah wajib!
                          </small>
                        </div>
                        <div class="col-sm-6">
                          <label class="col-form-label">Tarikh Tamat Kompaun <span class="strik m--font-danger"
                              *ngIf="FormType != 'view'">*</span><span class="help">(Contoh:
                              31/12/2020)</span></label>
                          <div class="input-group">
                            <input formControlName="TarikhTamatKompaun" spellcheck="false" class="form-control"
                              maxlength="10" [matDatepicker]="pickerTarikhTamatKompaun" [(ngModel)]="TarikhTamatKompaun"
                              placeholder="Tarikh Tamat Kompaun" disabled="{{FormType == 'view' ? true : false}}">
                            <mat-datepicker-toggle matSuffix [for]="pickerTarikhTamatKompaun"></mat-datepicker-toggle>
                            <mat-datepicker #pickerTarikhTamatKompaun></mat-datepicker>
                          </div>
                          <small class="strik m--font-danger"
                            *ngIf="(FormType != 'view') && (submitted || f.TarikhTamatKompaun.touched) && f.TarikhTamatKompaun.errors && f.TarikhTamatKompaun.errors.required">
                            Tarikh Tamat Kompaun adalah wajib!
                          </small>
                          <small class="strik m--font-danger"
                            *ngIf="(FormType != 'view') && (submitted || f.TarikhTamatKompaun.touched) && f.TarikhTamatKompaun.errors && f.TarikhTamatKompaun.errors.exceed">
                            Tarikh Tamat Kompaun tidak melebihi Tarikh Semasa!
                          </small>
                        </div>
                        <div class="col-sm-6">
                          <label class="col-form-label">Tarikh Kesalahan <span class="strik m--font-danger"
                              *ngIf="FormType != 'view'">*</span><span class="help">(Contoh:
                              31/12/2020)</span></label>
                          <div class="input-group">
                            <input formControlName="TarikhKesalahan" spellcheck="false" class="form-control"
                              maxlength="10" [matDatepicker]="pickerTarikhKesalahan" [(ngModel)]="TarikhKesalahan"
                              placeholder="Tarikh Kesalahan" disabled="{{FormType == 'view' ? true : false}}">
                            <mat-datepicker-toggle matSuffix [for]="pickerTarikhKesalahan"></mat-datepicker-toggle>
                            <mat-datepicker #pickerTarikhKesalahan></mat-datepicker>
                          </div>
                          <small class="strik m--font-danger"
                            *ngIf="(FormType != 'view') && (submitted || f.TarikhKesalahan.touched) && f.TarikhKesalahan.errors && f.TarikhKesalahan.errors.required">
                            Tarikh Kesalahan adalah wajib!
                          </small>
                          <small class="strik m--font-danger"
                            *ngIf="(FormType != 'view') && (submitted || f.TarikhKesalahan.touched) && f.TarikhKesalahan.errors && f.TarikhKesalahan.errors.exceed">
                            Tarikh Kesalahan tidak melebihi Tarikh Semasa!
                          </small>
                        </div>
                        <div class="col-sm-6">
                          <label class="col-form-label">Tarikh Mahkamah <span class="strik m--font-danger"
                              *ngIf="FormType != 'view'">*</span><span class="help">(Contoh:
                              31/12/2020)</span></label>
                          <div class="input-group">
                            <input formControlName="TarikhMahkamah" spellcheck="false" class="form-control"
                              maxlength="10" [matDatepicker]="pickerTarikhMahkamah" [(ngModel)]="TarikhMahkamah"
                              placeholder="Tarikh Mahkamah" disabled="{{FormType == 'view' ? true : false}}">
                            <mat-datepicker-toggle matSuffix [for]="pickerTarikhMahkamah"></mat-datepicker-toggle>
                            <mat-datepicker #pickerTarikhMahkamah></mat-datepicker>
                          </div>
                          <small class="strik m--font-danger"
                            *ngIf="(FormType != 'view') && (submitted || f.TarikhMahkamah.touched) && f.TarikhMahkamah.errors && f.TarikhMahkamah.errors.required">
                            Tarikh Mahkamah adalah wajib!
                          </small>
                          <small class="strik m--font-danger"
                            *ngIf="(FormType != 'view') && (submitted || f.TarikhMahkamah.touched) && f.TarikhMahkamah.errors && f.TarikhMahkamah.errors.exceed">
                            Tarikh Mahkamah tidak melebihi Tarikh Semasa!
                          </small>
                        </div>
                        <div class="col-sm-6">
                          <label class="col-form-label">Waktu Kesalahan<span class="strik m--font-danger"
                              *ngIf="FormType == 'add' || FormType == 'edit'">*</span><span class="help">(Contoh:
                              08:30 AM)</span></label>
                          <input type="time" [(ngModel)]="WaktuKesalahan" formControlName="WaktuKesalahan" maxlength="5"
                            name="WaktuKesalahan" class="form-control" placeholder="Waktu Kesalahan"
                            [attr.disabled]="FormType == 'view' ? true : null" />
                          <small class="strik m--font-danger"
                            *ngIf="(FormType == 'add' || FormType == 'edit') && (submitted || f.WaktuKesalahan.touched) && f.WaktuKesalahan.errors && f.WaktuKesalahan.errors.required">
                            Waktu Kesalahan adalah wajib!
                          </small>
                        </div>
                        <div class="col-sm-6">
                          <label class="col-form-label">Nota <span class="strik m--font-danger"
                              *ngIf="FormType == 'add' || FormType == 'edit'">*</span></label>
                          <textarea class="form-control" formControlName="Nota" name="Nota" rows="1" placeholder="Nota"
                            [attr.disabled]="FormType == 'view' ? true : null"></textarea>
                          <small class="strik m--font-danger"
                            *ngIf="(FormType == 'add' || FormType == 'edit') && (submitted || f.Nota.touched) && f.Nota.errors && f.Nota.errors.required">
                            Maklumat Notaadalah wajib!
                          </small>
                        </div>
                        <div class="col-sm-6">
                          <label class="col-form-label">Peruntukan Undang - Undang <span class="strik m--font-danger"
                              *ngIf="FormType == 'add' || FormType == 'edit'">*</span></label>
                          <select class="form-control" [(ngModel)]="Peruntukan" formControlName="Peruntukan"
                            name="Peruntukan" [attr.disabled]="FormType == 'view' ? true : null">
                            <option value="0">{{ '--Pilih Peruntukan Undang - Undang--'}}</option>
                            <option *ngFor="let item of PeruntukanList" value="{{item.id}}">{{ item.name }}
                            </option>
                          </select>
                          <small class="strik m--font-danger"
                            *ngIf="(FormType == 'add' || FormType == 'edit') && (submitted || f.Peruntukan.touched) && f.Peruntukan.errors && (f.Peruntukan.errors.required || f.Peruntukan.errors.min)">
                            Peruntukan Undang - Undang adalah wajib!
                          </small>
                        </div>
                        <div class="col-sm-6" *ngIf="FormType == 'view'">
                          <label class="col-form-label">Dicipta Pada</label>
                          <input class="form-control" formControlName="TarikhCipta" name="TarikhCipta" type="text"
                            placeholder="" [attr.disabled]="FormType == 'view' ? true : null">
                        </div>
                        <div class="col-sm-6" *ngIf="FormType == 'view'">
                          <label class="col-form-label">Dicipta Oleh</label>
                          <input class="form-control" formControlName="DiciptaOleh" name="DiciptaOleh" type="text"
                            placeholder="" [attr.disabled]="FormType == 'view' ? true : null">
                        </div>
                        <div class="col-sm-6" *ngIf="FormType == 'view'">
                          <label class="col-form-label">Dikemaskini Pada</label>
                          <input class="form-control" formControlName="TarikhKemaskini" name="TarikhKemaskini"
                            type="text" placeholder="" [attr.disabled]="FormType == 'view' ? true : null">
                        </div>
                        <div class="col-sm-6" *ngIf="FormType == 'view'">
                          <label class="col-form-label">Dikemaskini Oleh</label>
                          <input class="form-control" formControlName="DikemaskiniOleh" name="DikemaskiniOleh"
                            type="text" placeholder="" [attr.disabled]="FormType == 'view' ? true : null">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="card mb-3" *ngIf="FromMenu != 'kemasukan'">
                  <div class="card-header"><strong>Maklumat Pembayaran</strong></div>
                  <div class="card-body">
                    <div class="form-group">
                      <div class="form-item row">
                        <div class="col-sm-6">
                          <label class="col-form-label">Kadar Kompaun (RM) <span class="strik m--font-danger"
                              *ngIf="FormType == 'add' || FormType == 'edit'">*</span></label>
                          <input class="form-control" formControlName="KadarKompaun" name="KadarKompaun"
                            appTwoDigitDecimaNumber placeholder="Kadar Kompaun"
                            [attr.disabled]="FormType == 'view' ? true : null">
                          <small class="strik m--font-danger"
                            *ngIf="(FormType == 'add' || FormType == 'edit') && (submitted || f.KadarKompaun.touched) && f.KadarKompaun.errors && f.KadarKompaun.errors.required">
                            Kadar Kompaun adalah wajib!
                          </small>
                          <small class="strik m--font-danger"
                            *ngIf="(FormType == 'add' || FormType == 'edit') && (submitted || f.KadarKompaun.touched) && f.KadarKompaun.errors && f.KadarKompaun.errors.min">
                            Kadar Kompaun mestilah melebihi RM 0!
                          </small>
                        </div>
                      </div>
                      <div class="form-item row">
                        <div class="col-sm-6">
                          <label class="col-form-label">Tarikh Bayaran <span class="strik m--font-danger"
                              *ngIf="FormType != 'view'">*</span><span class="help">(Contoh:
                              31/12/2020)</span></label>
                          <div class="input-group">
                            <input formControlName="TarikhBayaran" spellcheck="false" class="form-control"
                              maxlength="10" [matDatepicker]="pickerTarikhBayaran" [(ngModel)]="TarikhBayaran"
                              placeholder="Tarikh Bayaran" disabled="{{FormType == 'view' ? true : false}}">
                            <mat-datepicker-toggle matSuffix [for]="pickerTarikhBayaran"></mat-datepicker-toggle>
                            <mat-datepicker #pickerTarikhBayaran></mat-datepicker>
                          </div>
                          <small class="strik m--font-danger"
                            *ngIf="(FormType != 'view') && (submitted || f.TarikhBayaran.touched) && f.TarikhBayaran.errors && f.TarikhBayaran.errors.required">
                            Tarikh Bayaran adalah wajib!
                          </small>
                          <small class="strik m--font-danger"
                            *ngIf="(FormType != 'view') && (submitted || f.TarikhBayaran.touched) && f.TarikhBayaran.errors && f.TarikhBayaran.errors.exceed">
                            Tarikh Bayaran tidak melebihi Tarikh Semasa!
                          </small>
                        </div>
                        <div class="col-sm-6">
                          <label class="col-form-label">Kadar Bayaran (RM)
                            <span class="strik m--font-danger" *ngIf="FormType == 'add' || FormType == 'edit'">*</span>
                          </label>
                          <input class="form-control" formControlName="KadarBayaran" name="KadarBayaran"
                            appTwoDigitDecimaNumber placeholder="Kadar Bayaran"
                            [attr.disabled]="FormType == 'view' ? true : null">
                          <small class="strik m--font-danger"
                            *ngIf="(FormType == 'add' || FormType == 'edit') && (submitted || f.KadarBayaran.touched) && f.KadarBayaran.errors && f.KadarBayaran.errors.required">
                            Kadar Bayaran adalah wajib!
                          </small>
                          <small class="strik m--font-danger"
                            *ngIf="(FormType == 'add' || FormType == 'edit') && (submitted || f.KadarBayaran.touched) && f.KadarBayaran.errors && f.KadarBayaran.errors.min">
                            Kadar Bayaran mestilah melebihi RM 0!
                          </small>
                        </div>
                        <div class="col-sm-6">
                          <label class="col-form-label">Kadar Selepas Rayuan (RM)
                            <!-- <span class="strik m--font-danger"
                              *ngIf="FormType == 'add' || FormType == 'edit'">*</span> -->
                          </label>
                          <input class="form-control" formControlName="KadarRayuan" name="KadarRayuan"
                            appTwoDigitDecimaNumber placeholder="Kadar Selepas Rayuan"
                            [attr.disabled]="FormType == 'view' ? true : null">
                          <small class="strik m--font-danger"
                            *ngIf="(FormType == 'add' || FormType == 'edit') && (submitted || f.KadarRayuan.touched) && f.KadarRayuan.errors && f.KadarRayuan.errors.required">
                            Kadar Selepas Rayuan adalah wajib!
                          </small>
                          <small class="strik m--font-danger"
                            *ngIf="(FormType == 'add' || FormType == 'edit') && (submitted || f.KadarRayuan.touched) && f.KadarRayuan.errors && f.KadarRayuan.errors.min">
                            Kadar Selepas Rayuan mestilah melebihi RM 0!
                          </small>
                        </div>
                        <div class="col-sm-6">
                          <label class="col-form-label">No. Resit <span class="strik m--font-danger"
                              *ngIf="FormType == 'add' || FormType == 'edit'">*</span></label>
                          <input class="form-control" formControlName="NoResit" name="NoResit" type="text"
                            placeholder="No. Resit" [attr.disabled]="FormType == 'view' ? true : null">
                          <small class="strik m--font-danger"
                            *ngIf="(FormType == 'add' || FormType == 'edit') && (submitted || f.NoResit.touched) && f.NoResit.errors && f.NoResit.errors.required">
                            Maklumat No. Resit adalah wajib!
                          </small>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="card mb-3">
                  <div class="card-header"><strong>Status Kesalahan</strong></div>
                  <div class="card-body">
                    <div class="form-group">
                      <div class="form-item row">
                        <div class="col-sm-6">
                          <label class="col-form-label">Status <span class="strik m--font-danger"
                              *ngIf="FormType == 'add' || FormType == 'edit'">*</span></label>
                          <select class="form-control" [(ngModel)]="StatusKesalahan" formControlName="StatusKesalahan"
                            name="StatusKesalahan" [attr.disabled]="FormType == 'view' ? true : null">
                            <option value="0">{{ '--Pilih Status--'}}</option>
                            <option *ngFor="let item of StatusKesalahanList" value="{{item.id}}">{{ item.name }}
                            </option>
                          </select>
                          <small class="strik m--font-danger"
                            *ngIf="(FormType == 'add' || FormType == 'edit') && (submitted || f.StatusKesalahan.touched) && f.StatusKesalahan.errors && (f.StatusKesalahan.errors.required || f.StatusKesalahan.errors.min)">
                            Status adalah wajib!
                          </small>
                        </div>
                      </div>
                      <div class="form-item row">
                        <div class="col-sm-6">
                          <label class="col-form-label">No. Rujukan Aduan<span class="strik m--font-danger"
                              *ngIf="FormType == 'add' || FormType == 'edit'">*</span></label>
                          <input class="form-control" formControlName="NoAduan" name="NoAduan" type="text"
                            placeholder="No. Rujukan Aduan" [attr.disabled]="FormType == 'view' ? true : null">
                          <small class="strik m--font-danger"
                            *ngIf="(FormType == 'add' || FormType == 'edit') && (submitted || f.NoAduan.touched) && f.NoAduan.errors && f.NoAduan.errors.required">
                            Maklumat No. Rujukan Aduan adalah wajib!
                          </small>
                        </div>
                        <div class="col-sm-6">
                          <label class="col-form-label">Tarikh Jana Aduan <span class="strik m--font-danger"
                              *ngIf="FormType != 'view'">*</span><span class="help">(Contoh:
                              31/12/2020)</span></label>
                          <div class="input-group">
                            <input formControlName="TarikhAduan" spellcheck="false" class="form-control" maxlength="10"
                              [matDatepicker]="pickerTarikhAduan" [(ngModel)]="TarikhAduan"
                              placeholder="Tarikh Jana Aduan" disabled="{{FormType == 'view' ? true : false}}">
                            <mat-datepicker-toggle matSuffix [for]="pickerTarikhAduan"></mat-datepicker-toggle>
                            <mat-datepicker #pickerTarikhAduan></mat-datepicker>
                          </div>
                          <small class="strik m--font-danger"
                            *ngIf="(FormType != 'view') && (submitted || f.TarikhAduan.touched) && f.TarikhAduan.errors && f.TarikhAduan.errors.required">
                            Tarikh Jana Aduan adalah wajib!
                          </small>
                          <small class="strik m--font-danger"
                            *ngIf="(FormType != 'view') && (submitted || f.TarikhAduan.touched) && f.TarikhAduan.errors && f.TarikhAduan.errors.exceed">
                            Tarikh Jana Aduan tidak melebihi Tarikh Semasa!
                          </small>
                        </div>
                        <div class="col-sm-6">
                          <label class="col-form-label">No. Rujukan Peringatan<span class="strik m--font-danger"
                              *ngIf="FormType == 'add' || FormType == 'edit'">*</span></label>
                          <input class="form-control" formControlName="NoPeringatan" name="NoPeringatan" type="text"
                            placeholder="No. Rujukan Peringatan" [attr.disabled]="FormType == 'view' ? true : null">
                          <small class="strik m--font-danger"
                            *ngIf="(FormType == 'add' || FormType == 'edit') && (submitted || f.NoPeringatan.touched) && f.NoPeringatan.errors && f.NoPeringatan.errors.required">
                            Maklumat No. Rujukan Peringatan adalah wajib!
                          </small>
                        </div>
                        <div class="col-sm-6">
                          <label class="col-form-label">Tarikh Peringatan <span class="strik m--font-danger"
                              *ngIf="FormType != 'view'">*</span><span class="help">(Contoh:
                              31/12/2020)</span></label>
                          <div class="input-group">
                            <input formControlName="TarikhPeringatan" spellcheck="false" class="form-control"
                              maxlength="10" [matDatepicker]="pickerTarikhPeringatan" [(ngModel)]="TarikhPeringatan"
                              placeholder="Tarikh Peringatan" disabled="{{FormType == 'view' ? true : false}}">
                            <mat-datepicker-toggle matSuffix [for]="pickerTarikhPeringatan"></mat-datepicker-toggle>
                            <mat-datepicker #pickerTarikhPeringatan></mat-datepicker>
                          </div>
                          <small class="strik m--font-danger"
                            *ngIf="(FormType != 'view') && (submitted || f.TarikhPeringatan.touched) && f.TarikhPeringatan.errors && f.TarikhPeringatan.errors.required">
                            Tarikh Peringatan adalah wajib!
                          </small>
                          <small class="strik m--font-danger"
                            *ngIf="(FormType != 'view') && (submitted || f.TarikhPeringatan.touched) && f.TarikhPeringatan.errors && f.TarikhPeringatan.errors.exceed">
                            Tarikh Peringatan tidak melebihi Tarikh Semasa!
                          </small>
                        </div>
                        <div class="col-sm-6">
                          <label class="col-form-label">No. Fail Rujukan<span class="strik m--font-danger"
                              *ngIf="FormType == 'add' || FormType == 'edit'">*</span></label>
                          <input class="form-control" formControlName="NoFailRujukan" name="NoFailRujukan" type="text"
                            placeholder="No. Fail Rujukan" [attr.disabled]="FormType == 'view' ? true : null">
                          <small class="strik m--font-danger"
                            *ngIf="(FormType == 'add' || FormType == 'edit') && (submitted || f.NoFailRujukan.touched) && f.NoFailRujukan.errors && f.NoFailRujukan.errors.required">
                            Maklumat No. Fail Rujukan adalah wajib!
                          </small>
                        </div>
                        <div class="col-sm-6">
                          <label class="col-form-label">Tarikh Fail Rujukan <span class="strik m--font-danger"
                              *ngIf="FormType != 'view'">*</span><span class="help">(Contoh:
                              31/12/2020)</span></label>
                          <div class="input-group">
                            <input formControlName="TarikhFailRujukan" spellcheck="false" class="form-control"
                              maxlength="10" [matDatepicker]="pickerTarikhFailRujukan" [(ngModel)]="TarikhFailRujukan"
                              placeholder="Tarikh Fail Rujukan" disabled="{{FormType == 'view' ? true : false}}">
                            <mat-datepicker-toggle matSuffix [for]="pickerTarikhFailRujukan"></mat-datepicker-toggle>
                            <mat-datepicker #pickerTarikhFailRujukan></mat-datepicker>
                          </div>
                          <small class="strik m--font-danger"
                            *ngIf="(FormType != 'view') && (submitted || f.TarikhFailRujukan.touched) && f.TarikhFailRujukan.errors && f.TarikhFailRujukan.errors.required">
                            Tarikh Fail Rujukan adalah wajib!
                          </small>
                          <small class="strik m--font-danger"
                            *ngIf="(FormType != 'view') && (submitted || f.TarikhFailRujukan.touched) && f.TarikhFailRujukan.errors && f.TarikhFailRujukan.errors.exceed">
                            Tarikh Fail Rujukan tidak melebihi Tarikh Semasa!
                          </small>
                        </div>
                        <div class="col-sm-6" *ngIf="FromMenu != 'kemasukan'">
                          <label class="col-form-label">Rekod </label>
                          <div class="input-group">
                            <div class="col-sm-12">
                              <mat-slide-toggle class="mr-2" formControlName="FlagSenaraiHitam"
                                (change)="onChangeIsFlag($event,'FlagSenaraiHitam')" [(ngModel)]="FlagSenaraiHitam"
                                disabled="{{FormType == 'view' ? true : false}}">
                              </mat-slide-toggle>Senarai Hitam
                            </div>
                            <div class="col-sm-12">
                              <mat-slide-toggle class="mr-2" formControlName="FlagPemerhatian"
                                (change)="onChangeIsFlag($event,'FlagPemerhatian')" [(ngModel)]="FlagPemerhatian"
                                disabled="{{FormType == 'view' ? true : false}}">
                              </mat-slide-toggle>Dalam
                              Pemerhatian
                            </div>
                            <div class="col-sm-12">
                              <mat-slide-toggle class="mr-2" formControlName="FlagSiasatan"
                                (change)="onChangeIsFlag($event,'FlagSiasatan')" [(ngModel)]="FlagSiasatan"
                                disabled="{{FormType == 'view' ? true : false}}">
                              </mat-slide-toggle>Kertas
                              Siasatan
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="card mb-3" *ngIf="FromMenu != 'kemasukan'">
                  <div class="card-header"><strong>Maklumat Mahkamah</strong></div>
                  <div class="card-body">
                    <div class="form-group">
                      <div class="form-item row">
                        <div class="col-sm-6">
                          <label class="col-form-label">No. Kes<span class="strik m--font-danger"
                              *ngIf="FormType == 'add' || FormType == 'edit'">*</span></label>
                          <input class="form-control" formControlName="NoKes" name="NoKes" type="text"
                            placeholder="No. Kes" [attr.disabled]="FormType == 'view' ? true : null">
                          <small class="strik m--font-danger"
                            *ngIf="(FormType == 'add' || FormType == 'edit') && (submitted || f.NoKes.touched) && f.NoKes.errors && f.NoKes.errors.required">
                            Maklumat No. Kes adalah wajib!
                          </small>
                        </div>
                        <div class="col-sm-6">
                          <label class="col-form-label">Status<span class="strik m--font-danger"
                              *ngIf="FormType == 'add' || FormType == 'edit'">*</span></label>
                          <select class="form-control" [(ngModel)]="StatusMahkamah" formControlName="StatusMahkamah"
                            name="StatusMahkamah" [attr.disabled]="FormType == 'view' ? true : null">
                            <option value="0">{{ '--Pilih Status--'}}</option>
                            <option *ngFor="let item of StatusMahkamahList" value="{{item.id}}">{{ item.name }}
                            </option>
                          </select>
                          <small class="strik m--font-danger"
                            *ngIf="(FormType == 'add' || FormType == 'edit') && (submitted || f.StatusMahkamah.touched) && f.StatusMahkamah.errors && (f.StatusMahkamah.errors.required || f.StatusMahkamah.errors.min)">
                            Status Mahkamah adalah wajib!
                          </small>
                        </div>
                        <div class="col-sm-6">
                          <label class="col-form-label">Tarikh Sebutan <span class="strik m--font-danger"
                              *ngIf="FormType != 'view'">*</span><span class="help">(Contoh:
                              31/12/2020)</span></label>
                          <div class="input-group">
                            <input formControlName="TarikhSebutan" spellcheck="false" class="form-control"
                              maxlength="10" [matDatepicker]="pickerTarikhSebutan" [(ngModel)]="TarikhSebutan"
                              placeholder="Tarikh Sebutan" disabled="{{FormType == 'view' ? true : false}}">
                            <mat-datepicker-toggle matSuffix [for]="pickerTarikhSebutan"></mat-datepicker-toggle>
                            <mat-datepicker #pickerTarikhSebutan></mat-datepicker>
                          </div>
                          <small class="strik m--font-danger"
                            *ngIf="(FormType != 'view') && (submitted || f.TarikhSebutan.touched) && f.TarikhSebutan.errors && f.TarikhSebutan.errors.required">
                            Tarikh Sebutan adalah wajib!
                          </small>
                          <small class="strik m--font-danger"
                            *ngIf="(FormType != 'view') && (submitted || f.TarikhSebutan.touched) && f.TarikhSebutan.errors && f.TarikhSebutan.errors.exceed">
                            Tarikh Sebutan tidak melebihi Tarikh Semasa!
                          </small>
                        </div>
                        <div class="col-sm-6">
                          <label class="col-form-label">Tarikh Waran <span class="strik m--font-danger"
                              *ngIf="FormType != 'view'">*</span><span class="help">(Contoh:
                              31/12/2020)</span></label>
                          <div class="input-group">
                            <input formControlName="TarikhWaran" spellcheck="false" class="form-control" maxlength="10"
                              [matDatepicker]="pickerTarikhWaran" [(ngModel)]="TarikhWaran" placeholder="Tarikh Waran"
                              disabled="{{FormType == 'view' ? true : false}}">
                            <mat-datepicker-toggle matSuffix [for]="pickerTarikhWaran"></mat-datepicker-toggle>
                            <mat-datepicker #pickerTarikhWaran></mat-datepicker>
                          </div>
                          <small class="strik m--font-danger"
                            *ngIf="(FormType != 'view') && (submitted || f.TarikhWaran.touched) && f.TarikhWaran.errors && f.TarikhWaran.errors.required">
                            Tarikh Waran adalah wajib!
                          </small>
                          <small class="strik m--font-danger"
                            *ngIf="(FormType != 'view') && (submitted || f.TarikhWaran.touched) && f.TarikhWaran.errors && f.TarikhWaran.errors.exceed">
                            Tarikh Waran tidak melebihi Tarikh Semasa!
                          </small>
                        </div>
                        <div class="col-sm-6">
                          <label class="col-form-label">Tarikh Bicara <span class="strik m--font-danger"
                              *ngIf="FormType != 'view'">*</span><span class="help">(Contoh:
                              31/12/2020)</span></label>
                          <div class="input-group">
                            <input formControlName="TarikhBicara" spellcheck="false" class="form-control" maxlength="10"
                              [matDatepicker]="pickerTarikhBicara" [(ngModel)]="TarikhBicara"
                              placeholder="Tarikh Bicara" disabled="{{FormType == 'view' ? true : false}}">
                            <mat-datepicker-toggle matSuffix [for]="pickerTarikhBicara"></mat-datepicker-toggle>
                            <mat-datepicker #pickerTarikhBicara></mat-datepicker>
                          </div>
                          <small class="strik m--font-danger"
                            *ngIf="(FormType != 'view') && (submitted || f.TarikhBicara.touched) && f.TarikhBicara.errors && f.TarikhBicara.errors.required">
                            Tarikh Bicara adalah wajib!
                          </small>
                          <small class="strik m--font-danger"
                            *ngIf="(FormType != 'view') && (submitted || f.TarikhBicara.touched) && f.TarikhBicara.errors && f.TarikhBicara.errors.exceed">
                            Tarikh Bicara tidak melebihi Tarikh Semasa!
                          </small>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="card mb-3">
                  <div class="card-header"><strong>Maklumat Pesalah</strong></div>
                  <div class="card-body">
                    <div class="form-group">
                      <div class="form-item row">
                        <div class="col-sm-6 col-set">
                          <div class="col-sm-12">
                            <label class="col-form-label">Nama<span class="strik m--font-danger"
                                *ngIf="FormType == 'add' || FormType == 'edit'">*</span></label>
                            <input class="form-control" formControlName="NamaPesalah" name="NamaPesalah" type="text"
                              placeholder="Nama Pesalah" [attr.disabled]="FormType == 'view' ? true : null">
                            <small class="strik m--font-danger"
                              *ngIf="(FormType == 'add' || FormType == 'edit') && (submitted || f.NamaPesalah.touched) && f.NamaPesalah.errors && f.NamaPesalah.errors.required">
                              Maklumat Nama Pesalah adalah wajib!
                            </small>
                          </div>
                          <div class="col-sm-12">
                            <label class="col-form-label">No. KP / Syarikat<span class="strik m--font-danger"
                                *ngIf="FormType == 'add' || FormType == 'edit'">*</span></label>
                            <input class="form-control" formControlName="NoKPSyarikatPesalah" name="NoKPSyarikatPesalah"
                              type="text" placeholder="No. KP / Syarikat"
                              [attr.disabled]="FormType == 'view' ? true : null">
                            <small class="strik m--font-danger"
                              *ngIf="(FormType == 'add' || FormType == 'edit') && (submitted || f.NoKPSyarikatPesalah.touched) && f.NoKPSyarikatPesalah.errors && f.NoKPSyarikatPesalah.errors.required">
                              Maklumat No. KP / Syarikat Pesalah adalah wajib!
                            </small>
                          </div>
                          <div class="col-sm-12">
                            <label class="col-form-label">No. Lesen<span class="strik m--font-danger"
                                *ngIf="FormType == 'add' || FormType == 'edit'">*</span></label>
                            <input class="form-control" formControlName="NoLesen" name="NoLesen" type="text"
                              placeholder="No. Lesen" [attr.disabled]="FormType == 'view' ? true : null">
                            <small class="strik m--font-danger"
                              *ngIf="(FormType == 'add' || FormType == 'edit') && (submitted || f.NoLesen.touched) && f.NoLesen.errors && f.NoLesen.errors.required">
                              Maklumat No. Lesen adalah wajib!
                            </small>
                          </div>
                          <div class="col-sm-12">
                            <label class="col-form-label">Tarikh Tamat Lesen <span class="strik m--font-danger"
                                *ngIf="FormType != 'view'">*</span><span class="help">(Contoh:
                                31/12/2020)</span></label>
                            <div class="input-group">
                              <input formControlName="TarikhTamatLesen" spellcheck="false" class="form-control"
                                maxlength="10" [matDatepicker]="pickerTarikhTamatLesen" [(ngModel)]="TarikhTamatLesen"
                                placeholder="Tarikh Tamat Lesen" disabled="{{FormType == 'view' ? true : false}}">
                              <mat-datepicker-toggle matSuffix [for]="pickerTarikhTamatLesen"></mat-datepicker-toggle>
                              <mat-datepicker #pickerTarikhTamatLesen></mat-datepicker>
                            </div>
                            <small class="strik m--font-danger"
                              *ngIf="(FormType != 'view') && (submitted || f.TarikhTamatLesen.touched) && f.TarikhTamatLesen.errors && f.TarikhTamatLesen.errors.required">
                              Tarikh Tamat Lesen adalah wajib!
                            </small>
                            <small class="strik m--font-danger"
                              *ngIf="(FormType != 'view') && (submitted || f.TarikhTamatLesen.touched) && f.TarikhTamatLesen.errors && f.TarikhTamatLesen.errors.exceed">
                              Tarikh Tamat Lesen tidak melebihi Tarikh Semasa!
                            </small>
                          </div>
                        </div>
                        <div class="col-sm-6 col-set">
                          <div class="col-sm-12">
                            <label class="col-form-label">Alamat<span class="strik m--font-danger"
                                *ngIf="FormType == 'add' || FormType == 'edit'">*</span></label>
                            <input class="form-control" formControlName="AlamatPesalah1" name="AlamatPesalah1"
                              type="text" placeholder="Alamat" [attr.disabled]="FormType == 'view' ? true : null">
                            <small class="strik m--font-danger"
                              *ngIf="(FormType == 'add' || FormType == 'edit') && (submitted || f.AlamatPesalah1.touched) && f.AlamatPesalah1.errors && f.AlamatPesalah1.errors.required">
                              Maklumat Alamat adalah wajib!
                            </small>
                            <input class="form-control mt-1" formControlName="AlamatPesalah2" name="AlamatPesalah2"
                              type="text" placeholder="Alamat" [attr.disabled]="FormType == 'view' ? true : null">
                            <input class="form-control mt-1" formControlName="AlamatPesalah3" name="AlamatPesalah3"
                              type="text" placeholder="Alamat" [attr.disabled]="FormType == 'view' ? true : null">
                          </div>
                          <div class="col-sm-12">
                            <div class="form-item row">
                              <div class="col-sm-4">
                                <label class="col-form-label">Poskod<span class="strik m--font-danger"
                                    *ngIf="FormType == 'add' || FormType == 'edit'">*</span></label>
                                <input class="form-control" formControlName="PoskodPesalah" name="PoskodPesalah"
                                  numberOnly type="text" placeholder="Poskod"
                                  [attr.disabled]="FormType == 'view' ? true : null" maxlength="5">
                                <small class="strik m--font-danger"
                                  *ngIf="(FormType == 'add' || FormType == 'edit') && (submitted || f.PoskodPesalah.touched) && f.PoskodPesalah.errors && f.PoskodPesalah.errors.required">
                                  Maklumat Poskod adalah wajib!
                                </small>
                                <small class="strik m--font-danger"
                                  *ngIf="(FormType == 'add' || FormType == 'edit') && (submitted || f.PoskodPesalah.touched) && f.PoskodPesalah.errors && (f.PoskodPesalah.errors.minlength || f.PoskodPesalah.errors.minlength)">
                                  Poskod mestilah 5 aksara
                                </small>
                              </div>
                              <div class="col-sm-8">
                                <label class="col-form-label">Negeri <span class="strik m--font-danger"
                                    *ngIf="FormType == 'add' || FormType == 'edit'">*</span></label>
                                <select class="form-control" [(ngModel)]="NegeriPesalah" formControlName="NegeriPesalah"
                                  name="NegeriPesalah" [attr.disabled]="FormType == 'view' ? true : null">
                                  <option value="0">{{ '--Pilih Negeri--'}}</option>
                                  <option *ngFor="let item of NegeriList" value="{{item.id}}">{{ item.name }}
                                  </option>
                                </select>
                                <small class="strik m--font-danger"
                                  *ngIf="(FormType == 'add' || FormType == 'edit') && (submitted || f.NegeriPesalah.touched) && f.NegeriPesalah.errors && (f.NegeriPesalah.errors.required || f.NegeriPesalah.errors.min)">
                                  Negeri adalah wajib!
                                </small>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>


                <div class="card mb-3">
                  <div class="card-header"><strong>Maklumat Pemandu</strong></div>
                  <div class="card-body">
                    <div class="form-group">
                      <div class="form-item row">
                        <div class="col-sm-6 col-set">
                          <div class="col-sm-12">
                            <label class="col-form-label">Nama<span class="strik m--font-danger"
                                *ngIf="FormType == 'add' || FormType == 'edit'">*</span></label>
                            <input class="form-control" formControlName="NamaPemandu" name="NamaPemandu" type="text"
                              placeholder="Nama Pemandu" [attr.disabled]="FormType == 'view' ? true : null">
                            <small class="strik m--font-danger"
                              *ngIf="(FormType == 'add' || FormType == 'edit') && (submitted || f.NamaPemandu.touched) && f.NamaPemandu.errors && f.NamaPemandu.errors.required">
                              Maklumat Nama Pemandu adalah wajib!
                            </small>
                          </div>
                          <div class="col-sm-12">
                            <label class="col-form-label">No. KP<span class="strik m--font-danger"
                                *ngIf="FormType == 'add' || FormType == 'edit'">*</span></label>
                            <input class="form-control" formControlName="NoKPPemandu" name="NoKPPemandu" type="text"
                              placeholder="No. KP" [attr.disabled]="FormType == 'view' ? true : null">
                            <small class="strik m--font-danger"
                              *ngIf="(FormType == 'add' || FormType == 'edit') && (submitted || f.NoKPPemandu.touched) && f.NoKPPemandu.errors && f.NoKPPemandu.errors.required">
                              Maklumat No. KP Pemandu adalah wajib!
                            </small>
                          </div>
                        </div>
                        <div class="col-sm-6 col-set">
                          <div class="col-sm-12">
                            <label class="col-form-label">Alamat<span class="strik m--font-danger"
                                *ngIf="FormType == 'add' || FormType == 'edit'">*</span></label>
                            <input class="form-control" formControlName="AlamatPemandu1" name="AlamatPemandu1"
                              type="text" placeholder="Alamat" [attr.disabled]="FormType == 'view' ? true : null">
                            <small class="strik m--font-danger"
                              *ngIf="(FormType == 'add' || FormType == 'edit') && (submitted || f.AlamatPemandu1.touched) && f.AlamatPemandu1.errors && f.AlamatPemandu1.errors.required">
                              Maklumat Alamat adalah wajib!
                            </small>
                            <input class="form-control mt-1" formControlName="AlamatPemandu2" name="AlamatPemandu2"
                              type="text" placeholder="Alamat" [attr.disabled]="FormType == 'view' ? true : null">
                            <input class="form-control mt-1" formControlName="AlamatPemandu3" name="AlamatPemandu3"
                              type="text" placeholder="Alamat" [attr.disabled]="FormType == 'view' ? true : null">
                          </div>
                          <div class="col-sm-12">
                            <div class="form-item row">
                              <div class="col-sm-4">
                                <label class="col-form-label">Poskod<span class="strik m--font-danger"
                                    *ngIf="FormType == 'add' || FormType == 'edit'">*</span></label>
                                <input class="form-control" formControlName="PoskodPemandu" name="PoskodPemandu"
                                  numberOnly type="text" placeholder="Poskod"
                                  [attr.disabled]="FormType == 'view' ? true : null" maxlength="5">
                                <small class="strik m--font-danger"
                                  *ngIf="(FormType == 'add' || FormType == 'edit') && (submitted || f.PoskodPemandu.touched) && f.PoskodPemandu.errors && f.PoskodPemandu.errors.required">
                                  Maklumat Poskod adalah wajib!
                                </small>
                                <small class="strik m--font-danger"
                                  *ngIf="(FormType == 'add' || FormType == 'edit') && (submitted || f.PoskodPemandu.touched) && f.PoskodPemandu.errors && (f.PoskodPemandu.errors.minlength || f.PoskodPemandu.errors.minlength)">
                                  Poskod mestilah 5 aksara
                                </small>
                              </div>
                              <div class="col-sm-8">
                                <label class="col-form-label">Negeri <span class="strik m--font-danger"
                                    *ngIf="FormType == 'add' || FormType == 'edit'">*</span></label>
                                <select class="form-control" [(ngModel)]="NegeriPemandu" formControlName="NegeriPemandu"
                                  name="NegeriPemandu" [attr.disabled]="FormType == 'view' ? true : null">
                                  <option value="0">{{ '--Pilih Negeri--'}}</option>
                                  <option *ngFor="let item of NegeriList" value="{{item.id}}">{{ item.name }}
                                  </option>
                                </select>
                                <small class="strik m--font-danger"
                                  *ngIf="(FormType == 'add' || FormType == 'edit') && (submitted || f.NegeriPemandu.touched) && f.NegeriPemandu.errors && (f.NegeriPemandu.errors.required || f.NegeriPemandu.errors.min)">
                                  Negeri adalah wajib!
                                </small>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="card mb-3">
                  <div class="card-header"><strong>Gambar</strong></div>
                  <div class="card-body">
                    <div class="form-group">
                      <div class="form-item row">
                        <div class="col-sm-12">
                          <div class="image-container">
                            <div class="form-group">
                              <!-- <div class="form-group-label">Gambar</div>                            -->
                              <app-image-slider name="imageList" [editable]="FormType == 'view' ? false : true"
                                [imageList]="form.get('imageList')" [imageThreshold]="5"
                                (select)="onUploadImageDialog($event)" (delete)="deleteGambar($event)">
                              </app-image-slider>
                            </div>
                          </div>
                          <div class="form-item row">
                            <!-- <small class="strik m--font-danger ml-4 mb-4"
                        *ngIf="isValidImageDefaultImaged()">
                        Please make sure the product is uploaded and tick as default image
                        </small> -->
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="text-right mt-4">
                  <button mat-raised-button class="red-button mr-2" (click)="resetForm()" *ngIf="FormType != 'view'"><i
                      class="fa fa-retweet"></i>
                    {{'Reset'}} </button>
                  <button mat-raised-button class="green-button  mr-2" (click)="onSave()" cdkFocusInitial
                    *ngIf="FormType != 'view'"><i class="fas fa-save"></i> Simpan </button>
                  <button mat-raised-button class="blue-button mr-2" cdkFocusInitial 
                    (click)="kembali()"><i class="fas fa-angle-double-left"></i>
                    Kembali
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>