<app-mat-spinner-overlay overlay="true" *ngIf="showSpinner"></app-mat-spinner-overlay>
<div class="m-content">
  <div class="m-portlet m-portlet--bordered-semi m-portlet--unair">
    <div class="m-portlet__head">
      <div class="m-portlet__head-caption">
        <div class="m-portlet__head-title">
          <h3 class="m-portlet__head-text">
            Maklumat Barang Sitaan
          </h3>
        </div>
      </div>
    </div>
    <div mat-dialog-content>
      <div class="m-portlet__body ">
        <form novalidate [formGroup]="form">
          <div class="form-item row">
            <div class="col-sm-6">
              <label class="col-form-label">Nama Barang<span class="strik m--font-danger"
                     *ngIf="FormType == 'add' || FormType == 'edit'">*</span></label>
              <input class="form-control" formControlName="namaBarang" name="namaBarang" type="namaBarang" placeholder="Nama Barang"
                     [attr.disabled]="FormType == 'view' ? true : null">
              <small class="strik m--font-danger"
                     *ngIf="(FormType == 'add' || FormType == 'edit') && (submitted || f.namaBarang.touched) && f.namaBarang.errors && f.namaBarang.errors.required">
                Maklumat Nama Barang adalah wajib!
              </small>
            </div>
            <div class="col-sm-6">
              <label class="col-form-label">Jumlah<span class="strik m--font-danger"
                    *ngIf="FormType == 'add' || FormType == 'edit'">*</span></label>
              <input class="form-control" formControlName="jumlah" name="jumlah" type="jumlah" placeholder="Jumlah"
                     [attr.disabled]="FormType == 'view' ? true : null">
              <small class="strik m--font-danger"
                     *ngIf="(FormType == 'add' || FormType == 'edit') && (submitted || f.jumlah.touched) && f.jumlah.errors && f.jumlah.errors.required">
                Maklumat Jumlah adalah wajib!
              </small>
            </div>
            <div class="col-sm-6">
              <label class="col-form-label">Catatan<span class="strik m--font-danger"
                        *ngIf="FormType == 'add' || FormType == 'edit'">*</span></label>
              <textarea class="form-control" formControlName="catatan" name="catatan" type="text" placeholder="Catatan"
                        [attr.disabled]="FormType == 'view' ? true : null"></textarea>
              <small class="strik m--font-danger"
                     *ngIf="(FormType == 'add' || FormType == 'edit') && (submitted || f.catatan.touched) && f.catatan.errors && f.catatan.errors.required">
                Maklumat Catatan adalah wajib!
              </small>
            </div>
          </div>
            <div class="card-body">
            </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- </div> -->
<!-- </mat-tab>
  </mat-tab-group>  -->
<div class=" row">
  <div class="col-sm-6 text-left">
    <button class="green-button" mat-raised-button (click)="add()">
      <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
      Tambah Barang
    </button>
  </div>
  <div class="col-sm-6 text-right">
    <button mat-raised-button class="red-button" (click)="onNoClick()"><i class="far fa-times-circle"></i>Close</button>
  </div>
</div>

