<app-mat-spinner-overlay overlay="true" *ngIf="showSpinner"></app-mat-spinner-overlay>
<form novalidate [formGroup]="form">
  <div class="m-grid__item m-grid__item--fluid m-wrapper ">
    <div class="m-content">
      <div class="m-portlet m-portlet--bordered-semi m-portlet--unair">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <h3 class="m-portlet__head-text">
                <a style="color:blue;" routerLink="/app/handheld/senarai-handheld">Carian Handheld</a>
                <i class="fa fa-chevron-right mr-2 ml-2" aria-hidden="true"></i>
                {{FormTitle}}
                Handheld
              </h3>
            </div>
          </div>
        </div>
        <div id="content">
          <div class="m-portlet__body">
            <div class="row">
              <div class="col-sm-12">
                <div class="card mb-3">
                  <div class="card-header"><strong>Maklumat Handheld</strong></div>
                  <div class="card-body">
                    <div class="form-group">
                      <div class="form-item row">
                        <div class="col-sm-6">
                          <label class="col-form-label">Jabatan <span class="strik m--font-danger"
                              *ngIf="FormType == 'gerak'">*</span></label>
                          <select class="form-control" [(ngModel)]="Jabatan" formControlName="Jabatan" name="Jabatan"
                            [attr.disabled]="FormType != 'gerak' ? true : null">
                            <option value="0">{{ '--Pilih Jabatan--'}}</option>
                            <option *ngFor="let item of jabatanList" value="{{item.id}}">{{ item.name }}
                            </option>
                          </select>
                          <small class="strik m--font-danger"
                            *ngIf="(FormType == 'gerak') && (submitted || f.Jabatan.touched) && f.Jabatan.errors && (f.Jabatan.errors.required || f.Jabatan.errors.min)">
                            Jabatan adalah wajib!
                          </small>
                        </div>
                        <div class="col-sm-6">
                          <label class="col-form-label">ID Handheld <span class="strik m--font-danger"
                              *ngIf="FormType != 'view' ">*</span></label>
                          <input class="form-control" formControlName="IdHandheld" name="IdHandheld" type="text"
                            placeholder="ID Handheld" [attr.disabled]="FormType == 'view' ? true : null">
                          <small class="strik m--font-danger"
                            *ngIf="(FormType != 'view') && (submitted || f.IdHandheld.touched) && f.IdHandheld.errors && f.IdHandheld.errors.required">
                            Maklumat ID Handheld adalah wajib!
                          </small>
                        </div>
                        <div class="col-sm-6">
                          <label class="col-form-label">Nama Handheld<span class="strik m--font-danger"
                              *ngIf="FormType != 'view'">*</span></label>
                          <input class="form-control" formControlName="Nama" name="Nama" type="text" placeholder="Nama"
                            [attr.disabled]="FormType == 'view' ? true : null">
                          <small class="strik m--font-danger"
                            *ngIf="(FormType != 'view') && (submitted || f.Nama.touched) && f.Nama.errors && f.Nama.errors.required">
                            Maklumat Nama Handheld adalah wajib!
                          </small>
                        </div>
                        <div class="col-sm-6">
                          <label class="col-form-label">No. Siri Handheld<span class="strik m--font-danger"
                              *ngIf="FormType != 'view'">*</span></label>
                          <input class="form-control" formControlName="NoSiri" name="NoSiri" type="text"
                            placeholder="No. Siri" [attr.disabled]="FormType == 'view' ? true : null">
                          <small class="strik m--font-danger"
                            *ngIf="(FormType != 'view') && (submitted || f.NoSiri.touched) && f.NoSiri.errors && f.NoSiri.errors.required">
                            Maklumat No. Siri Handheld adalah wajib!
                          </small>
                        </div>
                        <div class="col-sm-6" *ngIf="FormType != 'gerak'">
                          <label class="col-form-label">Status <span class="strik m--font-danger"
                              *ngIf="FormType == 'add' || FormType == 'edit'">*</span></label>
                          <select class="form-control" [(ngModel)]="Status" formControlName="Status" name="Status"
                            [attr.disabled]="FormType == 'view' ? true : null">
                            <option value="0">{{ '--Pilih Status--'}}</option>
                            <option *ngFor="let item of statusList" value="{{item.id}}">{{ item.name }}
                            </option>
                          </select>
                          <small class="strik m--font-danger"
                            *ngIf="(FormType == 'add' || FormType == 'edit') && (submitted || f.Status.touched) && f.Status.errors && (f.Status.errors.required || f.Status.errors.min)">
                            Status adalah wajib!
                          </small>
                        </div>
                        <div class="col-sm-6" *ngIf="FormType != 'gerak'">
                          <label class="col-form-label">Jenama Handheld <span class="strik m--font-danger"
                              *ngIf="FormType == 'add' || FormType == 'edit'">*</span></label>
                          <select class="form-control" [(ngModel)]="JenamaHandheld" formControlName="JenamaHandheld"
                            name="JenamaHandheld" [attr.disabled]="FormType == 'view' ? true : null">
                            <option value="0">{{ '--Pilih Jenama Handheld--'}}</option>
                            <option *ngFor="let item of jenamaHandheldList" value="{{item.id}}">{{ item.name }}
                            </option>
                          </select>
                          <small class="strik m--font-danger"
                            *ngIf="(FormType == 'add' || FormType == 'edit') && (submitted || f.JenamaHandheld.touched) && f.JenamaHandheld.errors && (f.JenamaHandheld.errors.required || f.JenamaHandheld.errors.min)">
                            Jenama Handheld adalah wajib!
                          </small>
                        </div>
                        <div class="col-sm-6" *ngIf="FormType != 'gerak'">
                          <label class="col-form-label">Jenama Printer 
                            <!-- <span class="strik m--font-danger" *ngIf="FormType == 'add' || FormType == 'edit'">*</span> -->
                            </label>
                          <select class="form-control" [(ngModel)]="JenamaPrinter" formControlName="JenamaPrinter"
                            name="JenamaPrinter" [attr.disabled]="FormType == 'view' ? true : null">
                            <option value="0">{{ '--Pilih Jenama Printer--'}}</option>
                            <option *ngFor="let item of jenamaPrinterList" value="{{item.id}}">{{ item.name }}
                            </option>
                          </select>
                          <small class="strik m--font-danger"
                            *ngIf="(FormType == 'add' || FormType == 'edit') && (submitted || f.JenamaPrinter.touched) && f.JenamaPrinter.errors && (f.JenamaPrinter.errors.required || f.JenamaPrinter.errors.min)">
                            Jenama Printer adalah wajib!
                          </small>
                        </div>
                        <div class="col-sm-6" *ngIf="FormType != 'gerak'">
                          <label class="col-form-label">Printer MAC Address
                            <!-- <span class="strik m--font-danger" *ngIf="FormType != 'view'">*</span> -->
                          </label>
                          <input class="form-control" formControlName="PrinterMac" name="PrinterMac" type="text"
                            placeholder="Printer MAC Address" [attr.disabled]="FormType == 'view' ? true : null">
                          <small class="strik m--font-danger"
                            *ngIf="(FormType == 'add' || FormType == 'edit') && (submitted || f.PrinterMac.touched) && f.PrinterMac.errors && f.PrinterMac.errors.required">
                            Maklumat Printer MAC Address adalah wajib!
                          </small>
                        </div>
                        <div class="col-sm-6" *ngIf="FormType != 'gerak'">
                          <label class="col-form-label">Versi App
                            <!-- <span class="strik m--font-danger"  *ngIf="FormType != 'view'">*</span> -->
                          </label>
                          <input class="form-control" formControlName="Versi" name="Versi" type="text"
                            placeholder="Versi App" [attr.disabled]="FormType == 'view' ? true : null">
                          <small class="strik m--font-danger"
                            *ngIf="(FormType == 'add' || FormType == 'edit') && (submitted || f.Versi.touched) && f.Versi.errors && f.Versi.errors.required">
                            Maklumat Versi App adalah wajib!
                          </small>
                        </div>
                        <div class="col-sm-6" *ngIf="FormType == 'view'">
                          <label class="col-form-label">Dicipta Pada</label>
                          <input class="form-control" formControlName="TarikhCipta" name="TarikhCipta" type="text"
                            placeholder="" [attr.disabled]="FormType == 'view' ? true : null">
                        </div>
                        <div class="col-sm-6" *ngIf="FormType == 'view'">
                          <label class="col-form-label">Dicipta Oleh</label>
                          <input class="form-control" formControlName="DiciptaOleh" name="DiciptaOleh" type="text"
                            placeholder="" [attr.disabled]="FormType == 'view' ? true : null">
                        </div>
                        <div class="col-sm-6" *ngIf="FormType == 'view'">
                          <label class="col-form-label">Dikemaskini Pada</label>
                          <input class="form-control" formControlName="TarikhKemaskini" name="TarikhKemaskini"
                            type="text" placeholder="" [attr.disabled]="FormType == 'view' ? true : null">
                        </div>
                        <div class="col-sm-6" *ngIf="FormType == 'view'">
                          <label class="col-form-label">Dikemaskini Oleh</label>
                          <input class="form-control" formControlName="DikemaskiniOleh" name="DikemaskiniOleh"
                            type="text" placeholder="" [attr.disabled]="FormType == 'view' ? true : null">
                        </div>
                        <div class="col-sm-6" *ngIf="FormType != 'gerak'">
                          <label class="col-form-label">Nota</label>
                          <textarea class="form-control" formControlName="Nota" name="Nota" rows="5"
                            style="resize: none;" placeholder="Nota"
                            [attr.disabled]="FormType == 'view' ? true : null"></textarea>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="text-right mt-4">
                  <button mat-raised-button class="red-button mr-2" (click)="resetForm()" *ngIf="FormType != 'view'"><i
                      class="fa fa-retweet"></i>
                    {{'Reset'}} </button>
                  <button mat-raised-button class="green-button mr-2" (click)="onSave()" cdkFocusInitial *ngIf="FormType != 'view'"><i
                      class="fas fa-save"></i> Simpan </button>
                  <button mat-raised-button class="blue-button mr-2" cdkFocusInitial routerLink="/app/handheld/senarai-handheld"><i
                      class="fas fa-angle-double-left"></i> Kembali </button>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>