<form novalidate [formGroup]="form">
  <div class="m-grid__item m-grid__item--fluid m-wrapper ">
    <div class="m-content">
      <div class="m-portlet m-portlet--bordered-semi m-portlet--unair">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <h3 class="m-portlet__head-text">
                <a style="color:blue;" routerLink="/app/pentadbiran/kumpulan-list">Senarai Kumpulan</a>
                <i class="fa fa-chevron-right mr-2 ml-2" aria-hidden="true"></i> {{FormTitle}} Kumpulan
              </h3>
            </div>
          </div>
          <div class="m-portlet__head-tools">
          </div>
        </div>
        <div class="m-portlet__body">
          <div class="row">
            <div class="col-sm-12">
              <div class="card mb-3">
                <div class="card-header"><strong>Maklumat Kumpulan</strong></div>
                <div class="card-body">
                  <div class="form-group">
                    <div class="form-item row">
                      <div class="col-sm-6">
                        <label class="col-form-label">Nama Kumpulan <span class="strik m--font-danger"
                          *ngIf="FormType == 'add' || FormType == 'edit'">*</span></label>
                        <input class="form-control" formControlName="kumpulanName" name="kumpulanName" type="text" placeholder="Masukkan nama kumpulan"
                          [attr.disabled]="FormType == 'view' ? true : null">
                        <small class="strik m--font-danger"
                          *ngIf="(FormType == 'add' || FormType == 'edit') && (submitted || f.kumpulanName.touched) && f.kumpulanName.errors && f.kumpulanName.errors.required">
                          Maklumat Nama Kumpulan adalah wajib!
                        </small>
                      </div>
                      <!--<div class="col-sm-6">
                        <label class="col-form-label">Keterangan</label>
                        <input class="form-control" formControlName="keterangan" name="keterangan" type="text" placeholder="Masukkan keterangan">
                      </div>-->
                      <div class="col-sm-6">
                        <label class="col-form-label">Keterangan <span class="strik m--font-danger"
                          *ngIf="FormType == 'add' || FormType == 'edit'">*</span></label>
                        <input class="form-control" formControlName="keterangan" name="keterangan" type="text" placeholder="Masukkan keterangan"
                          [attr.disabled]="FormType == 'view' ? true : null">
                        <small class="strik m--font-danger"
                          *ngIf="(FormType == 'add' || FormType == 'edit') && (submitted || f.keterangan.touched) && f.keterangan.errors && f.keterangan.errors.required">
                          Maklumat keterangan adalah wajib!
                        </small>
                      </div>
                    </div>
                    <div class="form-item row">
                      <!--<div class="col-sm-6">
                        <label class="col-form-label">Jabatan</label>
                        <select class="form-control" [(ngModel)]="jabatanId" formControlName="jabatanId" name="jabatanId">
                          <option value="0">{{ '&#45;&#45;Pilih Jabatan&#45;&#45;'}}</option>
                          <option *ngFor="let item of jabatanList" value="{{item.id}}">{{ item.name }}
                          </option>
                        </select>
                      </div>-->
                      <div class="col-sm-6">
                        <label class="col-form-label">Jabatan <span class="strik m--font-danger"
                          *ngIf="FormType == 'add' || FormType == 'edit'">*</span></label>
                        <select class="form-control" [(ngModel)]="jabatanId" formControlName="jabatanId" name="jabatanId"
                          [attr.disabled]="FormType == 'view' ? true : null" required>
                          <option value="0">{{ '--Pilih jabatan--'}}</option>
                          <option *ngFor="let item of jabatanList" value="{{item.id}}">{{ item.name }}
                          </option>
                        </select>
                        <small class="strik m--font-danger"
                               *ngIf="(FormType == 'add' || FormType == 'edit') && (submitted || f.jabatanId.touched) && f.jabatanId.errors && (f.jabatanId.errors.required || f.jabatanId.errors.min)">
                          Jabatan adalah wajib!
                        </small>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card mb-3">
                <div class="card-header">
                  <div class="align-left mt-2">
                    <strong>Senarai Ahli</strong>
                  </div>
                  <div class="align-right">
                    <button mat-raised-button class="green-button" (click)="addUserGroup()" *ngIf="FormType != 'view'">
                      <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
                      Tambah Ahli
                    </button>
                  </div>
                </div>
                <div class="card-body">
                  <div class="primeng-datatable-container">
                    <p-table #dataTable (onLazyLoad)="getUserGroupList($event); "
                             (selectionChange)="onSelectionChange($event)" [value]="primengTableHelper.records"
                             rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true"
                             [scrollable]="true" ScrollWidth="100%" [responsive]="primengTableHelper.isResponsive"
                             [resizableColumns]="primengTableHelper.resizableColumns">
                      <ng-template pTemplate="header">
                        <tr>
                          <th class="" valign="top" style="width: 5%">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                          </th>
                          <th class="" valign="top" style="width: 30%">
                            {{'Nama Pengguna'}}
                          </th>
                          <th pSortableColumn="ProductName" valign="top" style="width: 50%">
                            {{'Nama Penuh'}}
                            <p-sortIcon field="ProductName"></p-sortIcon>
                          </th>
                          <th valign="top" class="text-right" style="width: 15%">
                            {{'Emel'}}
                          </th>
                        </tr>
                        <tr>
                          <th class="">
                          </th>
                          <th>
                            <input pInputText type="text" style="width: 100%;" class="form-control form-control-small "
                                   (input)="dataTable.filter($event.target.value,' ProductName  ', 'contains');"
                                   placeholder="Search">
                          </th>
                          <th>
                            <input pInputText type="text" style="width: 100%;" class="form-control form-control-small "
                                   (input)="dataTable.filter($event.target.value,' ProductName  ', 'contains');"
                                   placeholder="Search">
                          </th>
                          <th>
                            <!--<input pInputText type="text" style="width: 100%;" class="form-control form-control-small "
                                   (input)="dataTable.filter($event.target.value,' SkuNo  ', 'contains');"
                                   placeholder="Search">-->
                          </th>
                        </tr>
                      </ng-template>
                      <ng-template pTemplate="body" let-record="$implicit" let-rowIndex="rowIndex"
                                   let-columns="columns">
                        <tr [pSelectableRow]="record" [pSelectableRowDisabled]="">
                          <td class="" style="width: 5%" valign="top">
                            <p-tableCheckbox [value]="record"></p-tableCheckbox>
                          </td>
                          <td style="width: 30%" valign="top">
                            <span class="ui-column-title"></span>
                            <a style="color:blue; cursor: pointer;">
                              {{record.userName}}
                            </a>
                          </td>
                          <td style="width: 50%" valign="top">
                            <span class="ui-column-title"></span>
                            <a>
                              {{record.fullName}}
                            </a>
                          </td>
                          <td style="width: 15%" valign="top" class="text-right">
                            <span class="ui-column-title"></span>
                            <a>
                              {{record.email}}
                            </a>
                            <!--<mat-slide-toggle #isEnable
                                              (change)="onChangeIsEnable(record.methodId, isEnable.checked); record.Enable = isEnable.checked ? 1 : 0;"
                                              [checked]="record.Enable == 1 ? true : false">
                            </mat-slide-toggle>-->
                          </td>
                        </tr>
                      </ng-template>
                    </p-table>
                    <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                      {{'NoData'}}
                    </div>
                    <div class="primeng-paging-container" style="position: relative;">
                      <p-paginator rows="{{primengTableHelper.defaultRecordsCountPerPage}}" #paginator
                                   (onPageChange)="getUserGroupList($event)" [totalRecords]="primengTableHelper.totalRecordsCount"
                                   [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                      </p-paginator>
                      <span style="position: absolute; top:3px; right:5px; margin: 5px;">Total records :
                        {{primengTableHelper.totalRecordsCount}}</span>
                    </div>
                    <div>
                      <button style="margin-top: 10px; margin-bottom: 10px;" class="red-button" mat-raised-button
                              (click)="deleteUserGroup()" [disabled]="this.selection.isEmpty()" *ngIf="FormType != 'view'">
                        <mat-icon aria-label="Example icon-button with a heart icon">delete</mat-icon>
                        Delete Selected
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header"><strong>Kebenaran</strong></div>
                <div class="card-body">
                  <div class="card">
                    <div style="color:blue; cursor: pointer;" class="card-header" data-toggle="collapse" data-target="#collapseAnnouncement" aria-expanded="true" aria-controls="collapseAnnouncement" id="announcement">
                      Announcements Management
                    </div>
                    <div id="collapseAnnouncement" class="collapse" aria-labelledby="announcement" data-parent="#accordion">
                      <div class="card-body">
                        <div class="col-form-label">
                          <div *ngFor="let item of PermissionItemList; let i = index">
                            <mat-checkbox formControlName="permissionItem" name="permissionItem" value="{{PermissionItemList[i].id}}">{{ PermissionItemList[i].name }}</mat-checkbox>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card mt-1">
                    <div style="color:blue; cursor: pointer;" class="card-header" data-toggle="collapse" data-target="#collapseAuditTrail" aria-expanded="true" aria-controls="collapseAuditTrail" id="auditTrail">
                      Audit Trail
                    </div>
                    <div id="collapseAuditTrail" class="collapse" aria-labelledby="auditTrail" data-parent="#accordion">
                      <div class="card-body">
                        <div class="col-form-label">
                          <div *ngFor="let item of PermissionItemList; let i = index">
                            <mat-checkbox formControlName="permissionItem" name="permissionItem" value="{{PermissionItemList[i].id}}">{{ PermissionItemList[i].name }}</mat-checkbox>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card mt-1">
                    <div style="color:blue; cursor: pointer;" class="card-header" data-toggle="collapse" data-target="#collapseCompoundDiscount" aria-expanded="true" aria-controls="collapseCompoundDiscount" id="compoundDiscount">
                      Compound Discount
                    </div>
                    <div id="collapseCompoundDiscount" class="collapse" aria-labelledby="compoundDiscount" data-parent="#accordion">
                      <div class="card-body">
                        <div class="col-form-label">
                          <div *ngFor="let item of PermissionItemList; let i = index">
                            <mat-checkbox formControlName="permissionItem" name="permissionItem" value="{{PermissionItemList[i].id}}">{{ PermissionItemList[i].name }}</mat-checkbox>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="text-right mt-4">
                <button mat-raised-button class="red-button mr-2" (click)="resetForm()" *ngIf="FormType != 'view'"><i class="fa fa-retweet"></i> {{'Reset'}} </button>
                <button mat-raised-button class="green-button" (click)="onSave()" *ngIf="FormType != 'view'"><i class="fas fa-save"></i> Simpan </button>&nbsp;
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
