<app-mat-spinner-overlay overlay="true" *ngIf="showSpinner"></app-mat-spinner-overlay>
<div class="m-grid__item m-grid__item--fluid m-wrapper ">
  <div class="m-content">
    <div class="m-portlet m-portlet--bordered-semi m-portlet--unair">
      <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
          <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">
              Laporan Utama {{FromMenu == 'kawasan' ? 'Mengikut Kawasan' : FromMenu == 'undang-undang' ? 'Mengikut Peruntukan Undang - Undang' : ''}}
            </h3>
          </div>
        </div>
      </div>
      <div>
        <div class="m-portlet__body">
          <form novalidate [formGroup]="form">
            <div class="card">
              <div class="card-header"><strong>Carian</strong></div>
              <div id="collapseCarianLaporanUtama" class="collapse show" aria-labelledby="headingCarianLaporanUtama"
                data-parent="#accordion">
                <div class="card-body card-body-padding-top">
                  <div class="col-form-label">
                    <div class="form-group">
                      <div class="form-item row">
                        <div class="col-sm-4">
                          <label class="col-form-label">Kelas Akta <span
                              class="strik m--font-danger">*</span></label>
                          <select class="form-control" [(ngModel)]="OffenceAct" formControlName="OffenceAct"
                            name="OffenceAct"  (change)="resetType()">
                            <option value="0">{{ '--Pilih Jenis--'}}</option>
                            <option *ngFor="let item of OffenceActList" value="{{item.id}}">{{ item.name }}
                            </option>
                          </select>
                          <small class="strik m--font-danger"
                            *ngIf="(submitted || f.OffenceAct.touched) && f.OffenceAct.errors && (f.OffenceAct.errors.required || f.OffenceAct.errors.min)">
                            Jenis Laporan adalah wajib!
                          </small>
                        </div>
                        <div class="col-sm-4">
                          <label class="col-form-label">Tarikh Mula <span class="strik m--font-danger">*</span><span
                              class="help">(Example :
                              31/12/2020)</span></label>
                          <div class="input-group">
                            <input formControlName="StartDate" spellcheck="false" class="form-control" maxlength="10"
                              [matDatepicker]="pickerStartDate" [(ngModel)]="StartDate"
                              placeholder="Masukkan Tarikh Mula">
                            <mat-datepicker-toggle matSuffix [for]="pickerStartDate"></mat-datepicker-toggle>
                            <mat-datepicker #pickerStartDate></mat-datepicker>
                          </div>
                          <small class="strik m--font-danger"
                            *ngIf="(submitted || f.StartDate.touched) && f.StartDate.errors && f.StartDate.errors.required">
                            Maklumat Tarikh Mula adalah wajib!
                          </small>
                          <small class="strik m--font-danger"
                            *ngIf="(submitted || f.StartDate.touched) && f.StartDate.errors && f.StartDate.errors.exceed">
                            Tarikh Akhir tidak melebihi Tarikh Mula
                          </small>
                        </div>
                        <div class="col-sm-4">
                          <label class="col-form-label">Tarikh Akhir <span class="strik m--font-danger">*</span><span
                              class="help">(Example :
                              31/12/2020)</span></label>
                          <div class="input-group">
                            <input formControlName="EndDate" spellcheck="false" class="form-control" maxlength="10"
                              [matDatepicker]="pickerEndDate" [(ngModel)]="EndDate" placeholder="Masukkan Tarikh Akhir">
                            <mat-datepicker-toggle matSuffix [for]="pickerEndDate"></mat-datepicker-toggle>
                            <mat-datepicker #pickerEndDate></mat-datepicker>
                          </div>
                          <small class="strik m--font-danger"
                            *ngIf="(submitted || f.EndDate.touched) && f.EndDate.errors && f.EndDate.errors.required">
                            Maklumat Tarikh Akhir adalah wajib!
                          </small>
                          <small class="strik m--font-danger"
                            *ngIf="(submitted || f.EndDate.touched) && f.EndDate.errors && f.EndDate.errors.exceed">
                            Tarikh Akhir tidak melebihi Tarikh Mula
                          </small>
                        </div>
                        <div class="col-sm-4" *ngIf="FromMenu == 'kawasan'" >
                          <label class="col-form-label">Kawasan <span
                              class="strik m--font-danger">*</span></label>
                          <select class="form-control" [(ngModel)]="Kawasan" formControlName="Kawasan"
                            name="Kawasan" (change)="onChangeKawasan()" >
                            <option value="0">{{ '--Pilih Kawasan--'}}</option>
                            <option *ngFor="let item of KawasanList" value="{{item.id}}">{{ item.name }}
                            </option>
                          </select>
                          <small class="strik m--font-danger"
                            *ngIf="(submitted || f.Kawasan.touched) && f.Kawasan.errors && (f.Kawasan.errors.required || f.Kawasan.errors.min)">
                            Kawasan adalah wajib!
                          </small>
                        </div>
                        <div class="col-sm-4"  *ngIf="FromMenu == 'kawasan'">
                          <label class="col-form-label">Jalan <span
                              class="strik m--font-danger">*</span></label>
                          <select class="form-control" [(ngModel)]="Jalan" formControlName="Jalan"
                            name="Jalan" >
                            <option value="0">{{ '--Pilih Jalan--'}}</option>
                            <option *ngFor="let item of JalanList" value="{{item.id}}">{{ item.name }}
                            </option>
                          </select>
                          <small class="strik m--font-danger"
                            *ngIf="(submitted || f.Jalan.touched) && f.Jalan.errors && (f.Jalan.errors.required || f.Jalan.errors.min)">
                            Jalan adalah wajib!
                          </small>
                        </div>
                        <div class="col-sm-4" *ngIf="FromMenu == 'undang-undang'" >
                          <label class="col-form-label">Akta Induk <span
                              class="strik m--font-danger">*</span></label>
                          <select class="form-control" [(ngModel)]="AktaInduk" formControlName="AktaInduk"
                            name="AktaInduk" (change)="onChangeAktaInduk()" >
                            <option value="0">{{ '--Pilih Akta Induk--'}}</option>
                            <option *ngFor="let item of AktaIndukList" value="{{item.id}}">{{ item.name }}
                            </option>
                          </select>
                          <small class="strik m--font-danger"
                            *ngIf="(submitted || f.AktaInduk.touched) && f.AktaInduk.errors && (f.AktaInduk.errors.required || f.AktaInduk.errors.min)">
                            Akta Induk adalah wajib!
                          </small>
                        </div>
                        <div class="col-sm-4"  *ngIf="FromMenu == 'undang-undang'">
                          <label class="col-form-label">Peruntukan Undang-Undang <span
                              class="strik m--font-danger">*</span></label>
                          <select class="form-control" [(ngModel)]="Peruntukan" formControlName="Peruntukan"
                            name="Peruntukan" >
                            <option value="0">{{ '--Pilih Peruntukan Undang-Undang--'}}</option>
                            <option *ngFor="let item of PeruntukanList" value="{{item.id}}">{{ item.name }}
                            </option>
                          </select>
                          <small class="strik m--font-danger"
                            *ngIf="(submitted || f.Peruntukan.touched) && f.Peruntukan.errors && (f.Peruntukan.errors.required || f.Peruntukan.errors.min)">
                            Peruntukan Undang-Undang adalah wajib!
                          </small>
                        </div>                        
                      </div>
                    </div>
                  </div>
                  <div class="text-right mt-4">
                    <button mat-raised-button class="red-button mr-2" (click)="reset()"><i class="fa fa-retweet"></i>
                      {{'Reset'}} </button>
                    <button mat-raised-button class="blue-button" (click)="search()"><i class="fa fa-search"></i>
                      {{'Cari'}} </button>
                  </div>
                </div>
              </div>
            </div>
          </form>
          <div class="m-grid__item m-grid__item--fluid m-wrapper mt-2 {{showList ? '' : 'hide-list'}}">
            <div class="primeng-datatable-container" id="printContent" #printContent>
              <table width="100%" style="margin-top: 0.5em;">
                <tbody class="removeBorder">
                  <tr>
                    <td width="100%" class="titlesheet removeBorder" style="text-align: center;">
                      <div style="width: 50%; margin: auto;text-align: center;" [innerHTML]="ReportTitle"></div>
                    </td>
                  </tr>
                </tbody>
              </table>
              <table width="100%" class="tableBor" style="margin-top: 0.5em;">
                <thead>
                  <tr>
                    <th rowspan="2" class="headerNestedFormList" style="text-align: left;">
                      {{
                        FromMenu == 'undang-undang' ? 'Jenis Kesalahan' : 
                        OffenceAct == 3 ? 'Jenis' : 'Peruntukan Undang - Undang'                      
                      }}</th>
                    <th colspan="3" class="headerNestedFormList" style="text-align: center;">Notis Kompaun</th>
                    <th rowspan="2" class="headerNestedFormList" style="text-align: center;">Baki Notis Kesalahan</th>
                    <th colspan="3" class="headerNestedFormList" style="text-align: center;">Peringatan Tawaran Kompaun
                    </th>
                    <th rowspan="2" class="headerNestedFormList" style="text-align: center;">Jumlah Kes Batal</th>
                    <th rowspan="2" class="headerNestedFormList" style="text-align: center;">Jumlah Kes Untuk Tindakan
                      Mahkamah</th>
                    <th colspan="2" class="headerNestedFormList" style="text-align: center;">Selesai Luar Mahkamah</th>
                    <th rowspan="2" class="headerNestedFormList" style="text-align: center;">Jumlah Kes Bayar
                      {{'(< 14)'}}</th>
                    <th rowspan="2" class="headerNestedFormList" style="text-align: center;">Jumlah Kes Bayar
                      {{'(> 14)'}}</th>
                    <th rowspan="2" class="headerNestedFormList" style="text-align: center;">Jumlah Kes Bayar</th>
                    <th rowspan="2" class="headerNestedFormList" style="text-align: right;">Jumlah Kutipan Kompaun (RM)
                    </th>
                  </tr>
                  <tr>
                    <th colspan="1" class="headerNestedFormList" style="text-align: center;">Dikeluarkan</th>
                    <th colspan="1" class="headerNestedFormList" style="text-align: center;">Bil. Bayar</th>
                    <th colspan="1" class="headerNestedFormList" style="text-align: right;">Kutipan (RM)</th>
                    <th colspan="1" class="headerNestedFormList" style="text-align: center;">Dikeluarkan</th>
                    <th colspan="1" class="headerNestedFormList" style="text-align: center;">Bil. Bayar</th>
                    <th colspan="1" class="headerNestedFormList" style="text-align: right;">Kutipan (RM)</th>
                    <th colspan="1" class="headerNestedFormList" style="text-align: center;">Bil. Kes</th>
                    <th colspan="1" class="headerNestedFormList" style="text-align: center;">Denda</th>
                  </tr>
                </thead>
                <tfoot>
                  <tr>
                    <td colspan="10" class="pbr">
                    </td>
                  </tr>
                </tfoot>
                <tbody *ngIf="ReportList.length == 0">
                  <tr class="headerNestedFormList pbr">
                    <td class="headerNestedFormList pbr " style="text-align: left;" colspan="20">
                      Tiada Rekod
                    </td>
                  </tr>
                </tbody>
                <tbody *ngIf="ReportList.length > 0">
                  <tr *ngFor="let record of ReportList; index as i" class="headerNestedFormList pbr">
                    <td class="headerNestedFormList pbr {{record.Col1 == 'JUMLAH' ? 'footerDT' : ''}}"
                      style="text-align: left;">
                      {{record.Col1}}</td>
                    <td class="headerNestedFormList pbr {{record.Col1 == 'JUMLAH' ? 'footerDT' : ''}}"
                      style="text-align: center;">{{record.Col2}}
                    </td>
                    <td class="headerNestedFormList pbr {{record.Col1 == 'JUMLAH' ? 'footerDT' : ''}}"
                      style="text-align: center;">{{record.Col3}}
                    </td>
                    <td class="headerNestedFormList pbr {{record.Col1 == 'JUMLAH' ? 'footerDT' : ''}}"
                      style="text-align: right;">
                      {{record.Col4}}</td>
                    <td class="headerNestedFormList pbr {{record.Col1 == 'JUMLAH' ? 'footerDT' : ''}}"
                      style="text-align: center;">{{record.Col5}}
                    </td>
                    <td class="headerNestedFormList pbr {{record.Col1 == 'JUMLAH' ? 'footerDT' : ''}}"
                      style="text-align: center;">{{record.Col6}}
                    </td>
                    <td class="headerNestedFormList pbr {{record.Col1 == 'JUMLAH' ? 'footerDT' : ''}}"
                      style="text-align: center;">{{record.Col7}}
                    </td>
                    <td class="headerNestedFormList pbr {{record.Col1 == 'JUMLAH' ? 'footerDT' : ''}}"
                      style="text-align: right;">
                      {{record.Col8}}</td>
                    <td class="headerNestedFormList pbr {{record.Col1 == 'JUMLAH' ? 'footerDT' : ''}}"
                      style="text-align: center;">{{record.Col9}}
                    </td>
                    <td class="headerNestedFormList pbr {{record.Col1 == 'JUMLAH' ? 'footerDT' : ''}}"
                      style="text-align: center;">{{record.Col10}}
                    </td>
                    <td class="headerNestedFormList pbr {{record.Col1 == 'JUMLAH' ? 'footerDT' : ''}}"
                      style="text-align: center;">{{record.Col11}}
                    </td>
                    <td class="headerNestedFormList pbr {{record.Col1 == 'JUMLAH' ? 'footerDT' : ''}}"
                      style="text-align: center;">{{record.Col12}}
                    </td>
                    <td class="headerNestedFormList pbr {{record.Col1 == 'JUMLAH' ? 'footerDT' : ''}}"
                      style="text-align: center;">{{record.Col13}}
                    </td>
                    <td class="headerNestedFormList pbr {{record.Col1 == 'JUMLAH' ? 'footerDT' : ''}}"
                      style="text-align: center;">{{record.Col14}}
                    </td>
                    <td class="headerNestedFormList pbr {{record.Col1 == 'JUMLAH' ? 'footerDT' : ''}}"
                      style="text-align: center;">{{record.Col15}}
                    </td>
                    <td class="headerNestedFormList pbr {{record.Col1 == 'JUMLAH' ? 'footerDT' : ''}}"
                      style="text-align: right;">
                      {{record.Col16}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- <div class="mt-2" style="text-align: left">
              <button mat-raised-button class="purple-button mr-2" [useExistingCss]="true" printSectionId="printContent"
                title="Cetak Laporan" ngxPrint><i class="fa fa-print  "></i>Cetak</button>
              <button mat-raised-button class="purple-button" (click)="printTableExcel()"
                title="Export Laporan Kepada Excel">
                <i class="fa fa-table " aria-hidden="true"></i>Export
              </button>
            </div> -->
            <div class="btn-group" dropdown  style="text-align: left">
              <!-- <button mat-raised-button #printButton  id="printButton" class="purple-button mr-2" [useExistingCss]="true" printSectionId="printContent"
                title="Cetak Laporan" ngxPrint><i class="fa fa-print  "></i>Cetak</button> -->
              <button mat-raised-button id="button-print" dropdownToggle class="purple-button mr-2"
                aria-controls="dropdown-print">
                <mat-icon aria-label="Example icon-button with a heart icon">print</mat-icon>
                Cetak
              </button>
              <ul id="dropdown-print" *dropdownMenu class="dropdown-menu mt-1 ml-2" role="menu"
                aria-labelledby="button-print" style="cursor: pointer;">
                <li role="menuitem"><a class="dropdown-item" >
                  <button  [useExistingCss]="true" printSectionId="printContent" class="TitleBtn"
                title="Cetak Laporan" ngxPrint>
                Cetak Laporan
                </button>
                </a></li>
                <li role="menuitem"><a class="dropdown-item" (click)="printTableExcel()">Eksport Ke Excel</a></li>
              </ul>
            </div> 
          </div>
        </div>
      </div>
    </div>
  </div>
</div>