<app-mat-spinner-overlay overlay="true" *ngIf="showSpinner"></app-mat-spinner-overlay>
<div class="m-grid__item m-grid__item--fluid m-wrapper ">
  <div class="m-content">
    <div class="m-portlet m-portlet--bordered-semi m-portlet--unair">
      <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
          <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">
              Carian Handheld
            </h3>
          </div>
        </div>
      </div>
      <div class="m-portlet__body">
        <form novalidate [formGroup]="form">
          <div class="card">
            <div class="card-header2" id="headingCarianHandheld">
              <h6 class="mb-0">
                <button class="btn btn-link {{reVisit ? '' : 'collapsed'}} " data-toggle="collapse" data-target="#collapseCarianHandheld"
                  aria-expanded=" {{reVisit ? 'true' : 'false'}} " aria-controls="collapseCarianHandheld">
                  <i class="fa" aria-hidden="true"></i>
                  Carian
                </button>
              </h6>
            </div>
            <div id="collapseCarianHandheld" class="collapse {{reVisit ? 'show' : ''}}" aria-labelledby="headingCarianHandheld" data-parent="#accordion">
              <div class="card-body card-body-padding-top">
                <div class="col-form-label">
                  <div class="form-group">
                    <div class="form-item row">
                      <div class="col-sm-4">
                        <label class="col-form-label">ID Handheld</label>
                        <input class="form-control" formControlName="IdHandheld" name="IdHandheld" type="text"
                          placeholder="ID Handheld">
                      </div>
                      <div class="col-sm-4">
                        <label class="col-form-label">Nama Handheld</label>
                        <input class="form-control" formControlName="Nama" name="Nama" type="text"
                          placeholder="Nama Handheld">
                      </div>
                      <div class="col-sm-4">
                        <label class="col-form-label">No. Siri Handheld</label>
                        <input class="form-control" formControlName="NoSiri" name="NoSiri" type="text"
                          placeholder="No. Siri">
                      </div>                      
                      <div class="col-sm-4">
                        <label class="col-form-label">Status</label>
                        <select class="form-control" [(ngModel)]="Status" formControlName="Status" name="Status">
                          <option value="0">{{ '--Pilih Status--'}}</option>
                          <option *ngFor="let item of statusList" value="{{item.id}}">{{ item.name }}
                          </option>
                        </select>
                      </div>                                          
                    </div>
                  </div>
                </div>
                <div class="text-right mt-4">
                  <button mat-raised-button class="red-button mr-2" (click)="reset()" ><i
                    class="fa fa-retweet"></i> {{'Reset'}} </button>
                  <button mat-raised-button class="blue-button" (click)="search()" ><i
                      class="fa fa-search"></i> {{'Cari'}} </button>
                </div>
              </div>
            </div>
          </div>
        </form>
        <br>
        <div class="m-grid__item m-grid__item--fluid m-wrapper ">
          <div class="primeng-datatable-container">
            <p-table class="" id="dataTable1" #dataTable (onLazyLoad)="getHandheldList($event); "
              (selectionChange)="onSelectionChange($event)" [value]="primengTableHelper.records"
              rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true"
              [scrollable]="true" ScrollWidth="100%" [responsive]="primengTableHelper.isResponsive"
              [resizableColumns]="primengTableHelper.resizableColumns"
              selectionMode="multiple" (onRowSelect)="onRowSelect($event)"
              >
              <ng-template pTemplate="caption">
                <div class="ui-helper-clearfix" style="text-align: right">
                  <button mat-raised-button class="green-button" (click)="handheldDetails(0,'add')">
                    <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
                    Tambah Handheld
                  </button>
                </div>
            </ng-template>
              <ng-template pTemplate="header">
                <tr>
                  <th style="width: 40px " class="text-center stickColumnLeft">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                  </th>
                  <th style="width: 40px " class="text-center">
                    {{'#'}}
                  </th>
                  <th style="width: 100px " pSortableColumn="Jabatan">
                    {{'Jabatan'}}
                    <p-sortIcon field="Jabatan"></p-sortIcon>
                  </th>
                  <th style="width: 100px" pSortableColumn="IdHandheld">
                    {{'ID Handheld'}}
                    <p-sortIcon field="IdHandheld"></p-sortIcon>
                  </th>
                  <th style="width: 120px" pSortableColumn="Nama">
                    {{'Nama'}}
                    <p-sortIcon field="Nama"></p-sortIcon>
                  </th>
                  <th style="width: 100px" pSortableColumn="NoSiri">
                    {{'No. Siri'}}
                    <p-sortIcon field="NoSiri"></p-sortIcon>
                  </th>
                  <th style="width: 100px" pSortableColumn="Status">
                    {{'Status'}}
                    <p-sortIcon field="Status"></p-sortIcon>
                  </th>
                  <th style="width: 100px" pSortableColumn="JenamaHandheld">
                    {{'Jenama'}}
                    <p-sortIcon field="JenamaHandheld"></p-sortIcon>
                  </th>
                  <th style="width: 100px" pSortableColumn="JenamaPrinter">
                    {{'Printer'}}
                    <p-sortIcon field="PrinterMac"></p-sortIcon>
                  </th>
                  <th style="width: 120px" pSortableColumn="PrinterMac">
                    {{'Printer MAC'}}
                    <p-sortIcon field="Status"></p-sortIcon>
                  </th>
                  <th style="width: 100px" pSortableColumn="Versi">
                    {{'Versi'}}
                    <p-sortIcon field="Versi"></p-sortIcon>
                  </th>
                  <th style="width: 100px" class="text-center stickColumnRight">
                    {{'Tindakan'}}
                  </th>
                </tr>                 
              </ng-template>
              <ng-template pTemplate="body" let-record="$implicit" let-rowIndex="rowIndex" let-columns="columns">
                <tr [pSelectableRow]="record" [pSelectableRowDisabled]="">
                  <td style="width: 40px" class="text-center stickColumnLeft">
                    <p-tableCheckbox [value]="record"></p-tableCheckbox>
                  </td>
                  <td style="width: 40px " class="text-center">
                    {{(paginator.getPage() * paginator.rows) + (rowIndex+1)}}
                  </td>
                  <td style="width: 100px ">
                    <span class="ui-column-title"></span>
                    {{record.Jabatan}}
                  </td>
                  <td style="width: 100px ">
                    <span class="ui-column-title"></span>
                    {{record.IdHandheld}}
                  </td>
                  <td style="width: 120px ">
                    <span class="ui-column-title"></span>
                    {{record.Nama}}
                  </td>
                  <td style="width: 100px ">
                    <span class="ui-column-title"></span>
                    {{record.NoSiri}}
                  </td>
                  <td style="width: 100px ">
                    <span class="ui-column-title"></span>
                    {{record.Status}}
                  </td>
                  <td style="width: 100px ">
                    <span class="ui-column-title"></span>
                    {{record.JenamaHandheld}}
                  </td>
                  <td style="width: 100px" >
                    <span class="ui-column-title"></span>
                    {{record.JenamaPrinter}}
                  </td>
                  <td style="width: 120px ">
                    <span class="ui-column-title"></span>
                    {{record.PrinterMac}}
                  </td>
                  <td style="width: 100px ">
                    <span class="ui-column-title"></span>
                    {{record.Versi}}
                  </td>
                  <td style="width: 100px " class="text-center stickColumnRight">
                    <i class="fa fa-eye ml-2" aria-hidden="true" style="cursor: pointer;" title="Papar Maklumat" (click)="handheldDetails(record.Id,'view')"></i>                    
                    <i class="flaticon-edit ml-2" aria-hidden="true" style="cursor: pointer;" title="Kemaskini Maklumat" (click)="handheldDetails(record.Id,'edit')" ></i>
                    <i class="fa fa-map-marker ml-2" aria-hidden="true" style="cursor: pointer;" title="Pergerakan"  (click)="pergerakanList(record.IdHandheld)"></i>
                    <i class="fa fa-retweet ml-2" aria-hidden="true" style="cursor: pointer;" title="Gerak Alat" (click)="handheldDetails(record.Id,'gerak')"></i>
                  </td>
                </tr>
              </ng-template>
            </p-table>
            <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
              {{'NoData'}}
            </div>
            <div class="primeng-paging-container" style="position: relative;">
              <p-paginator rows="{{primengTableHelper.defaultRecordsCountPerPage}}" #paginator
                (onPageChange)="getHandheldList($event)" [totalRecords]="primengTableHelper.totalRecordsCount"
                [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
              </p-paginator>
            </div>
            <div class="text-right">
              <span style=" top:3px; right:5px; margin: 5px;">Total records :
                {{primengTableHelper.totalRecordsCount}}</span>
            </div>
            <div *ngIf="primengTableHelper.totalRecordsCount > 0">
              <button  class="red-button mr-2" mat-raised-button
                (click)="delete()" [disabled]="this.selection.isEmpty()">
                <mat-icon aria-label="Example icon-button with a heart icon">delete</mat-icon>
                Batal Pilihan
              </button>
              <div class="btn-group" dropdown>
                <button mat-raised-button id="button-print" dropdownToggle class="purple-button mr-2"
                  aria-controls="dropdown-print">
                  <mat-icon aria-label="Example icon-button with a heart icon">print</mat-icon>
                  Cetak
                </button>
                <ul id="dropdown-print" *dropdownMenu class="dropdown-menu mt-1 ml-2" role="menu"
                  aria-labelledby="button-print" style="cursor: pointer;">
                  <li role="menuitem"><a class="dropdown-item" (click)="printTablePdf()">Cetak Senarai</a></li>
                  <li role="menuitem"><a class="dropdown-item" (click)="printTableExcel()">Eksport Ke Excel</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>