<app-mat-spinner-overlay overlay="true" *ngIf="showSpinner"></app-mat-spinner-overlay>
<div class="m-grid__item m-grid__item--fluid m-wrapper ">
  <div class="m-content">
    <div class="m-portlet m-portlet--bordered-semi m-portlet--unair">
      <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
          <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">
              Laporan Statistik Tindakan
            </h3>
          </div>
        </div>
      </div>
      <div class="m-portlet__body">
        <form novalidate [formGroup]="form">
          <div class="card">
            <div class="card-header"><strong>Carian</strong></div>
            <div id="collapseCarianLaporanStatistikTindakan" class="collapse show"
              aria-labelledby="headingCarianLaporanStatistikTindakan" data-parent="#accordion">
              <div class="card-body card-body-padding-top">
                <div class="col-form-label">
                  <div class="form-group">
                    <div class="form-item row">
                      <div class="col-sm-4">
                        <label class="col-form-label">Jenis Laporan <span class="strik m--font-danger">*</span></label>
                        <select class="form-control" [(ngModel)]="LaporanStatistikTindakanType"
                          formControlName="LaporanStatistikTindakanType" name="LaporanStatistikTindakanType"
                          (change)="onChangeType()">
                          <option value="0">{{ '--Pilih Jenis--'}}</option>
                          <option *ngFor="let item of laporanStatistikTindakanTypeList" value="{{item.id}}">
                            {{ item.name }}
                          </option>
                        </select>
                        <small class="strik m--font-danger"
                          *ngIf="(submitted || f.LaporanStatistikTindakanType.touched) && f.LaporanStatistikTindakanType.errors && (f.LaporanStatistikTindakanType.errors.required || f.LaporanStatistikTindakanType.errors.min)">
                          Jenis Laporan adalah wajib!
                        </small>
                      </div>
                      <div class="col-sm-4" *ngIf="LaporanStatistikTindakanType == 1">
                        <label class="col-form-label">Bulan / Tahun <span class="strik m--font-danger">*</span><span
                            class="help">(Example :
                            12/2020)</span></label>
                        <div class="input-group">
                          <input #dateInputBulanTahun class="hidden-date-input" [matDatepicker]="datepickerBulanTahun"
                            formControlName="BulanTahun" readonly>
                          <input placeholder="Masukkan Bulan & Tahun" class="form-control"
                            (click)="datepickerBulanTahun.open()" [readonly]="true"
                            [ngModelOptions]="{standalone: true}" [(ngModel)]="DisplayMonthYear">
                          <mat-datepicker-toggle matSuffix [for]="datepickerBulanTahun"></mat-datepicker-toggle>
                          <mat-datepicker #datepickerBulanTahun disabled="false" (closed)="dateInputBulanTahun.blur()"
                            startView="multi-year" (yearSelected)="chosenYearHandler($event)"
                            (monthSelected)="chosenMonthHandler($event, datepickerBulanTahun)"></mat-datepicker>
                        </div>
                        <small class="strik m--font-danger"
                          *ngIf="(submitted || f.BulanTahun.touched) && f.BulanTahun.errors && f.BulanTahun.errors.required">
                          Bulan & Tahun adalah wajib!
                        </small>
                      </div>
                      <div class="col-sm-4"
                        *ngIf="LaporanStatistikTindakanType == 2 || LaporanStatistikTindakanType == 3 || LaporanStatistikTindakanType == 4 || LaporanStatistikTindakanType == 5 || LaporanStatistikTindakanType == 6">
                        <label class="col-form-label">Tahun <span class="strik m--font-danger">*</span><span
                            class="help">(Example :
                            2020)</span></label>
                        <div class="input-group">
                          <input #dateInputTahun class="hidden-date-input" [matDatepicker]="datepickerTahun"
                            formControlName="Tahun" readonly>
                          <input placeholder="Masukkan Tahun" class="form-control" (click)="datepickerTahun.open()"
                            [readonly]="true" [ngModelOptions]="{standalone: true}" [(ngModel)]="DisplayYear">
                          <mat-datepicker-toggle matSuffix [for]="datepickerTahun"></mat-datepicker-toggle>
                          <mat-datepicker #datepickerTahun disabled="false" (closed)="dateInputTahun.blur()"
                            startView="multi-year" (yearSelected)="chosenYearHandler($event)"
                            (yearSelected)="chosenYearHandlerOnly($event, datepickerTahun)"></mat-datepicker>
                        </div>
                        <small class="strik m--font-danger"
                          *ngIf="(submitted || f.Tahun.touched) && f.Tahun.errors && f.Tahun.errors.required">
                          Tahun adalah wajib!
                        </small>
                      </div>
                      <div class="col-sm-4"
                        *ngIf="LaporanStatistikTindakanType == 2 || LaporanStatistikTindakanType == 4 || LaporanStatistikTindakanType == 5 || LaporanStatistikTindakanType == 6">
                        <label class="col-form-label">Tarikh Mula <span class="strik m--font-danger">*</span><span
                            class="help">(Example :
                            31/12/2020)</span></label>
                        <div class="input-group">
                          <input formControlName="TarikhMulaLaporan" spellcheck="false" class="form-control"
                            [min]="minDate" [max]="maxDate" maxlength="10" [matDatepicker]="pickerTarikhMulaLaporan"
                            [(ngModel)]="TarikhMulaLaporan" placeholder="Masukkan Tarikh Mula">
                          <mat-datepicker-toggle matSuffix [for]="pickerTarikhMulaLaporan"></mat-datepicker-toggle>
                          <mat-datepicker #pickerTarikhMulaLaporan></mat-datepicker>
                        </div>
                        <small class="strik m--font-danger"
                          *ngIf="(submitted || f.TarikhMulaLaporan.touched) && f.TarikhMulaLaporan.errors && f.TarikhMulaLaporan.errors.required">
                          Tarikh Mula adalah wajib!
                        </small>
                        <small class="strik m--font-danger"
                          *ngIf="(submitted || f.TarikhMulaLaporan.touched) && f.TarikhMulaLaporan.errors && f.TarikhMulaLaporan.errors.exceed">
                          Tarikh Akhir tidak melebihi Tarikh Mula
                        </small>
                      </div>
                      <div class="col-sm-4"
                        *ngIf="LaporanStatistikTindakanType == 2 || LaporanStatistikTindakanType == 4 || LaporanStatistikTindakanType == 5 || LaporanStatistikTindakanType == 6">
                        <label class="col-form-label">Tarikh Akhir <span class="strik m--font-danger">*</span><span
                            class="help">(Example :
                            31/12/2020)</span></label>
                        <div class="input-group">
                          <input formControlName="TarikhAkhirLaporan" spellcheck="false" class="form-control"
                            [min]="minDate" [max]="maxDate" maxlength="10" [matDatepicker]="pickerTarikhAkhirLaporan"
                            [(ngModel)]="TarikhAkhirLaporan" placeholder="Masukkan Tarikh Akhir">
                          <mat-datepicker-toggle matSuffix [for]="pickerTarikhAkhirLaporan"></mat-datepicker-toggle>
                          <mat-datepicker #pickerTarikhAkhirLaporan></mat-datepicker>
                        </div>
                        <small class="strik m--font-danger"
                          *ngIf="(submitted || f.TarikhAkhirLaporan.touched) && f.TarikhAkhirLaporan.errors && f.TarikhAkhirLaporan.errors.required">
                          Tarikh Akhir adalah wajib!
                        </small>
                        <small class="strik m--font-danger"
                          *ngIf="(submitted || f.TarikhAkhirLaporan.touched) && f.TarikhAkhirLaporan.errors && f.TarikhAkhirLaporan.errors.exceed">
                          Tarikh Akhir tidak melebihi Tarikh Mula
                        </small>
                      </div>
                      <div class="col-sm-4"
                        *ngIf="LaporanStatistikTindakanType == 1 || LaporanStatistikTindakanType == 2 || LaporanStatistikTindakanType == 3">
                        <label class="col-form-label">Bahagian <span class="strik m--font-danger">*</span></label>
                        <select class="form-control" [(ngModel)]="Bahagian" formControlName="Bahagian" name="Bahagian">
                          <option value="0">{{ '--Pilih Bahagian--'}}</option>
                          <option *ngFor="let item of BahagianList" value="{{item.id}}">{{ item.name }}
                          </option>
                        </select>
                        <small class="strik m--font-danger"
                          *ngIf="(submitted || f.Bahagian.touched) && f.Bahagian.errors && (f.Bahagian.errors.required || f.Bahagian.errors.min)">
                          Bahagian adalah wajib!
                        </small>
                      </div>
                      <div class="col-sm-4"
                        *ngIf="LaporanStatistikTindakanType == 1 || LaporanStatistikTindakanType == 2 || LaporanStatistikTindakanType == 3">
                        <label class="col-form-label">No. Gaji <span class="strik m--font-danger">*</span></label>
                        <input class="form-control" formControlName="NoGaji" name="NoGaji" type="text"
                          placeholder="No. Gaji">
                        <small class="strik m--font-danger"
                          *ngIf="(submitted || f.NoGaji.touched) && f.NoGaji.errors && f.NoGaji.errors.required">
                          No. Gaji adalah wajib!
                        </small>
                      </div>
                      <div class="col-sm-4"
                        *ngIf="LaporanStatistikTindakanType == 4 || LaporanStatistikTindakanType == 5 || LaporanStatistikTindakanType == 6">
                        <label class="col-form-label">Parlimen <span class="strik m--font-danger">*</span></label>
                        <select class="form-control" [(ngModel)]="Parlimen" formControlName="Parlimen" name="Parlimen"
                          (change)="onChangeParlimen()">
                          <option value="0">{{ '--Pilih Parlimen--'}}</option>
                          <option *ngFor="let item of ParlimenList" value="{{item.id}}">{{ item.name }}
                          </option>
                        </select>
                        <small class="strik m--font-danger"
                          *ngIf="(submitted || f.Parlimen.touched) && f.Parlimen.errors && (f.Parlimen.errors.required || f.Parlimen.errors.min)">
                          Parlimen adalah wajib!
                        </small>
                      </div>
                      <div class="col-sm-4"
                        *ngIf="LaporanStatistikTindakanType == 5 || LaporanStatistikTindakanType == 6">
                        <label class="col-form-label">Kawasan <span class="strik m--font-danger">*</span></label>
                        <select class="form-control" [(ngModel)]="Kawasan" formControlName="Kawasan" name="Kawasan"
                          (change)="onChangeKawasan()">
                          <option value="0">{{ '--Pilih Kawasan--'}}</option>
                          <option *ngFor="let item of KawasanList" value="{{item.id}}">{{ item.name }}
                          </option>
                        </select>
                        <small class="strik m--font-danger"
                          *ngIf="(submitted || f.Kawasan.touched) && f.Kawasan.errors && (f.Kawasan.errors.required || f.Kawasan.errors.min)">
                          Kawasan adalah wajib!
                        </small>
                      </div>
                      <div class="col-sm-4" *ngIf="LaporanStatistikTindakanType == 6">
                        <label class="col-form-label">Lokasi Tindakan <span
                            class="strik m--font-danger">*</span></label>
                        <select class="form-control" [(ngModel)]="Lokasi" formControlName="Lokasi" name="Lokasi">
                          <option value="0">{{ '--Pilih Lokasi--'}}</option>
                          <option *ngFor="let item of LokasiList" value="{{item.id}}">{{ item.name }}
                          </option>
                        </select>
                        <small class="strik m--font-danger"
                          *ngIf="(submitted || f.Lokasi.touched) && f.Lokasi.errors && (f.Lokasi.errors.required || f.Lokasi.errors.min)">
                          Lokasi adalah wajib!
                        </small>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="text-right mt-4">
                  <button mat-raised-button class="red-button mr-2" (click)="reset()"><i class="fa fa-retweet"></i>
                    {{'Reset'}} </button>
                  <button mat-raised-button class="blue-button" (click)="search()"><i class="fa fa-search"></i>
                    {{'Cari'}} </button>
                </div>
              </div>
            </div>
          </div>
        </form>

        <div
          class="m-grid__item m-grid__item--fluid m-wrapper mt-3 {{(LaporanStatistikTindakanType == 1 || LaporanStatistikTindakanType == 2  || LaporanStatistikTindakanType == 3) && showList ? '' : 'hide-list'}}">
          <table width="100%">
            <tr>
              <td width="100%" style="text-align: center; border: none;">
                <div style="width: 50%; margin: auto;text-align: center; font-weight: 500;" [innerHTML]="ReportTitle">
                </div>
              </td>
            </tr>
          </table>
          <div class="primeng-datatable-container mt-2">
            <p-table class="" id="dataTable1" #dataTable (onLazyLoad)="getHandheldOfficerList($event); "
              (selectionChange)="onSelectionChange($event)" [value]="primengTableHelper.records"
              rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true"
              [scrollable]="true" ScrollWidth="100%" [responsive]="primengTableHelper.isResponsive"
              [resizableColumns]="primengTableHelper.resizableColumns">
              <ng-template pTemplate="header">
                <tr>
                  <th style="width: 40px " class="text-center">
                    {{'No.'}}
                  </th>
                  <th style="width: 60px;">
                    {{'No. Gaji'}}
                  </th>
                  <th style="width: 60px ">
                    {{'Pangkat'}}
                  </th>
                  <th style="width: 60px">
                    {{'No. Anggota'}}
                  </th>
                  <th style="width: 60px" class="stickColumnLeft">
                    {{'Nama'}}
                  </th>
                  <th style="width: 100px">
                    {{'Zon / Bahagian / Unit'}}
                  </th>
                  <th style="width: 30px" *ngFor="let record2 of PeriodTypeList; index as i2" class="text-center">
                    {{record2.name}}
                  </th>
                  <th style="width: 60px" class="text-center stickColumnRight">
                    {{'Jumlah'}}
                  </th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-record="$implicit" let-rowIndex="rowIndex" let-columns="columns">
                <tr [pSelectableRow]="record">
                  <td style="width: 40px " class="text-center">
                    {{(paginator.getPage() * paginator.rows) + (rowIndex+1)}}
                  </td>
                  <td style="width: 60px ">
                    <span class="ui-column-title"></span>
                    {{record.NoGaji}}
                  </td>
                  <td style="width: 60px ">
                    <span class="ui-column-title"></span>
                    {{record.Pangkat}}
                  </td>
                  <td style="width: 60px ">
                    <span class="ui-column-title"></span>
                    {{record.NoBadan}}
                  </td>
                  <td style="width: 60px " class="stickColumnLeft">
                    <span class="ui-column-title"></span>
                    {{record.Nama}}
                  </td>
                  <td style="width: 100px ">
                    <span class="ui-column-title"></span>
                    {{record.Bahagian}}
                  </td>
                  <td style="width: 30px " *ngFor="let record2 of PeriodTypeList; index as i2" class="text-center">
                    {{CounterByPeriod[record.Id + '_' + record2.id]}}
                  </td>
                  <td style="width: 60px " class="text-center stickColumnRight">
                    {{record.Jumlah}}
                  </td>
                </tr>
              </ng-template>
            </p-table>
            <div class="primeng-no-data"
              *ngIf="primengTableHelper.totalRecordsCount == 0 && LaporanStatistikTindakanType != 0">
              {{'Tiada Rekod'}}
            </div>
            <div class="primeng-paging-container {{primengTableHelper.totalRecordsCount == 0 ? 'hide-list' : ''}}"
              style="position: relative;">
              <p-paginator rows="{{primengTableHelper.defaultRecordsCountPerPage}}" #paginator
                (onPageChange)="getHandheldOfficerList($event)" [totalRecords]="primengTableHelper.totalRecordsCount"
                [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
              </p-paginator>
            </div>
            <div class="text-right" *ngIf="LaporanStatistikTindakanType != 0">
              <span style=" top:3px; right:5px; margin: 5px;">Jumlah Rekod :
                {{primengTableHelper.totalRecordsCount}}</span>
            </div>
            <div class="btn-group" dropdown *ngIf="LaporanStatistikTindakanType != 0">
              <button mat-raised-button id="button-print" dropdownToggle class="purple-button mr-2"
                aria-controls="dropdown-print">
                <mat-icon aria-label="Example icon-button with a heart icon">print</mat-icon>
                Cetak
              </button>
              <ul id="dropdown-print" *dropdownMenu class="dropdown-menu mt-1 ml-2" role="menu"
                aria-labelledby="button-print" style="cursor: pointer;">
                <li role="menuitem"><a class="dropdown-item" (click)="printTablePdf()">Cetak Laporan</a></li>
                <li role="menuitem"><a class="dropdown-item" (click)="printTableExcel()">Eksport Ke Excel</a></li>
              </ul>
            </div>
          </div>
        </div>


        <div
          class="m-grid__item m-grid__item--fluid m-wrapper mt-3 {{(LaporanStatistikTindakanType == 4 || LaporanStatistikTindakanType == 5  || LaporanStatistikTindakanType == 6) && showList ? '' : 'hide-list'}}">
          <div class="primeng-datatable-container" id="printContent" #printContent>
            <table width="100%" style="margin-top: 0.5em;">
              <tbody class="removeBorder">
                <tr>
                  <td width="100%" class="titlesheet removeBorder" style="text-align: center; border: none">
                    <div style="width: 50%; margin: auto;text-align: center; font-weight: 500;" [innerHTML]="ReportTitle"></div>
                  </td>
                </tr>
              </tbody>
            </table>
            <table width="100%" class="tableBor" style="margin-top: 0.5em;">
              <thead>
                <tr>
                  <th class="headerNestedFormList" style="text-align: left;">
                    {{
                      LaporanStatistikTindakanType == '4' ? 'Parlimen' : 
                      LaporanStatistikTindakanType == '5' ? 'Kawasan' : 
                      LaporanStatistikTindakanType == '6' ? 'Lokasi Tindakan' : ''                      
                    }}</th>

                  <th class="headerNestedFormList" style="text-align: center;">Jan</th>
                  <th class="headerNestedFormList" style="text-align: center;">Feb</th>
                  <th class="headerNestedFormList" style="text-align: center;">Mac</th>
                  <th class="headerNestedFormList" style="text-align: center;">Apr</th>
                  <th class="headerNestedFormList" style="text-align: center;">Mei</th>
                  <th class="headerNestedFormList" style="text-align: center;">Jun</th>
                  <th class="headerNestedFormList" style="text-align: center;">Jul</th>
                  <th class="headerNestedFormList" style="text-align: center;">Ogo</th>
                  <th class="headerNestedFormList" style="text-align: center;">Sep</th>
                  <th class="headerNestedFormList" style="text-align: center;">Okt</th>
                  <th class="headerNestedFormList" style="text-align: center;">Nov</th>
                  <th class="headerNestedFormList" style="text-align: center;">Dis</th>
                  <th class="headerNestedFormList" style="text-align: center;">Jumlah</th>
                </tr>
              </thead>
              <tbody *ngIf="ReportList.length == 0">
                <tr class=" pbr">
                  <td class="headerNestedFormList pbr " style="text-align: left;" colspan="20">
                    Tiada Rekod
                  </td>
                </tr>
              </tbody>
              <tbody *ngIf="ReportList.length > 0">
                <tr *ngFor="let record of ReportList; index as i" class=" pbr">
                  <td class="headerNestedFormList pbr {{record.JenisLaporanCounter == 'JUMLAH' ? 'footerDT' : ''}}"
                    style="text-align: left;">
                    {{record.Tempat}}</td>
                  <td class="headerNestedFormList pbr {{record.JenisLaporanCounter == 'JUMLAH' ? 'footerDT' : ''}}"
                    style="text-align: center;">{{record.s1}}
                  </td>
                  <td class="headerNestedFormList pbr {{record.JenisLaporanCounter == 'JUMLAH' ? 'footerDT' : ''}}"
                    style="text-align: center;">{{record.s2}}
                  </td>
                  <td class="headerNestedFormList pbr {{record.JenisLaporanCounter == 'JUMLAH' ? 'footerDT' : ''}}"
                    style="text-align: center;">{{record.s3}}
                  </td>
                  <td class="headerNestedFormList pbr {{record.JenisLaporanCounter == 'JUMLAH' ? 'footerDT' : ''}}"
                    style="text-align: center;">{{record.s4}}
                  </td>
                  <td class="headerNestedFormList pbr {{record.JenisLaporanCounter == 'JUMLAH' ? 'footerDT' : ''}}"
                    style="text-align: center;">{{record.s5}}
                  </td>
                  <td class="headerNestedFormList pbr {{record.JenisLaporanCounter == 'JUMLAH' ? 'footerDT' : ''}}"
                    style="text-align: center;">{{record.s6}}
                  </td>
                  <td class="headerNestedFormList pbr {{record.JenisLaporanCounter == 'JUMLAH' ? 'footerDT' : ''}}"
                    style="text-align: center;">{{record.s7}}
                  </td>
                  <td class="headerNestedFormList pbr {{record.JenisLaporanCounter == 'JUMLAH' ? 'footerDT' : ''}}"
                    style="text-align: center;">{{record.s8}}
                  </td>
                  <td class="headerNestedFormList pbr {{record.JenisLaporanCounter == 'JUMLAH' ? 'footerDT' : ''}}"
                    style="text-align: center;">{{record.s9}}
                  </td>
                  <td class="headerNestedFormList pbr {{record.JenisLaporanCounter == 'JUMLAH' ? 'footerDT' : ''}}"
                    style="text-align: center;">{{record.s10}}
                  </td>
                  <td class="headerNestedFormList pbr {{record.JenisLaporanCounter == 'JUMLAH' ? 'footerDT' : ''}}"
                    style="text-align: center;">{{record.s11}}
                  </td>
                  <td class="headerNestedFormList pbr {{record.JenisLaporanCounter == 'JUMLAH' ? 'footerDT' : ''}}"
                    style="text-align: center;">{{record.s12}}
                  </td>
                  <td class="headerNestedFormList pbr {{record.JenisLaporanCounter == 'JUMLAH' ? 'footerDT' : ''}}"
                    style="text-align: center;">{{record.Jumlah}}
                  </td>
                </tr>
              </tbody>
            </table>

            <div class="scrollTable pbr" *ngFor="let record3 of AktaList; index as i">
              <table width="100%" class="tableBor " style="margin-top: 1em;" >
                <thead>
                  <tr>                 
                    <th class="headerNestedFormList" style="text-align: left;"  [attr.colspan]="ListSeksyenByAkta[record3.id+'_'].length  + 1" >{{record3.name}}</th>
                  </tr>
                  <tr>
                    <th class="headerNestedFormList" style="text-align: center;"
                      *ngFor="let record4 of ListSeksyenByAkta[record3.id+'_']; index as i4">{{record4.code}}</th>
                    <th class="headerNestedFormList" style="text-align: center;">Jumlah</th>
                  </tr>
                </thead>
                <tbody *ngIf="ReportList.length > 0">
                  <tr *ngFor="let record of ReportList; index as i" class="pbr"  >
                    <td class="headerNestedFormList pbr {{record.JenisLaporanCounter == 'JUMLAH' ? 'footerDT' : ''}}"
                      style="text-align: center;" *ngFor="let record4 of ListSeksyenByAkta[record3.id+'_']; index as i4" >
                      {{record4.count}}</td>
                    <td class="headerNestedFormList pbr {{record.JenisLaporanCounter == 'JUMLAH' ? 'footerDT' : ''}} "
                      style="text-align: center;">
                      {{JumlahSeksyenByAkta[record3.id+'_']}}</td>
                  </tr>
                </tbody>
              </table>
            </div>


          </div>
          <div class="btn-group mt-2" dropdown style="text-align: left">
            <button mat-raised-button id="button-print" dropdownToggle class="purple-button mr-2"
              aria-controls="dropdown-print">
              <mat-icon aria-label="Example icon-button with a heart icon">print</mat-icon>
              Cetak
            </button>
            <ul id="dropdown-print" *dropdownMenu class="dropdown-menu mt-1 ml-2" role="menu"
              aria-labelledby="button-print" style="cursor: pointer;">
              <li role="menuitem"><a class="dropdown-item">
                  <button [useExistingCss]="true" printSectionId="printContent" class="TitleBtn" title="Cetak Laporan"
                    ngxPrint>
                    Cetak Laporan
                  </button>
                </a></li>
              <li role="menuitem"><a class="dropdown-item" (click)="printTableExcelCustom()">Eksport Ke Excel</a></li>
            </ul>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>