<div class="modal-header" style="padding: 0px !important;">
  <h4 class="modal-title">Confirmation!</h4>
  <button type="button" class="close" aria-label="Close" (click)="onNoClick()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  {{ message }}
</div>
<div class="modal-footer">
  <button mat-button  class="green-button" [mat-dialog-close]="true" cdkFocusInitial>Yes</button>
  <button mat-button class="red-button"  (click)="onNoClick()">No</button>

</div>

<!-- <div mat-dialog-content>
          {{message}}
         </div>
         <div mat-dialog-actions>
           <button mat-button (click)="onNoClick()">No</button>
           <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Yes</button>
         </div> -->