/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html * {
    font-family: "Poppins";
}

*:focus {
    outline: 0;
}

.cdk-overlay-container {
    z-index: 999999999;
}

@media (min-width: 1024px) {
    .m-header--fixed-mobile .m-topbar {
        margin-top: 0;
        top: -61px !important;
    }
}

a,
a:hover,
a:visited {
    text-decoration: none;
}

.m-aside-left--fixed .m-body {
    -webkit-transition: width 0.2s ease;
    transition: width 0.2s ease;
}

.m-aside-left.m-aside-left--skin-dark {
    background-color: #5779bd;
    /* margin-top: 2px; */
    /* background-image: linear-gradient(to right, #000000 , #aa4fff); */
}

.m-aside-left {
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
    width: 255px;
    vertical-align: 100%;
}

.m-aside-menu .m-menu__nav {
    list-style: none;
}

.red-button {
    background-color: #cc0001 !important;
    color: #ffffff !important;
}

.red-button[disabled] {
    background-color: rgba(0, 0, 0, 0.12) !important;
    color: rgba(0, 0, 0, 0.26) !important;
}

.red-color {
    color: #cc0001;
}

.pointer-type {
    cursor: pointer;
}

.green-color {
    color: #11ad26;
}

.white-color {
    color: white;
}


.gray-color {
    color: #626262;
}

.grey2-color {
    color: rgb(158, 158, 158);
}

.green-button {
    background-color: #4abb7b;
    color: #fffffd;
}


.m-aside-menu .m-menu__nav>.m-menu__item>.m-menu__link {
    padding: 9px 30px;
    /*
    background: #0389af;
    color: #fefffd;*/
    /*
    background: #3cbbc4;
    color: #fefffd;
    */
    /* background: #725ebe; */

    background: #2f145e;
    /* background-image: linear-gradient(to right, #3b3b3b,  #0c038e ); */

    color: #fefffd;
    /* opacity: 0.7; */
    /* border-radius: 5px; */
    margin-top: 2px;
    /* -webkit-box-shadow: 1px 1px 1px 1px #3226e6;
    box-shadow: 1px 1px 1px 1px #3226e6; */
    /* transition: all .3s ease-in-out; */
}


.m-menu__submenu {
    /* display: none !important; */
    /* animation: fadeIn ease 2s;
    -webkit-animation: fadeIn ease 2s;
    -moz-animation: fadeIn ease 2s;
    -o-animation: fadeIn ease 2s;
    -ms-animation: fadeIn ease 2s; */
}






.m-aside-left {
  overflow-y: auto !important;
  box-shadow: 0px 0px 10px rgb(0, 0, 0);
}


.m-header {
    /* overflow-y: auto !important; */
    /* box-shadow: 0px 0px 15px rgb(19, 118, 136); */
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
  }

.m-aside-menu .m-menu__nav>.m-menu__item>.m-menu__submenu .m-menu__subnav>.m-menu__item>.m-menu__link {
    padding: 0 30px;
    padding-left: 45px;
    color: #000000;
    border-bottom: 1px dotted rgb(123, 169, 248);
    
    /* box-shadow: 0px 0px 5px rgb(24, 58, 211); */
}

.m-aside-menu .m-menu__nav>.m-menu__item>.m-menu__submenu .m-menu__subnav>.m-menu__item>.m-menu__link>.active {
    padding: 0 30px;
    padding-left: 45px;
    color: #ffffff;
    border-bottom: 1px dotted rgb(123, 169, 248);
    
    /* box-shadow: 0px 0px 5px rgb(24, 58, 211); */
}

.m-aside-menu .m-menu__nav .m-menu__item>.m-menu__heading:hover,
.m-aside-menu .m-menu__nav .m-menu__item>.m-menu__link:hover {   
    cursor: pointer;
    background: #d000ff;
    color: #ffffff;
    margin-right: -2px;
    transform: scale(1.1);
}

.coomingSoonFont{
    color: rgb(47, 13, 126);
}

.not-active {
    pointer-events: none;
    cursor: default;
    text-decoration: none;
    /* color: black;  */
}

.m-aside-menu .m-menu__nav .m-menu__item>.active {
    /* text-decoration: none; */
    cursor: pointer;
    background: #7803f5;
    /* background-image: linear-gradient(to right, #e281d5, #b16bda); */
    color: #fcfcfc !important;
    /* margin-right: -2px; */
    /* transform: scale(1.1); */
    /* box-shadow: 0px 0px 5px rgb(131, 188, 214); */
}

.m-portlet.m-portlet--unair
{
    /* -webkit-box-shadow: 0 1px 15px 1px rgba(69,65,78,.08); */
    box-shadow:  0 0 20px rgb(225, 214, 250);

}


.m-widget_content {
    /* background-color: rgb(255, 213, 213) !important; */
    /* box-shadow: 2px 2px 2px 2px rgb(199, 91, 226) !important; */
    border-radius: 5px !important;
    box-shadow: 0 0 10px rgb(179, 80, 179) !important;
    background-image: linear-gradient(to right, #feffff, #daeefa);
    /* background-color: #fff; */
    /* transition: all 0.3s ease-out; */
    /* -webkit-animation: randomBg 1s infinite;
     animation: randomBg 1s infinite; */
}


@keyframes  randomBg {
    /* 15% { background-color: red; }
    30% { background-color: yellow; }
    45% { background-color: green; }
    60% { background-color: blue; }
    75% { background-color: white; }   */
    15% { background-image: linear-gradient(to right, #feffff, #c0e3f8); }
    30% { background-image: linear-gradient(to right, #feffff, #98d5f8); }
    45% { background-image: linear-gradient(to right, #feffff, #7dcfff); }
    60% { background-image: linear-gradient(to right, #feffff, #41b7fc); }
    75% { background-image: linear-gradient(to right, #feffff, #069ff8); }
}



.modalCropped-content
{
    border-radius: 4px;
    box-shadow: 0px 0px 10px rgb(79, 12, 204);
    /* background-image: linear-gradient(to right, #d7eeec, #ede0f5); */
}

/* .form-control {
    padding: .05rem 0.35rem !important;
} */

  .form-control:focus {
    box-shadow: 0 0 10px rgb(219, 117, 250) !important;
    /* padding: 3px 0px 3px 3px !important;
    margin: 5px 1px 3px 0px !important; */
    /* border: 1px solid rgb(99, 96, 245) !important; */
  }



  .form-control:hover {
    box-shadow: 0 0 10px rgb(163, 186, 255) !important;
    /* padding: 3px 0px 3px 3px !important;
    margin: 5px 1px 3px 0px !important; */
    /* border: 1px solid rgb(99, 96, 245) !important; */
  }

  .grid-inner:focus {
    /*box-shadow: 0 0 10px rgb(219, 117, 250) !important;*/
    /* padding: 3px 0px 3px 3px !important;
    margin: 5px 1px 3px 0px !important; */
    /*border: 1px solid rgb(99, 96, 245) !important;*/
    background-color: #ececec !important;

  }

  .grid-outer:hover {
    box-shadow: 0 0 10px rgb(219, 117, 250) !important;
    /* padding: 3px 0px 3px 3px !important;
    margin: 5px 1px 3px 0px !important; */
    border: 1px solid rgb(99, 96, 245) !important;
  }

  .th-inner-grid {
    background-color: #fafafa !important;
  }



  body .ui-table .ui-table-caption, body .ui-table .ui-table-summary {
    /* background-color: #7B95A3; */
    /*background-image: linear-gradient(to right, #2e70ad, #73899e);*/
    /* background-image: linear-gradient(to right, #562ead, #9273c5); */
    background-image: linear-gradient(to right, rgb(187, 187, 250), rgb(238, 238, 251));
    background-color: rgb(187, 187, 250); 
    border-radius: 4px 4px 0px 0px;
    color: #ffffff;
    /* border: 1px solid #7B95A3; */
    border: 0px solid rgb(187, 187, 250);
    padding: 0.571em 1em;
    text-align: center;
 }

 /* .ng-star-inserted input {
    border: 1px solid rgb(99, 96, 245) !important;
    border-radius: 4px;
    padding: 3px 0px 3px 3px !important;
    margin: 5px 1px 3px 0px !important;
 }

 .ng-star-inserted select {
    border: 1px solid rgb(99, 96, 245) !important;
    border-radius: 4px;
    padding: 3px 0px 3px 3px !important;
    margin: 5px 1px 3px 0px !important;
 } */

/* th {
    cursor: pointer;
    background-color: rgb(230, 245, 253) !important;
} */



.mat-dialog-container, .modal-content {
    /* display: block;
    padding: 24px;
    border-radius: 4px;
    box-sizing: border-box;
    overflow: auto;
    outline: 0;
    width: 100%;
    height: 100%;
    min-height: inherit;
    max-height: inherit; */

    /* box-shadow: 2px 2px 2px 2px rgb(194, 195, 243); */

    /* background-image: linear-gradient(to right, #d7eeec, #ede0f5);*/
    box-shadow: 0px 0px 10px rgb(2, 2, 2);
}

.m-portlet.m-portlet--creative {
    box-shadow: 0px 0px 10px rgb(195, 165, 250);
}

.m-portlet.m-portlet--bordered-semi .m-portlet__body {
    padding-top: .5rem;
    padding-bottom: 2rem;
}

.modal-header {
    /* display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1rem; */
    border-bottom: 1px solid #cbdefa !important;
    /* border-top-left-radius: .3rem;
    border-top-right-radius: .3rem;*/
}

/* .form-group  {
    border: 1px rgb(215, 231, 255) solid !important;
    border-radius: 4px !important;
} */

/* .form-group-label {

    top: -15px !important;
    border-radius: 4px;
    padding: 0 10px  !important;
    background-color: rgb(197, 233, 247) !important;
} */

.ql-toolbar {
    background-color: rgb(234, 248, 253) !important;
}
.m-portlet {
    /* -webkit-box-shadow: 0 1px 15px 1px rgba(69,65,78,.08);
    box-shadow: 0 1px 15px 1px rgba(69,65,78,.08); */
    /* background-color: #fff; */
    /* background-image: linear-gradient(to right, #d7eeec, #ede0f5); */
    border-radius: 5px;
}



.m-aside-menu .m-menu__nav>.m-menu__item>.m-menu__submenu .m-menu__subnav>.m-menu__item>.m-menu__link:hover {
    /* padding: 0 30px;
    padding-left: 45px;
    color: #535353;
    transform: scale(1.1);
    background-image: linear-gradient(to right, #75eeab, #ffffff); */

    cursor: pointer;
    background: #d000ff;
    color: #ffffff;
    margin-right: -2px;
    transform: scale(1.1);

}

body .ui-chkbox .ui-chkbox-box {
    background-color: transparent;
}

body .ui-chkbox .ui-chkbox-box.ui-state-active {
    border-color: #34a3d5;
    background-color: #34a3d5;
    color: #ffffff;
}

body .ui-paginator {
    background-color: #ffffff;
    border: 0px solid #dadada;
    padding: 0;
}

body .ui-table .ui-table-tbody>tr:nth-child(odd),
body .ui-table .ui-table-tbody>tr:nth-child(even) {
    background-color: #fff;
}

body .ui-table .ui-table-tbody>tr.ui-state-highlight {
    background-color: #c7edf9;
    color: #385048;
}

body .ui-table .ui-sortable-column:focus {
    /* outline: 0 none;
    outline-offset: 0; */
    -webkit-box-shadow: none;
	-moz-box-shadow: none;
    box-shadow: none;
  
}

body .ui-table .ui-table-tbody>tr>td {
    border-left: 1px solid #e0e0e0 ;
    border-right: 1px solid #e0e0e0 ;
    border-top: 1px solid #e0e0e0 ;
    border-bottom: 1px solid #e0e0e0 ;

}

body .ui-table .ui-table-thead>tr>th {
    cursor: pointer;
    background-color: rgb(230, 245, 253);
    /* background-color: rgb(235, 230, 253) !important; */

}

.mat-header-row {
    /* cursor: pointer; */
    background-color: rgb(230, 245, 253) !important;

}



body .single-line-cells .ui-table .ui-table-tbody>tr td:not(:first-child),
body .single-line-cells .ui-table .ui-table-tbody>tr th:not(:first-child) {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cdk-global-scrollblock {
    overflow-y: auto !important;
}


/*
@media (min-width: 900px) {
  .mat-dialog-content .mat-tab-body {
    overflow-y: auto;
    max-height: calc(100vh - 179px);
  }
} */

.mat-dialog-content .mat-tab-body {
    overflow-y: auto;
    max-height: calc(100vh - 179px);
}

.mat-dialog-content  {
    /* border-bottom: 1px solid #c6edff; */
}

.m-portlet .m-portlet__body {
    padding: 0rem 2.2rem;
    margin-bottom: -60px;
}

@media (min-width: 1025px) {
    .m-dropdown.m-dropdown--align-center.m-dropdown--large .m-dropdown__wrapper {
        width: 380px;
        margin-left: -271px;
    }
}


/* [class*=" flaticon-"]:before, [class^=flaticon-]:before {
  font-family: Flaticon;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  color: #fff;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
} */

.mat-calendar {
    background-image: linear-gradient(to bottom, #d5fcfc, #ffffff);
}

/* .mat-calendar-header {
    background-image: linear-gradient(to bottom, #c6f2ff, #c6f2ff);
} */


.mat-calendar-table-header th {
    /* background-image: linear-gradient(to bottom, #6873a3, #6873a3) !important; */
    color: rgb(110, 7, 206);
}

.mat-calendar-body-label {
    color: rgb(110, 7, 206);
}

.mat-tab-label-active
{
    border-radius: 4px 4px 0px 0px;

    background-image: linear-gradient(to right, #d0e6ff , #ffffff);
    /* border: 0px !important;
    box-shadow: 0px 0px 5px rgb(221, 204, 253);
    */
}

.m-brand.m-brand--skin-dark {
    /* background: #0389af; */
     background-image: linear-gradient(to right, #4520ac , #4520ac);
}

.m-dropdown.m-dropdown--arrow .m-dropdown__arrow,
.m-dropdown.m-dropdown--arrow.m-dropdown--up .m-dropdown__arrow {
    position: absolute;
    line-height: 0;
    display: inline-block;
    overflow: hidden;
    height: 11px;
    width: 40px;
    position: relative;
    left: 50%;
    margin-left: 61px;
    top: 0;
    position: absolute;
}


/* Media Query for Award and certification field top margin */

@media (min-width: 768px) {
    .col-md-10 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 83.33333%;
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
        margin-top: 30px;
    }
}


/* Media Query for Award and certification field end here */


/* this code is for hide scroll button which is shown in dashboard as well all screen  */


/* .m-scroll-top--shown .m-scroll-top {
  display: none;
} */

.m-widget_content:hover {
    background-color: rgb(251, 251, 251);
    cursor: pointer;
}


/* My profile ( branch + coporate + Award) buttons */

.m--align-right {
    text-align: right;
    margin-bottom: 31px;
}


/* Dashboard Scroll down button */

.m-scroll-top--shown .m-scroll-top {
    display: none;
}

@media (max-width: 600px) {
    .m-scroll-top--shown .m-scroll-top {
        display: block;
    }
    .small,
    small {
        font-size: 80%;
        font-weight: 400;
        margin-right: 1px !important;
    }
    .vertical-group {
        flex-direction: column;
    }
    .form-item:not(.row) {
        width: 100%;
    }
    .form-item {
        align-items: flex-start !important;
    }
    .form-group .form-item validation-error {
        width: 100%;
        left: 0px !important;
        bottom: -17px !important;
    }
    .form-group .form-item textarea,
    .form-group .form-item input,
    .form-group .form-item mat-select {
        width: 100% !important;
        margin-right: 0 !important;
        margin-top: 2px !important;
    }
    .MOQLabel {
        margin-left: 0px !important;
    }
    .UOMLabel {
        margin-left: 0px !important;
        margin-top: 0px !important;
    }
    .PUlabel {
        margin-left: 0px !important;
    }
}


/* Horizontal Scroll bar remove */

.mat-tab-body-content {
    height: 100% !important;
    overflow-y: auto !important;
    overflow-x: hidden !important;
}

.swal2-container .swal2-shown {
    z-index: 10000000000 !important;
}

.swal2-container{
    z-index: 10000000000 !important;
}

.mat-select {
    border: 1px solid #ebedf2;
    padding: 7px;
}

.vertical-group[_ngcontent-c24] {
    display: grid;
    align-items: center;
    justify-content: flex-start;
    margin-left: 27px;
    margin-top: 17px;
    width: 100%;
}


/* #mat-select-6{
  margin-right: -5px;
} */


/* setting Dialog Boxes  */

/* .cdk-overlay-pane {
    width: 80vw;
}

.mat-datepicker-popup {
    width: 100% !important;
} */

.cdk-overlay-pane {
    width: 80vw;
}

.mat-datepicker-popup {
    width: auto !important;
   /* max-width: 100% !important;  ;
   max-width: 100% !important;; */
}

/* .mat-datepicker-popup {
    width: 100% !important;
}  */

.small,
small {
    font-size: 80%;
    font-weight: 400;
    /* margin-right: 141px; */
}

.sidebar-faq {
    position: fixed;
    bottom: 10px;
    left: 25px;
    color: white;
    padding: 0;
    list-style: none;
}

mat-dialog-container {
    max-height: 100vh !important;
}

.m-portlet__head-icon.back {
    border: 1px solid #dcd2d2;
    height: 35px;
    padding: 4px !important;
    margin: 9px;
    margin-left: -13px;
    cursor: pointer;
}

.m-portlet__head-icon.back:hover {
    background-color: #f9f9f9;
}




.help {
    margin-left: 0.3em;
    font-size: 12px;
    color: rgba(87,87,87,0.55);
}

.scrollTable {
    overflow: auto;
}

.form-control-small {
    /* display: block;
    width: 100%; */
    padding: .2rem .3rem !important;
    font-size: x-small !important;
     /*
    line-height: 1.25;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    -webkit-transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out; */
}

.table-bordered td, .table-bordered th {
    border: 1px solid #eeeeee !important;
}

.blue-button {
  background-color: #7986cb !important;
  color: #ffffff !important;
}

.pink-button {
    background-color: #c764c2 !important;
    color: #ffffff !important;
  }
  


  #uploadButton,  #cropButton  {
    position: relative;
    color: white;
    width: 140px;
    padding: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: 1px solid;
    text-align: center;
    background-color: #007ad9;
    cursor: pointer;
  }

  #cancelUploadButton {
    position: relative;
    color: white;
    width: 100px;
    padding: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: 1px solid;
    text-align: center;
    background-color: red;
    cursor: pointer;
  }


  .checkedStar {
    color: rgb(59, 194, 243);
  }

  .defaultStar {
    color: rgb(228, 227, 227);
  }

  .login-bg {
    background-image: url(./assets/app/media/img/bg/bg-1.jpg);
    background-repeat: no-repeat !important;
    background-size: cover !important;
  }

  
.blink {
    -webkit-animation: blink 2.0s linear infinite;
    -moz-animation: blink 2.0s linear infinite;
    -ms-animation: blink 2.0s linear infinite;
    -o-animation: blink 2.0s linear infinite;
    animation: blink 2.0s linear infinite;
}

.logo_bd {
    border-radius: 5px;
    /* box-shadow: 0px 0px 5px 5px rgb(255, 255, 255); */
}


.mat-raised-button {
    
    line-height: 30px !important;
    min-width: 100px !important;
}
  

.purple-button {
    background-color: #8b17c1;
    color: #fffffd;
}


.pink-button {
    background-color: #df67d9;
    color: #fffffd;
}

.hide-list {
    display: none;
}


.col-form-label {
    padding-top: calc(.55rem + 1px);
    padding-bottom: calc(.35rem + 1px);
    margin-bottom: 0;
    font-size: small;
    line-height: 1.25;
}

.form-control {
    display: block;
    width: 100%;
    /* padding: .85rem 1.15rem; */
    padding: .65rem 1rem; 
    font-size: 1rem;
    line-height: 1.25;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    -webkit-transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
}

select.form-control:not([size]):not([multiple]) {
    height: calc(2.75rem);
}

.input-group>.form-control {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
    height: calc(2.75rem);
}

.ng-star-inserted >th {
    vertical-align: text-top;
    border-left: 1px solid #e0e0e0 !important;
    border-right: 1px solid #e0e0e0  !important;
    border-top: 1px solid #e0e0e0  !important;
    border-bottom: 1px solid #e0e0e0  !important;
  }
  
  .ng-star-inserted >td {
    vertical-align: text-top;
  }
  

  .stickColumnLeft {
    position:sticky;
    left:0;
    z-index:1;
  }
  
  .stickColumnRight {
    position:sticky;
    right:0;
    z-index:1;
  }
  
  

  .col-set {
    /* position: relative;
    width: 100%; */
    min-height: 1px;
    padding-right: 0px !important;
    padding-left: 0px !important;
  }


  .dropdown-menu>.dropdown-item, .dropdown-menu>li>a {
    display: block;
    padding: .4rem 1.2rem;
}
  

.dropdown-item-disable {
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #a7b0b8 !important;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    cursor: none !important;
}

.vartical-radio-group {
    display: flex; flex-direction: column;
    /* display: inline-grid; */ 
    /* display: grid; */
    margin: 15px 0;
  }
  

  .close-button{
    float: right;
    top:-24px;
    right:-24px;
  }

 
  /*
  table {
    table-layout: fixed;
    width:100%;
  }
  td:first-child, th:first-child {
    position:sticky;
    left:0;
    z-index:1;
  }
  td:last-child, th:last-child {
    position:sticky;
    right:0;
    z-index:1;
  }
  thead tr th {
    position:sticky;
    top:0;
  }
  th:first-child, th:last-child {
    z-index:2;
  }
  */

