

// .right-corner {
//   display: flex;
//   align-content: center;
//   justify-content: flex-end;
// }

// .form-group {
//   .form-item {
//     > label {
//       min-width: 100px !important;
//     }
//   }
// }



#uploadButton {
  position: relative;
  /* font-family: calibri; */
  color: white;
  width: 140px;
  /* min-width: 150px;
  max-width: 300px; */
  padding: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border: 1px solid;
  text-align: center;
  background-color: #007ad9;
  cursor: pointer;
}

#cancelUploadButton {
  position: relative;
  /* font-family: calibri; */
  color: white;
  width: 100px;
  /* min-width: 150px;
  max-width: 300px; */
  padding: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border: 1px solid;
  text-align: center;
  background-color: red;
  cursor: pointer;
}

.modalCropped {
//display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 9999999999999; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modalCropped-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.emailGrey {
  background-color: #f4f5f8;
}


// .form-group .form-item > label {
//   min-width: 100px !important;
// }

.right-corner {
  display: flex;
  align-content: center;
  justify-content: flex-end;
}

// .form-group {
//   .form-item {
//     > label {
//       min-width: 100px !important;
//     }
//   }
// }


.form-group {
  position: relative;
  padding: 12px 10px;
  // border: 1px gray solid;
  margin-bottom: 20px;
  min-width: 75px;
  >.form-group-label {
      position: absolute;
      top: -8px;
      left: 8px;
      padding: 0 3px;
      background-color: white;
  }
  .form-item {
      position: relative;
      display: flex;
      align-items: center;
      margin-bottom: 15px;
      min-height: 25px;
      validation-error {
          padding-left: 15px;
      }
      >label {
          min-width: 175px;
          font-size: 13px;
          margin-bottom: 0;
      }
      &.required>label::after {
          content: "*";
          margin-left: 2px;
          color: red;
          font-weight: bold;
      }
      input,
      textarea {
          display: block;
          flex: 1;
          min-width: 20px;
      }
      input.ng-invalid.ng-touched,
      textarea.ng-invalid.ng-touched,
      .ng-invalid>input.ng-touched .ng-invalid>textarea.ng-touched {
          border: 1px solid #c85578 !important;
      }
  }
}
