<app-mat-spinner-overlay overlay="true" *ngIf="showSpinner"></app-mat-spinner-overlay>
<form novalidate [formGroup]="form">
  <div class="m-portlet__body">
    <div class="row ">
      <div class="col-sm-12">
        <div class="card mb-3">
          <div class="card-header"><strong>Profile</strong></div>
          <div class="card-body">
            <div class="form-group">
              <div class="form-item row">
                <div class="col-sm-3">
                  <label class="col-form-label">Profile Picture</label>
                </div>
                <div class="col-sm-9">
                  <img [src]="ImageUrl" height="140" width="140" *ngIf="ImageUrl">
                  <span id="displayFile" style="display: none;" class=" mr-1"></span>
                  <span style="vertical-align: top;" *ngIf="Attachment != '' ||  ImageUrl != ''"
                    (click)="cancelUpload()">
                    <i class="fa fa-times-circle ml-2" aria-hidden="true" style="cursor:pointer;"
                      title="Remove Photo"></i>
                  </span>
                  <img alt="" height="140" width="140" *ngIf="ImageUrl == ''"
                    src="https://toolakufiles.blob.core.windows.net/mytenantimage/noimage.jpg">
                </div>
                <div class="col-sm-3 col-form-label">
                </div>
                <div class="col-md-9">
                  <div class="">
                    <div id="uploadButton" class="mt-1" onClick="document.getElementById('Attachment').click(); "><i
                        class="fa fa-upload mr-1" aria-hidden="true"></i>Upload</div>
                    <div style='width: 0px; display:none;'>
                      <input type="file" #inputFile class="form-control" [(ngModel)]="Attachment"
                        [ngModelOptions]="{standalone: true}" id="Attachment" name="Attachment"
                        (change)="onFileSelect($event)" accept="image/*">
                    </div>
                    <div class="row modalCropped" *ngIf="imageChangedEvent">
                      <div class="modalCropped-content">
                        <h5>Crop Image</h5>
                        <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true"
                          [aspectRatio]="4 / 4" [resizeToWidth]="256" format="png" (imageCropped)="imageCropped($event)"
                          (imageLoaded)="imageLoaded()" (cropperReady)="cropperReady()"
                          (loadImageFailed)="loadImageFailed()"></image-cropper>
                        <button mat-raised-button (click)="closeCropped()" style="float: right;">
                          <mat-icon>crop</mat-icon>
                          Crop
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-item row">
                <label class="col-sm-3 col-form-label">Full Name
                  <span class="strik m--font-danger">*</span>
                </label>
                <div class="col-sm-9">
                  <input formControlName="Fullname" name="Fullname" spellcheck="false" class="form-control"
                    maxlength="250" placeholder="Full Name">
                </div>
                <validation-error [control]="form.get('Fullname')"></validation-error>
              </div>
              <div class="form-item row">
                <label class="col-sm-3 col-form-label">Email
                </label>
                <div class="col-sm-9">
                  <input type="email" formControlName="Email" name="Email" spellcheck="false"
                    class="form-control emailGrey" maxlength="250" placeholder="Email" disabled>
                </div>
                <validation-error [control]="form.get('Email')"></validation-error>
              </div>
              <div class="form-item row">
                <label class="col-sm-3 col-form-label">Phone No.
                </label>
                <div class="col-sm-9">
                  <input formControlName="PhoneNo" name="PhoneNo" spellcheck="false" class="form-control"
                    maxlength="250" placeholder="Phone No.">
                </div>
                <validation-error [control]="form.get('PhoneNo')"></validation-error>
              </div>
              <div class="row modalCropped" *ngIf="imageChangedEvent">
                <div class="modalCropped-content">
                  <h5>Crop Image</h5>
                  <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true"
                    [aspectRatio]="4 / 4" [resizeToWidth]="256" format="png" (imageCropped)="imageCropped($event)"
                    (imageLoaded)="imageLoaded()" (cropperReady)="cropperReady()" (loadImageFailed)="loadImageFailed()">
                  </image-cropper>
                  <button mat-raised-button (click)="closeCropped()" style="float: right;">
                    <mat-icon>crop</mat-icon>
                    Crop
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="right-corner pb-3">
          <button mat-raised-button class="green-button" (click)="save()" [disabled]="!isValid()" cdkFocusInitial
            style="margin-right: 7px;"><i class="fas fa-save"></i>Save</button>
          <button *ngIf="!profilePopup" mat-raised-button class="red-button" (click)="cancel()"><i
              class="far fa-times-circle"></i>Cancel</button>
          <button *ngIf="profilePopup" mat-raised-button class="red-button" (click)="onClose()"><i
              class="far fa-times-circle"></i>Close</button>
        </div>
      </div>
    </div>
  </div>
</form>







