<app-mat-spinner-overlay overlay="true" *ngIf="showSpinner"></app-mat-spinner-overlay>
<form novalidate [formGroup]="form">
  <div class="m-grid__item m-grid__item--fluid m-wrapper ">
    <div class="m-content">
      <div class="m-portlet m-portlet--bordered-semi m-portlet--unair">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <h3 class="m-portlet__head-text">
                <a style="color:blue;" routerLink="/app/handheld/senarai-pengumuman-handheld">Carian Pengumuman</a>
                <i class="fa fa-chevron-right mr-2 ml-2" aria-hidden="true"></i>
                {{FormTitle}}
                Pengumuman Handheld
              </h3>
            </div>
          </div>
        </div>
        <div id="content">
          <div class="m-portlet__body">
            <div class="row">
              <div class="col-sm-12">
                <div class="card mb-3">
                  <div class="card-header"><strong>Maklumat Pengumuman</strong></div>
                  <div class="card-body">
                    <div class="form-group">
                      <div class="form-item row">
                        <div class="col-sm-6">
                          <label class="col-form-label">Jabatan
                            <!-- <span class="strik m--font-danger" *ngIf="FormType != 'view'">*</span> -->
                          </label>
                          <select class="form-control" [(ngModel)]="Jabatan" formControlName="Jabatan" name="Jabatan"
                            [attr.disabled]="true">
                            <option value="0">{{ '--Pilih Jabatan--'}}</option>
                            <option *ngFor="let item of jabatanList" value="{{item.id}}">{{ item.name }}
                            </option>
                          </select>
                          <!-- <small class="strik m--font-danger"
                            *ngIf="(FormType != 'view') && (submitted || f.Jabatan.touched) && f.Jabatan.errors && (f.Jabatan.errors.required || f.Jabatan.errors.min)">
                            Jabatan adalah wajib!
                          </small> -->
                        </div>
                        <div class="col-sm-6">
                          <label class="col-form-label">Tarikh Mula<span class="help">(Contoh:
                              31/12/2020)</span></label>
                          <div class="input-group">
                            <input formControlName="TarikhMula" spellcheck="false" class="form-control" maxlength="10"
                              [matDatepicker]="pickerTarikhMula" [(ngModel)]="TarikhMula"
                              placeholder="Masukkan tarikh mula" disabled="{{FormType == 'view' ? true : false}}">
                            <mat-datepicker-toggle matSuffix [for]="pickerTarikhMula"></mat-datepicker-toggle>
                            <mat-datepicker #pickerTarikhMula></mat-datepicker>
                          </div>
                          <small class="strik m--font-danger"
                            *ngIf="(FormType != 'view') && (submitted || f.TarikhMula.touched) && f.TarikhMula.errors && f.TarikhMula.errors.required">
                            Tarikh Mula adalah wajib!
                          </small>
                          <small class="strik m--font-danger"
                            *ngIf="(FormType != 'view') && (submitted || f.TarikhMula.touched) && f.TarikhMula.errors && f.TarikhMula.errors.exceed">
                            Tarikh Akhir tidak melebihi Tarikh Mula!
                          </small>
                        </div>
                        <div class="col-sm-6">
                          <label class="col-form-label">Tarikh Akhir<span class="help">(Contoh:
                              31/12/2020)</span></label>
                          <div class="input-group">
                            <input formControlName="TarikhAkhir" spellcheck="false" class="form-control" maxlength="10"
                              [matDatepicker]="pickerTarikhAkhir" [(ngModel)]="TarikhAkhir"
                              placeholder="Masukkan tarikh akhir"  disabled="{{FormType == 'view' ? true : false}}">
                            <mat-datepicker-toggle matSuffix [for]="pickerTarikhAkhir"></mat-datepicker-toggle>
                            <mat-datepicker #pickerTarikhAkhir></mat-datepicker>
                          </div>
                          <small class="strik m--font-danger"
                            *ngIf="(FormType != 'view') && (submitted || f.TarikhAkhir.touched) && f.TarikhAkhir.errors && f.TarikhAkhir.errors.required">
                            Tarikh Akhir adalah wajib!
                          </small>
                          <small class="strik m--font-danger"
                            *ngIf="(FormType != 'view') && (submitted || f.TarikhAkhir.touched) && f.TarikhAkhir.errors && f.TarikhAkhir.errors.exceed">
                            Tarikh Akhir tidak melebihi Tarikh Mula!
                          </small>
                        </div>
                        <div class="col-sm-6">
                          <label class="col-form-label">Mesej <span class="strik m--font-danger"
                              *ngIf="FormType != 'view'">*</span></label>
                          <textarea class="form-control" maxlength="500" formControlName="Mesej" name="Mesej" rows="5"
                            style="resize: none;" placeholder="Mesej"
                            [attr.disabled]="FormType == 'view' ? true : null"></textarea>
                          <small class="strik m--font-danger"
                            *ngIf="(FormType != 'view') && (submitted || f.Mesej.touched) && f.Mesej.errors && f.Mesej.errors.required">
                            Maklumat Mesej adalah wajib!
                          </small>
                        </div>
                        <div class="col-sm-6" *ngIf="FormType == 'view'">
                          <label class="col-form-label">Dicipta Pada</label>
                          <input class="form-control" formControlName="TarikhCipta" name="TarikhCipta" type="text"
                            placeholder="" [attr.disabled]="FormType == 'view' ? true : null">
                        </div>
                        <div class="col-sm-6" *ngIf="FormType == 'view'">
                          <label class="col-form-label">Dicipta Oleh</label>
                          <input class="form-control" formControlName="DiciptaOleh" name="DiciptaOleh" type="text"
                            placeholder="" [attr.disabled]="FormType == 'view' ? true : null">
                        </div>
                        <div class="col-sm-6" *ngIf="FormType == 'view'">
                          <label class="col-form-label">Dikemaskini Pada</label>
                          <input class="form-control" formControlName="TarikhKemaskini" name="TarikhKemaskini"
                            type="text" placeholder="" [attr.disabled]="FormType == 'view' ? true : null">
                        </div>
                        <div class="col-sm-6" *ngIf="FormType == 'view'">
                          <label class="col-form-label">Dikemaskini Oleh</label>
                          <input class="form-control" formControlName="DikemaskiniOleh" name="DikemaskiniOleh"
                            type="text" placeholder="" [attr.disabled]="FormType == 'view' ? true : null">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="text-right mt-4">
                  <button mat-raised-button class="red-button mr-2" (click)="resetForm()" *ngIf="FormType != 'view'"><i
                      class="fa fa-retweet"></i>
                    {{'Reset'}} </button>
                  <button mat-raised-button class="green-button  mr-2" (click)="onSave()" cdkFocusInitial
                    *ngIf="FormType != 'view'"><i class="fas fa-save"></i> Simpan </button>
                  <button mat-raised-button class="blue-button mr-2" cdkFocusInitial
                    routerLink="/app/handheld/senarai-pengumuman-handheld"><i class="fas fa-angle-double-left"></i>
                    Kembali
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>