<app-mat-spinner-overlay overlay="true" *ngIf="showSpinner"></app-mat-spinner-overlay>
<div class="m-grid__item m-grid__item--fluid m-wrapper ">
  <div class="m-content">
    <div class="m-portlet m-portlet--bordered-semi m-portlet--unair">
      <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
          <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">
              Laporan Pretasi Individu Penguatkuasa
            </h3>
          </div>
        </div>
      </div>
      <div class="m-portlet__body">
        <form novalidate [formGroup]="form">
          <div class="card">
            <div class="card-header"><strong>Carian</strong></div>
            <div id="collapseCarianLaporanIndividuPenguatkuasa" class="collapse show" aria-labelledby="headingCarianLaporanIndividuPenguatkuasa"
              data-parent="#accordion">
              <div class="card-body card-body-padding-top">
                <div class="col-form-label">
                  <div class="form-group">
                    <div class="form-item row">
                      <!-- <div class="col-sm-4">
                        <label class="col-form-label">Jenis Laporan <span class="strik m--font-danger">*</span></label>
                        <select class="form-control" [(ngModel)]="LaporanIndividuPenguatkuasaType" formControlName="LaporanIndividuPenguatkuasaType"
                          name="LaporanIndividuPenguatkuasaType" (change)="onChangeType()">
                          <option value="0">{{ '--Pilih Jenis--'}}</option>
                          <option *ngFor="let item of laporanIndividuPenguatkuasaTypeList" value="{{item.id}}">{{ item.name }}
                          </option>
                        </select>
                        <small class="strik m--font-danger"
                          *ngIf="(submitted || f.LaporanIndividuPenguatkuasaType.touched) && f.LaporanIndividuPenguatkuasaType.errors && (f.LaporanIndividuPenguatkuasaType.errors.required || f.LaporanIndividuPenguatkuasaType.errors.min)">
                          Jenis Laporan adalah wajib!
                        </small>
                      </div> -->
                      <!-- <div class="col-sm-4" *ngIf="LaporanIndividuPenguatkuasaType == 1">
                        <label class="col-form-label">Bulan / Tahun <span class="strik m--font-danger">*</span><span
                            class="help">(Example :
                            12/2020)</span></label>
                        <div class="input-group">
                          <input #dateInputBulanTahun class="hidden-date-input" [matDatepicker]="datepickerBulanTahun"
                            formControlName="BulanTahun" readonly>
                          <input placeholder="Masukkan Bulan & Tahun" class="form-control"
                            (click)="datepickerBulanTahun.open()" [readonly]="true"
                            [ngModelOptions]="{standalone: true}" [(ngModel)]="DisplayMonthYear">
                          <mat-datepicker-toggle matSuffix [for]="datepickerBulanTahun"></mat-datepicker-toggle>
                          <mat-datepicker #datepickerBulanTahun disabled="false" (closed)="dateInputBulanTahun.blur()"
                            startView="multi-year" (yearSelected)="chosenYearHandler($event)"
                            (monthSelected)="chosenMonthHandler($event, datepickerBulanTahun)"></mat-datepicker>
                        </div>
                        <small class="strik m--font-danger"
                          *ngIf="(submitted || f.BulanTahun.touched) && f.BulanTahun.errors && f.BulanTahun.errors.required">
                          Bulan & Tahun adalah wajib!
                        </small>
                      </div> -->
                      <!-- <div class="col-sm-4" *ngIf="LaporanIndividuPenguatkuasaType == 2">
                        <label class="col-form-label">Tahun <span class="strik m--font-danger">*</span><span
                            class="help">(Example :
                            2020)</span></label>
                        <div class="input-group">
                          <input #dateInputTahun class="hidden-date-input" [matDatepicker]="datepickerTahun"
                            formControlName="Tahun" readonly>
                          <input placeholder="Masukkan Tahun" class="form-control" (click)="datepickerTahun.open()"
                            [readonly]="true" [ngModelOptions]="{standalone: true}" [(ngModel)]="DisplayYear">
                          <mat-datepicker-toggle matSuffix [for]="datepickerTahun"></mat-datepicker-toggle>
                          <mat-datepicker #datepickerTahun disabled="false" (closed)="dateInputTahun.blur()"
                            startView="multi-year" (yearSelected)="chosenYearHandler($event)"
                            (yearSelected)="chosenYearHandlerOnly($event, datepickerTahun)"></mat-datepicker>
                        </div>
                        <small class="strik m--font-danger"
                          *ngIf="(submitted || f.Tahun.touched) && f.Tahun.errors && f.Tahun.errors.required">
                          Tahun adalah wajib!
                        </small>
                      </div> -->
                      <div class="col-sm-4" >
                        <label class="col-form-label">Tarikh Mula <span class="strik m--font-danger">*</span><span
                            class="help">(Example :
                            31/12/2020)</span></label>
                        <div class="input-group">
                          <input formControlName="TarikhMulaLaporan" spellcheck="false" class="form-control"
                            maxlength="10" [matDatepicker]="pickerTarikhMulaLaporan" [(ngModel)]="TarikhMulaLaporan"
                            placeholder="Masukkan Tarikh Mula">
                          <mat-datepicker-toggle matSuffix [for]="pickerTarikhMulaLaporan"></mat-datepicker-toggle>
                          <mat-datepicker #pickerTarikhMulaLaporan></mat-datepicker>
                        </div>
                        <small class="strik m--font-danger"
                          *ngIf="(submitted || f.TarikhMulaLaporan.touched) && f.TarikhMulaLaporan.errors && f.TarikhMulaLaporan.errors.required">
                          Tarikh Mula adalah wajib!
                        </small>
                        <small class="strik m--font-danger"
                          *ngIf="(submitted || f.TarikhMulaLaporan.touched) && f.TarikhMulaLaporan.errors && f.TarikhMulaLaporan.errors.exceed">
                          Tarikh Akhir tidak melebihi Tarikh Mula
                        </small>
                      </div>
                      <div class="col-sm-4" >
                        <label class="col-form-label">Tarikh Akhir <span class="strik m--font-danger">*</span><span
                            class="help">(Example :
                            31/12/2020)</span></label>
                        <div class="input-group">
                          <input formControlName="TarikhAkhirLaporan" spellcheck="false" class="form-control"
                            maxlength="10" [matDatepicker]="pickerTarikhAkhirLaporan" [(ngModel)]="TarikhAkhirLaporan"
                            placeholder="Masukkan Tarikh Akhir">
                          <mat-datepicker-toggle matSuffix [for]="pickerTarikhAkhirLaporan"></mat-datepicker-toggle>
                          <mat-datepicker #pickerTarikhAkhirLaporan></mat-datepicker>
                        </div>
                        <small class="strik m--font-danger"
                          *ngIf="(submitted || f.TarikhAkhirLaporan.touched) && f.TarikhAkhirLaporan.errors && f.TarikhAkhirLaporan.errors.required">
                          Tarikh Akhir adalah wajib!
                        </small>
                        <small class="strik m--font-danger"
                          *ngIf="(submitted || f.TarikhAkhirLaporan.touched) && f.TarikhAkhirLaporan.errors && f.TarikhAkhirLaporan.errors.exceed">
                          Tarikh Akhir tidak melebihi Tarikh Mula
                        </small>
                      </div>
                      <div class="col-sm-4" >
                        <label class="col-form-label">Kawasan <span
                            class="strik m--font-danger">*</span></label>
                        <select class="form-control" [(ngModel)]="Kawasan" formControlName="Kawasan"
                          name="Kawasan" (change)="onChangeKawasan()" >
                          <option value="0">{{ '--Pilih Kawasan--'}}</option>
                          <option *ngFor="let item of KawasanList" value="{{item.id}}">{{ item.name }}
                          </option>
                        </select>
                        <small class="strik m--font-danger"
                          *ngIf="(submitted || f.Kawasan.touched) && f.Kawasan.errors && (f.Kawasan.errors.required || f.Kawasan.errors.min)">
                          Kawasan adalah wajib!
                        </small>
                      </div>
                      <div class="col-sm-4" >
                        <label class="col-form-label">Jalan <span
                            class="strik m--font-danger">*</span></label>
                        <select class="form-control" [(ngModel)]="Jalan" formControlName="Jalan"
                          name="Jalan" >
                          <option value="0">{{ '--Pilih Jalan--'}}</option>
                          <option *ngFor="let item of JalanList" value="{{item.id}}">{{ item.name }}
                          </option>
                        </select>
                        <small class="strik m--font-danger"
                          *ngIf="(submitted || f.Jalan.touched) && f.Jalan.errors && (f.Jalan.errors.required || f.Jalan.errors.min)">
                          Jalan adalah wajib!
                        </small>
                      </div>
                      <div class="col-sm-4">
                        <label class="col-form-label">ID Penguatkuasa <span class="strik m--font-danger"
                           >*</span></label>
                        <div class="input-group">
                          <input class="form-control" formControlName="Penguatkuasa" [(ngModel)]="Penguatkuasa" name="Penguatkuasa" type="text"
                            placeholder="ID Penguatkuasa" disabled>
                          <span class="input-group-append">
                            <button class="ml-1" type="button" style="cursor: pointer;" (click)="searchPenguatkuasa()" title="Carian Penguatkuasa">
                              <i class="fa fa-search ml-1"></i>
                            </button>
                          </span>
                        </div>
                        <small class="strik m--font-danger"
                          *ngIf="(submitted || f.Penguatkuasa.touched) && f.Penguatkuasa.errors && f.Penguatkuasa.errors.required">
                          Maklumat ID Penguatkuasa adalah wajib!
                        </small>
                        <input class="form-control" formControlName="IdPenguatkuasa" name="IdPenguatkuasa" [(ngModel)]="IdPenguatkuasa" type="hidden">
                      </div>
                      <!-- <div class="col-sm-4" *ngIf="LaporanIndividuPenguatkuasaType == 3">
                        <label class="col-form-label">No. Gaji <span class="strik m--font-danger">*</span></label>
                        <input class="form-control" formControlName="NoGaji" name="NoGaji" type="text"
                          placeholder="No. Gaji">
                        <small class="strik m--font-danger"
                          *ngIf="(submitted || f.NoGaji.touched) && f.NoGaji.errors && f.NoGaji.errors.required">
                          No. Gaji adalah wajib!
                        </small>
                      </div> -->
                    </div>
                  </div>
                </div>
                <div class="text-right mt-4">
                  <button mat-raised-button class="red-button mr-2" (click)="reset()"><i class="fa fa-retweet"></i>
                    {{'Reset'}} </button>
                  <button mat-raised-button class="blue-button" (click)="search()"><i class="fa fa-search"></i>
                    {{'Cari'}} </button>
                </div>
              </div>
            </div>
          </div>
        </form>     
        <div class="m-grid__item m-grid__item--fluid m-wrapper mt-3 {{showList ? '' : 'hide-list'}}" >
          <div class="primeng-datatable-container">
            <p-table class="" id="dataTable1" #dataTable (onLazyLoad)="getLaporanIndividuPenguatkuasaList($event); "
              (selectionChange)="onSelectionChange($event)" [value]="primengTableHelper.records"
              rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true"
              [scrollable]="true" ScrollWidth="100%" [responsive]="primengTableHelper.isResponsive"
              [resizableColumns]="primengTableHelper.resizableColumns">
              <ng-template pTemplate="header">                
                <tr >
                  <th style="width: 40px " class="text-center">
                    {{'No.'}}
                  </th>
                  <th style="width: 60px;">
                    {{'No. Notis'}}
                  </th>
                  <th style="width: 60px ">
                    {{'Jenis'}}
                  </th>
                  <th style="width: 60px">
                    {{'Tarikh Kesalahan'}}
                  </th>
                  <th style="width: 100px">
                    {{'Nama Pesalah'}}
                  </th>
                  <th style="width: 60px">
                    {{'No. Kenderaan'}}
                  </th>
                  <th style="width: 60px">
                    {{'No. Cukai Jalan'}}
                  </th>
                  <th style="width: 100px">
                    {{'Peruntukan Undang-Undang'}}
                  </th>
                  <th style="width: 60px">
                    {{'Seksyen Kesalahan'}}
                  </th>
                  <th style="width: 60px">
                    {{'Tempat/Lokasi Kesalahan'}}
                  </th>
                  <th style="width: 60px">
                    {{'No. Petak/Tg'}}
                  </th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-record="$implicit" let-rowIndex="rowIndex" let-columns="columns">                
                <tr [pSelectableRow]="record" >
                  <td style="width: 40px " class="text-center">
                    {{(paginator.getPage() * paginator.rows) + (rowIndex+1)}}
                  </td>
                  <td style="width: 60px ">
                    <span class="ui-column-title"></span>
                    {{record.NoNotis}}
                  </td>
                  <td style="width: 60px ">
                    <span class="ui-column-title"></span>
                    {{record.Jenis}}
                  </td>
                  <td style="width: 60px ">
                    <span class="ui-column-title"></span>
                    {{record.TarikhKesalahan}}
                  </td>
                  <td style="width: 100px ">
                    <span class="ui-column-title"></span>
                    {{record.NamaPesalah}}
                  </td>
                  <td style="width: 60px ">
                    <span class="ui-column-title"></span>
                    {{record.NoKenderaan}}
                  </td>
                  <td style="width: 60px ">
                    <span class="ui-column-title"></span>
                    {{record.NoCukaiJalan}}
                  </td>
                  <td style="width: 100px ">
                    <span class="ui-column-title"></span>
                    {{record.Peruntukan}}
                  </td>
                  <td style="width: 60px ">
                    <span class="ui-column-title"></span>
                    {{record.Seksyen}}
                  </td>
                  <td style="width: 60px ">
                    <span class="ui-column-title"></span>
                    {{record.Tempat}}
                  </td>
                  <td style="width: 60px ">
                    <span class="ui-column-title"></span>
                    {{record.NoPetak}}
                  </td>
                </tr>
              </ng-template>
            </p-table>
            <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
              {{'Tiada Rekod'}}
            </div>
            <div class="primeng-paging-container {{primengTableHelper.totalRecordsCount == 0 ? 'hide-list' : ''}}"
              style="position: relative;">
              <p-paginator rows="{{primengTableHelper.defaultRecordsCountPerPage}}" #paginator
                (onPageChange)="getLaporanIndividuPenguatkuasaList($event)" [totalRecords]="primengTableHelper.totalRecordsCount"
                [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
              </p-paginator>
            </div>
            <div class="text-right" >
              <span style=" top:3px; right:5px; margin: 5px;">Jumlah Rekod :
                {{primengTableHelper.totalRecordsCount}}</span>
            </div>
            <div class="btn-group" dropdown >
              <button mat-raised-button id="button-print" dropdownToggle class="purple-button mr-2"
                aria-controls="dropdown-print">
                <mat-icon aria-label="Example icon-button with a heart icon">print</mat-icon>
                Cetak
              </button>
              <ul id="dropdown-print" *dropdownMenu class="dropdown-menu mt-1 ml-2" role="menu"
                aria-labelledby="button-print" style="cursor: pointer;">
                <li role="menuitem"><a class="dropdown-item" (click)="printTablePdf()">Cetak Laporan</a></li>
                <li role="menuitem"><a class="dropdown-item" (click)="printTableExcel()">Eksport Ke Excel</a></li>
              </ul>
            </div>           
          </div>
        </div>
      </div>
    </div>
  </div>
</div>