<app-mat-spinner-overlay overlay="true" *ngIf="showSpinner"></app-mat-spinner-overlay>
<form novalidate [formGroup]="form">
  <div class="m-grid__item m-grid__item--fluid m-wrapper ">
    <div class="m-content">
      <div class="m-portlet m-portlet--bordered-semi m-portlet--unair">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <h3 class="m-portlet__head-text">
                <a style="color:blue;" routerLink="/app/handheld/senarai-pergerakan-handheld">Carian Pergerakan</a>
                <i class="fa fa-chevron-right mr-2 ml-2" aria-hidden="true"></i>
                {{FormTitle}}
                Pergerakan Handheld
              </h3>
            </div>
          </div>
        </div>
        <div id="content">
          <div class="m-portlet__body">
            <div class="row">
              <div class="col-sm-12">
                <div class="card mb-3">
                  <div class="card-header"><strong>Maklumat Pergerakan</strong></div>
                  <div class="card-body">
                    <div class="form-group">
                      <div class="form-item row">
                        <div class="col-sm-6">
                          <label class="col-form-label">ID Handheld <span class="strik m--font-danger"
                              *ngIf="FormType != 'view' ">*</span></label>
                          <input class="form-control" formControlName="IdHandheld" name="IdHandheld" type="text"
                            placeholder="ID Handheld" [attr.disabled]="FormType == 'view' ? true : null">
                          <small class="strik m--font-danger"
                            *ngIf="(FormType != 'view') && (submitted || f.IdHandheld.touched) && f.IdHandheld.errors && f.IdHandheld.errors.required">
                            Maklumat ID Handheld adalah wajib!
                          </small>
                        </div>
                        <div class="col-sm-6">
                          <label class="col-form-label">Pergerakan
                            <span class="strik m--font-danger" *ngIf="FormType != 'view'">*</span>
                          </label>
                          <select class="form-control" [(ngModel)]="Pergerakan" formControlName="Pergerakan"
                            name="Pergerakan" [attr.disabled]="FormType == 'view' ? true : null">
                            <option value="0">{{ '--Pilih Pergerakan--'}}</option>
                            <option *ngFor="let item of pergerakanList" value="{{item.id}}">{{ item.name }}
                            </option>
                          </select>
                          <small class="strik m--font-danger"
                            *ngIf="(FormType != 'view') && (submitted || f.Pergerakan.touched) && f.Pergerakan.errors && (f.Pergerakan.errors.required || f.Jabatan.errors.min)">
                            Jabatan adalah wajib!
                          </small>
                        </div>
                        <div class="col-sm-6">
                          <label class="col-form-label">Tarikh Diserah <span class="strik m--font-danger"
                              *ngIf="FormType != 'view'">*</span><span class="help">(Contoh:
                              31/12/2020)</span></label>
                          <div class="input-group">
                            <input formControlName="TarikhSerah" spellcheck="false" class="form-control" maxlength="10"
                              [matDatepicker]="pickerTarikhSerah" [(ngModel)]="TarikhSerah" placeholder="Tarikh Diserah"
                              disabled="{{FormType == 'view' ? true : false}}">
                            <mat-datepicker-toggle matSuffix [for]="pickerTarikhSerah"></mat-datepicker-toggle>
                            <mat-datepicker #pickerTarikhSerah></mat-datepicker>
                          </div>
                          <small class="strik m--font-danger"
                            *ngIf="(FormType != 'view') && (submitted || f.TarikhSerah.touched) && f.TarikhSerah.errors && f.TarikhSerah.errors.required">
                            Tarikh Diserah adalah wajib!
                          </small>
                          <small class="strik m--font-danger"
                            *ngIf="(FormType != 'view') && (submitted || f.TarikhSerah.touched) && f.TarikhSerah.errors && f.TarikhSerah.errors.exceed">
                            Tarikh Serah tidak melebihi Tarikh Semasa!
                          </small>
                        </div>
                        <div class="col-sm-6">
                          <label class="col-form-label">Daripada <span class="strik m--font-danger"
                              *ngIf="FormType != 'view' ">*</span></label>
                          <input class="form-control" formControlName="Daripada" name="Daripada" type="text"
                            placeholder="Daripada" [attr.disabled]="FormType == 'view' ? true : null">
                          <small class="strik m--font-danger"
                            *ngIf="(FormType != 'view') && (submitted || f.Daripada.touched) && f.Daripada.errors && f.Daripada.errors.required">
                            Maklumat Daripada adalah wajib!
                          </small>
                        </div>
                        <div class="col-sm-6">
                          <label class="col-form-label">Kepada <span class="strik m--font-danger"
                              *ngIf="FormType != 'view' ">*</span></label>
                          <input class="form-control" formControlName="Kepada" name="Kepada" type="text"
                            placeholder="Daripada" [attr.disabled]="FormType == 'view' ? true : null">
                          <small class="strik m--font-danger"
                            *ngIf="(FormType != 'view') && (submitted || f.Kepada.touched) && f.Kepada.errors && f.Kepada.errors.required">
                            Maklumat Kepada adalah wajib!
                          </small>
                        </div>
                        <div class="col-sm-6">
                          <label class="col-form-label">Status
                            <span class="strik m--font-danger" *ngIf="FormType != 'view'">*</span>
                          </label>
                          <select class="form-control" [(ngModel)]="Status" formControlName="Status" name="Status"
                            [attr.disabled]="FormType == 'view' ? true : null">
                            <option value="0">{{ '--Pilih Status--'}}</option>
                            <option *ngFor="let item of statusList" value="{{item.id}}">{{ item.name }}
                            </option>
                          </select>
                          <small class="strik m--font-danger"
                            *ngIf="(FormType != 'view') && (submitted || f.Status.touched) && f.Status.errors && (f.Status.errors.required || f.Status.errors.min)">
                            Status adalah wajib!
                          </small>
                        </div>
                        <div class="col-sm-6">
                          <label class="col-form-label">Nota
                            <!-- <span class="strik m--font-danger" *ngIf="FormType != 'view'">*</span> -->
                          </label>
                          <textarea class="form-control" maxlength="500" formControlName="Nota" name="Nota" rows="5"
                            style="resize: none;" placeholder="Nota"
                            [attr.disabled]="FormType == 'view' ? true : null"></textarea>
                          <!-- <small class="strik m--font-danger"
                            *ngIf="(FormType != 'view') && (submitted || f.Nota.touched) && f.Nota.errors && f.Nota.errors.required">
                            Maklumat Nota adalah wajib!
                          </small> -->
                        </div>
                        <div class="col-sm-6" *ngIf="FormType == 'view'">
                          <label class="col-form-label">Dicipta Pada</label>
                          <input class="form-control" formControlName="TarikhCipta" name="TarikhCipta" type="text"
                            placeholder="" [attr.disabled]="FormType == 'view' ? true : null">
                        </div>
                        <div class="col-sm-6" *ngIf="FormType == 'view'">
                          <label class="col-form-label">Dicipta Oleh</label>
                          <input class="form-control" formControlName="DiciptaOleh" name="DiciptaOleh" type="text"
                            placeholder="" [attr.disabled]="FormType == 'view' ? true : null">
                        </div>
                        <div class="col-sm-6" *ngIf="FormType == 'view'">
                          <label class="col-form-label">Dikemaskini Pada</label>
                          <input class="form-control" formControlName="TarikhKemaskini" name="TarikhKemaskini"
                            type="text" placeholder="" [attr.disabled]="FormType == 'view' ? true : null">
                        </div>
                        <div class="col-sm-6" *ngIf="FormType == 'view'">
                          <label class="col-form-label">Dikemaskini Oleh</label>
                          <input class="form-control" formControlName="DikemaskiniOleh" name="DikemaskiniOleh"
                            type="text" placeholder="" [attr.disabled]="FormType == 'view' ? true : null">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="text-right mt-4">
                  <button mat-raised-button class="red-button mr-2" (click)="resetForm()" *ngIf="FormType != 'view'"><i
                      class="fa fa-retweet"></i>
                    {{'Reset'}} </button>
                  <button mat-raised-button class="green-button  mr-2" (click)="onSave()" cdkFocusInitial
                    *ngIf="FormType != 'view'"><i class="fas fa-save"></i> Simpan </button>
                  <button mat-raised-button class="blue-button mr-2" cdkFocusInitial
                    routerLink="/app/handheld/senarai-pergerakan-handheld"><i class="fas fa-angle-double-left"></i>
                    Kembali
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>