<div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">
  <div class="m-grid__item m-grid__item--fluid">
    <!-- begin:: Page -->

    <div class="m-content">
      <h1 class="text-center m--margin-bottom-20 m--margin-top-40" id="DashboardTitle">Sistem Penguatkuasaan Jabatan (SPJ)</h1>
      <!-- <h5 class="text-center  " id="dashboardBelowTitle">Build your connection, collaborate and elevate your Business
        here.</h5> -->
      <div class="m-grid-responsive-md">
        <div class="m-nav-grid">
          <!-- First Row  -->
          <div class="row m--margin-top-30">
            <div class="col-sm-6 col-md-4 col-lg-4 m--margin-bottom-30">
              <div class="m-widget29">
                <div class="m-widget_content " >
                  <a href="#" class="m-nav-grid__item" routerLink="/app/pentadbiran/kumpulan-list">
                    <i class="m-nav-grid__icon fa fa-user-ninja  fa-8x m--margin-right-20 m--font-success"></i>
                    <span class="m-widget_content-title text-center">JPK<br>
                      <small>JABATAN PENGUATKUASAAN</small>
                    </span>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-4 m--margin-bottom-30">
              <div class="m-widget29">
                <div class="m-widget_content" >
                  <a href="#" class="m-nav-grid__item" routerLink="/app/my/products">
                    <i class="m-nav-grid__icon fa fa-user-shield  fa-8x m--margin-right-20 m--font-primary"></i>
                    <span class="m-widget_content-title text-center">JKAS<br>
                      <small>JABATAN KESIHATAN DAN ALAM SEKITAR</small>
                    </span>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-4 m--margin-bottom-30">
              <div class="m-widget29">
                <div class="m-widget_content" >
                  <a href="#" class="m-nav-grid__item" >
                    <i class="m-nav-grid__icon fa fa-user-secret  fa-8x m--margin-right-20 m--font-warning"></i>
                    <span class="m-widget_content-title text-center">JPPP<br>
                      <small>JABATAN PERLESENAN DAN PEMBANGUNAN PENJAJA</small>
                    </span>
                  </a>
                </div>
              </div>
            </div>
          </div>


          <div class="row " id="SecondRow">

          </div>


        </div>
      </div>

      <!--<div style="position:relative; height:0; padding-top:56.25%">
        &lt;!&ndash;<iframe style="position:absolute;
        top:0; left:0; width:100%; height:100%;"
                src="../tour/index.htm"
                name="TOUR NAME" width="100%" height="100%"
                frameborder="0" allowfullscreen="true"
                allow="fullscreen; accelerometer; gyroscope; magnetometer; vr">

        </iframe>&ndash;&gt;
        <iframe width="100%" height="100%" frameBorder="0" [src]="urlSafe"></iframe>
      </div>-->
      <!--<div>
        <iframe [src]="urlSafe" name="NAME" width="100%" height="1000px" frameborder="0" allowfullscreen="true"
                allow="fullscreen; accelerometer; gyroscope; magnetometer; vr"></iframe>
      </div>-->



    </div>

  </div>
</div>
