/* .mr-auto{
    text-align: center;
} */
/* #HeaderTitle{
    font-size: 2.5em;
    color: brown;
} */
.m-body{
    padding-left: 0;
}
.m-nav-grid__icon.flaticon-profile-1{
    background-color:#d1f3e0;
    color: #56bf85;
    font-size: 40px;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 7px;
    padding-top: 7px;
    border-radius: 50%;
}
.m-nav-grid__icon.flaticon-open-box{
    background-color:#f3e4d1;
    color:#c3995b;
    font-size: 40px;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 7px;
    padding-top: 7px;
    border-radius: 50%;
}
.m-nav-grid__icon.flaticon-time{
    background-color:#d1f2f3;

    color: #36afb6;
    font-size: 40px;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 7px;
    padding-top: 7px;
    border-radius: 50%;
}
.m-nav-grid__icon.flaticon-bag{
    background-color:#d1d5f3;

    color: #424bba;
    font-size: 40px;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 7px;
    padding-top: 7px;
    border-radius: 50%;
}
.m-nav-grid__icon.flaticon-user{
    background-color:#f3d1e3;

    color: #ae306a;
    font-size: 40px;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 7px;
    padding-top: 7px;
    border-radius: 50%;
}
.m-nav-grid__icon.flaticon-cogwheel{
    background-color:#ecf3d1;

    color: #94b433;
    font-size: 40px;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 7px;
    padding-top: 7px;
    border-radius: 50%;
}
.m-nav-grid__icon.flaticon-calendar{
    background-color:#ecf3d1;

    color: #94b433;
    font-size: 40px;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 7px;
    padding-top: 7px;
    border-radius: 50%;
}
#DashboardTitle{
    color:#bc0708;
    font-size: 3em;

}
#dashboardBelowTitle{
    color: gray;
    font-size: 1.5em;

}

@media only screen and (max-width: 600px) {
    .m-widget29 .m-widget_content .m-widget_content-title {
        font-size: 1.7rem;
        font-weight: 400;
    }
  }
  /* .m-widget_content.m-widget_content-title{
      position: absolute;
      line-height: 62px;
  } */
  .m-widget29 .m-widget_content .m-widget_content-title{
    position: absolute;
    line-height: 2 !important;
    width: 50%;
  }




.card-chart {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card-chart:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}


.card-table {
  box-shadow: 0 1px 1px rgba(0,0,0,0.1), 0 1px 3px rgba(0,0,0,0.16);
}

.example-container {
  height: 220px;
  overflow: auto;
}

table {
  width: 100%;
}


.ripple {
  background-position: center;
  transition: background 0.8s;
}

.ripple:active {
  background-color: #ccc;
  background-size: 100%;
  transition: background 0s;
}

.mat-row:hover {
  cursor: pointer;
}

.mat-cell {
  font-size: 12px;
}

/*
.scroll-container {
  position: relative;
}

.scrollable-content {
  padding: 16px;
  margin: 0;
}*/
